<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <title>acknowledgements</title>
    <link rel="stylesheet" href="styles.css?d4ab68d98162fe9524c9152f4dc45dc7">
    
</head>
<body>
    <header class="header">
        <div class="site-title">Widsið</div>
        <nav class="nav-container">
          <ul class="nav-menu">
            <li class="nav-item"><a href="/index.html" class="nav-link">Home</a></li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link">Widsið  ▾</a>
              <div class="dropdown-content">
                <a href="/views/alignment1.html">Parallel Version</a>
                <a href="/views/line/line-1.html">Line by Line view</a>
                <a href="/views/glossary.html">Glossary</a>
                <a href="/views/named_entities.html">Named Entities</a>
                <a href="/views/llm_glossary.html">LLM Glossary</a>
                <a href="/views/beowulf_alignment.html">Beowulf Example</a>
                <a href="/views/riddle1/line-1.html">Riddle One line view</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link">Thesis  ▾</a>
              <div class="dropdown-content">
                <a href="/views/thesis.html">Thesis Paper</a>
                <a href="/views/furtherreading.html">Further Reading</a>
              </div>
            </li>
            <li class="nav-item"><a href="/views/acknowledgements.html" class="nav-link">Acknowledgements</a></li>
          </ul>
        </nav>
      </header>
  <div class="content-wrapper">
    
    <h1>Acknowledgements</h1>
    <p>There are many amazing people who have helped me on this journey both of the this project specifically and of my greater academic journey.</p>
    <p>I'd like to start by thanking my thesis advisor, Dr. Nelson Goering, whose knowledge of the Old English language and the literature concerning it is both broad and deep, and who was always supportive, encouraging, and helpful. I'd also like to thank James Tauber, the wizard of digital humanities who was kind, patient, and endlessly helpful as I gained a lot of new skills to build this project. Also, my thanks to Dr. Gregory Crane, who was generous with his time and wisdom over the course of this project.</p>
    <p>Thank you also to Sparrow Alden, my Virgil on this academic excursion, a kind, generous, and insightful academic advisor. I also need to mention my family, my husband Kirk who was patient with my late hours and my weekends spent writing or reading, my kids who sat in on many classes and were reasonably well-behaved, and my parents, who provided me with the initial joy in learning that got me into this mess in the first place.</p>
    <p>It would be impossible to sufficiently express my gratitude to all these people and many, many others. Thank you all from the bottom of my heart.</p>
    <br/>
    <br/>
    <h2>Contact</h2>
    <p>If you find an error, wish to contribute to either Widsið work or other Old English poetry, or otherwise want to chat about the possibilities of this work, please send me an email at <a href="mailto:sarahjmonnier@gmail.com">sarahjmonnier@gmail.com</a></p>

  </div>
  </body>
</html>