<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Side by Side Widsið</title>
	<link rel="stylesheet" href="sidebysidestyles.css">
</head><body>
	<button class="button" onclick="document.location='https://lorehord.com/'">Home</button>
	<div class="container">
		<div class="column">
			<h2>Widsið</h2>
			<h3>Old English</h3>
			<p>				<div class="poetry-line" data-line="1">Widsið maðolade,  wordhord onleac,</div><br/>
				<div class="poetry-line" data-line="2">se þe monna mæst  mægþa ofer eorþan,</div><br/>
				<div class="poetry-line" data-line="3">folca geondferde;  oft he on flette geþah</div><br/>
				<div class="poetry-line" data-line="4">mynelicne maþþum.  Him from Myrgingum</div><br/>
				<div class="poetry-line" data-line="5">æþele onwocon.  He mid Ealhhilde,</div><br/>
				<div class="poetry-line" data-line="6">fælre freoþuwebban,  forman siþe</div><br/>
				<div class="poetry-line" data-line="7">Hreðcyninges  ham gesohte</div><br/>
				<div class="poetry-line" data-line="8">eastan of Ongle,  Eormanrices,</div><br/>
				<div class="poetry-line" data-line="9">wraþes wærlogan.  Ongon þa worn sprecan:</div><br/>
				<div class="poetry-line" data-line="10">"Fela ic monna gefrægn  mægþum wealdan!</div><br/>
				<div class="poetry-line" data-line="11">Sceal þeodna gehwylc  þeawum lifgan,</div><br/>
				<div class="poetry-line" data-line="12">eorl æfter oþrum  eðle rædan,</div><br/>
				<div class="poetry-line" data-line="13">se þe his þeodenstol  geþeon wile.</div><br/>
				<div class="poetry-line" data-line="14">Þara wæs Hwala  hwile selast,</div><br/>
				<div class="poetry-line" data-line="15">ond Alexandreas  ealra ricost</div><br/>
				<div class="poetry-line" data-line="16">monna cynnes,  ond he mæst geþah</div><br/>
				<div class="poetry-line" data-line="17">þara þe ic ofer foldan  gefrægen hæbbe.</div><br/>
				<div class="poetry-line" data-line="18">Ætla weold Hunum,  Eormanric Gotum,</div><br/>
				<div class="poetry-line" data-line="19">Becca Baningum,  Burgendum Gifica.</div><br/>
				<div class="poetry-line" data-line="20">Casere weold Creacum  ond Cælic Finnum,</div><br/>
				<div class="poetry-line" data-line="21">Hagena Holm-Rygum  ond Heoden Glommum.</div><br/>
				<div class="poetry-line" data-line="22">Witta weold Swæfum,  Wada Hælsingum,</div><br/>
				<div class="poetry-line" data-line="23">Meaca Myrgingum,  Mearchealf Hundingum.</div><br/>
				<div class="poetry-line" data-line="24">Þeodric weold Froncum,  Þyle Rondingum,</div><br/>
				<div class="poetry-line" data-line="25">Breoca Brondingum,  Billing Wernum.</div><br/>
				<div class="poetry-line" data-line="26">Oswine weold Eowum  ond Ytum Gefwulf,</div><br/>
				<div class="poetry-line" data-line="27">Fin Folcwalding  Fresna cynne.</div><br/>
				<div class="poetry-line" data-line="28">Sigehere lengest  Sæ-Denum weold,</div><br/>
				<div class="poetry-line" data-line="29">Hnæf Hocingum,  Helm Wulfingum,</div><br/>
				<div class="poetry-line" data-line="30">Wald Woingum,  Wod Þyringum,</div><br/>
				<div class="poetry-line" data-line="31">Sæferð Sycgum,  Sweom Ongendþeow,</div><br/>
				<div class="poetry-line" data-line="32">Sceafthere Ymbrum,  Sceafa Longbeardum,</div><br/>
				<div class="poetry-line" data-line="33">Hun Hætwerum  ond Holen Wrosnum.</div><br/>
				<div class="poetry-line" data-line="34">Hringweald wæs haten  Herefarena cyning.</div><br/>
				<div class="poetry-line" data-line="35">Offa weold Ongle,  Alewih Denum;</div><br/>
				<div class="poetry-line" data-line="36">se wæs þara manna  modgast ealra,</div><br/>
				<div class="poetry-line" data-line="37">no hwæþre he ofer Offan  eorlscype fremede,</div><br/>
				<div class="poetry-line" data-line="38">ac Offa geslog  ærest monna,</div><br/>
				<div class="poetry-line" data-line="39">cnihtwesende,  cynerica mæst.</div><br/>
				<div class="poetry-line" data-line="40">Nænig efeneald him  eorlscipe maran</div><br/>
				<div class="poetry-line" data-line="41">on orette.  Ane sweorde</div><br/>
				<div class="poetry-line" data-line="42">merce gemærde  wið Myrgingum</div><br/>
				<div class="poetry-line" data-line="43">bi Fifeldore;  heoldon forð siþþan</div><br/>
				<div class="poetry-line" data-line="44">Engle ond Swæfe,  swa hit Offa geslog.</div><br/>
				<div class="poetry-line" data-line="45">Hroþwulf ond Hroðgar  heoldon lengest</div><br/>
				<div class="poetry-line" data-line="46">sibbe ætsomne  suhtorfædran,</div><br/>
				<div class="poetry-line" data-line="47">siþþan hy forwræcon  wicinga cynn</div><br/>
				<div class="poetry-line" data-line="48">ond Ingeldes  ord forbigdan,</div><br/>
				<div class="poetry-line" data-line="49">forheowan æt Heorote  Heaðobeardna þrym.</div><br/>
				<div class="poetry-line" data-line="50">Swa ic geondferde fela  fremdra londa</div><br/>
				<div class="poetry-line" data-line="51">geond ginne grund.  Godes ond yfles</div><br/>
				<div class="poetry-line" data-line="52">þær ic cunnade  cnosle bidæled,</div><br/>
				<div class="poetry-line" data-line="53">freomægum feor  folgade wide.</div><br/>
				<div class="poetry-line" data-line="54">Forþon ic mæg singan  ond secgan spell,</div><br/>
				<div class="poetry-line" data-line="55">mænan fore mengo  in meoduhealle</div><br/>
				<div class="poetry-line" data-line="56">hu me cynegode  cystum dohten.</div><br/>
				<div class="poetry-line" data-line="57">Ic wæs mid Hunum  ond mid Hreðgotum,</div><br/>
				<div class="poetry-line" data-line="58">mid Sweom ond mid Geatum  ond mid Suþdenum.</div><br/>
				<div class="poetry-line" data-line="59">Mid Wenlum ic wæs ond mid Wærnum  ond mid wicingum.</div><br/>
				<div class="poetry-line" data-line="60">Mid Gefþum ic wæs ond mid Winedum  ond mid Gefflegum.</div><br/>
				<div class="poetry-line" data-line="61">Mid Englum ic wæs ond mid Swæfum  ond mid Ænenum.</div><br/>
				<div class="poetry-line" data-line="62">Mid Seaxum ic wæs ond Sycgum  ond mid Sweordwerum.</div><br/>
				<div class="poetry-line" data-line="63">Mid Hronum ic wæs ond mid Deanum  ond mid Heaþoreamum.</div><br/>
				<div class="poetry-line" data-line="64">Mid Þyringum ic wæs  ond mid Þrowendum,</div><br/>
				<div class="poetry-line" data-line="65">ond mid Burgendum,  þær ic beag geþah;</div><br/>
				<div class="poetry-line" data-line="66">me þær Guðhere forgeaf  glædlicne maþþum</div><br/>
				<div class="poetry-line" data-line="67">songes to leane.  Næs þæt sæne cyning!</div><br/>
				<div class="poetry-line" data-line="68">Mid Froncum ic wæs ond mid Frysum  ond mid Frumtingum.</div><br/>
				<div class="poetry-line" data-line="69">Mid Rugum ic wæs ond mid Glommum  ond mid Rumwalum.</div><br/>
				<div class="poetry-line" data-line="70">Swylce ic wæs on Eatule  mid Ælfwine,</div><br/>
				<div class="poetry-line" data-line="71">se hæfde moncynnes,  mine gefræge,</div><br/>
				<div class="poetry-line" data-line="72">leohteste hond  lofes to wyrcenne,</div><br/>
				<div class="poetry-line" data-line="73">heortan unhneaweste  hringa gedales,</div><br/>
				<div class="poetry-line" data-line="74">beorhtra beaga,  bearn Eadwines.</div><br/>
				<div class="poetry-line" data-line="75">Mid Sercingum ic wæs  ond mid Seringum;</div><br/>
				<div class="poetry-line" data-line="76">mid Creacum ic wæs ond mid Finnum  ond mid Casere,</div><br/>
				<div class="poetry-line" data-line="77">se þe winburga  geweald ahte,</div><br/>
				<div class="poetry-line" data-line="78">wiolena ond wilna,  ond Wala rices.</div><br/>
				<div class="poetry-line" data-line="79">Mid Scottum ic wæs ond mid Peohtum  ond mid Scridefinnum;</div><br/>
				<div class="poetry-line" data-line="80">mid Lidwicingum ic wæs ond mid Leonum  ond mid Longbeardum,</div><br/>
				<div class="poetry-line" data-line="81">mid hæðnum ond mid hæleþum  ond mid Hundingum.</div><br/>
				<div class="poetry-line" data-line="82">Mid Israhelum ic wæs  ond mid Exsyringum,</div><br/>
				<div class="poetry-line" data-line="83">mid Ebreum ond mid Indeum  ond mid Egyptum.</div><br/>
				<div class="poetry-line" data-line="84">Mid Moidum ic wæs ond mid Persum  ond mid Myrgingum,</div><br/>
				<div class="poetry-line" data-line="85">ond Mofdingum  ond ongend Myrgingum,</div><br/>
				<div class="poetry-line" data-line="86">ond mid Amothingum.  Mid Eastþyringum ic wæs</div><br/>
				<div class="poetry-line" data-line="87">ond mid Eolum ond mid Istum  ond Idumingum.</div><br/>
				<div class="poetry-line" data-line="88">Ond ic wæs mid Eormanrice  ealle þrage,</div><br/>
				<div class="poetry-line" data-line="89">þær me Gotena cyning  gode dohte;</div><br/>
				<div class="poetry-line" data-line="90">se me beag forgeaf,  burgwarena fruma,</div><br/>
				<div class="poetry-line" data-line="91">on þam siex hund wæs  smætes goldes,</div><br/>
				<div class="poetry-line" data-line="92">gescyred sceatta  scillingrime;</div><br/>
				<div class="poetry-line" data-line="93">þone ic Eadgilse  on æht sealde,</div><br/>
				<div class="poetry-line" data-line="94">minum hleodryhtne,  þa ic to ham bicwom,</div><br/>
				<div class="poetry-line" data-line="95">leofum to leane,  þæs þe he me lond forgeaf,</div><br/>
				<div class="poetry-line" data-line="96">mines fæder eþel,  frea Myrginga.</div><br/>
				<div class="poetry-line" data-line="97">Ond me þa Ealhhild  oþerne forgeaf,</div><br/>
				<div class="poetry-line" data-line="98">dryhtcwen duguþe,  dohtor Eadwines.</div><br/>
				<div class="poetry-line" data-line="99">Hyre lof lengde  geond londa fela,</div><br/>
				<div class="poetry-line" data-line="100">þonne ic be songe  secgan sceolde</div><br/>
				<div class="poetry-line" data-line="101">hwær ic under swegle  selast wisse</div><br/>
				<div class="poetry-line" data-line="102">goldhrodene cwen  giefe bryttian.</div><br/>
				<div class="poetry-line" data-line="103">ðonne wit Scilling  sciran reorde</div><br/>
				<div class="poetry-line" data-line="104">for uncrum sigedryhtne  song ahofan,</div><br/>
				<div class="poetry-line" data-line="105">hlude bi hearpan  hleoþor swinsade,</div><br/>
				<div class="poetry-line" data-line="106">þonne monige men,  modum wlonce,</div><br/>
				<div class="poetry-line" data-line="107">wordum sprecan,  þa þe wel cuþan,</div><br/>
				<div class="poetry-line" data-line="108">þæt hi næfre song  sellan ne hyrdon.</div><br/>
				<div class="poetry-line" data-line="109">ðonan ic ealne geondhwearf  eþel Gotena,</div><br/>
				<div class="poetry-line" data-line="110">sohte ic a gesiþa  þa selestan;</div><br/>
				<div class="poetry-line" data-line="111">þæt wæs innweorud  Earmanrices.</div><br/>
				<div class="poetry-line" data-line="112">Heðcan sohte ic ond Beadecan  ond Herelingas,</div><br/>
				<div class="poetry-line" data-line="113">Emercan sohte ic ond Fridlan  ond Eastgotan,</div><br/>
				<div class="poetry-line" data-line="114">frodne ond godne  fæder Unwenes.</div><br/>
				<div class="poetry-line" data-line="115">Seccan sohte ic ond Beccan,  Seafolan ond Þeodric,</div><br/>
				<div class="poetry-line" data-line="116">Heaþoric ond Sifecan,  Hliþe ond Incgenþeow.</div><br/>
				<div class="poetry-line" data-line="117">Eadwine sohte ic ond Elsan,  Ægelmund ond Hungar,</div><br/>
				<div class="poetry-line" data-line="118">ond þa wloncan gedryht  Wiþmyrginga.</div><br/>
				<div class="poetry-line" data-line="119">Wulfhere sohte ic ond Wyrmhere;  ful oft þær wig ne alæg,</div><br/>
				<div class="poetry-line" data-line="120">þonne Hræda here  heardum sweordum</div><br/>
				<div class="poetry-line" data-line="121">ymb Wistlawudu  wergan sceoldon</div><br/>
				<div class="poetry-line" data-line="122">ealdne eþelstol  Ætlan leodum.</div><br/>
				<div class="poetry-line" data-line="123">Rædhere sohte ic ond Rondhere,  Rumstan ond Gislhere,</div><br/>
				<div class="poetry-line" data-line="124">Wiþergield ond Freoþeric,  Wudgan ond Haman;</div><br/>
				<div class="poetry-line" data-line="125">ne wæran þæt gesiþa  þa sæmestan,</div><br/>
				<div class="poetry-line" data-line="126">þeah þe ic hy anihst  nemnan sceolde.</div><br/>
				<div class="poetry-line" data-line="127">Ful oft of þam heape  hwinende fleag</div><br/>
				<div class="poetry-line" data-line="128">giellende gar  on grome þeode;</div><br/>
				<div class="poetry-line" data-line="129">wræccan þær weoldan  wundnan golde</div><br/>
				<div class="poetry-line" data-line="130">werum ond wifum,  Wudga ond Hama.</div><br/>
				<div class="poetry-line" data-line="131">Swa ic þæt symle onfond  on þære feringe,</div><br/>
				<div class="poetry-line" data-line="132">þæt se biþ leofast  londbuendum</div><br/>
				<div class="poetry-line" data-line="133">se þe him god syleð  gumena rice</div><br/>
				<div class="poetry-line" data-line="134">to gehealdenne,  þenden he her leofað."</div><br/>
				<div class="poetry-line" data-line="135">Swa scriþende  gesceapum hweorfað</div><br/>
				<div class="poetry-line" data-line="136">gleomen gumena  geond grunda fela,</div><br/>
				<div class="poetry-line" data-line="137">þearfe secgað,  þoncword sprecaþ,</div><br/>
				<div class="poetry-line" data-line="138">simle suð oþþe norð  sumne gemetað</div><br/>
				<div class="poetry-line" data-line="139">gydda gleawne,  geofum unhneawne,</div><br/>
				<div class="poetry-line" data-line="140">se þe fore duguþe wile  dom aræran,</div><br/>
				<div class="poetry-line" data-line="141">eorlscipe æfnan,  oþþæt eal scæceð,</div><br/>
				<div class="poetry-line" data-line="142">leoht ond lif somod;  lof se gewyrceð,</div><br/>
				<div class="poetry-line" data-line="143">hafað under heofonum  heahfæstne dom. </div><br/>			</p>
		</div>

		<div class="column">
			<h2>Widsith</h2>
			<h3>Modern English</h3>
			<p>				<div class="poetry-line" data-line="1">Widsith spoke, unlocked his wordhoard,</div><br/>
				<div class="poetry-line" data-line="2">he who most of men of all people over the earth</div><br/>
				<div class="poetry-line" data-line="3">traveled among tribes; often in great halls he received</div><br/>
				<div class="poetry-line" data-line="4">handsome gifts. Noble sons born to him</div><br/>
				<div class="poetry-line" data-line="5">of the Myrgings. He with Ealhhilde, </div><br/>
				<div class="poetry-line" data-line="6">the fair peace-weaver, on his first journey</div><br/>
				<div class="poetry-line" data-line="7">sought the home of the king of the Goths,</div><br/>
				<div class="poetry-line" data-line="8">Ermanric, east of the Angle's land,</div><br/>
				<div class="poetry-line" data-line="9">hostile oathbreaker. He began then to speak a great many words:</div><br/>
				<div class="poetry-line" data-line="10">"I have learned by asking about many men who rule tribes!</div><br/>
				<div class="poetry-line" data-line="11">Men shall each live in good custom,</div><br/>
				<div class="poetry-line" data-line="12">one leader after another, governing their homeland,</div><br/>
				<div class="poetry-line" data-line="13">whoever desires his throne to prosper.</div><br/>
				<div class="poetry-line" data-line="14">There was Hwala, for a while the best,</div><br/>
				<div class="poetry-line" data-line="15">and Alexander (the Great) most powerful</div><br/>
				<div class="poetry-line" data-line="16">of all mankind, and he most throve</div><br/>
				<div class="poetry-line" data-line="17">Of those whom I have heard of over the earth.</div><br/>
				<div class="poetry-line" data-line="18">Atilla ruled the Huns, Ermanric the Goths,</div><br/>
				<div class="poetry-line" data-line="19">Becca the Banings, Gifica the Burgundians.</div><br/>
				<div class="poetry-line" data-line="20">Caesar ruled the Greeks and Caelic the Finns,</div><br/>
				<div class="poetry-line" data-line="21">Hagena the Rugians, and Heoden the Glomman.</div><br/>
				<div class="poetry-line" data-line="22">Witta ruled the Swaefe, Wada Haelsings,</div><br/>
				<div class="poetry-line" data-line="23">Meaca Myrgings, Mearchealf the Hundings.</div><br/>
				<div class="poetry-line" data-line="24">Theodric ruled the Franks, Thyle the Rondings,</div><br/>
				<div class="poetry-line" data-line="25">Breoca the Brondings, Billing the Werns.</div><br/>
				<div class="poetry-line" data-line="26">Oswin ruled the Eows and Gefwulf the Jutes,</div><br/>
				<div class="poetry-line" data-line="27">Fin Folkwalding the Frisian tribe.</div><br/>
				<div class="poetry-line" data-line="28">Sighere ruled the Sea-Danes the longest,</div><br/>
				<div class="poetry-line" data-line="29">Hnaef the Hocings, Helm the Wulfings,</div><br/>
				<div class="poetry-line" data-line="30">Wald the Woings, Wod the Thuringians,</div><br/>
				<div class="poetry-line" data-line="31">Saeferth the Sycgans, Ongendtheow the Swedes,</div><br/>
				<div class="poetry-line" data-line="32">Sceafthere the Ymbran, Sheaf the Langobards,</div><br/>
				<div class="poetry-line" data-line="33">Hunn the Haetwere, and Holen the Wrosnan.</div><br/>
				<div class="poetry-line" data-line="34">Hringwald was called the Herefaren's king.</div><br/>
				<div class="poetry-line" data-line="35">Offa ruled the Angles, Alewih the Danes:</div><br/>
				<div class="poetry-line" data-line="36">He was of those men the bravest,</div><br/>
				<div class="poetry-line" data-line="37">however he did not achieve more valorous deeds than Offa,</div><br/>
				<div class="poetry-line" data-line="38">but Offa won first of men, </div><br/>
				<div class="poetry-line" data-line="39">while a youth, the greatest kingdom.</div><br/>
				<div class="poetry-line" data-line="40">Not any of his contemporaries were greater in valorous deeds</div><br/>
				<div class="poetry-line" data-line="41">at fighting. With his one sword </div><br/>
				<div class="poetry-line" data-line="42">he defined the boundary against the Myrgings</div><br/>
				<div class="poetry-line" data-line="43">by Fifeldore (the Eider estuary), held afterwards</div><br/>
				<div class="poetry-line" data-line="44">by the Angles and the Swaefe as he'd won it.</div><br/>
				<div class="poetry-line" data-line="45">Hrothwulf and Hrothgar held longest </div><br/>
				<div class="poetry-line" data-line="46">kinship together, uncle and sister's son,</div><br/>
				<div class="poetry-line" data-line="47">after they drove off the Viking tribe</div><br/>
				<div class="poetry-line" data-line="48">and humbled Ingeld's vanguard,</div><br/>
				<div class="poetry-line" data-line="49">and at Heorot cut to pieces the force of the Heathobards.</div><br/>
				<div class="poetry-line" data-line="50">As I traversed many foreign lands</div><br/>
				<div class="poetry-line" data-line="51">throughout a wide region, good and evil</div><br/>
				<div class="poetry-line" data-line="52">I experienced there, deprived of my people,</div><br/>
				<div class="poetry-line" data-line="53">far from generous kinsmen, and served far and wide. </div><br/>
				<div class="poetry-line" data-line="54">Therefore I will sing and speak a tale, </div><br/>
				<div class="poetry-line" data-line="55">Making known before the company in the mead-hall</div><br/>
				<div class="poetry-line" data-line="56">how the well-born would be generous with choice gifts to me.</div><br/>
				<div class="poetry-line" data-line="57">I was with the Huns and with the Ostrogoths,</div><br/>
				<div class="poetry-line" data-line="58">with the Swedes and with the Geats and with the South-Danes.</div><br/>
				<div class="poetry-line" data-line="59">With the Wenlas I was, and with the Varn, and with the Vikings.</div><br/>
				<div class="poetry-line" data-line="60">With the Gibids I was and with the Winedas and with the Gefflegans.</div><br/>
				<div class="poetry-line" data-line="61">With the Angles I was and with the Swaefe and with the Aenenas.</div><br/>
				<div class="poetry-line" data-line="62">With the Saxons I was and the Sycgans and with the Suardones.</div><br/>
				<div class="poetry-line" data-line="63">With the Hronan I was and the Deans and with the Heathoreamas.</div><br/>
				<div class="poetry-line" data-line="64">With the Thuringians I was and with the Throwend </div><br/>
				<div class="poetry-line" data-line="65">and with the Burgundians; there I received a ring;</div><br/>
				<div class="poetry-line" data-line="66">there Guthhere gave a goodly treasure </div><br/>
				<div class="poetry-line" data-line="67">to reward songs; that king was not stingy!</div><br/>
				<div class="poetry-line" data-line="68">With the Franks I was and with the Frisians and with the Frumtings.</div><br/>
				<div class="poetry-line" data-line="69">With the Rugians I was and with the Glomman and with the Romans.</div><br/>
				<div class="poetry-line" data-line="70">Likewise I was in Italy with Aelfwine</div><br/>
				<div class="poetry-line" data-line="71">who had of all mankind whom I have learned </div><br/>
				<div class="poetry-line" data-line="72">the quickest hand to earning praise, </div><br/>
				<div class="poetry-line" data-line="73">a most generous heart distributing rings</div><br/>
				<div class="poetry-line" data-line="74">bright treasures, that child of Edwin!</div><br/>
				<div class="poetry-line" data-line="75">With the Sercings I was and with the Serae.</div><br/>
				<div class="poetry-line" data-line="76">With the Greeks I was and with the Finns and with Caesar,</div><br/>
				<div class="poetry-line" data-line="77">he who ruled over many wine-burgs, </div><br/>
				<div class="poetry-line" data-line="78">possessed riches and treasures and the realm of the Romans.</div><br/>
				<div class="poetry-line" data-line="79">With the Irish I was and with the Picts and with the Lapps.</div><br/>
				<div class="poetry-line" data-line="80">With the Lidwiccas I was and with the Leonas and with the Langobards,</div><br/>
				<div class="poetry-line" data-line="81">With heathens and with heroes and with the Hundings (could heathens and heroes be puns?).</div><br/>
				<div class="poetry-line" data-line="82">with the Israelites I was and with the Assyrians, </div><br/>
				<div class="poetry-line" data-line="83">with the Hebrews and with the Indus and with the Egyptians.</div><br/>
				<div class="poetry-line" data-line="84">WIth the Moids I was and with the Perse, and with the Myrgings</div><br/>
				<div class="poetry-line" data-line="85">and the Mofdings and the Ongendmyrgings</div><br/>
				<div class="poetry-line" data-line="86">and with the Amothings. With the east Thuringians I was</div><br/>
				<div class="poetry-line" data-line="87">and with the Ilwan and with the Istas and Idumings. </div><br/>
				<div class="poetry-line" data-line="88">And I was with Ermanric all the time,</div><br/>
				<div class="poetry-line" data-line="89">There the king of the Goths was good and generous to me,</div><br/>
				<div class="poetry-line" data-line="90">first among the townspeople, gave me a ring</div><br/>
				<div class="poetry-line" data-line="91">in which of refined gold, the count of </div><br/>
				<div class="poetry-line" data-line="92">six hundred shillings were reckoned,</div><br/>
				<div class="poetry-line" data-line="93">Which I gave into the possession of Eadgils,</div><br/>
				<div class="poetry-line" data-line="94">my lord protector, when I came home,</div><br/>
				<div class="poetry-line" data-line="95">to my beloved lord because it was he who gave me land,</div><br/>
				<div class="poetry-line" data-line="96">the king of the Myrgings, my father's inheritance.</div><br/>
				<div class="poetry-line" data-line="97">And then to me Ealhhild gave a second ring, </div><br/>
				<div class="poetry-line" data-line="98">the queen of the army fighting men, the daughter of Edwin. </div><br/>
				<div class="poetry-line" data-line="99">Her praise stretched throughout many lands</div><br/>
				<div class="poetry-line" data-line="100">when I in song must say</div><br/>
				<div class="poetry-line" data-line="101">where under the sky I best knew</div><br/>
				<div class="poetry-line" data-line="102">the gold-adorned queen distributing gifts.</div><br/>
				<div class="poetry-line" data-line="103">Then with Scilling our clear voices</div><br/>
				<div class="poetry-line" data-line="104">we raised before our victory lord</div><br/>
				<div class="poetry-line" data-line="105">loudly with harp, song resounded</div><br/>
				<div class="poetry-line" data-line="106">then many men of proud spirits</div><br/>
				<div class="poetry-line" data-line="107">who had good knowledge spoke words</div><br/>
				<div class="poetry-line" data-line="108">that they had never heard a better song.</div><br/>
				<div class="poetry-line" data-line="109">Thence I traversed all the land of the Goths, </div><br/>
				<div class="poetry-line" data-line="110">I sought the best battle comrades</div><br/>
				<div class="poetry-line" data-line="111">that was ever the household of Ermanric.</div><br/>
				<div class="poetry-line" data-line="112">Hache I sought and Beadecan and the Herelingas</div><br/>
				<div class="poetry-line" data-line="113">Emerca I sought and Fridla and the East-goths,</div><br/>
				<div class="poetry-line" data-line="114">wise and good, father of Unwen</div><br/>
				<div class="poetry-line" data-line="115">Secca I sought and Becca, Seafola and Theodric</div><br/>
				<div class="poetry-line" data-line="116">Heathoric and Sifecta, Lotherus and Incgentheow.</div><br/>
				<div class="poetry-line" data-line="117">Edwin I sought and Elsa, Agelmund and Hungar,</div><br/>
				<div class="poetry-line" data-line="118">and the proud company of the Withmyrgings.</div><br/>
				<div class="poetry-line" data-line="119">Wulfhere I sought and Wyrmhere, very often warfare was not at rest there</div><br/>
				<div class="poetry-line" data-line="120">when the Hraede army with hard swords</div><br/>
				<div class="poetry-line" data-line="121">around the Wistle wood must defend</div><br/>
				<div class="poetry-line" data-line="122">the ancestral lands of Attila's people.</div><br/>
				<div class="poetry-line" data-line="123">Raedhere I sought and Rondhere, Rumstan and Gislaharius,</div><br/>
				<div class="poetry-line" data-line="124">Withergield and Freotheric, Wudga and Hama</div><br/>
				<div class="poetry-line" data-line="125">there were not the worst comrades in arms</div><br/>
				<div class="poetry-line" data-line="126">Though I mention them at the last.</div><br/>
				<div class="poetry-line" data-line="127">Very often from that company flew the whining</div><br/>
				<div class="poetry-line" data-line="128">and shrieking spear against a hostile people.</div><br/>
				<div class="poetry-line" data-line="129">Wanderers there ruled with wound gold</div><br/>
				<div class="poetry-line" data-line="130">over men and women, Wudga and Hama.</div><br/>
				<div class="poetry-line" data-line="131">Thus I have always found it in journeying</div><br/>
				<div class="poetry-line" data-line="132">that they be dearest to their subjects</div><br/>
				<div class="poetry-line" data-line="133">whom God has given the right to rule men</div><br/>
				<div class="poetry-line" data-line="134">for holding while he lives here."</div><br/>
				<div class="poetry-line" data-line="135">Thus are fated to wandering and roving</div><br/>
				<div class="poetry-line" data-line="136">are the minstrel men throughout many regions,</div><br/>
				<div class="poetry-line" data-line="137">saying at need, speaking thank-words,</div><br/>
				<div class="poetry-line" data-line="138">always meeting someone south or north</div><br/>
				<div class="poetry-line" data-line="139">appreciative of poems with generous gifts for those</div><br/>
				<div class="poetry-line" data-line="140">who before military men will will heighten their reputation</div><br/>
				<div class="poetry-line" data-line="141">to do valorous deeds until everything passes,</div><br/>
				<div class="poetry-line" data-line="142">light and life together. He who works for praise </div><br/>
				<div class="poetry-line" data-line="143">has under the heavens lasting glory.</div><br/></p>
		</div>
	</div>
</body>
</html>