<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <title>Further Reading</title>
    <link rel="stylesheet" href="styles.css?d4ab68d98162fe9524c9152f4dc45dc7">
    
</head>
<body>
    <header class="header">
        <div class="site-title">Widsið</div>
        <nav class="nav-container">
          <ul class="nav-menu">
            <li class="nav-item"><a href="/index.html" class="nav-link">Home</a></li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link">Widsið  ▾</a>
              <div class="dropdown-content">
                <a href="/views/alignment1.html">Parallel Version</a>
                <a href="/views/line/line-1.html">Line by Line view</a>
                <a href="/views/glossary.html">Glossary</a>
                <a href="/views/named_entities.html">Named Entities</a>
                <a href="/views/llm_glossary.html">LLM Glossary</a>
                <a href="/views/beowulf_alignment.html">Beowulf Example</a>
                <a href="/views/riddle1/line-1.html">Riddle One line view</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link">Thesis  ▾</a>
              <div class="dropdown-content">
                <a href="/views/thesis.html">Thesis Paper</a>
                <a href="/views/furtherreading.html">Further Reading</a>
              </div>
            </li>
            <li class="nav-item"><a href="/views/acknowledgements.html" class="nav-link">Acknowledgements</a></li>
          </ul>
        </nav>
      </header>
  <div class="content-wrapper">
    
      
<div class="content-wrapper">
<h1>Further Reading</h1>
    <div class="bibl">Amundson, Sarah. Old English Poetry in Facsimile. Edited by Martin Foys et al., Center for the History of Print and Digital Culture, University of Wisconsin-Madison, 2019. DOI.org (Datacite), https://doi.org/10.21231/T6A2-JT11.</div>
    <div class="bibl">Birnbaum, David J., et al. “The Digital Middle Ages: An Introduction.” Speculum, vol. 92, no. S1, 2017, pp. S1–38.</div>
    <div class="bibl">Chambers, R. W. Widsith: A Study in Old English Heroic Legend. Cambridge University Press, 1912.</div>
    <div class="bibl">Crane, Gregory, Alison Babeu, Lisa M. Cerrato, Amelia Parrish, Carolina Penagos, Faroosh Shamsian, et al. “Beyond Translation: Engaging with Foreign Languages in a Digital Library.” International Journal on Digital Libraries, vol. 24, no. 3, Sept. 2023, pp. 163–76, https://doi.org/10.1007/s00799-023-00349-2.</div>
    <div class="bibl">Crane, Gregory, Alison Babeu, Lisa M. Cerrato, Amelia Parrish, Carolina Penagos, Farnoosh Shamsian, et al. “Correction: Beyond Translation: Engaging with Foreign Languages in a Digital Library.” International Journal on Digital Libraries, vol. 24, no. 3, Sept. 2023, pp. 177–177, https://doi.org/10.1007/s00799-023-00365-2.</div>
    <div class="bibl">Crane, Gregory. “What Do You Do with a Million Books?” D-Lib Magazine, vol. 12, no. 3, Mar. 2006. DOI.org (Crossref), https://doi.org/10.1045/march2006-crane.</div>
    <div class="bibl">Crane, Gregory, and Alison Jones. “Text, Information, Knowledge and the Evolving Record of Humanity.” D-Lib Magazine, vol. 12, no. 3, Mar. 2006. DOI.org (Crossref), https://doi.org/10.1045/march2006-jones.</div>
    <div class="bibl">Crane, Gregory, and Jeffrey A. Rydberg-Cox. “New Technology and New Roles: The Need for ‘Corpus Editors.’” Proceedings of the Fifth ACM Conference on Digital Libraries, Association for Computing Machinery, 2000, pp. 252–53. ACM Digital Library, https://doi.org/10.1145/336597.336686.</div>
    <div class="bibl">Damon, Cynthia. “Beyond Variants: Some Digital Desiderata for the Critical Apparatus of Ancient Greek and Latin Texts.” Digital Scholarly Editing, edited by Matthew James Driscoll and Elena Pierazzo, 1st ed., vol. 4, Open Book Publishers, 2016, pp. 201–18. JSTOR, https://www.jstor.org/stable/j.ctt1fzhh6v.15.</div>
    <div class="bibl">Del Turco, Roberto Rosselli. “The Battle We Forgot to Fight: Should We Make a Case for Digital Editions?” Digital Scholarly Editing, edited by Matthew James Driscoll and Elena Pierazzo, 1st ed., vol. 4, Open Book Publishers, 2016, pp. 219–38. JSTOR, https://www.jstor.org/stable/j.ctt1fzhh6v.16.</div>
    <div class="bibl">Driscoll, Matthew James, and Elena Pierazzo. “Introduction: Old Wine in New Bottles?” Digital Scholarly Editing, edited by Matthew James Driscoll and Elena Pierazzo, 1st ed., vol. 4, Open Book Publishers, 2016, pp. 1–16. JSTOR, https://www.jstor.org/stable/j.ctt1fzhh6v.5.</div>
    <div class="bibl">Frank, Roberta. “Terminally Hip and Incredibly Cool: Carol, Vikings, and Anglo-Scandinavian England.” Representations, vol. 100, no. 1, 2007, pp. 23–33. JSTOR, https://doi.org/10.1525/rep.2007.100.1.23.</div>
    <div class="bibl">Franzini, Greta, et al. “A Catalogue of Digital Editions.” Digital Scholarly Editing, edited by Matthew James Driscoll and Elena Pierazzo, 1st ed., vol. 4, Open Book Publishers, 2016, pp. 161–82. JSTOR, https://www.jstor.org/stable/j.ctt1fzhh6v.13.</div>
    <div class="bibl">French, W. H. “Widsith and the Scop.” PMLA, vol. 60, no. 3, 1945, pp. 623–30. JSTOR, https://doi.org/10.2307/459168.</div>
    <div class="bibl">Gabler, Hans Walter. Text Genetics in Literary Modernism and Other Essays. Open Book Publishers, 2018. www.openbookpublishers.com, https://doi.org/10.11647/obp.0120.</div>
    <div class="bibl">Gervais, Bertrand. “Is There a Text on This Screen? Reading in an Era of Hypertextuality.” A Companion to Digital Literary Studies, John Wiley & Sons, Ltd, 2013, pp. 183–202. Wiley Online Library, https://doi.org/10.1002/9781405177504.ch9.</div>
    <div class="bibl">Howard, Ashley, and Janelle Jenstad. Planting the Editorial Seed.</div>
    <div class="bibl">Howe, Nicholas. The Old English Catalogue Poems. Rosenkilde and Bagger, 1985.</div>
    <div class="bibl">Kirschenbaum, Matthew. “What Is Digital Humanities and What’s It Doing in English Departments?” Debates in the Digital Humanities, edited by Matthew K. Gold, NED-New edition, University of Minnesota Press, 2012, pp. 3–11. JSTOR, https://www.jstor.org/stable/10.5749/j.ctttv8hq.4.</div>
    <div class="bibl">Lagoze, Carl, et al. “What Is a Digital Library Anyway?: Beyond Search and Access in the NSDL.” D-Lib Magazine, vol. 11, no. 11, Nov. 2005. DOI.org (Crossref), https://doi.org/10.1045/november2005-lagoze.</div>
    <div class="bibl">Lawrence, William Witherle. “Structure and Interpretation of ‘Widsith.’” Modern Philology, vol. 4, no. 2, 1906, pp. 329–74.</div>
    <div class="bibl">Malone, Kemp. Widsith. 2nd ed., Rosenkilde and Bagger, 1962.</div>
    <div class="bibl">---. “Widsith and the Critic.” ELH, vol. 5, no. 1, 1938, pp. 49–66. JSTOR, https://doi.org/10.2307/2871443.</div>
    <div class="bibl">Metola Rodríguez, Darío. “On the Applicability of the Dictionaries of Old English to Linguistic Research.” Journal of English Studies, no. 15, 2017, pp. 173–91.</div>
    <div class="bibl">Neidorf, Leonard. “Beowulf Before ‘Beowulf’: Anglo-Saxon Anthroponymy and Heroic Legend.” The Review of English Studies, vol. 64, no. 266, 2013, pp. 553–73.</div>
    <div class="bibl">Pierazzo, Elena. Digital Documentary Editions and the Others.</div>
    <div class="bibl">---. “Modelling Digital Scholarly Editing: From Plato to Heraclitus.” Digital Scholarly Editing, edited by Elena Pierazzo and Matthew James Driscoll, 1st ed., vol. 4, Open Book Publishers, 2016, pp. 41–58. JSTOR, https://www.jstor.org/stable/j.ctt1fzhh6v.7.</div>
    <div class="bibl">Price, Kenneth M. “Edition, Project, Database, Archive, Thematic Research Collection: What’s in a Name?” Digital Humanities Quarterly, vol. 3, no. 3, 2009. Digital Humanities Quarterly, http://digitalhumanities.org/dhq/vol/3/3/000053/000053.html.</div>
    <div class="bibl">Rasmussen, Krista Stinne Greve. “Reading or Using a Digital Edition? Reader Roles in Scholarly Editions.” Digital Scholarly Editing, edited by Matthew James Driscoll and Elena Pierazzo, 1st ed., vol. 4, Open Book Publishers, 2016, pp. 119–34. JSTOR, https://www.jstor.org/stable/j.ctt1fzhh6v.11.</div>
    <div class="bibl">Robinson, Peter. Electronic Editions for Everyone. July 2010, pp. 145–63. www.openbookpublishers.com, https://doi.org/10.11647/obp.0008.06.</div>
    <div class="bibl">Sahle, Patrick. “What Is a Scholarly Digital Edition?” Digital Scholarly Editing, edited by Matthew James Driscoll and Elena Pierazzo, 1st ed., vol. 4, Open Book Publishers, 2016, pp. 19–40. JSTOR, https://www.jstor.org/stable/j.ctt1fzhh6v.6.</div>
    <div class="bibl">Tichy, Martin Rocek, Ondrej. “Bosworth-Toller’s Anglo-Saxon Dictionary Online.” Bosworth-Toller’s Anglo-Saxon Dictionary Online, https://bosworthtoller.com. Accessed 3 Feb. 2025.</div>
    <div class="bibl">van Zundert, Joris. “Barely Beyond the Book?” Digital Scholarly Editing, edited by Matthew James Driscoll and Elena Pierazzo, 1st ed., vol. 4, Open Book Publishers, 2016, pp. 83–106. JSTOR, https://www.jstor.org/stable/j.ctt1fzhh6v.9.</div>
    <div class="bibl">Vanhoutte, Edward. “Prose Fiction and Modern Manuscripts: Limitations and Possibilites of Text Encoding for Electronic Editions.” Electronic Textual Editing, edited by Lou Bernard et al., Modern Language Association of America, 2006, pp. 161–80.</div>
  </div>
  

  </div>
  </body>
</html>