<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Named Entities</title>
    <link rel="stylesheet" href="../static/styles.css">
    
<link rel="stylesheet" href="../static/glossstyles.css">

</head>
<body>
    <header class="header">
        <div class="site-title">Widsið</div>
        <nav class="nav-container">
          <ul class="nav-menu">
            <li class="nav-item"><a href="/index.html" class="nav-link">Home</a></li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link">Widsið  ▾</a>
              <div class="dropdown-content">
                <a href="/views/alignment1.html">Parallel Version</a>
                <a href="/views/line/line-1.html">Line by Line view</a>
                <a href="/views/glossary.html">Glossary</a>
                <a href="/views/named_entities.html">Named Entities</a>
                <a href="/views/beowulf-alignment.html">Beowulf Example</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link">Thesis  ▾</a>
              <div class="dropdown-content">
                <a href="/views/thesis.html">Thesis Paper</a>
                <a href="/views/furtherreading.html">Further Reading</a>
              </div>
            </li>
            <li class="nav-item"><a href="/views/contact.html" class="nav-link">Contact</a></li>
          </ul>
        </nav>
      </header>
  <div class="content-wrapper">
    
<h1>Named Entities Glossary</h1><table border="1">
	<th>Lemma</th>
	<th>Gloss</th>
	<th>Line</th>
	<th>POS</th>
	<th>Comment</th>
	<tr>
	<td class="lemma">Ægelmund</td>
	<td class="gloss">Agelmund</td>
	<td class="line">117</td>
	<td class="POS">asn</td>
	<td class="comment">first king of the Langobards</td>
	</tr>
	<tr>
	<td class="lemma">Ælfwine</td>
	<td class="gloss">Ælfwine</td>
	<td class="line">70</td>
	<td class="POS">dsn</td>
	<td class="comment">King Alboin of the Langobards, called Elvewine in König Rother(Gillespie 36)</td>
	</tr>
	<tr>
	<td class="lemma">Ænēnas</td>
	<td class="gloss">Ænēnas</td>
	<td class="line">61</td>
	<td class="POS">dpn</td>
	<td class="comment">Anenas, an unidentified tribe, potentially Aunonia of Kossinna argued by Malone pg 127</td>
	</tr>
	<tr>
	<td class="lemma">Ætla</td>
	<td class="gloss">Atilla</td>
	<td class="line">18</td>
	<td class="POS">apn</td>
	<td class="comment">the famous Hun.</td>
	</tr>
	<tr>
	<td class="lemma">Alewih</td>
	<td class="gloss">Alewih</td>
	<td class="line">35</td>
	<td class="POS">nsn</td>
	<td class="comment">unknown Danish king</td>
	</tr>
	<tr>
	<td class="lemma">Alexandreas</td>
	<td class="gloss">Alexander</td>
	<td class="line">15</td>
	<td class="POS">nsn</td>
	<td class="comment">proper name, Alexander the great: <a href='https://en.wikipedia.org/wiki/Alexander_the_Great'>Wikipedia</a>.</td>
	</tr>
	<tr>
	<td class="lemma">Amoþingas</td>
	<td class="gloss">the Amothings</td>
	<td class="line">86</td>
	<td class="POS">dpn</td>
	<td class="comment">Inhabitants of the island of Hindø in Norway, which appears in cap. 29 of the <i>Ynglingasaga</i> by Snorri</td>
	</tr>
	<tr>
	<td class="lemma">Baningas</td>
	<td class="gloss">the Baningas</td>
	<td class="line">19</td>
	<td class="POS">dpn</td>
	<td class="comment">Malone has a long note here connecting Baningum with Bainaib (Cuntz 1923) and Ptolemy's Βαινοχαιμαι, whom he argues are separate from the Bohemians (Boihœmum, Marquart)</td>
	</tr>
	<tr>
	<td class="lemma">Beadeca</td>
	<td class="gloss">Beadecan</td>
	<td class="line">112</td>
	<td class="POS">asn</td>
	<td class="comment">Malone speculates that this may be the Baduila (later called Totila) of history <a href='https://en.wikipedia.org/wiki/Totila'>Wikipedia</a> (Malone 130).</td>
	</tr>
	<tr>
	<td class="lemma">Becca</td>
	<td class="gloss">Becca</td>
	<td class="line">19</td>
	<td class="POS">nsn</td>
	<td class="comment">from OE Beocca, possibly identified with Bikki from <i>Snorra Edda</i> and <i>Völsungasaga</i>, Ermanric's treacherous retainer, and Bicco in Saxo's <i>Gesta Danorum</i> but Malone dismisses this as linguistically improbable (pg 131).</td>
	</tr>
	<tr>
	<td class="lemma">Becca</td>
	<td class="gloss">Becca</td>
	<td class="line">115</td>
	<td class="POS">asn</td>
	<td class="comment">Berchtung of the Wolfdietrich story, occaisionally also indentified with the evil Bikki but this Becca is clearly in the wrong company to be associated wtih that story</td>
	</tr>
	<tr>
	<td class="lemma">Billing</td>
	<td class="gloss">Billing</td>
	<td class="line">25</td>
	<td class="POS">nsn</td>
	<td class="comment">Malone (132-133) According to Chambers and Redin the name is derived from a kind of sword called a <i>bill</i></td>
	</tr>
	<tr>
	<td class="lemma">Breoca</td>
	<td class="gloss">Breoca</td>
	<td class="line">25</td>
	<td class="POS">nsn</td>
	<td class="comment">The Breca of <i>Beowulf</i> fame, the great swimmer, though his name likely refers to being a great breaker of rings or breaker of shield walls. (Malone 133)</td>
	</tr>
	<tr>
	<td class="lemma">Brondingas</td>
	<td class="gloss">Brondings</td>
	<td class="line">25</td>
	<td class="POS">dpn</td>
	<td class="comment">an unknown tribe, though Malone has some great speculation here (133-134)</td>
	</tr>
	<tr>
	<td class="lemma">Burgendan</td>
	<td class="gloss">the Burgundians</td>
	<td class="line">19</td>
	<td class="POS">dpn</td>
	<td class="comment">a Germanic tribe dwelling in the Rhine region and later the Rhone. <a href='https://en.wikipedia.org/wiki/Burgundians'>Wikipedia</a></td>
	</tr>
	<tr>
	<td class="lemma">Cælic</td>
	<td class="gloss">Caelic</td>
	<td class="line">20</td>
	<td class="POS">nsn</td>
	<td class="comment">There is considerable debate about this name, with Grienberger 1922 arguing that it is a nickname meaning 'cup', but it is more commonly considered to be related to the term 'Kalevala'.</td>
	</tr>
	<tr>
	<td class="lemma">Casere</td>
	<td class="gloss">Caesar</td>
	<td class="line">20</td>
	<td class="POS">nsn</td>
	<td class="comment">The Byzantine Roman emperor in Constantinople</td>
	</tr>
	<tr>
	<td class="lemma">Casere</td>
	<td class="gloss">Caesar</td>
	<td class="line">76</td>
	<td class="POS">dsn</td>
	<td class="comment">Malone argues on pg 135 for an Eastern Roman emperor here, possibly Justinian</td>
	</tr>
	<tr>
	<td class="lemma">Creacas</td>
	<td class="gloss">the Greeks</td>
	<td class="line">20</td>
	<td class="POS">dpn</td>
	<td class="comment">The Roman emperor now ruled the Greeks predominantly.</td>
	</tr>
	<tr>
	<td class="lemma">Dēan</td>
	<td class="gloss">Deans</td>
	<td class="line">63</td>
	<td class="POS">dpn</td>
	<td class="comment">unknown tribe in the southern Scandinavian peninsula, the Daukiones of Ptolemy (ii.11.16, Malone 135)</td>
	</tr>
	<tr>
	<td class="lemma">Dene</td>
	<td class="gloss">the Danes</td>
	<td class="line">35</td>
	<td class="POS">dpn</td>
	<td class="comment">These are the Danes, a Germanic tribe first mentioned by Latin and Greek writers. <a href='https://en.wikipedia.org/wiki/Danes_(tribe)'>Wikipedia</a></td>
	</tr>
	<tr>
	<td class="lemma">Eadgils</td>
	<td class="gloss">Eadgils</td>
	<td class="line">93</td>
	<td class="POS">dsn</td>
	<td class="comment">King of the Myrgings, otherwise unknown. Malone pgs 137-139.</td>
	</tr>
	<tr>
	<td class="lemma">Eadwine</td>
	<td class="gloss">of Edwin</td>
	<td class="line">74</td>
	<td class="POS">asn</td>
	<td class="comment">King of the Langobards, Audoin</td>
	</tr>
	<tr>
	<td class="lemma">Eadwine</td>
	<td class="gloss">of Edwin</td>
	<td class="line">98</td>
	<td class="POS">gsn</td>
	<td class="comment">The father of Ealhhild but the timeline doesn't work for him to then also be Audoin, the Langobardish king (Malone 140)</td>
	</tr>
	<tr>
	<td class="lemma">Ealhhilde</td>
	<td class="gloss">Ealhhilde</td>
	<td class="line">5</td>
	<td class="POS">dsn</td>
	<td class="comment">Ermanric's wife, daughter of the Eadwine of line 98. Whether she was a Langobard is debated, Guest 1838 calling her father the 'lord of the Myrgings'. Malone connects her wtih the Scandinavian Swanhild of legend (140), though there is none of the enmity between Ealhhild and her husband that there is between Swanhild and hers.</td>
	</tr>
	<tr>
	<td class="lemma">Eastgota</td>
	<td class="gloss">Ostrogotha</td>
	<td class="line">113</td>
	<td class="POS">asn</td>
	<td class="comment">Early king of the Ostrogoths, contemporary of Roman Emperor Philip (244-9) (Malone 142)</td>
	</tr>
	<tr>
	<td class="lemma">Eastþyringas</td>
	<td class="gloss">Thuringians</td>
	<td class="line">86</td>
	<td class="POS">dpn</td>
	<td class="comment">The Thuringii of history. <a href='https://en.wikipedia.org/wiki/Thuringii'>Wikipedia</a></td>
	</tr>
	<tr>
	<td class="lemma">Eatul</td>
	<td class="gloss">Italy</td>
	<td class="line">70</td>
	<td class="POS">dsn</td>
	<td class="comment">Italy</td>
	</tr>
	<tr>
	<td class="lemma">Ebreas</td>
	<td class="gloss">the Hebrews</td>
	<td class="line">83</td>
	<td class="POS">dpn</td>
	<td class="comment">The Hebrews may be distinguished from the Israelites as possibly being the Kingdom of Judah.</td>
	</tr>
	<tr>
	<td class="lemma">Egypte</td>
	<td class="gloss">the Egyptians</td>
	<td class="line">83</td>
	<td class="POS">dpn</td>
	<td class="comment">The Egyptians</td>
	</tr>
	<tr>
	<td class="lemma">Elsa</td>
	<td class="gloss">Elsa</td>
	<td class="line">117</td>
	<td class="POS">asn</td>
	<td class="comment">based on context, ought to be a Langobardish hero, but otherwise unknown</td>
	</tr>
	<tr>
	<td class="lemma">Emerca</td>
	<td class="gloss">Emerca</td>
	<td class="line">113</td>
	<td class="POS">asn</td>
	<td class="comment">Emerca is the Gothic hero Erpamara, found in Jordanes 43</td>
	</tr>
	<tr>
	<td class="lemma">Eormanrīc</td>
	<td class="gloss">Ermanric</td>
	<td class="line">8</td>
	<td class="POS">gsn</td>
	<td class="comment">Ostrogothic king in the late middle 4th century, see his contemporary historian, Ammanius Marcellinus, as well as Jordanes. Ammanius tells that his great empire was so threatened by Huns and Alans that he committed suicide, though Jordanes leaves this out (Malone 146). Son of Amelunc and uncle of Dietrich von Berne (Þeodric), <i>Dietrichs Flucht</i> paints him very badly, as do other Old German heroic tales (Gillespie 37, 38). Malone argues that these later heroic tales do not reflect the historical king, who seems to have behaved correctly for an old Germanic warlord (146-149). <a href='https://en.wikipedia.org/wiki/Ermanaric'>Wikipedia</a></td>
	</tr>
	<tr>
	<td class="lemma">Eowan</td>
	<td class="gloss">the Eows</td>
	<td class="line">26</td>
	<td class="POS">dpn</td>
	<td class="comment">A tribe Conybeare associates with the Baltic island of Öland (tgn, 7009847, http://vocab.getty.edu/page/tgn/7009847).</td>
	</tr>
	<tr>
	<td class="lemma">Exsyringas</td>
	<td class="gloss">the Assyrians</td>
	<td class="line">82</td>
	<td class="POS">dpn</td>
	<td class="comment">The Assyrians of history <a href='https://en.wikipedia.org/wiki/Assyrian_people#Early_Christian_period'>Wikipedia</a></td>
	</tr>
	<tr>
	<td class="lemma">Fīfeldore</td>
	<td class="gloss">Fifeldore</td>
	<td class="line">43</td>
	<td class="POS">dsn</td>
	<td class="comment">the Eider estuary, (tgn, 7074620) http://vocab.getty.edu/page/tgn/7074620</td>
	</tr>
	<tr>
	<td class="lemma">Fin</td>
	<td class="gloss">Fin</td>
	<td class="line">27</td>
	<td class="POS">nsn</td>
	<td class="comment">King of the Frisians and the Finn from Beowulf and the <i>Finnsburuh Fragment</i>.</td>
	</tr>
	<tr>
	<td class="lemma">Finnas</td>
	<td class="gloss">the Finns</td>
	<td class="line">20</td>
	<td class="POS">dpn</td>
	<td class="comment">There is some fascinating argument about these peoples. While at first it seems obvious that these are the Finns of Finland (and this is the widely accept view), arguments have been made that these are the Lapps, or even the Irish. Malone points out that the Finns are mentioned again in line 76 and distinguished from the Scridefinns a few lines later who are definitely the Lapps, as well as from the 'Scottum' (who are the Irish) and that means these Finns are the Finns proper.</td>
	</tr>
	<tr>
	<td class="lemma">Folcwalding</td>
	<td class="gloss">son of Folcwalda</td>
	<td class="line">27</td>
	<td class="POS">nsn</td>
	<td class="comment">The patronymic of Finn's father, but Chambers suggests that it was a title that alliterated conveniently rather than Finn's father's real name (1921, 200)</td>
	</tr>
	<tr>
	<td class="lemma">Freoþerīc</td>
	<td class="gloss">Freoþeric</td>
	<td class="line">124</td>
	<td class="POS">asn</td>
	<td class="comment">unidentified king or hero, sometimes conneced with the Heathobards and other times with Rederic, King of the Rugians, but Malone mentions there is no evidence for this (150).</td>
	</tr>
	<tr>
	<td class="lemma">Frēsan</td>
	<td class="gloss">the Frisian</td>
	<td class="line">27</td>
	<td class="POS">asn</td>
	<td class="comment">These are the Frisians of history. <a href='https://en.wikipedia.org/wiki/Frisians'>Wikipedia</a></td>
	</tr>
	<tr>
	<td class="lemma">Fridla</td>
	<td class="gloss">Fridla</td>
	<td class="line">113</td>
	<td class="POS">asn</td>
	<td class="comment">Gothic king Fridigernus</td>
	</tr>
	<tr>
	<td class="lemma">Froncan</td>
	<td class="gloss">the Franks</td>
	<td class="line">24</td>
	<td class="POS">dpn</td>
	<td class="comment">These are the Franks of history, though an earlier name for the tribe seems to have been Hugas, a name that survived in poetry and also as the name 'Hugh'.</td>
	</tr>
	<tr>
	<td class="lemma">Frumtingas</td>
	<td class="gloss">the Framtings</td>
	<td class="line">68</td>
	<td class="POS">dpn</td>
	<td class="comment">The people of King Framta, a faction of the Suevi in Spain. See <i>Historia Svevorum</i>(Malone 152)</td>
	</tr>
	<tr>
	<td class="lemma">Gēatas</td>
	<td class="gloss">the Geats</td>
	<td class="line">58</td>
	<td class="POS">dpn</td>
	<td class="comment">The Geats are common knowledge</td>
	</tr>
	<tr>
	<td class="lemma">Gefflēgan</td>
	<td class="gloss">The Gefflegans</td>
	<td class="line">60</td>
	<td class="POS">dsn</td>
	<td class="comment">The Aviones of Tacitus but location unknown</td>
	</tr>
	<tr>
	<td class="lemma">Gefwulf</td>
	<td class="gloss">Gefwulf</td>
	<td class="line">26</td>
	<td class="POS">nsn</td>
	<td class="comment">King of the Jutes (Ytum), but otherwise unknown</td>
	</tr>
	<tr>
	<td class="lemma">Gefþan</td>
	<td class="gloss">The Gepids</td>
	<td class="line">60</td>
	<td class="POS">dpn</td>
	<td class="comment">A tribe of the Gothic family mentioned in Beowulf and the Gepids of history. <a href='https://en.wikipedia.org/wiki/Gepids'>Wikipedia</a></td>
	</tr>
	<tr>
	<td class="lemma">Gifica</td>
	<td class="gloss">Gifica</td>
	<td class="line">19</td>
	<td class="POS">nsn</td>
	<td class="comment">Also the Gibica mentioned in King Gundobad's <i>Leges Burgudionum</i> (see Malone 154), believed by F. Bluhme to be the father of Gundomar, Gislahari (Gislhere, line 123) and Gundahari(Guðhere, line 66). Malone speculates that these may represent each a generation.</td>
	</tr>
	<tr>
	<td class="lemma">Gislhere</td>
	<td class="gloss">Gislaharius</td>
	<td class="line">123</td>
	<td class="POS">asn</td>
	<td class="comment">King of the Burgundians, who Malone speculates would have been an ancestor of the more famous Guðhere</td>
	</tr>
	<tr>
	<td class="lemma">Glomman</td>
	<td class="gloss">the Glomman</td>
	<td class="line">69</td>
	<td class="POS">dpn</td>
	<td class="comment">A tribe perhaps the same as Tacitus's Lemovii on the Oder estuary (tgn 1228010, http://vocab.getty.edu/page/tgn/1128010).</td>
	</tr>
	<tr>
	<td class="lemma">Gotan</td>
	<td class="gloss">the Goths</td>
	<td class="line">18</td>
	<td class="POS">ipn</td>
	<td class="comment">Malone views these as the Ostrogoths, but this is disputed and he may have ruled a broad range of the Gothic peoples. <a href='https://en.wikipedia.org/wiki/Goths'>Wikipedia</a></td>
	</tr>
	<tr>
	<td class="lemma">Guðhere</td>
	<td class="gloss">Guðhere</td>
	<td class="line">66</td>
	<td class="POS">nsn</td>
	<td class="comment">King of the Burgundians, Gunter/Gunther of OHG, who was defeated by the Huns in the Nibelungenlied, Þiðrikssaga, and the Volsungasaga.</td>
	</tr>
	<tr>
	<td class="lemma">hæleþ</td>
	<td class="gloss">heroes</td>
	<td class="line">81</td>
	<td class="POS">dpn</td>
	<td class="comment">I had interpreted this on my read-through as 'heroes' but Malone and some other writers identify this with the inhabitants of the <i>Halla heret</i> in <i>Jordebog</i> of King Valdemar II of Denmark. Lappenberg 1838 and Grein read it as <i>Hæreþum</i>, identifying the tribe with the Charudes of classical antiquity (all in Malone 157). Mackie and Dobbie keep the MS reading and take it as the dpn 'hæleþ' or hero, which I am adopting for the time being. I will copy this note into my log.</td>
	</tr>
	<tr>
	<td class="lemma">Hælsingas</td>
	<td class="gloss">Hælsings</td>
	<td class="line">22</td>
	<td class="POS">ipn</td>
	<td class="comment">An unknown tribe who etymology may be connected to the Chalusos river mapped by Ptolemy. Malone goes on to associate them with the Hæleþan of line 81 (Malone 158).</td>
	</tr>
	<tr>
	<td class="lemma">Hætwere</td>
	<td class="gloss">the Hætwere</td>
	<td class="line">33</td>
	<td class="POS">dpn</td>
	<td class="comment">These are the Hetware of <i>Beowulf</i>.</td>
	</tr>
	<tr>
	<td class="lemma">hæþen</td>
	<td class="gloss">heathens</td>
	<td class="line">81</td>
	<td class="POS">dpn</td>
	<td class="comment">Various editors believe this to be the word 'heathen' as below is the word 'hero', but Malone argues in the spirit of Lappenberg 1838, that these are the inhabitants of the Norwegian region called Hedemark (tgn 7003643, http://vocab.getty.edu/page/tgn/7003643) (Malone 159). I am currently adopting the 'heathens and heroes' reading but am open to changing my mind.</td>
	</tr>
	<tr>
	<td class="lemma">Hagena</td>
	<td class="gloss">Hagen</td>
	<td class="line">21</td>
	<td class="POS">nsn</td>
	<td class="comment">a king of the Rugians, famous from the Hild Saga, also the foe of Heoden below</td>
	</tr>
	<tr>
	<td class="lemma">Hama</td>
	<td class="gloss">Hama</td>
	<td class="line">130</td>
	<td class="POS">nsn</td>
	<td class="comment">The Heime of German lore, an exile who has carved out a kingdom for himself and is paired in this poem with Wudga. Malone states that the poet clearly thought of them as joint rulers of a single kingdom, though Chambers argues they were outlaws a la Robin Hood (pg 159-160). This is the Hama of Beowulf who carried off the bright necklace of the Brosings.</td>
	</tr>
	<tr>
	<td class="lemma">Heaðobeardan</td>
	<td class="gloss">of the Heathobards</td>
	<td class="line">49</td>
	<td class="POS">gpn</td>
	<td class="comment">These are the Heathobards of Beowulf. Malone presumes that they were closely related to the Langobards.</td>
	</tr>
	<tr>
	<td class="lemma">Heaþoreamas</td>
	<td class="gloss">HeaÞoramas</td>
	<td class="line">63</td>
	<td class="POS">dpn</td>
	<td class="comment">This tribe appears in <i>Beowulf</i> line 519 and while possibilities for their identity have been suggested, there is nothing conclusive known about them.</td>
	</tr>
	<tr>
	<td class="lemma">Heaþoric</td>
	<td class="gloss">Heathoric</td>
	<td class="line">116</td>
	<td class="POS">asn</td>
	<td class="comment">Malone  states that this is the Heiðrekr of the <i>Harvararsaga</i>, and while the phonology does not precisely align, the three remaining names in this line are all from <i>Hervararsaga</i>. He also draws a connection between this Heaþoric and the Hæðcyn of <i>Beowulf</i>.</td>
	</tr>
	<tr>
	<td class="lemma">Heðca</td>
	<td class="gloss">Hache</td>
	<td class="line">112</td>
	<td class="POS">asn</td>
	<td class="comment">Malone corrects this to Hehca, and associates him with 'Hache', a Germanic hero (Malone 168). Anscombe 1916 amends it to Hæþcan and identifies the character with King Hæðcyn of Beowulf.</td>
	</tr>
	<tr>
	<td class="lemma">Helm</td>
	<td class="gloss">Helm</td>
	<td class="line">29</td>
	<td class="POS">nsn</td>
	<td class="comment">Helm, King of the Wulfings</td>
	</tr>
	<tr>
	<td class="lemma">Heoden</td>
	<td class="gloss">Heoden</td>
	<td class="line">21</td>
	<td class="POS">nsn</td>
	<td class="comment">The ASPR XML has this word tagged as 'unclear' and it truly is. The OEPIF project shows it as very unclear as well. Malone reads it as Henden but says it is the character Heoden of the Hild saga (pg 168). Chambers and ASPR both record it as 'Heoden', so that is what I'm going to stick with for now.</td>
	</tr>
	<tr>
	<td class="lemma">Heorot</td>
	<td class="gloss">Heorot</td>
	<td class="line">49</td>
	<td class="POS">dsn</td>
	<td class="comment">Heorot of Hroðgar in <i>Beowulf</i>, <a href='https://en.wikipedia.org/wiki/Heorot'>Wikipedia</a>.</td>
	</tr>
	<tr>
	<td class="lemma">Herefaran</td>
	<td class="gloss">of the Herefarens</td>
	<td class="line">34</td>
	<td class="POS">gpn</td>
	<td class="comment">A tribe no longer known to us.</td>
	</tr>
	<tr>
	<td class="lemma">Herelingas</td>
	<td class="gloss">Herelingas</td>
	<td class="line">112</td>
	<td class="POS">apn</td>
	<td class="comment">The followers of Herela, or King Herla of medieval writer Walter Map (<a href='https://en.wikipedia.org/wiki/Walter_Map'>Wikipedia</a>), the leader of the Wild Host (or Woden in disguise), but the poet here is likely referring to the Harlun brothers (Malone 170).</td>
	</tr>
	<tr>
	<td class="lemma">Hlīþe</td>
	<td class="gloss">Lotherus</td>
	<td class="line">116</td>
	<td class="POS">asn</td>
	<td class="comment">Hlǫðr of the Hervararsaga, Lotherus of Saxo Grammaticus, a mythical Gothic or Geatish king, though in the past he was identified with King Leth of the Langobards (Grienberger 1922, 377)</td>
	</tr>
	<tr>
	<td class="lemma">Hnæf</td>
	<td class="gloss">Hnæf</td>
	<td class="line">29</td>
	<td class="POS">nsn</td>
	<td class="comment">King of the Hocingas, appears in both Beowulf and the <i>Finnsburuh Fragment</i></td>
	</tr>
	<tr>
	<td class="lemma">Hocingas</td>
	<td class="gloss">the Hocings</td>
	<td class="line">29</td>
	<td class="POS">dpn</td>
	<td class="comment">The Hocings are clarified as Danes in <i>Beowulf</i> (1090, 1158), Here-Scyldings (1069, 1108, 1154), and Healfdenes (1069). Malone has notes on them on pgs 172-173.</td>
	</tr>
	<tr>
	<td class="lemma">Holen</td>
	<td class="gloss">Holen</td>
	<td class="line">33</td>
	<td class="POS">nsn</td>
	<td class="comment">Malone takes Holen to mean 'protector' in l80 of the Exeter Book Gnomic Verses. Others associate it with OE <i>holegn</i> meaning 'holly'. (Malone 173)</td>
	</tr>
	<tr>
	<td class="lemma">Holmrygas</td>
	<td class="gloss">the Rugians</td>
	<td class="line">21</td>
	<td class="POS">dpn</td>
	<td class="comment">All editions note that the 'g' is missing from the manuscript and they add it back in. Malone, in his glossary, makes the additional correction of a 'c', rendering this <i>holmrycgas</i>, <i>holmrycgum</i>. Malone identifies the Rugians as the Hulmerugi of Jordanes, in the islands of the estuary of the Vistula. (174)</td>
	</tr>
	<tr>
	<td class="lemma">Hræde</td>
	<td class="gloss">Hræde</td>
	<td class="line">120</td>
	<td class="POS">gsn</td>
	<td class="comment">Malone interprets this name as 'he of the nest', which refers to the Geatas, the men of the nest (174).</td>
	</tr>
	<tr>
	<td class="lemma">Hreðcyning</td>
	<td class="gloss">King of the Goths</td>
	<td class="line">7</td>
	<td class="POS">gsn</td>
	<td class="comment">refers to Ermanric, named in the next line</td>
	</tr>
	<tr>
	<td class="lemma">Hreðgotan</td>
	<td class="gloss">Ostrogoths</td>
	<td class="line">57</td>
	<td class="POS">dpn</td>
	<td class="comment">Malone takes this a poetical epithet for the Ostrogoths chosen to alliterate with the Huns. (175).</td>
	</tr>
	<tr>
	<td class="lemma">Hringwald</td>
	<td class="gloss">Hringwald</td>
	<td class="line">34</td>
	<td class="POS">nsn</td>
	<td class="comment">means Ring-Ruler</td>
	</tr>
	<tr>
	<td class="lemma">Hroðgar</td>
	<td class="gloss">Hroðgar</td>
	<td class="line">45</td>
	<td class="POS">nsn</td>
	<td class="comment">The renowned king of Beowulf fame. <a href='https://en.wikipedia.org/wiki/Hrothgar'>Wikipedia</a></td>
	</tr>
	<tr>
	<td class="lemma">Hronan</td>
	<td class="gloss">Hronan</td>
	<td class="line">63</td>
	<td class="POS">dpn</td>
	<td class="comment">a tribe otherwise unknown. Lots of possibilities (Malone 176).</td>
	</tr>
	<tr>
	<td class="lemma">Hroþwulf</td>
	<td class="gloss">Hroþwulf</td>
	<td class="line">45</td>
	<td class="POS">nsn</td>
	<td class="comment">Hroþgar's nephew, and the famous Hrólfr Kraki of his own saga. <a href='https://en.wikipedia.org/wiki/Hr%C3%B3lfr_Kraki'>Wikipedia</a></td>
	</tr>
	<tr>
	<td class="lemma">Hun</td>
	<td class="gloss">Hunn</td>
	<td class="line">33</td>
	<td class="POS">nsn</td>
	<td class="comment">This is a king of the Hætwere who appears also in an Icelandic thula and as the champion Hunn who fought in the Battle of Bravellir.</td>
	</tr>
	<tr>
	<td class="lemma">Hunas</td>
	<td class="gloss">the Huns</td>
	<td class="line">18</td>
	<td class="POS">ipn</td>
	<td class="comment">These are the Huns of history, a nomadic people: <a href='https://en.wikipedia.org/wiki/Huns/'>Wikipedia</a>.</td>
	</tr>
	<tr>
	<td class="lemma">Hundingas</td>
	<td class="gloss">the Hundings</td>
	<td class="line">23</td>
	<td class="POS">dpn</td>
	<td class="comment">nickname for the Langobards</td>
	</tr>
	<tr>
	<td class="lemma">Hungar</td>
	<td class="gloss">Hungar</td>
	<td class="line">117</td>
	<td class="POS">asn</td>
	<td class="comment">Second king of the Langobards, also called Lamissio by Paulus Diaconus.</td>
	</tr>
	<tr>
	<td class="lemma">Hwala</td>
	<td class="gloss">Hwala</td>
	<td class="line">14</td>
	<td class="POS">nsn</td>
	<td class="comment">Grandson of Sceaf but otherwise unknown</td>
	</tr>
	<tr>
	<td class="lemma">Idumingas</td>
	<td class="gloss">Idumings</td>
	<td class="line">87</td>
	<td class="POS">dpn</td>
	<td class="comment">Ydumaci of Henricus Lettus, a Livonian tribe.</td>
	</tr>
	<tr>
	<td class="lemma">Ilwan</td>
	<td class="gloss">the Ilwan</td>
	<td class="line">87</td>
	<td class="POS">dpn</td>
	<td class="comment">The Elvaeones of Ptolemy, the Helvecones of Tacitus</td>
	</tr>
	<tr>
	<td class="lemma">Incgenþeow</td>
	<td class="gloss">Incgenþeow</td>
	<td class="line">116</td>
	<td class="POS">asn</td>
	<td class="comment">Angantyr of the Hervararsaga and the historical King Ongenþeow of Sweden, who appears in Beowulf.</td>
	</tr>
	<tr>
	<td class="lemma">Indeas</td>
	<td class="gloss">THe Hindus</td>
	<td class="line">83</td>
	<td class="POS">dpn</td>
	<td class="comment">Inhabitants of India</td>
	</tr>
	<tr>
	<td class="lemma">Ingeld</td>
	<td class="gloss">Ingeld</td>
	<td class="line">48</td>
	<td class="POS">gsn</td>
	<td class="comment">king of the Heathobards and son of Froda</td>
	</tr>
	<tr>
	<td class="lemma">Israhelas</td>
	<td class="gloss">the Israelites</td>
	<td class="line">82</td>
	<td class="POS">dpn</td>
	<td class="comment">The people of the region of Israel, possibly distinguishing the kingdom of Israel from the Kingdom of Judah in the next line.</td>
	</tr>
	<tr>
	<td class="lemma">Iste</td>
	<td class="gloss">the Austrogoths</td>
	<td class="line">87</td>
	<td class="POS">dpn</td>
	<td class="comment">A specific tribe of the Ostrogoths</td>
	</tr>
	<tr>
	<td class="lemma">Leonas</td>
	<td class="gloss">the Leonas</td>
	<td class="line">80</td>
	<td class="POS">dpn</td>
	<td class="comment">Malone identifies these as the Leuoni of Ptolemy, a tribe located in central Skandia. (Malone 180)</td>
	</tr>
	<tr>
	<td class="lemma">Lidwicingas</td>
	<td class="gloss">the Lidwiccas</td>
	<td class="line">80</td>
	<td class="POS">dpn</td>
	<td class="comment">Malone emends this to Lidingum and associates them with the Liðungar of Islenzkir Analar, but others associate it as is with the Lidwiccas in the <i>OE Annals</i>. I have chosen to leave it unchanged for the moment</td>
	</tr>
	<tr>
	<td class="lemma">Longbeardan</td>
	<td class="gloss">the Langobards</td>
	<td class="line">32</td>
	<td class="POS">dpn</td>
	<td class="comment">the Langobards of history. Originating in Scandinavia, this tribe migrated south and settled in the region of Lombardy. The name presumably comes from the words meaning 'long beards'. <a href='https://en.wikipedia.org/wiki/Lombards'>Wikipedia</a></td>
	</tr>
	<tr>
	<td class="lemma">Meaca</td>
	<td class="gloss">Meaca</td>
	<td class="line">23</td>
	<td class="POS">nsn</td>
	<td class="comment"> Unknown king of the Myrgings</td>
	</tr>
	<tr>
	<td class="lemma">Mearchealf</td>
	<td class="gloss">Mearchealf</td>
	<td class="line">23</td>
	<td class="POS">nsn</td>
	<td class="comment">unknowng king of the Hundings, but his name may be derived from <i>mearh</i> 'horse' and <i>ealf</i> 'elf'.</td>
	</tr>
	<tr>
	<td class="lemma">Mofdingas</td>
	<td class="gloss">Mofdings</td>
	<td class="line">85</td>
	<td class="POS">dpn</td>
	<td class="comment">Malone changes this to the 'Ofdingas' for complex reasons. Nobody else does this, so I have elected to leave it, though he makes a compelling argument (pgs 186-187).</td>
	</tr>
	<tr>
	<td class="lemma">Moide</td>
	<td class="gloss">the Moids</td>
	<td class="line">84</td>
	<td class="POS">dpn</td>
	<td class="comment">Malone 183: Moide are the inhabitates of Møn (tgn 7003643, http://vocab.getty.edu/page/tgn/7003574) in the Danish archipelago, and a well known harbor and battle-site. Earlier editors associated the Moide with the Medes but this spelling would be a one-off then, as the Medes are usuall spelled Meðas or Mœðe.</td>
	</tr>
	<tr>
	<td class="lemma">Myrgingas</td>
	<td class="gloss">the Myrgings</td>
	<td class="line">4</td>
	<td class="POS">dpn</td>
	<td class="comment">the tribe to which Widsið belonged. 'By virtue of the Offa episode, the Myrgings can be localized with some precision; they lived south of the river Eider, in a region apparently identical with that held by the Saxons of Ptolemy and certainly identical with that held by the Nordalbings of later times, themselves a branch of the Old Saxons (to use King Alfred's term).' (Malone 183). The Myrgings were likely a Saxonish tribe called the Maurungani of the Geographer of Ravenna.</td>
	</tr>
	<tr>
	<td class="lemma">Offa</td>
	<td class="gloss">Offa</td>
	<td class="line">35</td>
	<td class="POS">nsn</td>
	<td class="comment">King of Ongel also in Beowulf, and as Uffa in Saxo Grammaticus and Sweyn Aageson. Latter half of the 4th century and king of the Angles.</td>
	</tr>
	<tr>
	<td class="lemma">Offa</td>
	<td class="gloss">Offa</td>
	<td class="line">37</td>
	<td class="POS">dsn</td>
	<td class="comment">A king of Ongel (or Angel). <a href='https://en.wikipedia.org/wiki/Offa_of_Angel'>Wikipedia</a></td>
	</tr>
	<tr>
	<td class="lemma">Ongel</td>
	<td class="gloss">the Angles land</td>
	<td class="line">8</td>
	<td class="POS">dpn</td>
	<td class="comment">The original homeland of the Angles before Britain, and probably covered most of Sleswick,</td>
	</tr>
	<tr>
	<td class="lemma">Ongendmyrgingas</td>
	<td class="gloss">the Ongendmyrgings</td>
	<td class="line">85</td>
	<td class="POS">dpn</td>
	<td class="comment">Malone has this combined with the previous word to form the Ongendmyrgingum but neither Chambers nor the ASPR does this. If it were correct, it might be identical to the later Wiþmyrgingas in 116. Malone takes his cue from Rieger and Langenfelt in following the structure of 'Ongendþeow' and placing the Ongend as a prefix of the word. Because of the presence of the 'regular' Myrgings in this same stanza, I have opted for Malone's reading.</td>
	</tr>
	<tr>
	<td class="lemma">Ongendþeow</td>
	<td class="gloss">Ongenþeow</td>
	<td class="line">31</td>
	<td class="POS">nsn</td>
	<td class="comment">A king of the Swedes mentioned in Beowulf (as Ongenþoew), his name becongs Angantyr in Old Norse. The Ongend- element means sting or prick and Malone then extrapolates to 'phallus', associating Ongend- with a priest of a fertility cult, perhaps Yngvi Freyr.</td>
	</tr>
	<tr>
	<td class="lemma">Oswine</td>
	<td class="gloss">Oswin</td>
	<td class="line">26</td>
	<td class="POS">nsn</td>
	<td class="comment">Otherwise unknown</td>
	</tr>
	<tr>
	<td class="lemma">Peohtas</td>
	<td class="gloss">the Picts</td>
	<td class="line">79</td>
	<td class="POS">dpn</td>
	<td class="comment">The Picts of history. <a href='https://en.wikipedia.org/wiki/Picts'>Wikipedia</a></td>
	</tr>
	<tr>
	<td class="lemma">Perse</td>
	<td class="gloss">the Perse</td>
	<td class="line">84</td>
	<td class="POS">dpn</td>
	<td class="comment">because of the exotic peoples listed in the previous sentence, these often get translated to the Medes and the Persians; however, Malone points out that in this couplet, they are actually paired with Scandinavian and Germanic tribes within the sentence. Because of this, the identity of the Perse is unknown.</td>
	</tr>
	<tr>
	<td class="lemma">Rædhere</td>
	<td class="gloss">Rædhere</td>
	<td class="line">123</td>
	<td class="POS">asn</td>
	<td class="comment">an unknown king or hero, whose name means 'command (or counsel) the army'.</td>
	</tr>
	<tr>
	<td class="lemma">Rondhere</td>
	<td class="gloss">Rondhere</td>
	<td class="line">123</td>
	<td class="POS">asn</td>
	<td class="comment">unknown hero whose name means shield-army, or less literally, 'protector'.</td>
	</tr>
	<tr>
	<td class="lemma">Rondingas</td>
	<td class="gloss">The Rondings</td>
	<td class="line">24</td>
	<td class="POS">dpn</td>
	<td class="comment">The men of Telemark (tgn, 7003654, http://vocab.getty.edu/page/tgn/7003654), famously weird skiers with whom no self-respecting Alpine skier would associate. The name means 'borderers' and seems to be a poetic appelation based on their region being called a <i>mark</i> or borderland. (Malone 191-192)</td>
	</tr>
	<tr>
	<td class="lemma">Rugas</td>
	<td class="gloss">the Rugi</td>
	<td class="line">69</td>
	<td class="POS">dpn</td>
	<td class="comment">These are the same people as the Holmrycgas of line 21, known to history as the Rugii or the Rugians. <a href='https://en.wikipedia.org/wiki/Rugii'>Wikipedia</a></td>
	</tr>
	<tr>
	<td class="lemma">Rumstan</td>
	<td class="gloss">Rumstan</td>
	<td class="line">123</td>
	<td class="POS">asn</td>
	<td class="comment"> often connected with the Germanic hero Rimstien, but Widsith seems to associate him with Gislhere of the Burgundians and the German hero is a Goth. Malone (192) supposes the hero was forgotten and then his name reborrowed as the Gothic legend cycle grew.</td>
	</tr>
	<tr>
	<td class="lemma">Rumwalas</td>
	<td class="gloss">Rome-foreigners</td>
	<td class="line">69</td>
	<td class="POS">dpn</td>
	<td class="comment">Malone (193) identifies the Rumwalas as the eastern Roman empire, which is heavily disputed by other authors @@@ Check Weiskott</td>
	</tr>
	<tr>
	<td class="lemma">Sæ-dene</td>
	<td class="gloss">the Sea-Danes</td>
	<td class="line">28</td>
	<td class="POS">dpn</td>
	<td class="comment">It is uncertain whether the prefix 'Sæ' means to restrict these to only the Danes of the islands or as an epithet to emphasize the dominance of the Danes on the sea, but either way these are simply the Danes.</td>
	</tr>
	<tr>
	<td class="lemma">Sæferð</td>
	<td class="gloss">Sæferð</td>
	<td class="line">31</td>
	<td class="POS">nsn</td>
	<td class="comment">King of the Sycgan, some debate that he is the Sigeferþ of Beowulf and Holthausen translates the name Seefried. We cannot be certain of his identity.</td>
	</tr>
	<tr>
	<td class="lemma">Sceafa</td>
	<td class="gloss">Sheaf</td>
	<td class="line">32</td>
	<td class="POS">nsn</td>
	<td class="comment">A king of the Langobards but Price 1826 identified him as the mythical 'Scef', father of the equally mythical 'Scyld Scefing'. Malone rejects this association because Scyld was, of course, mythical.</td>
	</tr>
	<tr>
	<td class="lemma">Sceafthere</td>
	<td class="gloss">Sceafthere</td>
	<td class="line">32</td>
	<td class="POS">nsn</td>
	<td class="comment">unknown king but his name means 'spear-army (compare with Rondhere, 'shield-army).</td>
	</tr>
	<tr>
	<td class="lemma">Scilling</td>
	<td class="gloss">Scilling</td>
	<td class="line">103</td>
	<td class="POS">nsn</td>
	<td class="comment">A scop who sang with Widsith on at least one occasion, Malone compares this to rune-singers in Finnish tradition (194).</td>
	</tr>
	<tr>
	<td class="lemma">Scottas</td>
	<td class="gloss">the Irish</td>
	<td class="line">79</td>
	<td class="POS">dpn</td>
	<td class="comment">Not the Scots, actually the Irish.</td>
	</tr>
	<tr>
	<td class="lemma">Scridefinnas</td>
	<td class="gloss">The Lapps</td>
	<td class="line">79</td>
	<td class="POS">dpn</td>
	<td class="comment">The Lapps of arctic Norway, Scride- (skis) exists to differentiate them from the Finns proper.</td>
	</tr>
	<tr>
	<td class="lemma">Seafola</td>
	<td class="gloss">Seafola</td>
	<td class="line">115</td>
	<td class="POS">asn</td>
	<td class="comment">A legendary traitorous retainer from the Wolfdietrich tale, according to Malone 194-195. Chambers instead has this as Sabene of Rabene in the Dietrich von Berne story (see Gillespie 28).</td>
	</tr>
	<tr>
	<td class="lemma">Seaxan</td>
	<td class="gloss">the Saxons</td>
	<td class="line">62</td>
	<td class="POS">dpn</td>
	<td class="comment">The original Saxons of Germany</td>
	</tr>
	<tr>
	<td class="lemma">Secca</td>
	<td class="gloss">Secca</td>
	<td class="line">115</td>
	<td class="POS">asn</td>
	<td class="comment">The young Sigiwald of history, kinsmen of the Frankish Þeodric. His story is found in Gregory of Tours' <i>Historia Fancorum iii</i> (Malone 196).</td>
	</tr>
	<tr>
	<td class="lemma">Sercingas</td>
	<td class="gloss">the Sercings</td>
	<td class="line">75</td>
	<td class="POS">dpn</td>
	<td class="comment">Perhaps Tacitus's Siraci, a Black Sea tribe, or perhaps the Serica of the ancients (Sedgefield 1922, 136), though Malone notes this would then connect them with the Serkland and Serkir in the same line (197).</td>
	</tr>
	<tr>
	<td class="lemma">Seringas</td>
	<td class="gloss">the Serae</td>
	<td class="line">75</td>
	<td class="POS">dpn</td>
	<td class="comment">The Serae of the ancients,</td>
	</tr>
	<tr>
	<td class="lemma">Sifeca</td>
	<td class="gloss">Sifeca</td>
	<td class="line">116</td>
	<td class="POS">asn</td>
	<td class="comment">An evil counselor of unknown origin but with lots of speculation (Malone 199).</td>
	</tr>
	<tr>
	<td class="lemma">Sigehere</td>
	<td class="gloss">Sighere</td>
	<td class="line">28</td>
	<td class="POS">nsn</td>
	<td class="comment">King of the Sea-Danes, the Sigarr of the <i>Snorra Edda</i></td>
	</tr>
	<tr>
	<td class="lemma">Suþ-dene</td>
	<td class="gloss">the south-Danes</td>
	<td class="line">58</td>
	<td class="POS">dpn</td>
	<td class="comment">This simply means the South-Danes. In Beowulf, there are North-, East-. West-, and South-Danes, but the Widsith poet only distinguishes the South-Danes (Malone 136, 201).</td>
	</tr>
	<tr>
	<td class="lemma">Swæfe</td>
	<td class="gloss">Swæfe</td>
	<td class="line">22</td>
	<td class="POS">dpn</td>
	<td class="comment">The Eider-Suebi, a branch of the Suebi that settled in western Sleswick. Malone mentions that with their close association with the Angles as well as Bede's mention of their ruler Witta being the grandfather of Hengest, it is not unreasonable ot infer that they took part in the Anglo-Saxon conquest of Britannia (201).</td>
	</tr>
	<tr>
	<td class="lemma">Sweon</td>
	<td class="gloss">Swedes</td>
	<td class="line">31</td>
	<td class="POS">dpn</td>
	<td class="comment">The Swedes of Uppland (tgn, 7009866, http://vocab.getty.edu/page/tgn/7009866)</td>
	</tr>
	<tr>
	<td class="lemma">Sweordwere</td>
	<td class="gloss">Suardones</td>
	<td class="line">62</td>
	<td class="POS">dpn</td>
	<td class="comment">From Tacitus, as Malone so adeptly argues in 202-203.</td>
	</tr>
	<tr>
	<td class="lemma">Sycga</td>
	<td class="gloss">the Sycgans</td>
	<td class="line">62</td>
	<td class="POS">dpn</td>
	<td class="comment">A tribe only otherwise known from the 'Secgena' of the <i>Finnsburh Fragment</i> l24.</td>
	</tr>
	<tr>
	<td class="lemma">Sycgan</td>
	<td class="gloss">Sycgan</td>
	<td class="line">31</td>
	<td class="POS">dpn</td>
	<td class="comment">Only otherwise known from the Finnsburug Fragment, l24, where they are the Secgena(gpn).</td>
	</tr>
	<tr>
	<td class="lemma">Unwen</td>
	<td class="gloss">of Unwen</td>
	<td class="line">114</td>
	<td class="POS">gsm</td>
	<td class="comment">Son of Eastgota l 113, meaning 'unexpected one'</td>
	</tr>
	<tr>
	<td class="lemma">Wada</td>
	<td class="gloss">Wada</td>
	<td class="line">22</td>
	<td class="POS">nsn</td>
	<td class="comment">King of the Hælsings, in this poem not the father of mythical Weland or grandfather of Wudga. (Malone 206-207)</td>
	</tr>
	<tr>
	<td class="lemma">Wærne</td>
	<td class="gloss">the Varni</td>
	<td class="line">59</td>
	<td class="POS">dpn</td>
	<td class="comment">The Varni of Procopius and the Varini of Tacitus, and perhaps the Varinnae of Pliny. Procopius puts this tribe east of the Rhine, in the region controlled by the Saxons. Tacitus puts them in Jutland (tgn, 7004795, http://vocab.getty.edu/page/tgn/7004195).</td>
	</tr>
	<tr>
	<td class="lemma">Walas</td>
	<td class="gloss">of the Romans</td>
	<td class="line">78</td>
	<td class="POS">gpn</td>
	<td class="comment">A generic word meaning 'foreigners' but usually referring to Romans. This name was later to be come the appelation given to the land of 'Wales' or of 'foreigners'</td>
	</tr>
	<tr>
	<td class="lemma">Wald</td>
	<td class="gloss">Wald</td>
	<td class="line">30</td>
	<td class="POS">nsn</td>
	<td class="comment">King of the Woings, otherwise unknown</td>
	</tr>
	<tr>
	<td class="lemma">Wenlas</td>
	<td class="gloss">Wenlas</td>
	<td class="line">59</td>
	<td class="POS">dpn</td>
	<td class="comment">The Wendlas of Beowulf 348, though whether he was Wendlas of the Vandili of Pliny, or of the Winnili (the Langobards), or still further a dweller of the Vendel of northern Jutland (tgn, 7004795, http://vocab.getty.edu/page/tgn/7004195) (called the Wandali by Saxo Grammaticus), is unknown for certain. (Malone 209)</td>
	</tr>
	<tr>
	<td class="lemma">Wern</td>
	<td class="gloss">the Werns</td>
	<td class="line">25</td>
	<td class="POS">dpn</td>
	<td class="comment">The Varini of Tacitus and the Varni of Procopius and perhaps the Varinnae of Pliny (Malone 207). Procopius placed then east of the Rhine, Tacitus seems to put them in Jutland. <a href='https://en.wikipedia.org/wiki/Warini'>Wikipedia</a></td>
	</tr>
	<tr>
	<td class="lemma">Wicingas</td>
	<td class="gloss">the Wicings</td>
	<td class="line">59</td>
	<td class="POS">dpn</td>
	<td class="comment">This is a reference to the Heaðobeards, according to Malone, but often translated as Vikings.</td>
	</tr>
	<tr>
	<td class="lemma">Widsið</td>
	<td class="gloss">Widsith</td>
	<td class="line">1</td>
	<td class="POS">nsn</td>
	<td class="comment">the fictitious scop celebrated in this poem</td>
	</tr>
	<tr>
	<td class="lemma">Winedas</td>
	<td class="gloss">Winedas</td>
	<td class="line">60</td>
	<td class="POS">dpn</td>
	<td class="comment">The Wends, a generic German name for the Slavs.</td>
	</tr>
	<tr>
	<td class="lemma">Wistlawudu</td>
	<td class="gloss">The Wistle wood</td>
	<td class="line">121</td>
	<td class="POS">gpn</td>
	<td class="comment">The forest of the Vistula goths. <a href='https://en.wikipedia.org/wiki/Vistula'>Wikipedia</a></td>
	</tr>
	<tr>
	<td class="lemma">Witta</td>
	<td class="gloss">Witta</td>
	<td class="line">22</td>
	<td class="POS">nsn</td>
	<td class="comment">King of the Swæfe, and according to Bede, grandfather to Hengest and Horsa.</td>
	</tr>
	<tr>
	<td class="lemma">Wiþergield</td>
	<td class="gloss">Wiþergield</td>
	<td class="line">124</td>
	<td class="POS">asn</td>
	<td class="comment">The Wiðergyld of Beowulf 2051, a Heathobeard.</td>
	</tr>
	<tr>
	<td class="lemma">Wiþmyrgingas</td>
	<td class="gloss">the Wiþmyrgings</td>
	<td class="line">118</td>
	<td class="POS">gpn</td>
	<td class="comment">@@@ need to check Chambers 123, 215, 221, but Malone (211) has these as the Myrgings who dwell in the valley of the With (Vid) river, and perhaps identical to the Ongendmyrgings.</td>
	</tr>
	<tr>
	<td class="lemma">Wod</td>
	<td class="gloss">Wod</td>
	<td class="line">30</td>
	<td class="POS">nsn</td>
	<td class="comment">King of the Þyringas, otherwise unknown</td>
	</tr>
	<tr>
	<td class="lemma">Woingas</td>
	<td class="gloss">the Woings</td>
	<td class="line">30</td>
	<td class="POS">dpn</td>
	<td class="comment">A tribe otherwise unknown</td>
	</tr>
	<tr>
	<td class="lemma">Wrosnan</td>
	<td class="gloss">Wrosnan</td>
	<td class="line">33</td>
	<td class="POS">dpn</td>
	<td class="comment">A Danish island tribe</td>
	</tr>
	<tr>
	<td class="lemma">Wudga</td>
	<td class="gloss">Wudga</td>
	<td class="line">124</td>
	<td class="POS">asn</td>
	<td class="comment">THe hero Widia from <i>Waldere</i> and the Viðga of <i>Þiðrrikssaga</i></td>
	</tr>
	<tr>
	<td class="lemma">Wulfhere</td>
	<td class="gloss">Wulfhere</td>
	<td class="line">119</td>
	<td class="POS">asn</td>
	<td class="comment">One of two princes of the Hræde who let their people in a war against the Huns (Malone 213).</td>
	</tr>
	<tr>
	<td class="lemma">Wulfingas</td>
	<td class="gloss">the Wulfings</td>
	<td class="line">29</td>
	<td class="POS">dpn</td>
	<td class="comment">The Ylfingar of Norse tradition and the Wylfingas of <i>Beowulf</i>. Malone identifies them with the Vulgares of Paulus. (213)</td>
	</tr>
	<tr>
	<td class="lemma">Wyrmhere</td>
	<td class="gloss">Wyrmhere</td>
	<td class="line">119</td>
	<td class="POS">asn</td>
	<td class="comment">The Ormarr of the <i>Hervararsaga</i>, also the Olimarus of Saxo's 5th book. One of two princes of the Hræde who let their people in a war against the Huns (Malone 214).</td>
	</tr>
	<tr>
	<td class="lemma">Ymbran</td>
	<td class="gloss">the Ymbran</td>
	<td class="line">32</td>
	<td class="POS">dpn</td>
	<td class="comment">An unknown tribe</td>
	</tr>
	<tr>
	<td class="lemma">Yte</td>
	<td class="gloss">the Jutes</td>
	<td class="line">26</td>
	<td class="POS">dpn</td>
	<td class="comment">The Euts or Jutes, one of the three tribes Bede names as taking part in the English conquest of Britain (Malone 215).</td>
	</tr>
	<tr>
	<td class="lemma">þeodric</td>
	<td class="gloss">Theodric</td>
	<td class="line">115</td>
	<td class="POS">asn</td>
	<td class="comment">This Theodric is not the same as the one above according to Chambers (See Malone 204). Chambers associates this Theodric as Dietrich von Bern, which would make Seafola above Sabene von Rabene. Malone considers this impossible based on Jiriczek's paper (1920 in <i>Englische Studien</i>) in which Seafola is identified as the Wolfdietrich villain.</td>
	</tr>
	<tr>
	<td class="lemma">Þeodric</td>
	<td class="gloss">Theodric</td>
	<td class="line">24</td>
	<td class="POS">nsn</td>
	<td class="comment">Malone has him as the oldest son of Clovis and king of the Franks, and says that this Theodric is the same Theodric as in l. 115. Chambers and other dispute this. This Theodric is, indeed, Hugdietrich, king of the Franks (as stated in the poem), but l.115 would then be Dietrich of Bern.</td>
	</tr>
	<tr>
	<td class="lemma">Þrowend</td>
	<td class="gloss">Þrowend</td>
	<td class="line">64</td>
	<td class="POS">dpn</td>
	<td class="comment">The inhabitants of Norway's Trøndelagen (tgn, 8712604, http://vocab.getty.edu/page/tgn/8712604), the Þrøndr (Malone 205).</td>
	</tr>
	<tr>
	<td class="lemma">Þyle</td>
	<td class="gloss">Thyle</td>
	<td class="line">24</td>
	<td class="POS">nsn</td>
	<td class="comment">King of the Rondings. Malone explains the name as the eponym of the Þilir, a tribe in the Telemark, giving identification to the Rondings below.</td>
	</tr>
	<tr>
	<td class="lemma">Þyringas</td>
	<td class="gloss">the Thuringians</td>
	<td class="line">30</td>
	<td class="POS">dpn</td>
	<td class="comment">Either the Thoringi of Gregory of Tours or the Tungri (Thuringians) of inland Germany. It is not impossible that these are actually the same tribe. (Malone 206)</td>
	</tr>
</table>

  </div>
  </body>
</html>