
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Side by Side Widsið</title>
    <style>
        .container {
			display: flex;
			padding: 50px;
			column-gap: 50px;
		}
		.column {
			flex: 1;
			padding-left: 40px;
			padding-top: 25px;
			border: 1px solid #ccc;
			margin: 5px auto;
		}
		.button {
			width: 75px;
			height: 35px;
			color: DarkRed;
			font-size: 15px;
			background-color: White;
			transition-duration: 0.3s;
			opacity: 0.5;
			border-radius: 6px;
		}
		.button:hover{
			opacity: 1;
		}
		body {
			font-family:'Georgia', Times, serif;
			text-align: left;
		}
		h3 {
			font-style:italic;
		}
		p:first-of-type::first-letter {
			color: DarkRed;
			padding: 0.2rem;
			font-size: 3.7em;
			float:left;
			line-height:0.7;
		}
		p {
			line-height: 1.5;
		}
    </style>
</head>
<body>
	<button class="button" onclick="document.location='https://lorehord.com/'">Home</button>
    <div class="container">
        <div class="column">
            <h2>Widsið</h2>
			<h3>Old English</h3>
			<p>
				Widsið maðolade,  wordhord onleac,<br/>
				se þe monna mæst  mægþa ofer eorþan,<br/>
				folca geondferde;  oft he on flette geþah<br/>
				mynelicne maþþum.  Him from Myrgingum<br/>
				æþele onwocon.  He mid Ealhhilde,<br/>
				fælre freoþuwebban,  forman siþe<br/>
				Hreðcyninges  ham gesohte<br/>
				eastan of Ongle,  Eormanrices,<br/>
				wraþes wærlogan.  Ongon þa worn sprecan:<br/>
				"Fela ic monna gefrægn  mægþum wealdan!<br/>
				Sceal þeodna gehwylc  þeawum lifgan,<br/>
				eorl æfter oþrum  eðle rædan,<br/>
				se þe his þeodenstol  geþeon wile.<br/>
				þara wæs Hwala  hwile selast,<br/>
				ond Alexandreas  ealra ricost<br/>
				monna cynnes,  ond he mæst geþah<br/>
				þara þe ic ofer foldan  gefrægen hæbbe.<br/>
				Ætla weold Hunum,  Eormanric Gotum,<br/>
				Becca Baningum,  Burgendum Gifica.<br/>
				Casere weold Creacum  ond Cælic Finnum,<br/>
				Hagena Holm-Rygum  ond Heoden Glommum.<br/>
				Witta weold Swæfum,  Wada Hælsingum,<br/>
				Meaca Myrgingum,  Mearchealf Hundingum.<br/>
				þeodric weold Froncum,  þyle Rondingum,<br/>
				Breoca Brondingum,  Billing Wernum.<br/>
				Oswine weold Eowum  ond Ytum Gefwulf,<br/>
				Fin Folcwalding  Fresna cynne.<br/>
				Sigehere lengest  Sæ-Denum weold,<br/>
				Hnæf Hocingum,  Helm Wulfingum,<br/>
				Wald Woingum,  Wod þyringum,<br/>
				Sæferð Sycgum,  Sweom Ongendþeow,<br/>
				Sceafthere Ymbrum,  Sceafa Longbeardum,<br/>
				Hun Hætwerum  ond Holen Wrosnum.<br/>
				Hringweald wæs haten  Herefarena cyning.<br/>
				Offa weold Ongle,  Alewih Denum;<br/>
				se wæs þara manna  modgast ealra,<br/>
				no hwæþre he ofer Offan  eorlscype fremede,<br/>
				ac Offa geslog  ærest monna,<br/>
				cnihtwesende,  cynerica mæst.<br/>
				Nænig efeneald him  eorlscipe maran<br/>
				on orette.  Ane sweorde<br/>
				merce gemærde  wið Myrgingum<br/>
				bi Fifeldore;  heoldon forð siþþan<br/>
				Engle ond Swæfe,  swa hit Offa geslog.<br/>
				Hroþwulf ond Hroðgar  heoldon lengest<br/>
				sibbe ætsomne  suhtorfædran,<br/>
				siþþan hy forwræcon  wicinga cynn<br/>
				ond Ingeldes  ord forbigdan,<br/>
				forheowan æt Heorote  Heaðobeardna þrym.<br/>
				Swa ic geondferde fela  fremdra londa<br/>
				geond ginne grund.  Godes ond yfles<br/>
				þær ic cunnade  cnosle bidæled,<br/>
				freomægum feor  folgade wide.<br/>
				Forþon ic mæg singan  ond secgan spell,<br/>
				mænan fore mengo  in meoduhealle<br/>
				hu me cynegode  cystum dohten.<br/>
				Ic wæs mid Hunum  ond mid Hreðgotum,<br/>
				mid Sweom ond mid Geatum  ond mid Suþdenum.<br/>
				Mid Wenlum ic wæs ond mid Wærnum  ond mid wicingum.<br/>
				Mid Gefþum ic wæs ond mid Winedum  ond mid Gefflegum.<br/>
				Mid Englum ic wæs ond mid Swæfum  ond mid ænenum.<br/>
				Mid Seaxum ic wæs ond Sycgum  ond mid Sweordwerum.<br/>
				Mid Hronum ic wæs ond mid Deanum  ond mid Heaþoreamum.<br/>
				Mid þyringum ic wæs  ond mid þrowendum,<br/>
				ond mid Burgendum,  þær ic beag geþah;<br/>
				me þær Guðhere forgeaf  glædlicne maþþum<br/>
				songes to leane.  Næs þæt sæne cyning!<br/>
				Mid Froncum ic wæs ond mid Frysum  ond mid Frumtingum.<br/>
				Mid Rugum ic wæs ond mid Glommum  ond mid Rumwalum.<br/>
				Swylce ic wæs on Eatule  mid ælfwine,<br/>
				se hæfde moncynnes,  mine gefræge,<br/>
				leohteste hond  lofes to wyrcenne,<br/>
				heortan unhneaweste  hringa gedales,<br/>
				beorhtra beaga,  bearn Eadwines.<br/>
				Mid Sercingum ic wæs  ond mid Seringum;<br/>
				mid Creacum ic wæs ond mid Finnum  ond mid Casere,<br/>
				se þe winburga  geweald ahte,<br/>
				wiolena ond wilna,  ond Wala rices.<br/>
				Mid Scottum ic wæs ond mid Peohtum  ond mid Scridefinnum;<br/>
				mid Lidwicingum ic wæs ond mid Leonum  ond mid Longbeardum,<br/>
				mid hæðnum ond mid hæleþum  ond mid Hundingum.<br/>
				Mid Israhelum ic wæs  ond mid Exsyringum,<br/>
				mid Ebreum ond mid Indeum  ond mid Egyptum.<br/>
				Mid Moidum ic wæs ond mid Persum  ond mid Myrgingum,<br/>
				ond Mofdingum  ond ongend Myrgingum,<br/>
				ond mid Amothingum.  Mid Eastþyringum ic wæs<br/>
				ond mid Eolum ond mid Istum  ond Idumingum.<br/>
				Ond ic wæs mid Eormanrice  ealle þrage,<br/>
				þær me Gotena cyning  gode dohte;<br/>
				se me beag forgeaf,  burgwarena fruma,<br/>
				on þam siex hund wæs  smætes goldes,<br/>
				gescyred sceatta  scillingrime;<br/>
				þone ic Eadgilse  on æht sealde,<br/>
				minum hleodryhtne,  þa ic to ham bicwom,<br/>
				leofum to leane,  þæs þe he me lond forgeaf,<br/>
				mines fæder eþel,  frea Myrginga.<br/>
				Ond me þa Ealhhild  oþerne forgeaf,<br/>
				dryhtcwen duguþe,  dohtor Eadwines.<br/>
				Hyre lof lengde  geond londa fela,<br/>
				þonne ic be songe  secgan sceolde<br/>
				hwær ic under swegle  selast wisse<br/>
				goldhrodene cwen  giefe bryttian.<br/>
				ðonne wit Scilling  sciran reorde<br/>
				for uncrum sigedryhtne  song ahofan,<br/>
				hlude bi hearpan  hleoþor swinsade,<br/>
				þonne monige men,  modum wlonce,<br/>
				wordum sprecan,  þa þe wel cuþan,<br/>
				þæt hi næfre song  sellan ne hyrdon.<br/>
				ðonan ic ealne geondhwearf  eþel Gotena,<br/>
				sohte ic a gesiþa  þa selestan;<br/>
				þæt wæs innweorud  Earmanrices.<br/>
				Heðcan sohte ic ond Beadecan  ond Herelingas,<br/>
				Emercan sohte ic ond Fridlan  ond Eastgotan,<br/>
				frodne ond godne  fæder Unwenes.<br/>
				Seccan sohte ic ond Beccan,  Seafolan ond þeodric,<br/>
				Heaþoric ond Sifecan,  Hliþe ond Incgenþeow.<br/>
				Eadwine sohte ic ond Elsan,  ægelmund ond Hungar,<br/>
				ond þa wloncan gedryht  Wiþmyrginga.<br/>
				Wulfhere sohte ic ond Wyrmhere;  ful oft þær wig ne alæg,<br/>
				þonne Hræda here  heardum sweordum<br/>
				ymb Wistlawudu  wergan sceoldon<br/>
				ealdne eþelstol  ætlan leodum.<br/>
				Rædhere sohte ic ond Rondhere,  Rumstan ond Gislhere,<br/>
				Wiþergield ond Freoþeric,  Wudgan ond Haman;<br/>
				ne wæran þæt gesiþa  þa sæmestan,<br/>
				þeah þe ic hy anihst  nemnan sceolde.<br/>
				Ful oft of þam heape  hwinende fleag<br/>
				giellende gar  on grome þeode;<br/>
				wræccan þær weoldan  wundnan golde<br/>
				werum ond wifum,  Wudga ond Hama.<br/>
				Swa ic þæt symle onfond  on þære feringe,<br/>
				þæt se biþ leofast  londbuendum<br/>
				se þe him god syleð  gumena rice<br/>
				to gehealdenne,  þenden he her leofað."<br/>
				Swa scriþende  gesceapum hweorfað<br/>
				gleomen gumena  geond grunda fela,<br/>
				þearfe secgað,  þoncword sprecaþ,<br/>
				simle suð oþþe norð  sumne gemetað<br/>
				gydda gleawne,  geofum unhneawne,<br/>
				se þe fore duguþe wile  dom aræran,<br/>
				eorlscipe æfnan,  oþþæt eal scæceð,<br/>
				leoht ond lif somod;  lof se gewyrceð,<br/>
				hafað under heofonum  heahfæstne dom. <br/>
			</p>
        </div>

        <div class="column">
            <h2>Widsith</h2>
			<h3>Modern English</h3>
            <p>
				Widsið spoke, unlocked his wordhoard,<br/>
				he who most of all people over the earth<br/>
				traveled among tribes; often in great halls he received<br/>
				handsome gifts. He came from the people<br/>
				of the Myrgings. He with Ealhhilde, <br/>
				the fair peace-weaver, first traveled<br/>
				seeking the home of the king of the Ostrogoths,<br/>
				Ermanric, east of the Angle's land,<br/>
				hostile oathbreaker. He began then to speak a great many words:<br/>
				"I have learned by asking many men who rule tribes!<br/>
				Men shall each live in good custom,<br/>
				a leader after others, governing their homeland,<br/>
				whoever desires his throne to prosper.<br/>
				There was Hwala, for a while the best,<br/>
				and Alexander (the Great) most powerful<br/>
				of all mankind, and he most throve<br/>
				Of those whom I have heard of over the earth.<br/>
				Atilla ruled the Huns, Ermanric the Goths,<br/>
				Becca the Banings, Gifica the Burgundians.<br/>
				Caesar ruled the Greeks and Caelic the Finns,<br/>
				Hagena the Rugians, and Heoden the Glomman.<br/>
				Witta ruled the Swaefe, Wada Haelsings,<br/>
				Meaca Myrgings, Mearchealf the Hundings (same as the Langobards).<br/>
				Theodric ruled the Franks, Thyle the Rondings,<br/>
				Breoca the Brondings, Billing the Werns.<br/>
				Oswin ruled the Eows and Fin the Jutes,<br/>
				Fin Folkwalding the Frisian tribes.<br/>
				Sighere ruled the Sea-Danes the longest,<br/>
				Hnaef the Hocings, Helm the Wulfings,<br/>
				Wald the Woings, Wod the Thuringians,<br/>
				Saeferth the Sycgans, Ongendtheow the Swedes,<br/>
				Sceafthere the Ymbran, Sheaf the Langobards,<br/>
				Hunn the Haetwere, and Holen the Wrosnan.<br/>
				Hringwald was called the Herefaren's king.<br/>
				Offa ruled the Angel, Alewih the Danes:<br/>
				He was of those men the noblest,<br/>
				however he did not achieve more valorous deeds than Offa,<br/>
				but Offa won first of men, <br/>
				while a youth, the greatest kingdom.<br/>
				Not any of his contemporaries were greater in valorous deeds<br/>
				at fighting. With his one sword <br/>
				he defined the boundary against the Myrgings<br/>
				by Fifeldore (the Eider estuary), held afterwards<br/>
				by the Angels and the Suebi as he'd won it.<br/>
				Hrothwulf and Hrothgar held longest <br/>
				kinship together, uncle and sister's son,<br/>
				after they drove off the Viking trible<br/>
				and humbled Ingeld's vanguard,<br/>
				and at Heorot cut to pieces the force of the Heathobards.<br/>
				As I traversed many foreign lands<br/>
				throughout a wide region, good and evil<br/>
				I experienced there, deprived of my people,<br/>
				far from generous kinsmen, and served far and wide. <br/>
				Therefore I will sing and speak a tale, <br/>
				Making known before the company in the mead-hall<br/>
				how the well-born would be generous with choice gifts to me.<br/>
				I was with the Huns and with the Ostrogoths,<br/>
				with the Swedes and with the Geats and with the South-Danes.<br/>
				With the Wenlas I was, and with the Varn, and with the Vikings.<br/>
				With the Gibids I was and with the Winedas and with the Gefflegans.<br/>
				With the Angles I was and with the Swaefe and with the Aenenas.<br/>
				With the Saxons I was and the Sycgans and with the Suardones.<br/>
				With the Hronan I was and the Deans and with the Heathoramas.<br/>
				With the Thuringians I was and with the Throwend <br/>
				and with the Burgundians; There I received a necklace;<br/>
				there Guthhere gave a goodly treasure <br/>
				to reward songs; that king was not stingy!<br/>
				With the Franks I was and with the Frisians and with the Framtings.<br/>
				With the Rugians I was and with the Glomman and with the Rome-foreigners.<br/>
				Likewise I was in Italy with Aelfwine<br/>
				who had of all mankind whom I have learned <br/>
				the quickest hand to earning praise, <br/>
				a generous heart distributing rings<br/>
				bright treasures, that son of Edwin!<br/>
				With the Sercings I was and with the Serae.<br/>
				With the Greeks I was and with the Finns and with Caesar,<br/>
				he who ruled over many towns of revelry, <br/>
				possessed riches and treasures and the realm of the Romans.<br/>
				With the Irish I was and with the Picts and with the Lapps.<br/>
				With the Lidwiccas I was and with the Leonas and with the Langobards,<br/>
				With heathens and with heroes and with the Hundings (could heathens and heroes be puns?).<br/>
				with the Israelites I was and with the Assyrians, <br/>
				with the Hebrews and with the Indus and with the Egyptians.<br/>
				WIth the Moids I was and with the Perse, and with the Myrgings<br/>
				and the Mofdings and the Ongendmyrgings<br/>
				and with the Amothings. With the east Thuringians I was<br/>
				and with the Ilwan and with the Austrogoths and Idumings. <br/>
				And I was with Ermanric all the time,<br/>
				There the king of the Goths was good and generous to me,<br/>
				first among the townspeople, gave me a ring<br/>
				in which of refined gold, the count of <br/>
				six hundred shillings were reckoned,<br/>
				Which I gave into the possession of Eadgils,<br/>
				my lord protector, when I came home,<br/>
				to my beloved lord because it was he who gave me land,<br/>
				the king of the Myrgings, my father's inheritance.<br/>
				And then to me Ealhhild gave a second ring, <br/>
				the queen of the army fighting men, the daughter of Edwin. <br/>
				Her praise stretched throughout many lands<br/>
				when I in song must say<br/>
				where under the sky I best knew<br/>
				the gold-adorned queen distributing gifts.<br/>
				Then with Scilling our clear voices<br/>
				we raised before our victory lord<br/>
				loudly with harp, singing loud to the harp<br/>
				then many men of proud spirits<br/>
				who had good knowledge spoke words<br/>
				that they had never heard a better song.<br/>
				Thence I traversed all the land of the Ostrogoths, <br/>
				I sought the best battle comrades<br/>
				that was ever the household of Ermanric.<br/>
				Hache I sought and Beadecan and the Herelingas<br/>
				Emerca I sought and Fridla and the East-goths,<br/>
				wise and good, father of Unwen<br/>
				Seccan I sought and Beccan, Seafola and Theodric<br/>
				Heathoric and Sifecta, Lotherus and Incgentheow.<br/>
				Edwin I sought and Elsa, Agelmund and Hungar,<br/>
				and the proud company of the Withmyrgings.<br/>
				Wulfhere I sought and Wyrmhere, very often warfare was not at rest<br/>
				when the Hraede army with hard swords<br/>
				around the Wistle wood must defend<br/>
				the ancestral lands of Attila's people.<br/>
				Raedhere I sought and Rondhere, Rumstan and Gislaharius,<br/>
				Withergield and Freotheric, Wudga and Hama<br/>
				there were not the worst comrades in arms<br/>
				Though I mention them at the last.<br/>
				Very often from that company flew the whining<br/>
				and shrieking spear against a hostile people.<br/>
				Wanderers there ruled with wound gold<br/>
				over men and women, Wudga and Hama.<br/>
				Thus I have always found it in journeying<br/>
				that they be dearest to their subjects<br/>
				whom God has given the right to rule men<br/>
				for holding while he lives here.<br/>
				Thus are fated to wandering and roving<br/>
				are the minstrel men throughout many regions,<br/>
				saying at need, speaking thank-words,<br/>
				always meeting someone south or north<br/>
				appreciative of poems with generous gifts for those<br/>
				who before military men will will heighten their reputation<br/>
				to do valorous deeds until everything passes,<br/>
				light and life together. He who works for praise <br/>
				has under the heavens lasting glory.<br/>
			</p>
        </div>
    </div>
</body>
</html>
