{% extends "base.html" %}
{% block title %}{{ page_title }}{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="../../static/linebyline.css">
{% endblock %}
{% block content %}
<link rel="stylesheet" href="../../static/linebyline.css">
</head>
	<h1>Widsið</h1>
<h2>Line 22</h2>
<table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>Witta</td>
      <td>weold</td>
      <td>Swæfum,</td>
      <td>Wada</td>
      <td>Hælsingum,</td>
    </tr>
    <tr class="lemma-row">
      <td>Witta</td>
      <td>wealdan</td>
      <td>Swæfe</td>
      <td>Wada</td>
      <td>Hælsingas</td>
    </tr>
    <tr class="pos-row">
      <td>nsn</td>
      <td>psv</td>
      <td>dpn</td>
      <td>nsn</td>
      <td>ipn</td>
    </tr>
    <tr class="gloss-row">
      <td>Witta</td>
      <td>ruled</td>
      <td>Swæfe</td>
      <td>Wada</td>
      <td>Hælsings</td>
    </tr>
  </tbody>
</table>
	<div class="button-container">
		<a href="https://lorehord.com/views/line/line-21.html">Previous</a>
		<a href="https://lorehord.com/views/line/line-23.html">Next</a>
	</div>
	<h2 class="translation">Translation</h2><br>
	<p class="translation">Witta ruled the Swaefe, Wada Haelsings,</p>

	<div class='namedentities' style='text-align: justify;'>
		<h2 class='translation'>Named Entities</h2>
	<ul>
		<li><span class="named-entity">Witta</span>: King of the Swæfe, and according to Bede, grandfather to Hengest and Horsa.</li>
	</ul>	<ul>
		<li><span class="named-entity">Swæfe</span>: The Eider-Suebi, a branch of the Suebi that settled in western Sleswick. Malone mentions that with their close association with the Angles as well as Bede's mention of their ruler Witta being the grandfather of Hengest, it is not unreasonable ot infer that they took part in the Anglo-Saxon conquest of Britannia (201).</li>
	</ul>	<ul>
		<li><span class="named-entity">Wada</span>: King of the Hælsings, in this poem not the father of mythical Weland or grandfather of Wudga. (Malone 206-207)</li>
	</ul>	<ul>
		<li><span class="named-entity">Hælsingas</span>: An unknown tribe who etymology may be connected to the Chalusos river mapped by Ptolemy. Malone goes on to associate them with the Hæleþan of line 81 (Malone 158).</li>
	</ul>
	</div>
</table>
{% endblock %}