{% extends "base.html" %}
{% block title %}{{ page_title }}{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="../../static/linebyline.css">
{% endblock %}
{% block content %}
<link rel="stylesheet" href="../../static/linebyline.css">
</head>
<body>
<main>
	<h1>Widsið</h1>
<h2>Line 53</h2>
<table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>frēomǣgum</td>
      <td>feor</td>
      <td>folgade</td>
      <td>wīde.</td>
    </tr>
    <tr class="lemma-row">
      <td>frēomǣg</td>
      <td>feor</td>
      <td>folgian</td>
      <td>wīde</td>
    </tr>
    <tr class="pos-row">
      <td>dpn</td>
      <td>adj</td>
      <td>pret.sv</td>
      <td>adv</td>
    </tr>
    <tr class="gloss-row">
      <td>generous kinsmen</td>
      <td>far</td>
      <td>served</td>
      <td>widely</td>
    </tr>
  </tbody>
</table><a href="https://lorehord.com/views/line/line-52.html">Previous</a><a href="https://lorehord.com/views/line/line-54.html">Next</a>
	</div>
	<h2 class="translation">Translation</h2><br>
	<p class="translation">far from generous kinsmen, and served far and wide. </p>

	<h2 class='translation'>Named Entities</h2>
</table>
{% endblock %}