{% extends "base.html" %}
{% block title %}{{ page_title }}{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="linebyline.css">
{% endblock %}
{% block content %}
<link rel="stylesheet" href="linebyline.css">
</head>
	<h1>Widsið</h1>
<h2>Line 93</h2>
<table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>þone</td>
      <td>ic</td>
      <td>Eadgilse</td>
      <td>on</td>
      <td>ǣht</td>
      <td>sealde,</td>
    </tr>
    <tr class="lemma-row">
      <td>sē</td>
      <td>ic</td>
      <td>Eadgils</td>
      <td>on</td>
      <td>ǣht</td>
      <td>syllan</td>
    </tr>
    <tr class="pos-row">
      <td>aspn</td>
      <td>pn</td>
      <td>dsn</td>
      <td>prep</td>
      <td>asn</td>
      <td>pret.sv</td>
    </tr>
    <tr class="gloss-row">
      <td>that</td>
      <td>I</td>
      <td>Eadgils</td>
      <td>in</td>
      <td>possession</td>
      <td>gave</td>
    </tr>
  </tbody>
</table>
	<div class="button-container">
		<a href="https://lorehord.com/views/line/line-92.html">Previous</a>
		<a href="https://lorehord.com/views/line/line-94.html">Next</a>
	</div>
	<h2 class="translation">Translation</h2><br>
	<p class="translation">Which I gave into the possession of Eadgils,</p>

	<div class='namedentities' style='text-align: justify;'>
		<h2 class='translation'>Named Entities</h2>
	<ul>
		<li><span class="named-entity">Eadgils</span>: King of the Myrgings, otherwise unknown. Malone pgs 137-139.</li>
	</ul>
	</div>
</table>
{% endblock %}