{% extends "base.html" %}
{% block title %}{{ page_title }}{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="../../static/linebyline.css">
{% endblock %}
{% block content %}
<link rel="stylesheet" href="../../static/linebyline.css">
</head>
<body>
<main>
	<h1>Widsið</h1>
<h2>Line 72</h2>
<table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>lēohteste</td>
      <td>hond</td>
      <td>lofes</td>
      <td>to</td>
      <td>wyrcenne,</td>
    </tr>
    <tr class="lemma-row">
      <td>lēoht</td>
      <td>hond</td>
      <td>lof</td>
      <td>to</td>
      <td>wyrcan</td>
    </tr>
    <tr class="pos-row">
      <td>adj</td>
      <td>asn</td>
      <td>gsn</td>
      <td>prep</td>
      <td>dsn</td>
    </tr>
    <tr class="gloss-row">
      <td>lightest</td>
      <td>hand</td>
      <td>praise</td>
      <td>to</td>
      <td>earning</td>
    </tr>
  </tbody>
</table><a href="https://lorehord.com/views/line/line-71.html">Previous</a><a href="https://lorehord.com/views/line/line-73.html">Next</a>
	</div>
	<h2 class="translation">Translation</h2><br>
	<p class="translation">the quickest hand to earning praise, </p>

	<h2 class='translation'>Named Entities</h2>
</table>
{% endblock %}