{% extends "base.html" %}
{% block title %}{{ page_title }}{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="../../static/linebyline.css">
{% endblock %}
{% block content %}
<link rel="stylesheet" href="../../static/linebyline.css">
</head>
<body>
<main>
	<h1>Widsið</h1>
<h2>Line 35</h2>
<table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>Offa</td>
      <td>weold</td>
      <td>Ongle,</td>
      <td>Alewih</td>
      <td>Denum;</td>
    </tr>
    <tr class="lemma-row">
      <td>Offa</td>
      <td>wealdan</td>
      <td>Ongel</td>
      <td>Alewih</td>
      <td>Dene</td>
    </tr>
    <tr class="pos-row">
      <td>nsn</td>
      <td>psv</td>
      <td>dpn</td>
      <td>nsn</td>
      <td>dpn</td>
    </tr>
    <tr class="gloss-row">
      <td>Offa</td>
      <td>ruled</td>
      <td>the Angles</td>
      <td>Alewih</td>
      <td>the Danes</td>
    </tr>
  </tbody>
</table><a href="https://lorehord.com/views/line/line-34.html">Previous</a><a href="https://lorehord.com/views/line/line-36.html">Next</a>
	</div>
	<h2 class="translation">Translation</h2><br>
	<p class="translation">Offa ruled the Angles, Alewih the Danes:</p>

	<h2 class='translation'>Named Entities</h2>
	<ul>
		<li><span class="named-entity">Offa</span>: King of Ongel also in Beowulf, and as Uffa in Saxo Grammaticus and Sweyn Aageson. Latter half of the 4th century and king of the Angles.</li>
	</ul>
	<ul>
		<li><span class="named-entity">Alewih</span>: unknown Danish king</li>
	</ul>
	<ul>
		<li><span class="named-entity">Dene</span>: These are the Danes, a Germanic tribe first mentioned by Latin and Greek writers. <a href='https://en.wikipedia.org/wiki/Danes_(tribe)'>Wikipedia</a></li>
	</ul>
</table>
{% endblock %}