{% extends "base.html" %}
{% block title %}{{ page_title }}{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="../linebyline.css?{{ HASHES['../linebyline.css'] }}">
{% endblock %}
{% block content %}
<link rel="stylesheet" href="../linebyline.css?{{ HASHES['../linebyline.css'] }}">
</head>
	<h1>Widsið</h1>
<h2>Line 51</h2>
<table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>geond</td>
      <td>ginne</td>
      <td>grund.</td>
      <td>Gōdes</td>
      <td>ond</td>
      <td>yfles</td>
    </tr>
    <tr class="lemma-row">
      <td>geond</td>
      <td>ginn</td>
      <td>grund</td>
      <td>gōd</td>
      <td>ond</td>
      <td>yfel</td>
    </tr>
    <tr class="pos-row">
      <td>prep</td>
      <td>adj</td>
      <td>asn</td>
      <td>nsn</td>
      <td>conj</td>
      <td>gsn</td>
    </tr>
    <tr class="gloss-row">
      <td>throughout</td>
      <td>wide</td>
      <td>region</td>
      <td>good things</td>
      <td>and</td>
      <td>evil things</td>
    </tr>
  </tbody>
</table>
	<div class="button-container">
		<a href="https://lorehord.com/views/line/line-50.html">Previous</a>
		<a href="https://lorehord.com/views/line/line-52.html">Next</a>
	</div>
	<h2 class="translation">Translation</h2><br>
	<p class="translation">throughout a wide region, good and evil</p>

	<div class='namedentities' style='text-align: justify;'>
		<h2 class='translation'>Named Entities</h2>

	</div>
</table>
{% endblock %}