{% extends "base.html" %}
{% block title %}{{ page_title }}{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="linebyline.css">
{% endblock %}
{% block content %}
<link rel="stylesheet" href="linebyline.css">
</head>
	<h1>Widsið</h1>
<h2>Line 139</h2>
<table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>gydda</td>
      <td>glēawne,</td>
      <td>geofum</td>
      <td>unhnēawne,</td>
    </tr>
    <tr class="lemma-row">
      <td>gydd</td>
      <td>glēaw</td>
      <td>giefu</td>
      <td>unhnēaw</td>
    </tr>
    <tr class="pos-row">
      <td>gpn</td>
      <td>adj</td>
      <td>ipn</td>
      <td>adj</td>
    </tr>
    <tr class="gloss-row">
      <td>poem</td>
      <td>appreciative</td>
      <td>gifts</td>
      <td>generous</td>
    </tr>
  </tbody>
</table>
	<div class="button-container">
		<a href="https://lorehord.com/views/line/line-138.html">Previous</a>
		<a href="https://lorehord.com/views/line/line-140.html">Next</a>
	</div>
	<h2 class="translation">Translation</h2><br>
	<p class="translation">appreciative of poems with generous gifts for those</p>

	<div class='namedentities' style='text-align: justify;'>
		<h2 class='translation'>Named Entities</h2>

	</div>
</table>
{% endblock %}