{% extends "base.html" %}
{% block title %}{{ page_title }}{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="../../static/linebyline.css">
{% endblock %}
{% block content %}
<link rel="stylesheet" href="../../static/linebyline.css">
</head>
<body>
<main>
	<h1>Widsið</h1>
<h2>Line 107</h2>
<table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>wordum</td>
      <td>sprēcan,</td>
      <td>þa</td>
      <td>þe</td>
      <td>wēl</td>
      <td>cuþan,</td>
    </tr>
    <tr class="lemma-row">
      <td>word</td>
      <td>sprecan</td>
      <td>sē</td>
      <td>þe</td>
      <td>wēl</td>
      <td>cunnan</td>
    </tr>
    <tr class="pos-row">
      <td>ipn</td>
      <td>pret.sv</td>
      <td>nppn</td>
      <td>in</td>
      <td>adv</td>
      <td>pret.pv</td>
    </tr>
    <tr class="gloss-row">
      <td>words</td>
      <td>spoke</td>
      <td>they</td>
      <td>who</td>
      <td>well</td>
      <td>knew</td>
    </tr>
  </tbody>
</table><a href="https://lorehord.com/views/line/line-106.html">Previous</a><a href="https://lorehord.com/views/line/line-108.html">Next</a>
	</div>
	<h2 class="translation">Translation</h2><br>
	<p class="translation">who had good knowledge spoke words</p>

	<h2 class='translation'>Named Entities</h2>
</table>
{% endblock %}