{% extends "base.html" %}
{% block title %}{{ page_title }}{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="linebyline.css">
{% endblock %}
{% block content %}
<link rel="stylesheet" href="linebyline.css">
</head>
	<h1>Widsið</h1>
<h2>Line 34</h2>
<table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>Hringweald</td>
      <td>wæs</td>
      <td>hāten</td>
      <td>Herefarena</td>
      <td>cyning.</td>
    </tr>
    <tr class="lemma-row">
      <td>Hringwald</td>
      <td>wesan</td>
      <td>hāten</td>
      <td>Herefaran</td>
      <td>cyning</td>
    </tr>
    <tr class="pos-row">
      <td>nsn</td>
      <td>psv</td>
      <td>ppv</td>
      <td>gpn</td>
      <td>gsn</td>
    </tr>
    <tr class="gloss-row">
      <td>Hringwald</td>
      <td>was</td>
      <td>called</td>
      <td>of the Herefarens</td>
      <td>king</td>
    </tr>
  </tbody>
</table>
	<div class="button-container">
		<a href="https://lorehord.com/views/line/line-33.html">Previous</a>
		<a href="https://lorehord.com/views/line/line-35.html">Next</a>
	</div>
	<h2 class="translation">Translation</h2><br>
	<p class="translation">Hringwald was called the Herefaren's king.</p>

	<div class='namedentities' style='text-align: justify;'>
		<h2 class='translation'>Named Entities</h2>
	<ul>
		<li><span class="named-entity">Hringwald</span>: means Ring-Ruler</li>
	</ul>	<ul>
		<li><span class="named-entity">Herefaran</span>: A tribe no longer known to us.</li>
	</ul>
	</div>
</table>
{% endblock %}