{% extends "base.html" %}
{% block title %}{{ page_title }}{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="../../static/linebyline.css">
{% endblock %}
{% block content %}
<link rel="stylesheet" href="../../static/linebyline.css">
</head>
<body>
<main>
	<h1>Widsið</h1>
<h2>Line 54</h2>
<table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>Forþon</td>
      <td>ic</td>
      <td>mæg</td>
      <td>singan</td>
      <td>ond</td>
      <td>secgan</td>
      <td>spell,</td>
    </tr>
    <tr class="lemma-row">
      <td>forþon</td>
      <td>ic</td>
      <td>magan</td>
      <td>singan</td>
      <td>ond</td>
      <td>secgan</td>
      <td>spell</td>
    </tr>
    <tr class="pos-row">
      <td>conj</td>
      <td>pn</td>
      <td>psv</td>
      <td>v</td>
      <td>conj</td>
      <td>v</td>
      <td>asn</td>
    </tr>
    <tr class="gloss-row">
      <td>therefore</td>
      <td>I</td>
      <td>will</td>
      <td>sing</td>
      <td>and</td>
      <td>speak</td>
      <td>tale</td>
    </tr>
  </tbody>
</table><a href="https://lorehord.com/views/line/line-53.html">Previous</a><a href="https://lorehord.com/views/line/line-55.html">Next</a>
	</div>
	<h2 class="translation">Translation</h2><br>
	<p class="translation">Therefore I will sing and speak a tale, </p>

	<h2 class='translation'>Named Entities</h2>
</table>
{% endblock %}