{% extends "base.html" %}
{% block title %}{{ page_title }}{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="../../static/linebyline.css">
{% endblock %}
{% block content %}
<link rel="stylesheet" href="../../static/linebyline.css">
</head>
	<h1>Widsið</h1>
<h2>Line 29</h2>
<table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>Hnæf</td>
      <td>Hocingum,</td>
      <td>Helm</td>
      <td>Wulfingum,</td>
    </tr>
    <tr class="lemma-row">
      <td>Hnæf</td>
      <td>Hocingas</td>
      <td>Helm</td>
      <td>Wulfingas</td>
    </tr>
    <tr class="pos-row">
      <td>nsn</td>
      <td>dpn</td>
      <td>nsn</td>
      <td>dpn</td>
    </tr>
    <tr class="gloss-row">
      <td>Hnæf</td>
      <td>the Hocings</td>
      <td>Helm</td>
      <td>the Wulfings</td>
    </tr>
  </tbody>
</table>
	<div class="button-container">
		<a href="https://lorehord.com/views/line/line-28.html">Previous</a>
		<a href="https://lorehord.com/views/line/line-30.html">Next</a>
	</div>
	<h2 class="translation">Translation</h2><br>
	<p class="translation">Hnaef the Hocings, Helm the Wulfings,</p>

	<div class='namedentities' style='text-align: justify;'>
		<h2 class='translation'>Named Entities</h2>
	<ul>
		<li><span class="named-entity">Hnæf</span>: King of the Hocingas, appears in both Beowulf and the <i>Finnsburuh Fragment</i></li>
	</ul>	<ul>
		<li><span class="named-entity">Hocingas</span>: The Hocings are clarified as Danes in <i>Beowulf</i> (1090, 1158), Here-Scyldings (1069, 1108, 1154), and Healfdenes (1069). Malone has notes on them on pgs 172-173.</li>
	</ul>	<ul>
		<li><span class="named-entity">Helm</span>: Helm, King of the Wulfings</li>
	</ul>	<ul>
		<li><span class="named-entity">Wulfingas</span>: The Ylfingar of Norse tradition and the Wylfingas of <i>Beowulf</i>. Malone identifies them with the Vulgares of Paulus. (213)</li>
	</ul>
	</div>
</table>
{% endblock %}