{% extends "base.html" %}
{% block title %}{{ page_title }}{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="../linebyline.css?{{ HASHES['../linebyline.css'] }}">
{% endblock %}
{% block content %}
<link rel="stylesheet" href="../linebyline.css?{{ HASHES['../linebyline.css'] }}">
</head>
	<h1>Widsið</h1>
<h2>Line 26</h2>
<table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>Oswine</td>
      <td>weold</td>
      <td>Eowum</td>
      <td>ond</td>
      <td>Ytum</td>
      <td>Gefwulf,</td>
    </tr>
    <tr class="lemma-row">
      <td>Oswine</td>
      <td>wealdan</td>
      <td>Eowan</td>
      <td>ond</td>
      <td>Yte</td>
      <td>Gefwulf</td>
    </tr>
    <tr class="pos-row">
      <td>nsn</td>
      <td>psv</td>
      <td>dpn</td>
      <td>conj</td>
      <td>dpn</td>
      <td>nsn</td>
    </tr>
    <tr class="gloss-row">
      <td>Oswin</td>
      <td>ruled</td>
      <td>the Eows</td>
      <td>and</td>
      <td>the Jutes</td>
      <td>Gefwulf</td>
    </tr>
  </tbody>
</table>
	<div class="button-container">
		<a href="https://lorehord.com/views/line/line-25.html">Previous</a>
		<a href="https://lorehord.com/views/line/line-27.html">Next</a>
	</div>
	<h2 class="translation">Translation</h2><br>
	<p class="translation">Oswin ruled the Eows and Gefwulf the Jutes,</p>

	<div class='namedentities' style='text-align: justify;'>
		<h2 class='translation'>Named Entities</h2>
	<ul>
		<li><span class="named-entity">Oswine</span>: Otherwise unknown</li>
	</ul>	<ul>
		<li><span class="named-entity">Eowan</span>: A tribe Conybeare associates with the Baltic island of Öland (tgn, 7009847, http://vocab.getty.edu/page/tgn/7009847).</li>
	</ul>	<ul>
		<li><span class="named-entity">Yte</span>: The Euts or Jutes, one of the three tribes Bede names as taking part in the English conquest of Britain (Malone 215).</li>
	</ul>	<ul>
		<li><span class="named-entity">Gefwulf</span>: King of the Jutes (Ytum), but otherwise unknown</li>
	</ul>
	</div>
</table>
{% endblock %}