{% extends "base.html" %}
{% block title %}{{ page_title }}{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="linebyline.css">
{% endblock %}
{% block content %}
<link rel="stylesheet" href="linebyline.css">
</head>
	<h1>Widsið</h1>
<h2>Line 90</h2>
<table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>se</td>
      <td>me</td>
      <td>bēag</td>
      <td>forgeaf</td>
      <td>burgwarena</td>
      <td>fruma,</td>
    </tr>
    <tr class="lemma-row">
      <td>se</td>
      <td>me</td>
      <td>bēag</td>
      <td>forgiefan</td>
      <td>burgwaran</td>
      <td>fruma</td>
    </tr>
    <tr class="pos-row">
      <td>dem.pn</td>
      <td>dsppn</td>
      <td>asn</td>
      <td>pret.sv</td>
      <td>gpn</td>
      <td>n</td>
    </tr>
    <tr class="gloss-row">
      <td>that</td>
      <td>me</td>
      <td>treasure</td>
      <td>gave</td>
      <td>townspeople</td>
      <td>first among</td>
    </tr>
  </tbody>
</table>
	<div class="button-container">
		<a href="https://lorehord.com/views/line/line-89.html">Previous</a>
		<a href="https://lorehord.com/views/line/line-91.html">Next</a>
	</div>
	<h2 class="translation">Translation</h2><br>
	<p class="translation">first among the townspeople, gave me a ring</p>

	<div class='namedentities' style='text-align: justify;'>
		<h2 class='translation'>Named Entities</h2>

	</div>
</table>
{% endblock %}