{% extends "base.html" %}
{% block title %}{{ page_title }}{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="../../static/linebyline.css">
{% endblock %}
{% block content %}
<link rel="stylesheet" href="../../static/linebyline.css">
</head>
	<h1>Widsið</h1>
<h2>Line 66</h2>
<table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>me</td>
      <td>þǣr</td>
      <td>Guðhere</td>
      <td>forgeaf</td>
      <td>glædlicne</td>
      <td>māþþum</td>
    </tr>
    <tr class="lemma-row">
      <td>me</td>
      <td>þǣr</td>
      <td>Guðhere</td>
      <td>forgiefan</td>
      <td>glædlic</td>
      <td>māþþum</td>
    </tr>
    <tr class="pos-row">
      <td>dsppn</td>
      <td>adv</td>
      <td>nsn</td>
      <td>pret.sv</td>
      <td>adj</td>
      <td>asn</td>
    </tr>
    <tr class="gloss-row">
      <td>me</td>
      <td>there</td>
      <td>Guðhere</td>
      <td>gave</td>
      <td>goodly</td>
      <td>treasure</td>
    </tr>
  </tbody>
</table>
	<div class="button-container">
		<a href="https://lorehord.com/views/line/line-65.html">Previous</a>
		<a href="https://lorehord.com/views/line/line-67.html">Next</a>
	</div>
	<h2 class="translation">Translation</h2><br>
	<p class="translation">there Guthhere gave a goodly treasure </p>

	<div class='namedentities' style='text-align: justify;'>
		<h2 class='translation'>Named Entities</h2>
	<ul>
		<li><span class="named-entity">Guðhere</span>: King of the Burgundians, Gunter/Gunther of OHG, who was defeated by the Huns in the Nibelungenlied, Þiðrikssaga, and the Volsungasaga.</li>
	</ul>
	</div>
</table>
{% endblock %}