{% extends "base.html" %}
{% block title %}{{ page_title }}{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="../../static/linebyline.css">
{% endblock %}
{% block content %}
<link rel="stylesheet" href="../../static/linebyline.css">
</head>
	<h1>Widsið</h1>
<h2>Line 20</h2>
<table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>Casere</td>
      <td>weold</td>
      <td>Creacum</td>
      <td>ond</td>
      <td>Cælic</td>
      <td>Finnum,</td>
    </tr>
    <tr class="lemma-row">
      <td>Casere</td>
      <td>wealdan</td>
      <td>Creacas</td>
      <td>ond</td>
      <td>Cælic</td>
      <td>Finnas</td>
    </tr>
    <tr class="pos-row">
      <td>nsn</td>
      <td>psv</td>
      <td>dpn</td>
      <td>conj</td>
      <td>nsn</td>
      <td>dpn</td>
    </tr>
    <tr class="gloss-row">
      <td>Caesar</td>
      <td>ruled</td>
      <td>the Greeks</td>
      <td>and</td>
      <td>Caelic</td>
      <td>the Finns</td>
    </tr>
  </tbody>
</table>
	<div class="button-container">
		<a href="https://lorehord.com/views/line/line-19.html">Previous</a>
		<a href="https://lorehord.com/views/line/line-21.html">Next</a>
	</div>
	<h2 class="translation">Translation</h2><br>
	<p class="translation">Caesar ruled the Greeks and Caelic the Finns,</p>

	<div class='namedentities' style='text-align: justify;'>
		<h2 class='translation'>Named Entities</h2>
	<ul>
		<li><span class="named-entity">Casere</span>: The Byzantine Roman emperor in Constantinople</li>
	</ul>	<ul>
		<li><span class="named-entity">Creacas</span>: The Roman emperor now ruled the Greeks predominantly.</li>
	</ul>	<ul>
		<li><span class="named-entity">Cælic</span>: There is considerable debate about this name, with Grienberger 1922 arguing that it is a nickname meaning 'cup', but it is more commonly considered to be related to the term 'Kalevala'.</li>
	</ul>	<ul>
		<li><span class="named-entity">Finnas</span>: There is some fascinating argument about these peoples. While at first it seems obvious that these are the Finns of Finland (and this is the widely accept view), arguments have been made that these are the Lapps, or even the Irish. Malone points out that the Finns are mentioned again in line 76 and distinguished from the Scridefinns a few lines later who are definitely the Lapps, as well as from the 'Scottum' (who are the Irish) and that means these Finns are the Finns proper.</li>
	</ul>
	</div>
</table>
{% endblock %}