{% extends "base.html" %}
{% block title %}{{ page_title }}{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="../linebyline.css?{{ HASHES['../linebyline.css'] }}">
{% endblock %}
{% block content %}
<link rel="stylesheet" href="../linebyline.css?{{ HASHES['../linebyline.css'] }}">
</head>
	<h1>Widsið</h1>
<h2>Line 43</h2>
<table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>bī</td>
      <td>Fifeldore;</td>
      <td>heoldon</td>
      <td>forð</td>
      <td>sīþþan</td>
    </tr>
    <tr class="lemma-row">
      <td>bī</td>
      <td>Fīfeldore</td>
      <td>healdan</td>
      <td>forð</td>
      <td>sīþþan</td>
    </tr>
    <tr class="pos-row">
      <td>prep</td>
      <td>dsn</td>
      <td>pret.pv</td>
      <td>adv</td>
      <td>adv</td>
    </tr>
    <tr class="gloss-row">
      <td>by</td>
      <td>the Eider estuary</td>
      <td>held</td>
      <td>thenceforth</td>
      <td>afterwards</td>
    </tr>
  </tbody>
</table>
	<div class="button-container">
		<a href="https://lorehord.com/views/line/line-42.html">Previous</a>
		<a href="https://lorehord.com/views/line/line-44.html">Next</a>
	</div>
	<h2 class="translation">Translation</h2><br>
	<p class="translation">by Fifeldore (the Eider estuary), held afterwards</p>

	<div class='namedentities' style='text-align: justify;'>
		<h2 class='translation'>Named Entities</h2>
	<ul>
		<li><span class="named-entity">Fīfeldore</span>: the Eider estuary, (tgn, 7074620) http://vocab.getty.edu/page/tgn/7074620</li>
	</ul>
	</div>
</table>
{% endblock %}