{% extends "base.html" %}
{% block title %}{{ page_title }}{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="linebyline.css">
{% endblock %}
{% block content %}
<link rel="stylesheet" href="linebyline.css">
</head>
	<h1>Widsið</h1>
<h2>Line 130</h2>
<table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>werum</td>
      <td>ond</td>
      <td>wīfum,</td>
      <td>Wudga</td>
      <td>ond</td>
      <td>Hama.</td>
    </tr>
    <tr class="lemma-row">
      <td>wer</td>
      <td>ond</td>
      <td>wīf</td>
      <td>Wudga</td>
      <td>ond</td>
      <td>Hama</td>
    </tr>
    <tr class="pos-row">
      <td>ipn</td>
      <td>conj</td>
      <td>ipn</td>
      <td>nsn</td>
      <td>conj</td>
      <td>nsn</td>
    </tr>
    <tr class="gloss-row">
      <td>men</td>
      <td>and</td>
      <td>women</td>
      <td>Wudga</td>
      <td>and</td>
      <td>Hama</td>
    </tr>
  </tbody>
</table>
	<div class="button-container">
		<a href="https://lorehord.com/views/line/line-129.html">Previous</a>
		<a href="https://lorehord.com/views/line/line-131.html">Next</a>
	</div>
	<h2 class="translation">Translation</h2><br>
	<p class="translation">over men and women, Wudga and Hama.</p>

	<div class='namedentities' style='text-align: justify;'>
		<h2 class='translation'>Named Entities</h2>
	<ul>
		<li><span class="named-entity">Hama</span>: The Heime of German lore, an exile who has carved out a kingdom for himself and is paired in this poem with Wudga. Malone states that the poet clearly thought of them as joint rulers of a single kingdom, though Chambers argues they were outlaws a la Robin Hood (pg 159-160). This is the Hama of Beowulf who carried off the bright necklace of the Brosings.</li>
	</ul>
	</div>
</table>
{% endblock %}