{% extends "base.html" %}
{% block title %}{{ page_title }}{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="../../static/linebyline.css">
{% endblock %}
{% block content %}
<link rel="stylesheet" href="../../static/linebyline.css">
</head>
<body>
<main>
	<h1>Widsið</h1>
<h2>Line 113</h2>
<table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>Emercan</td>
      <td>sōhte</td>
      <td>ic</td>
      <td>ond</td>
      <td>Fridlan</td>
      <td>ond</td>
      <td>Eastgotan,</td>
    </tr>
    <tr class="lemma-row">
      <td>Emerca</td>
      <td>sēcan</td>
      <td>ic</td>
      <td>ond</td>
      <td>Fridla</td>
      <td>ond</td>
      <td>Eastgota</td>
    </tr>
    <tr class="pos-row">
      <td>asn</td>
      <td>pret.sv</td>
      <td>pn</td>
      <td>conj</td>
      <td>asn</td>
      <td>conj</td>
      <td>asn</td>
    </tr>
    <tr class="gloss-row">
      <td>Emerca</td>
      <td>sought</td>
      <td>I</td>
      <td>and</td>
      <td>Fridla</td>
      <td>and</td>
      <td>Ostrogotha</td>
    </tr>
  </tbody>
</table><a href="https://lorehord.com/views/line/line-112.html">Previous</a><a href="https://lorehord.com/views/line/line-114.html">Next</a>
	</div>
	<h2 class="translation">Translation</h2><br>
	<p class="translation">Emerca I sought and Fridla and the East-goths,</p>

	<h2 class='translation'>Named Entities</h2>
	<ul>
		<li><span class="named-entity">Emerca</span>: Emerca is the Gothic hero Erpamara, found in Jordanes 43</li>
	</ul>
	<ul>
		<li><span class="named-entity">Fridla</span>: Gothic king Fridigernus</li>
	</ul>
	<ul>
		<li><span class="named-entity">Eastgota</span>: Early king of the Ostrogoths, contemporary of Roman Emperor Philip (244-9) (Malone 142)</li>
	</ul>
</table>
{% endblock %}