{% extends "base.html" %}
{% block title %}{{ page_title }}{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="linebyline.css">
{% endblock %}
{% block content %}
<link rel="stylesheet" href="linebyline.css">
</head>
	<h1>Widsið</h1>
<h2>Line 122</h2>
<table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>ealdne</td>
      <td>ēþelstōl</td>
      <td>Ætlan</td>
      <td>lēodum.</td>
    </tr>
    <tr class="lemma-row">
      <td>eal</td>
      <td>ēþelstōl</td>
      <td>Ætla</td>
      <td>lēod</td>
    </tr>
    <tr class="pos-row">
      <td>adj</td>
      <td>asn</td>
      <td>gsn</td>
      <td>dpn</td>
    </tr>
    <tr class="gloss-row">
      <td>old</td>
      <td>ancestral land</td>
      <td>Atilla's</td>
      <td>people</td>
    </tr>
  </tbody>
</table>
	<div class="button-container">
		<a href="https://lorehord.com/views/line/line-121.html">Previous</a>
		<a href="https://lorehord.com/views/line/line-123.html">Next</a>
	</div>
	<h2 class="translation">Translation</h2><br>
	<p class="translation">the ancestral lands of Attila's people.</p>

	<div class='namedentities' style='text-align: justify;'>
		<h2 class='translation'>Named Entities</h2>

	</div>
</table>
{% endblock %}