{% extends "base.html" %}
{% block title %}{{ page_title }}{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="../../static/linebyline.css">
{% endblock %}
{% block content %}
<link rel="stylesheet" href="../../static/linebyline.css">
</head>
	<h1>Widsið</h1>
<h2>Line 116</h2>
<table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>Heaþoric</td>
      <td>ond</td>
      <td>Sifecan,</td>
      <td>Hlīþe</td>
      <td>ond</td>
      <td>Incgenþeow.</td>
    </tr>
    <tr class="lemma-row">
      <td>Heaþoric</td>
      <td>ond</td>
      <td>Sifeca</td>
      <td>Hlīþe</td>
      <td>ond</td>
      <td>Incgenþeow</td>
    </tr>
    <tr class="pos-row">
      <td>asn</td>
      <td>conj</td>
      <td>asn</td>
      <td>asn</td>
      <td>conj</td>
      <td>asn</td>
    </tr>
    <tr class="gloss-row">
      <td>Heathoric</td>
      <td>and</td>
      <td>Sifeca</td>
      <td>Lotherus</td>
      <td>and</td>
      <td>Incgenþeow</td>
    </tr>
  </tbody>
</table>
	<div class="button-container">
		<a href="https://lorehord.com/views/line/line-115.html">Previous</a>
		<a href="https://lorehord.com/views/line/line-117.html">Next</a>
	</div>
	<h2 class="translation">Translation</h2><br>
	<p class="translation">Heathoric and Sifecta, Lotherus and Incgentheow.</p>

	<div class='namedentities' style='text-align: justify;'>
		<h2 class='translation'>Named Entities</h2>
	<ul>
		<li><span class="named-entity">Heaþoric</span>: Malone  states that this is the Heiðrekr of the <i>Harvararsaga</i>, and while the phonology does not precisely align, the three remaining names in this line are all from <i>Hervararsaga</i>. He also draws a connection between this Heaþoric and the Hæðcyn of <i>Beowulf</i>.</li>
	</ul>	<ul>
		<li><span class="named-entity">Sifeca</span>: An evil counselor of unknown origin but with lots of speculation (Malone 199).</li>
	</ul>	<ul>
		<li><span class="named-entity">Hlīþe</span>: Hlǫðr of the Hervararsaga, Lotherus of Saxo Grammaticus, a mythical Gothic or Geatish king, though in the past he was identified with King Leth of the Langobards (Grienberger 1922, 377)</li>
	</ul>	<ul>
		<li><span class="named-entity">Incgenþeow</span>: Angantyr of the Hervararsaga and the historical King Ongenþeow of Sweden, who appears in Beowulf.</li>
	</ul>
	</div>
</table>
{% endblock %}