{% extends "base.html" %}
{% block title %}{{ page_title }}{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="linebyline.css">
{% endblock %}
{% block content %}
<link rel="stylesheet" href="linebyline.css">
</head>
	<h1>Widsið</h1>
<h2>Line 143</h2>
<table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>hafað</td>
      <td>under</td>
      <td>heofonum</td>
      <td>hēahfæstne</td>
      <td>dōm.</td>
    </tr>
    <tr class="lemma-row">
      <td>habban</td>
      <td>under</td>
      <td>heofon</td>
      <td>hēahfæst</td>
      <td>dōm</td>
    </tr>
    <tr class="pos-row">
      <td>psv</td>
      <td>prep</td>
      <td>dpn</td>
      <td>adj</td>
      <td>asn</td>
    </tr>
    <tr class="gloss-row">
      <td>has</td>
      <td>under</td>
      <td>the heavens</td>
      <td>lasting</td>
      <td>glory</td>
    </tr>
  </tbody>
</table>
	<div class="button-container">
		<a href="https://lorehord.com/views/line/line-142.html">Previous</a>

		<a></a></div>
	<h2 class="translation">Translation</h2><br>
	<p class="translation">has under the heavens lasting glory.</p>

	<div class='namedentities' style='text-align: justify;'>
		<h2 class='translation'>Named Entities</h2>

	</div>
</table>
{% endblock %}