{% extends "base.html" %}
{% block title %}{{ page_title }}{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="../../static/linebyline.css">
{% endblock %}
{% block content %}
<link rel="stylesheet" href="../../static/linebyline.css">
</head>
	<h1>Widsið</h1>
<h2>Line 76</h2>
<table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>mid</td>
      <td>Creacum</td>
      <td>ic</td>
      <td>wæs</td>
      <td>ond</td>
      <td>mid</td>
      <td>Finnum</td>
      <td>ond</td>
      <td>mid</td>
      <td>Casere,</td>
    </tr>
    <tr class="lemma-row">
      <td>mid</td>
      <td>Creacas</td>
      <td>ic</td>
      <td>wesan</td>
      <td>ond</td>
      <td>mid</td>
      <td>Finnas</td>
      <td>ond</td>
      <td>mid</td>
      <td>Casere</td>
    </tr>
    <tr class="pos-row">
      <td>prep</td>
      <td>ipn</td>
      <td>pn</td>
      <td>psv</td>
      <td>conj</td>
      <td>prep</td>
      <td>ipn</td>
      <td>conj</td>
      <td>prep</td>
      <td>dsn</td>
    </tr>
    <tr class="gloss-row">
      <td>with</td>
      <td>the Greeks</td>
      <td>I</td>
      <td>was</td>
      <td>and</td>
      <td>with</td>
      <td>the Finns</td>
      <td>and</td>
      <td>with</td>
      <td>Caesar</td>
    </tr>
  </tbody>
</table>
	<div class="button-container">
		<a href="https://lorehord.com/views/line/line-75.html">Previous</a>
		<a href="https://lorehord.com/views/line/line-77.html">Next</a>
	</div>
	<h2 class="translation">Translation</h2><br>
	<p class="translation">With the Greeks I was and with the Finns and with Caesar,</p>

	<div class='namedentities' style='text-align: justify;'>
		<h2 class='translation'>Named Entities</h2>
	<ul>
		<li><span class="named-entity">Casere</span>: Malone argues on pg 135 for an Eastern Roman emperor here, possibly Justinian</li>
	</ul>
	</div>
</table>
{% endblock %}