{% extends "base.html" %}
{% block title %}{{ page_title }}{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="../linebyline.css?{{ HASHES['../linebyline.css'] }}">
{% endblock %}
{% block content %}
<link rel="stylesheet" href="../linebyline.css?{{ HASHES['../linebyline.css'] }}">
</head>
	<h1>Widsið</h1>
<h2>Line 112</h2>
<table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>Heðcan</td>
      <td>sōhte</td>
      <td>ic</td>
      <td>ond</td>
      <td>Beadecan</td>
      <td>ond</td>
      <td>Herelingas,</td>
    </tr>
    <tr class="lemma-row">
      <td>Heðca</td>
      <td>sēcan</td>
      <td>ic</td>
      <td>ond</td>
      <td>Beadeca</td>
      <td>ond</td>
      <td>Herelingas</td>
    </tr>
    <tr class="pos-row">
      <td>asn</td>
      <td>pret.sv</td>
      <td>pn</td>
      <td>conj</td>
      <td>asn</td>
      <td>conj</td>
      <td>apn</td>
    </tr>
    <tr class="gloss-row">
      <td>Hache</td>
      <td>sought</td>
      <td>I</td>
      <td>and</td>
      <td>Beadecan</td>
      <td>and</td>
      <td>Herelingas</td>
    </tr>
  </tbody>
</table>
	<div class="button-container">
		<a href="https://lorehord.com/views/line/line-111.html">Previous</a>
		<a href="https://lorehord.com/views/line/line-113.html">Next</a>
	</div>
	<h2 class="translation">Translation</h2><br>
	<p class="translation">Hache I sought and Beadecan and the Herelingas</p>

	<div class='namedentities' style='text-align: justify;'>
		<h2 class='translation'>Named Entities</h2>
	<ul>
		<li><span class="named-entity">Heðca</span>: Malone corrects this to Hehca, and associates him with 'Hache', a Germanic hero (Malone 168). Anscombe 1916 amends it to Hæþcan and identifies the character with King Hæðcyn of Beowulf.</li>
	</ul>	<ul>
		<li><span class="named-entity">Beadeca</span>: Malone speculates that this may be the Baduila (later called Totila) of history <a href='https://en.wikipedia.org/wiki/Totila'>Wikipedia</a> (Malone 130).</li>
	</ul>	<ul>
		<li><span class="named-entity">Herelingas</span>: The followers of Herela, or King Herla of medieval writer Walter Map (<a href='https://en.wikipedia.org/wiki/Walter_Map'>Wikipedia</a>), the leader of the Wild Host (or Woden in disguise), but the poet here is likely referring to the Harlun brothers (Malone 170).</li>
	</ul>
	</div>
</table>
{% endblock %}