{% extends "base.html" %}
{% block title %}{{ page_title }}{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="../linebyline.css?{{ HASHES['../linebyline.css'] }}">
{% endblock %}
{% block content %}
<link rel="stylesheet" href="../linebyline.css?{{ HASHES['../linebyline.css'] }}">
</head>
	<h1>Widsið</h1>
<h2>Line 92</h2>
<table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>gescyred</td>
      <td>sceatta</td>
      <td>scillingrīme;</td>
    </tr>
    <tr class="lemma-row">
      <td>gescyrian</td>
      <td>sceatt</td>
      <td>scillingrīm</td>
    </tr>
    <tr class="pos-row">
      <td>ppv</td>
      <td>gpn</td>
      <td>dsn</td>
    </tr>
    <tr class="gloss-row">
      <td>reckoned</td>
      <td>denarii</td>
      <td>shilling count</td>
    </tr>
  </tbody>
</table>
	<div class="button-container">
		<a href="https://lorehord.com/views/line/line-91.html">Previous</a>
		<a href="https://lorehord.com/views/line/line-93.html">Next</a>
	</div>
	<h2 class="translation">Translation</h2><br>
	<p class="translation">six hundred shillings were reckoned,</p>

	<div class='namedentities' style='text-align: justify;'>
		<h2 class='translation'>Named Entities</h2>

	</div>
</table>
{% endblock %}