{% extends "base.html" %}
{% block title %}{{ page_title }}{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="../../static/linebyline.css">
{% endblock %}
{% block content %}
<link rel="stylesheet" href="../../static/linebyline.css">
</head>
	<h1>Widsið</h1>
<h2>Line 6</h2>
<table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>fælre</td>
      <td>freoþuwebban,</td>
      <td>forman</td>
      <td>sīþe</td>
    </tr>
    <tr class="lemma-row">
      <td>fæle</td>
      <td>freoþuwebbe</td>
      <td>forma</td>
      <td>sīþ</td>
    </tr>
    <tr class="pos-row">
      <td>adj</td>
      <td>dsn</td>
      <td>adj</td>
      <td>isn</td>
    </tr>
    <tr class="gloss-row">
      <td>gracious</td>
      <td>peace-weaver</td>
      <td>first/foremost</td>
      <td>going/journey</td>
    </tr>
  </tbody>
</table>
	<div class="button-container">
		<a href="https://lorehord.com/views/line/line-5.html">Previous</a>
		<a href="https://lorehord.com/views/line/line-7.html">Next</a>
	</div>
	<h2 class="translation">Translation</h2><br>
	<p class="translation">the fair peace-weaver, on his first journey</p>

	<div class='namedentities' style='text-align: justify;'>
		<h2 class='translation'>Named Entities</h2>

	</div>
</table>
{% endblock %}