{% extends "base.html" %}
{% block title %}{{ page_title }}{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="../../static/linebyline.css">
{% endblock %}
{% block content %}
<link rel="stylesheet" href="../../static/linebyline.css">
</head>
<body>
<main>
	<h1>Widsið</h1>
<h2>Line 127</h2>
<table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>Ful</td>
      <td>oft</td>
      <td>of</td>
      <td>þām</td>
      <td>hēape</td>
      <td>hwīnende</td>
      <td>fleag</td>
    </tr>
    <tr class="lemma-row">
      <td>ful</td>
      <td>oft</td>
      <td>of</td>
      <td>sē</td>
      <td>hēap</td>
      <td>hwīnan</td>
      <td>flēogan</td>
    </tr>
    <tr class="pos-row">
      <td>adv</td>
      <td>adv</td>
      <td>prep</td>
      <td>adj</td>
      <td>dsn</td>
      <td>ppv</td>
      <td>pret.sv</td>
    </tr>
    <tr class="gloss-row">
      <td>very</td>
      <td>often</td>
      <td>from</td>
      <td>that</td>
      <td>company</td>
      <td>whining</td>
      <td>fly</td>
    </tr>
  </tbody>
</table><a href="https://lorehord.com/views/line/line-126.html">Previous</a><a href="https://lorehord.com/views/line/line-128.html">Next</a>
	</div>
	<h2 class="translation">Translation</h2><br>
	<p class="translation">Very often from that company flew the whining</p>

	<h2 class='translation'>Named Entities</h2>
</table>
{% endblock %}