{% extends "base.html" %}
{% block title %}{{ page_title }}{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="../linebyline.css?{{ HASHES['../linebyline.css'] }}">
{% endblock %}
{% block content %}
<link rel="stylesheet" href="../linebyline.css?{{ HASHES['../linebyline.css'] }}">
</head>
	<h1>Widsið</h1>
<h2>Line 104</h2>
<table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>for</td>
      <td>uncrum</td>
      <td>sigedryhtne</td>
      <td>song</td>
      <td>āhofan,</td>
    </tr>
    <tr class="lemma-row">
      <td>for</td>
      <td>uncer</td>
      <td>sigedryhten</td>
      <td>song</td>
      <td>āhebban</td>
    </tr>
    <tr class="pos-row">
      <td>prep</td>
      <td>adj</td>
      <td>dsn</td>
      <td>asn</td>
      <td>pret.pv</td>
    </tr>
    <tr class="gloss-row">
      <td>before</td>
      <td>our two</td>
      <td>victory-lord</td>
      <td>song</td>
      <td>raised</td>
    </tr>
  </tbody>
</table>
	<div class="button-container">
		<a href="https://lorehord.com/views/line/line-103.html">Previous</a>
		<a href="https://lorehord.com/views/line/line-105.html">Next</a>
	</div>
	<h2 class="translation">Translation</h2><br>
	<p class="translation">we raised before our victory lord</p>

	<div class='namedentities' style='text-align: justify;'>
		<h2 class='translation'>Named Entities</h2>

	</div>
</table>
{% endblock %}