{% extends "base.html" %}
{% block title %}{{ page_title }}{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="../linebyline.css?{{ HASHES['../linebyline.css'] }}">
{% endblock %}
{% block content %}
<link rel="stylesheet" href="../linebyline.css?{{ HASHES['../linebyline.css'] }}">
</head>
	<h1>Widsið</h1>
<h2>Line 10</h2>
<table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>Fela</td>
      <td>ic</td>
      <td>monna</td>
      <td>gefrægn</td>
      <td>mǣgþum</td>
      <td>wealdan!</td>
    </tr>
    <tr class="lemma-row">
      <td>fela</td>
      <td>ic</td>
      <td>monn</td>
      <td>gefrignan</td>
      <td>mǣgþ</td>
      <td>wealdan</td>
    </tr>
    <tr class="pos-row">
      <td>adj</td>
      <td>pn</td>
      <td>gpn</td>
      <td>pret.sv</td>
      <td>ipn</td>
      <td>pret.sv</td>
    </tr>
    <tr class="gloss-row">
      <td>many</td>
      <td>I</td>
      <td>men</td>
      <td>learned (by asking)</td>
      <td>tribe</td>
      <td>ruled</td>
    </tr>
  </tbody>
</table>
	<div class="button-container">
		<a href="https://lorehord.com/views/line/line-9.html">Previous</a>
		<a href="https://lorehord.com/views/line/line-11.html">Next</a>
	</div>
	<h2 class="translation">Translation</h2><br>
	<p class="translation">"I have learned by asking about many men who rule tribes!</p>

	<div class='namedentities' style='text-align: justify;'>
		<h2 class='translation'>Named Entities</h2>

	</div>
</table>
{% endblock %}