{% extends "base.html" %}
{% block title %}{{ page_title }}{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="linebyline.css">
{% endblock %}
{% block content %}
<link rel="stylesheet" href="linebyline.css">
</head>
	<h1>Widsið</h1>
<h2>Line 135</h2>
<table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>Swā</td>
      <td>scrīþende</td>
      <td>gesceapum</td>
      <td>hweorfað</td>
    </tr>
    <tr class="lemma-row">
      <td>swā</td>
      <td>scrīþan</td>
      <td>gesceap</td>
      <td>hweorfan</td>
    </tr>
    <tr class="pos-row">
      <td>conj</td>
      <td>participle</td>
      <td>ipn</td>
      <td>ppv</td>
    </tr>
    <tr class="gloss-row">
      <td>as</td>
      <td>wandering</td>
      <td>fate</td>
      <td>roved</td>
    </tr>
  </tbody>
</table>
	<div class="button-container">
		<a href="https://lorehord.com/views/line/line-134.html">Previous</a>
		<a href="https://lorehord.com/views/line/line-136.html">Next</a>
	</div>
	<h2 class="translation">Translation</h2><br>
	<p class="translation">Thus are fated to wandering and roving</p>

	<div class='namedentities' style='text-align: justify;'>
		<h2 class='translation'>Named Entities</h2>

	</div>
</table>
{% endblock %}