<html>
<head>
	<meta charset="UTF-8">
	<title>Line 2</title>
	<link rel="stylesheet" href="../linebyline.css">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@200;400;700&display=swap" rel="stylesheet">
</head>
<body>
<button class="button" onclick="document.location='https://lorehord.com/'">Home</button><br><h1>Line 2</h1><html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>se</td>
      <td>þe</td>
      <td>monna</td>
      <td>mǣst</td>
      <td>mǣgþa</td>
      <td>ofer</td>
      <td>eorþan,</td>
    </tr>
    <tr class="lemma-row">
      <td>se</td>
      <td>þe</td>
      <td>monn</td>
      <td>mǣst</td>
      <td>mǣgþ</td>
      <td>ofer</td>
      <td>eorþe</td>
    </tr>
    <tr class="pos-row">
      <td>dpn</td>
      <td>rpn</td>
      <td>gpn</td>
      <td>adj</td>
      <td>gpn</td>
      <td>prep</td>
      <td>asn</td>
    </tr>
    <tr class="gloss-row">
      <td>that</td>
      <td>that</td>
      <td>men</td>
      <td>most</td>
      <td>people</td>
      <td>over</td>
      <td>earth</td>
    </tr>
  </tbody>
</table>
  </body>
</html>

	<div class="button-container">
		<button class="prevbutton" onclick="document.location='https://lorehord.com/views/line/line-1.html'">Previous</button><button class="nextbutton" onclick="document.location='https://lorehord.com/views/line/line-3.html'">Next</button>
	</div>