<html>
<head>
	<meta charset="UTF-8">
	<title>Line 128</title>
	<link rel="stylesheet" href="../glossstyles.css">
</head>
<body>
<button class="button" onclick="document.location='https://lorehord.com/'">Home</button><br><h1>Line 128</h1><html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>giellende</td>
      <td>gar</td>
      <td>on</td>
      <td>grome</td>
      <td>þēode;</td>
    </tr>
    <tr class="lemma-row">
      <td>giellan</td>
      <td>gar</td>
      <td>on</td>
      <td>grom</td>
      <td>þēod</td>
    </tr>
    <tr class="pos-row">
      <td>verb</td>
      <td>n</td>
      <td>prep</td>
      <td>adj</td>
      <td>asn</td>
    </tr>
    <tr class="gloss-row">
      <td>yelling</td>
      <td>spear</td>
      <td>in</td>
      <td>hostile</td>
      <td>band</td>
    </tr>
  </tbody>
</table>
  </body>
</html>
<button class="prevbutton" onclick="document.location='https://lorehord.com/views/line/line-127.html'">Previous</button><button class="nextbutton" onclick="document.location='https://lorehord.com/views/line/line-129.html'">Next</button>