<html>
<head>
	<meta charset="UTF-8">
	<title>Line 44</title>
	<link rel="stylesheet" href="../linebyline.css">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@200;400;700&display=swap" rel="stylesheet">
</head>
<body>
<button class="button" onclick="document.location='https://lorehord.com/'">Home</button><br>
<h1>Widsið</h1>
<h2>Line 44</h2>
<html><body><table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>Engle</td>
      <td>ond</td>
      <td>Swæfe,</td>
      <td>swā</td>
      <td>hit</td>
      <td>Offa</td>
      <td>geslog</td>
    </tr>
    <tr class="lemma-row">
      <td>Ongel</td>
      <td>ond</td>
      <td>Swæfe</td>
      <td>swā</td>
      <td>hē</td>
      <td>Offa</td>
      <td>geslean</td>
    </tr>
    <tr class="pos-row">
      <td>asn</td>
      <td>conj</td>
      <td>asn</td>
      <td>conj</td>
      <td>asn</td>
      <td>asn</td>
      <td>psv</td>
    </tr>
    <tr class="gloss-row">
      <td>the Angles</td>
      <td>and</td>
      <td>the Suebi</td>
      <td>as</td>
      <td>he</td>
      <td>Offa</td>
      <td>won</td>
    </tr>
  </tbody>
</table></body></html>
	<div class="button-container">
		<a href="https://lorehord.com/views/line/line-43.html">Previous</a><a href="https://lorehord.com/views/line/line-45.html">Next</a>
	</div>
	<h2>Translation</h2><br>
	<p class="translation">by the Angles and the Swaefe as he'd won it.</p>
</html>