<html>
<head>
	<meta charset="UTF-8">
	<title>Glossary</title>
	<link rel="stylesheet" href="../glossstyles.css">
</head>
<body>
<button class="button" onclick="document.location='https://lorehord.com/'">Home</button><br><h1>Line 11</h1><html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>Sceal</td>
      <td>þeodna</td>
      <td>gehwylc</td>
      <td>þeawum</td>
      <td>lifgan,</td>
    </tr>
    <tr class="lemma-row">
      <td>sculan</td>
      <td>þeod</td>
      <td>gehwylc</td>
      <td>þeaw</td>
      <td>lifgan</td>
    </tr>
    <tr class="pos-row">
      <td>pres.sv</td>
      <td>npn</td>
      <td>adj</td>
      <td>dpn</td>
      <td>v</td>
    </tr>
    <tr class="gloss-row">
      <td>Shall</td>
      <td>men</td>
      <td>each</td>
      <td>good custom</td>
      <td>live</td>
    </tr>
  </tbody>
</table>
  </body>
</html>
<button class="button" onclick="document.location='https://lorehord.com/views/line/line-12.html'">Next</button><button class="button" onclick="document.location='https://lorehord.com/views/line/line-10.html'">Previous</button><br>