<html>
<head>
	<meta charset="UTF-8">
	<title>Line 35</title>
	<link rel="stylesheet" href="../glossstyles.css">
</head>
<body>
<button class="button" onclick="document.location='https://lorehord.com/'">Home</button><br><h1>Line 35</h1><html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>Offa</td>
      <td>weold</td>
      <td>Ongle,</td>
      <td>Alewih</td>
      <td>Denum;</td>
    </tr>
    <tr class="lemma-row">
      <td>Offa</td>
      <td>wealdan</td>
      <td>Ongel</td>
      <td>Alewih</td>
      <td>Dene</td>
    </tr>
    <tr class="pos-row">
      <td>nsn</td>
      <td>psv</td>
      <td>dpn</td>
      <td>nsn</td>
      <td>dpn</td>
    </tr>
    <tr class="gloss-row">
      <td>Offa</td>
      <td>ruled</td>
      <td>the Angles</td>
      <td>Alewih</td>
      <td>the Danes</td>
    </tr>
  </tbody>
</table>
  </body>
</html>
<button class="prevbutton" onclick="document.location='https://lorehord.com/views/line/line-34.html'">Previous</button><button class="nextbutton" onclick="document.location='https://lorehord.com/views/line/line-36.html'">Next</button>