<html>
<head>
	<meta charset="UTF-8">
	<title>Line 82</title>
	<link rel="stylesheet" href="../linebyline.css">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
<button class="button" onclick="document.location='https://lorehord.com/'">Home</button><br>
<main>
	<h1>Widsið</h1>
<h2>Line 82</h2>
<table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>mid</td>
      <td>Israhelum</td>
      <td>ic</td>
      <td>wæs</td>
      <td>ond</td>
      <td>mid</td>
      <td>Exsyringum,</td>
    </tr>
    <tr class="lemma-row">
      <td>mid</td>
      <td>Israhelas</td>
      <td>ic</td>
      <td>wesan</td>
      <td>ond</td>
      <td>mid</td>
      <td>Exsyringas</td>
    </tr>
    <tr class="pos-row">
      <td>prep</td>
      <td>dpn</td>
      <td>pn</td>
      <td>psv</td>
      <td>conj</td>
      <td>prep</td>
      <td>dpn</td>
    </tr>
    <tr class="gloss-row">
      <td>with</td>
      <td>the Israelites</td>
      <td>I</td>
      <td>was</td>
      <td>and</td>
      <td>with</td>
      <td>the Assyrians</td>
    </tr>
  </tbody>
</table>
	<div class="button-container">
		<a href="https://lorehord.com/views/line/line-81.html">Previous</a><a href="https://lorehord.com/views/line/line-83.html">Next</a>
	</div>
	<h2 class="translation">Translation</h2><br>
	<p class="translation">with the Israelites I was and with the Assyrians, </p>

	<h2 class='translation'>Named Entities</h2>
	<ul>
		<li><span class="named-entity">Israhelas</span>: The people of the region of Israel, possibly distinguishing the kingdom of Israel from the Kingdom of Judah in the next line.</li>
	</ul>
	<ul>
		<li><span class="named-entity">Exsyringas</span>: The Assyrians of history https://en.wikipedia.org/wiki/Assyrian_people#Early_Christian_period</li>
	</ul>
	</main>
	</body>
	</html>