<html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>Eadwine</td>
      <td>sōhte</td>
      <td>ic</td>
      <td>ond</td>
      <td>Elsan,</td>
      <td>Ægelmund</td>
      <td>ond</td>
      <td>Hungar,</td>
    </tr>
    <tr class="lemma-row">
      <td>Eadwine</td>
      <td>sēcan</td>
      <td>ic</td>
      <td>ond</td>
      <td>Elsa</td>
      <td>Ægelmund</td>
      <td>ond</td>
      <td>Hungar</td>
    </tr>
    <tr class="pos-row">
      <td>asn</td>
      <td>pret.sv</td>
      <td>pn</td>
      <td>conj</td>
      <td>asn</td>
      <td>asn</td>
      <td>conj</td>
      <td>asn</td>
    </tr>
    <tr class="gloss-row">
      <td>Edwin</td>
      <td>sought</td>
      <td>I</td>
      <td>and</td>
      <td>Elsa</td>
      <td>Agelmund</td>
      <td>and</td>
      <td>Hungar</td>
    </tr>
  </tbody>
</table>
  </body>
</html>
