<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <title>Widsið Line 67</title>
    <link rel="stylesheet" href="../static/styles.css">
    
<link rel="stylesheet" href="../../static/linebyline.css">

</head>
<body>
    <header class="header">
        <div class="site-title">Widsið</div>
        <nav class="nav-container">
          <ul class="nav-menu">
            <li class="nav-item"><a href="/index.html" class="nav-link">Home</a></li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link">Widsið  ▾</a>
              <div class="dropdown-content">
                <a href="/views/alignment1.html">Parallel Version</a>
                <a href="/views/line/line-1.html">Line by Line view</a>
                <a href="/views/glossary.html">Glossary</a>
                <a href="/views/named_entities.html">Named Entities</a>
                <a href="/views/llm_glossary.html">LLM Glossary</a>
                <a href="/views/beowulf_alignment.html">Beowulf Example</a>
                <a href="/views/riddle1/line-1.html">Riddle One line view</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link">Thesis  ▾</a>
              <div class="dropdown-content">
                <a href="/views/thesis.html">Thesis Paper</a>
                <a href="/views/furtherreading.html">Further Reading</a>
              </div>
            </li>
            <li class="nav-item"><a href="/views/acknowledgements.html" class="nav-link">Acknowledgements</a></li>
          </ul>
        </nav>
      </header>
  <div class="content-wrapper">
    
<link rel="stylesheet" href="../../static/linebyline.css">
</head>
	<h1>Widsið</h1>
<h2>Line 67</h2>
<table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>songes</td>
      <td>to</td>
      <td>lēane.</td>
      <td>Næs</td>
      <td>þǣt</td>
      <td>sǣne</td>
      <td>cyning!</td>
    </tr>
    <tr class="lemma-row">
      <td>song</td>
      <td>to</td>
      <td>lēan</td>
      <td>wesan</td>
      <td>þǣt</td>
      <td>sǣne</td>
      <td>cyning</td>
    </tr>
    <tr class="pos-row">
      <td>gsn</td>
      <td>prep</td>
      <td>dsn</td>
      <td>psv</td>
      <td>nsn</td>
      <td>adj</td>
      <td>nsn</td>
    </tr>
    <tr class="gloss-row">
      <td>song</td>
      <td>to</td>
      <td>reward</td>
      <td>was not</td>
      <td>that</td>
      <td>stingy</td>
      <td>king</td>
    </tr>
  </tbody>
</table>
	<div class="button-container">
		<a href="https://lorehord.com/views/line/line-66.html">Previous</a>
		<a href="https://lorehord.com/views/line/line-68.html">Next</a>
	</div>
	<h2 class="translation">Translation</h2><br>
	<p class="translation">to reward songs; that king was not stingy!</p>

	<div class='namedentities' style='text-align: justify;'>
		<h2 class='translation'>Named Entities</h2>

	</div>
</table>

  </div>
  </body>
</html>