<html>
<head>
	<meta charset="UTF-8">
	<title>Line 29</title>
	<link rel="stylesheet" href="../linebyline.css">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@200;400;700&display=swap" rel="stylesheet">
</head>
<body>
<button class="button" onclick="document.location='https://lorehord.com/'">Home</button><br>
<h1>Widsið</h1>
<h2>Line 29</h2>
<html><body><table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>Hnæf</td>
      <td>Hocingum,</td>
      <td>Helm</td>
      <td>Wulfingum,</td>
    </tr>
    <tr class="lemma-row">
      <td>Hnæf</td>
      <td>Hocingas</td>
      <td>Helm</td>
      <td>Wulfingas</td>
    </tr>
    <tr class="pos-row">
      <td>nsn</td>
      <td>dpn</td>
      <td>nsn</td>
      <td>dpn</td>
    </tr>
    <tr class="gloss-row">
      <td>Hnæf</td>
      <td>the Hocings</td>
      <td>Helm</td>
      <td>the Wulfings</td>
    </tr>
  </tbody>
</table></body></html>
	<div class="button-container">
		<a href="https://lorehord.com/views/line/line-28.html">Previous</a><a href="https://lorehord.com/views/line/line-30.html">Next</a>
	</div>
	<h2 class="translation">Translation</h2><br>
	<p class="translation">Hnaef the Hocings, Helm the Wulfings,</p>
</html>