<html>
<head>
	<meta charset="UTF-8">
	<title>Glossary</title>
	<link rel="stylesheet" href="../glossstyles.css">
</head>
<body>
<button class="button" onclick="document.location='https://lorehord.com/'">Home</button><br><h1>Line 53</h1><html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>frēomǣgum</td>
      <td>feor</td>
      <td>folgade</td>
      <td>wīde.</td>
    </tr>
    <tr class="lemma-row">
      <td>frēomǣg</td>
      <td>feor</td>
      <td>folgian</td>
      <td>wīde</td>
    </tr>
    <tr class="pos-row">
      <td>dpn</td>
      <td>adj</td>
      <td>pret.sv</td>
      <td>adv</td>
    </tr>
    <tr class="gloss-row">
      <td>generous kinsmen</td>
      <td>far</td>
      <td>served</td>
      <td>widely</td>
    </tr>
  </tbody>
</table>
  </body>
</html>
<button class="prevbutton" onclick="document.location='https://lorehord.com/views/line/line-52.html'">Previous</button><br><button class="nextbutton" onclick="document.location='https://lorehord.com/views/line/line-54.html'">Next</button>