<html>
<head>
	<meta charset="UTF-8">
	<title>Line 142</title>
	<link rel="stylesheet" href="../glossstyles.css">
</head>
<body>
<button class="button" onclick="document.location='https://lorehord.com/'">Home</button><br><h1>Line 142</h1><html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>lēoht</td>
      <td>ond</td>
      <td>līf</td>
      <td>somod;</td>
      <td>lof</td>
      <td>se</td>
      <td>gewyrceð,</td>
    </tr>
    <tr class="lemma-row">
      <td>lēoht</td>
      <td>ond</td>
      <td>līf</td>
      <td>somod</td>
      <td>lof</td>
      <td>se</td>
      <td>gewyrcan</td>
    </tr>
    <tr class="pos-row">
      <td>nsn</td>
      <td>conj</td>
      <td>nsn</td>
      <td>adv</td>
      <td>asn</td>
      <td>dem.pn</td>
      <td>v</td>
    </tr>
    <tr class="gloss-row">
      <td>light</td>
      <td>and</td>
      <td>life</td>
      <td>together</td>
      <td>praise</td>
      <td>that</td>
      <td>works</td>
    </tr>
  </tbody>
</table>
  </body>
</html>
<button class="prevbutton" onclick="document.location='https://lorehord.com/views/line/line-141.html'">Previous</button><button class="nextbutton" onclick="document.location='https://lorehord.com/views/line/line-143.html'">Next</button>