<html>
<head>
	<meta charset="UTF-8">
	<title>Line 137</title>
	<link rel="stylesheet" href="../linebyline.css">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
<button class="button" onclick="document.location='https://lorehord.com/'">Home</button><br>
<main>
	<h1>Widsið</h1>
<h2>Line 137</h2>
<table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>þearfe</td>
      <td>secgað,</td>
      <td>þoncword</td>
      <td>sprecaþ,</td>
    </tr>
    <tr class="lemma-row">
      <td>þearf</td>
      <td>secgan</td>
      <td>þoncword</td>
      <td>sprecan</td>
    </tr>
    <tr class="pos-row">
      <td>asn</td>
      <td>pres.pv</td>
      <td>apn</td>
      <td>pres.pv</td>
    </tr>
    <tr class="gloss-row">
      <td>need</td>
      <td>says</td>
      <td>thank-words</td>
      <td>speaking</td>
    </tr>
  </tbody>
</table>
	<div class="button-container">
		<a href="https://lorehord.com/views/line/line-136.html">Previous</a><a href="https://lorehord.com/views/line/line-138.html">Next</a>
	</div>
	<h2 class="translation">Translation</h2><br>
	<p class="translation">saying at need, speaking thank-words,</p>
	</main>
	</body>
	</html>