<html>
<head>
	<meta charset="UTF-8">
	<title>Glossary</title>
	<link rel="stylesheet" href="../glossstyles.css">
</head>
<body>
<button class="button" onclick="document.location='https://lorehord.com/'">Home</button><br><h1>Line 81</h1><html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>mid</td>
      <td>hæðnum</td>
      <td>ond</td>
      <td>mid</td>
      <td>hæleþum</td>
      <td>ond</td>
      <td>mid</td>
      <td>Hundingum.</td>
    </tr>
    <tr class="lemma-row">
      <td>mid</td>
      <td>hæþen</td>
      <td>ond</td>
      <td>mid</td>
      <td>hæleþ</td>
      <td>ond</td>
      <td>mid</td>
      <td>Hundingas</td>
    </tr>
    <tr class="pos-row">
      <td>prep</td>
      <td>dpn</td>
      <td>conj</td>
      <td>prep</td>
      <td>dpn</td>
      <td>conj</td>
      <td>prep</td>
      <td>dpn</td>
    </tr>
    <tr class="gloss-row">
      <td>with</td>
      <td>heathens</td>
      <td>and</td>
      <td>with</td>
      <td>heroes</td>
      <td>and</td>
      <td>with</td>
      <td>the Hundings</td>
    </tr>
  </tbody>
</table>
  </body>
</html>
<button class="button" onclick="document.location='https://lorehord.com/views/line/line-82.html'">Next</button><button class="button" onclick="document.location='https://lorehord.com/views/line/line-80.html'">Previous</button><br>