<html>
<head>
	<meta charset="UTF-8">
	<title>Glossary</title>
	<link rel="stylesheet" href="../glossstyles.css">
</head>
<body>
<button class="button" onclick="document.location='https://lorehord.com/'">Home</button><br><h1>Line 91</h1><html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>on</td>
      <td>þām</td>
      <td>siex</td>
      <td>hund</td>
      <td>wæs</td>
      <td>smǣtes</td>
      <td>goldes,</td>
    </tr>
    <tr class="lemma-row">
      <td>on</td>
      <td>sē</td>
      <td>siex</td>
      <td>hund</td>
      <td>wesan</td>
      <td>smǣte</td>
      <td>gold</td>
    </tr>
    <tr class="pos-row">
      <td>prep</td>
      <td>dspn</td>
      <td>num</td>
      <td>num</td>
      <td>psv</td>
      <td>adj</td>
      <td>gsn</td>
    </tr>
    <tr class="gloss-row">
      <td>in</td>
      <td>that</td>
      <td>six</td>
      <td>hundred</td>
      <td>was</td>
      <td>refined</td>
      <td>gold</td>
    </tr>
  </tbody>
</table>
  </body>
</html>
<button class="prevbutton" onclick="document.location='https://lorehord.com/views/line/line-90.html'">Previous</button><br><button class="nextbutton" onclick="document.location='https://lorehord.com/views/line/line-92.html'">Next</button>