<html>
<head>
	<meta charset="UTF-8">
	<title>Glossary</title>
	<link rel="stylesheet" href="../glossstyles.css">
</head>
<body>
<button class="button" onclick="document.location='https://lorehord.com/'">Home</button><br><h1>Line 99</h1><html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>Hyre</td>
      <td>lof</td>
      <td>lengde</td>
      <td>geond</td>
      <td>londa</td>
      <td>fela,</td>
    </tr>
    <tr class="lemma-row">
      <td>hē</td>
      <td>lof</td>
      <td>lengan</td>
      <td>geond</td>
      <td>lond</td>
      <td>fela</td>
    </tr>
    <tr class="pos-row">
      <td>gsn</td>
      <td>asn</td>
      <td>pret.sv</td>
      <td>prep</td>
      <td>gpn</td>
      <td>adj</td>
    </tr>
    <tr class="gloss-row">
      <td>her</td>
      <td>praise</td>
      <td>stretched</td>
      <td>throughout</td>
      <td>lands</td>
      <td>many</td>
    </tr>
  </tbody>
</table>
  </body>
</html>
<button class="button" onclick="document.location='https://lorehord.com/views/line/line-100.html'">Next</button><button class="button" onclick="document.location='https://lorehord.com/views/line/line-98.html'">Previous</button><br>