<html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>Heaþoric</td>
      <td>ond</td>
      <td>Sifecan,</td>
      <td>Hlīþe</td>
      <td>ond</td>
      <td>Incgenþeow.</td>
    </tr>
    <tr class="lemma-row">
      <td>Heaþoric</td>
      <td>ond</td>
      <td>Sifeca</td>
      <td>Hlīþe</td>
      <td>ond</td>
      <td>Incgenþeow</td>
    </tr>
    <tr class="pos-row">
      <td>asn</td>
      <td>conj</td>
      <td>asn</td>
      <td>asn</td>
      <td>conj</td>
      <td>asn</td>
    </tr>
    <tr class="gloss-row">
      <td>Heathoric</td>
      <td>and</td>
      <td>Sifeca</td>
      <td>Lotherus</td>
      <td>and</td>
      <td>Incgenþeow</td>
    </tr>
  </tbody>
</table>
  </body>
</html>
