<html>
<head>
	<meta charset="UTF-8">
	<title>Glossary</title>
	<link rel="stylesheet" href="../glossstyles.css">
</head>
<body>
<button class="button" onclick="document.location='https://lorehord.com/'">Home</button><br><h1>Line 138</h1><html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>simle</td>
      <td>sūð</td>
      <td>oþþe</td>
      <td>norð</td>
      <td>sumne</td>
      <td>gemētað</td>
    </tr>
    <tr class="lemma-row">
      <td>simle</td>
      <td>sūð</td>
      <td>oþþe</td>
      <td>norþ</td>
      <td>sum</td>
      <td>gemētan</td>
    </tr>
    <tr class="pos-row">
      <td>adv</td>
      <td>adv</td>
      <td>conj</td>
      <td>adv</td>
      <td>aspn</td>
      <td>v</td>
    </tr>
    <tr class="gloss-row">
      <td>always</td>
      <td>south</td>
      <td>or</td>
      <td>north</td>
      <td>some one</td>
      <td>met</td>
    </tr>
  </tbody>
</table>
  </body>
</html>
<button class="prevbutton" onclick="document.location='https://lorehord.com/views/line/line-137.html'">Previous</button><br><button class="nextbutton" onclick="document.location='https://lorehord.com/views/line/line-139.html'">Next</button>