<html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>Swylce</td>
      <td>ic</td>
      <td>wæs</td>
      <td>on</td>
      <td>Eatule</td>
      <td>mid</td>
      <td>Ælfwine,</td>
    </tr>
    <tr class="lemma-row">
      <td>swylce</td>
      <td>ic</td>
      <td>wesan</td>
      <td>on</td>
      <td>Eatul</td>
      <td>mid</td>
      <td>Ælfwine</td>
    </tr>
    <tr class="pos-row">
      <td>adv</td>
      <td>pn</td>
      <td>psv</td>
      <td>prep</td>
      <td>dsn</td>
      <td>prep</td>
      <td>dsn</td>
    </tr>
    <tr class="gloss-row">
      <td>likewise</td>
      <td>I</td>
      <td>was</td>
      <td>in</td>
      <td>Italy</td>
      <td>with</td>
      <td>Ælfwine</td>
    </tr>
  </tbody>
</table>
  </body>
</html>
