<html>
<head>
	<meta charset="UTF-8">
	<title>Glossary</title>
	<link rel="stylesheet" href="../glossstyles.css">
</head>
<body>
<button class="button" onclick="document.location='https://lorehord.com/'">Home</button><br><h1>Line 127</h1><html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>Ful</td>
      <td>oft</td>
      <td>of</td>
      <td>þām</td>
      <td>hēape</td>
      <td>hwīnende</td>
      <td>fleag</td>
    </tr>
    <tr class="lemma-row">
      <td>ful</td>
      <td>oft</td>
      <td>of</td>
      <td>sē</td>
      <td>hēap</td>
      <td>hwīnan</td>
      <td>flēogan</td>
    </tr>
    <tr class="pos-row">
      <td>adv</td>
      <td>adv</td>
      <td>prep</td>
      <td>adj</td>
      <td>dsn</td>
      <td>ppv</td>
      <td>pret.sv</td>
    </tr>
    <tr class="gloss-row">
      <td>very</td>
      <td>often</td>
      <td>from</td>
      <td>that</td>
      <td>company</td>
      <td>whining</td>
      <td>fly</td>
    </tr>
  </tbody>
</table>
  </body>
</html>
<button class="prevbutton" onclick="document.location='https://lorehord.com/views/line/line-126.html'">Previous</button><br><button class="nextbutton" onclick="document.location='https://lorehord.com/views/line/line-128.html'">Next</button>