<html>
<head>
	<meta charset="UTF-8">
	<title>Line 110</title>
	<link rel="stylesheet" href="../glossstyles.css">
</head>
<body>
<button class="button" onclick="document.location='https://lorehord.com/'">Home</button><br><h1>Line 110</h1><html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>sōhte</td>
      <td>ic</td>
      <td>gesīþa</td>
      <td>þa</td>
      <td>sēlestan;</td>
    </tr>
    <tr class="lemma-row">
      <td>sēcan</td>
      <td>ic</td>
      <td>gesīþ</td>
      <td>sē</td>
      <td>sēl</td>
    </tr>
    <tr class="pos-row">
      <td>pret.sv</td>
      <td>pn</td>
      <td>apn</td>
      <td>art</td>
      <td>art</td>
    </tr>
    <tr class="gloss-row">
      <td>sought</td>
      <td>I</td>
      <td>battle comrades</td>
      <td>the</td>
      <td>best</td>
    </tr>
  </tbody>
</table>
  </body>
</html>
<button class="prevbutton" onclick="document.location='https://lorehord.com/views/line/line-109.html'">Previous</button><button class="nextbutton" onclick="document.location='https://lorehord.com/views/line/line-111.html'">Next</button>