<html>
<head>
	<meta charset="UTF-8">
	<title>Glossary</title>
	<link rel="stylesheet" href="../glossstyles.css">
</head>
<body>
<button class="button" onclick="document.location='https://lorehord.com/'">Home</button><br><h1>Line 39</h1><html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>cnihtwesende,</td>
      <td>cynerica</td>
      <td>mǣst.</td>
    </tr>
    <tr class="lemma-row">
      <td>cnihtwesende</td>
      <td>cynerice</td>
      <td>mǣst</td>
    </tr>
    <tr class="pos-row">
      <td>pp</td>
      <td>gpn</td>
      <td>adj</td>
    </tr>
    <tr class="gloss-row">
      <td>being a youth</td>
      <td>king-realm</td>
      <td>greatest</td>
    </tr>
  </tbody>
</table>
  </body>
</html>
<button class="button" onclick="document.location='https://lorehord.com/views/line/line-40.html'">Next</button><button class="button" onclick="document.location='https://lorehord.com/views/line/line-38.html'">Previous</button><br>