<html>
<head>
	<meta charset="UTF-8">
	<title>Glossary</title>
	<link rel="stylesheet" href="../glossstyles.css">
</head>
<body>
<button class="button" onclick="document.location='https://lorehord.com/'">Home</button><br><h1>Line 98</h1><html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>dryhtcwēn</td>
      <td>duguþe,</td>
      <td>dohtor</td>
      <td>Eadwines.</td>
    </tr>
    <tr class="lemma-row">
      <td>dryhtcwēn</td>
      <td>duguþ</td>
      <td>dohtor</td>
      <td>Eadwine</td>
    </tr>
    <tr class="pos-row">
      <td>n</td>
      <td>gsn</td>
      <td>n</td>
      <td>gsn</td>
    </tr>
    <tr class="gloss-row">
      <td>queen of the army</td>
      <td>a body of royal fighting men</td>
      <td>daughter</td>
      <td>of Edwin</td>
    </tr>
  </tbody>
</table>
  </body>
</html>
<button class="button" onclick="document.location='https://lorehord.com/views/line/line-99.html'">Next</button><button class="button" onclick="document.location='https://lorehord.com/views/line/line-97.html'">Previous</button><br>