<html>
<head>
	<meta charset="UTF-8">
	<title>Line 42</title>
	<link rel="stylesheet" href="../glossstyles.css">
</head>
<body>
<button class="button" onclick="document.location='https://lorehord.com/'">Home</button><br><h1>Line 42</h1><html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>merce</td>
      <td>gemǣrde</td>
      <td>wið</td>
      <td>Myrgingum</td>
    </tr>
    <tr class="lemma-row">
      <td>merc</td>
      <td>gemǣran</td>
      <td>wið</td>
      <td>Myrgingas</td>
    </tr>
    <tr class="pos-row">
      <td>asn</td>
      <td>pret.sv</td>
      <td>prep</td>
      <td>dpn</td>
    </tr>
    <tr class="gloss-row">
      <td>boundary</td>
      <td>defined</td>
      <td>against</td>
      <td>the Myrgings</td>
    </tr>
  </tbody>
</table>
  </body>
</html>
<button class="prevbutton" onclick="document.location='https://lorehord.com/views/line/line-41.html'">Previous</button><button class="nextbutton" onclick="document.location='https://lorehord.com/views/line/line-43.html'">Next</button>