<html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>mid</td>
      <td>Moidum</td>
      <td>ic</td>
      <td>wæs</td>
      <td>ond</td>
      <td>mid</td>
      <td>Persum</td>
      <td>ond</td>
      <td>mid</td>
      <td>Myrgingum,</td>
    </tr>
    <tr class="lemma-row">
      <td>mid</td>
      <td>Moide</td>
      <td>ic</td>
      <td>wesan</td>
      <td>ond</td>
      <td>mid</td>
      <td>Perse</td>
      <td>ond</td>
      <td>mid</td>
      <td>Myrgingas</td>
    </tr>
    <tr class="pos-row">
      <td>prep</td>
      <td>dpn</td>
      <td>pn</td>
      <td>psv</td>
      <td>conj</td>
      <td>prep</td>
      <td>dpn</td>
      <td>conj</td>
      <td>prep</td>
      <td>dpn</td>
    </tr>
    <tr class="gloss-row">
      <td>with</td>
      <td>the Moids</td>
      <td>I</td>
      <td>was</td>
      <td>and</td>
      <td>with</td>
      <td>the Perse</td>
      <td>and</td>
      <td>with</td>
      <td>the Myrgings</td>
    </tr>
  </tbody>
</table>
  </body>
</html>
