<html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>mīnes</td>
      <td>fæder</td>
      <td>ēþel,</td>
      <td>frēa</td>
      <td>Myrginga.</td>
    </tr>
    <tr class="lemma-row">
      <td>mīn</td>
      <td>fæder</td>
      <td>ēþel</td>
      <td>frēa</td>
      <td>Myrgingas</td>
    </tr>
    <tr class="pos-row">
      <td>adj</td>
      <td>gsn</td>
      <td>asn</td>
      <td>n</td>
      <td>gpn</td>
    </tr>
    <tr class="gloss-row">
      <td>my</td>
      <td>father's</td>
      <td>inherited land</td>
      <td>king</td>
      <td>of the Myrgings</td>
    </tr>
  </tbody>
</table>
  </body>
</html>
