<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <title>Widsið Line 12</title>
    <link rel="stylesheet" href="../static/styles.css">
    
<link rel="stylesheet" href="../../static/linebyline.css">

</head>
<body>
    <header class="header">
        <div class="site-title">Widsið</div>
        <nav class="nav-container">
          <ul class="nav-menu">
            <li class="nav-item"><a href="/index.html" class="nav-link">Home</a></li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link">Widsið  ▾</a>
              <div class="dropdown-content">
                <a href="/views/alignment1.html">Parallel Version</a>
                <a href="/views/line/line-1.html">Line by Line view</a>
                <a href="/views/glossary.html">Glossary</a>
                <a href="/views/named_entities.html">Named Entities</a>
                <a href="/views/llm_glossary.html">LLM Glossary</a>
                <a href="/views/beowulf_alignment.html">Beowulf Example</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link">Thesis  ▾</a>
              <div class="dropdown-content">
                <a href="/views/thesis.html">Thesis Paper</a>
                <a href="/views/furtherreading.html">Further Reading</a>
              </div>
            </li>
            <li class="nav-item"><a href="/views/acknowledgements.html" class="nav-link">Acknowledgements</a></li>
          </ul>
        </nav>
      </header>
  <div class="content-wrapper">
    
<link rel="stylesheet" href="../../static/linebyline.css">
</head>
	<h1>Widsið</h1>
<h2>Line 12</h2>
<table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>eorl</td>
      <td>æfter</td>
      <td>oþrum</td>
      <td>eðle</td>
      <td>rædan,</td>
    </tr>
    <tr class="lemma-row">
      <td>eorl</td>
      <td>æfter</td>
      <td>oþer</td>
      <td>eþel</td>
      <td>rædan</td>
    </tr>
    <tr class="pos-row">
      <td>gpn</td>
      <td>prep</td>
      <td>dpn</td>
      <td>dsn</td>
      <td>v</td>
    </tr>
    <tr class="gloss-row">
      <td>leader</td>
      <td>after</td>
      <td>others</td>
      <td>homeland</td>
      <td>govern</td>
    </tr>
  </tbody>
</table>
	<div class="button-container">
		<a href="https://lorehord.com/views/line/line-11.html">Previous</a>
		<a href="https://lorehord.com/views/line/line-13.html">Next</a>
	</div>
	<h2 class="translation">Translation</h2><br>
	<p class="translation">one leader after another, governing their homeland,</p>

	<div class='namedentities' style='text-align: justify;'>
		<h2 class='translation'>Named Entities</h2>

	</div>
</table>

  </div>
  </body>
</html>