<html>
<head>
	<meta charset="UTF-8">
	<title>Line 56</title>
	<link rel="stylesheet" href="../linebyline.css">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@200;400;700&display=swap" rel="stylesheet">
</head>
<body>
<button class="button" onclick="document.location='https://lorehord.com/'">Home</button><br>
<h1>Widsið</h1>
<h2>Line 56</h2>
<html><body><table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>hū</td>
      <td>me</td>
      <td>cynegōde</td>
      <td>cystum</td>
      <td>dohten.</td>
    </tr>
    <tr class="lemma-row">
      <td>hū</td>
      <td>me</td>
      <td>cynegōd</td>
      <td>cyst</td>
      <td>dugan</td>
    </tr>
    <tr class="pos-row">
      <td>adv</td>
      <td>dsppn</td>
      <td>adj</td>
      <td>ipn</td>
      <td>pret.subj.pv</td>
    </tr>
    <tr class="gloss-row">
      <td>how</td>
      <td>me</td>
      <td>well-born</td>
      <td>a choice gift</td>
      <td>would be generous</td>
    </tr>
  </tbody>
</table></body></html>
	<div class="button-container">
		<a href="https://lorehord.com/views/line/line-55.html">Previous</a><a href="https://lorehord.com/views/line/line-57.html">Next</a>
	</div>
	<h2 class="translation">Translation</h2><br>
	<p class="translation">how the well-born would be generous with choice gifts to me.</p>
</html>