<html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>eorlscipe</td>
      <td>æfnan,</td>
      <td>oþþæt</td>
      <td>eal</td>
      <td>scæceð,</td>
    </tr>
    <tr class="lemma-row">
      <td>eorlscipe</td>
      <td>æfnan</td>
      <td>oþ þæt</td>
      <td>eal</td>
      <td>scacan</td>
    </tr>
    <tr class="pos-row">
      <td>nsn</td>
      <td>v</td>
      <td>conj</td>
      <td>adj</td>
      <td>pres.sv</td>
    </tr>
    <tr class="gloss-row">
      <td>noble behavior</td>
      <td>practice</td>
      <td>until</td>
      <td>all</td>
      <td>pass</td>
    </tr>
  </tbody>
</table>
  </body>
</html>
