<html>
<head>
	<meta charset="UTF-8">
	<title>Glossary</title>
	<link rel="stylesheet" href="../glossstyles.css">
</head>
<body>
<button class="button" onclick="document.location='https://lorehord.com/'">Home</button><br><h1>Line 77</h1><html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>se</td>
      <td>þe</td>
      <td>wīnburga</td>
      <td>geweald</td>
      <td>āhte,</td>
    </tr>
    <tr class="lemma-row">
      <td>se</td>
      <td>þe</td>
      <td>wīnburg</td>
      <td>geweald</td>
      <td>āgan</td>
    </tr>
    <tr class="pos-row">
      <td>dem.pn</td>
      <td>in</td>
      <td>gpn</td>
      <td>asn</td>
      <td>pret.sv</td>
    </tr>
    <tr class="gloss-row">
      <td>that</td>
      <td>who</td>
      <td>wine-borough</td>
      <td>authority</td>
      <td>possesed</td>
    </tr>
  </tbody>
</table>
  </body>
</html>
<button class="prevbutton" onclick="document.location='https://lorehord.com/views/line/line-76.html'">Previous</button><br><button class="nextbutton" onclick="document.location='https://lorehord.com/views/line/line-78.html'">Next</button>