<html>
<head>
	<meta charset="UTF-8">
	<title>Line 38</title>
	<link rel="stylesheet" href="../linebyline.css">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@200;400;700&display=swap" rel="stylesheet">
</head>
<body>
<button class="button" onclick="document.location='https://lorehord.com/'">Home</button><br>
<h1>Widsið</h1>
<h2>Line 38</h2>
<html><body><table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>ac</td>
      <td>Offa</td>
      <td>geslog</td>
      <td>ærest</td>
      <td>monna,</td>
    </tr>
    <tr class="lemma-row">
      <td>ac</td>
      <td>Offa</td>
      <td>geslean</td>
      <td>ærest</td>
      <td>monn</td>
    </tr>
    <tr class="pos-row">
      <td>conj</td>
      <td>asn</td>
      <td>psv</td>
      <td>adj</td>
      <td>gpn</td>
    </tr>
    <tr class="gloss-row">
      <td>but</td>
      <td>Offa</td>
      <td>won</td>
      <td>first</td>
      <td>men</td>
    </tr>
  </tbody>
</table></body></html>
	<div class="button-container">
		<a href="https://lorehord.com/views/line/line-37.html">Previous</a><a href="https://lorehord.com/views/line/line-39.html">Next</a>
	</div>
	<h2 class="translation">Translation</h2><br>
	<p class="translation">but Offa won first of men, </p>
</html>