<html>
<head>
	<meta charset="UTF-8">
	<title>Glossary</title>
	<link rel="stylesheet" href="../glossstyles.css">
</head>
<body>
<button class="button" onclick="document.location='https://lorehord.com/'">Home</button><br><h1>Line 88</h1><html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>ond</td>
      <td>ic</td>
      <td>wæs</td>
      <td>mid</td>
      <td>Eormanrīce</td>
      <td>ealle</td>
      <td>þrāge,</td>
    </tr>
    <tr class="lemma-row">
      <td>ond</td>
      <td>ic</td>
      <td>wesan</td>
      <td>mid</td>
      <td>Eormanrīc</td>
      <td>eal</td>
      <td>þrāg</td>
    </tr>
    <tr class="pos-row">
      <td>conj</td>
      <td>pn</td>
      <td>psv</td>
      <td>prep</td>
      <td>dsn</td>
      <td>asn</td>
      <td>asn</td>
    </tr>
    <tr class="gloss-row">
      <td>and</td>
      <td>I</td>
      <td>was</td>
      <td>with</td>
      <td>Ermanric</td>
      <td>all</td>
      <td>time</td>
    </tr>
  </tbody>
</table>
  </body>
</html>
<button class="button" onclick="document.location='https://lorehord.com/views/line/line-89.html'">Next</button><button class="button" onclick="document.location='https://lorehord.com/views/line/line-87.html'">Previous</button><br>