<html>
<head>
	<meta charset="UTF-8">
	<title>Line 35</title>
	<link rel="stylesheet" href="../linebyline.css">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@200;400;700&display=swap" rel="stylesheet">
</head>
<body>
<button class="button" onclick="document.location='https://lorehord.com/'">Home</button><br>
<h1>Widsið</h1>
<h2>Line 35</h2>
<html><body><table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>Offa</td>
      <td>weold</td>
      <td>Ongle,</td>
      <td>Alewih</td>
      <td>Denum;</td>
    </tr>
    <tr class="lemma-row">
      <td>Offa</td>
      <td>wealdan</td>
      <td>Ongel</td>
      <td>Alewih</td>
      <td>Dene</td>
    </tr>
    <tr class="pos-row">
      <td>nsn</td>
      <td>psv</td>
      <td>dpn</td>
      <td>nsn</td>
      <td>dpn</td>
    </tr>
    <tr class="gloss-row">
      <td>Offa</td>
      <td>ruled</td>
      <td>the Angles</td>
      <td>Alewih</td>
      <td>the Danes</td>
    </tr>
  </tbody>
</table></body></html>
	<div class="button-container">
		<a href="https://lorehord.com/views/line/line-34.html">Previous</a><a href="https://lorehord.com/views/line/line-36.html">Next</a>
	</div>
	<h2>Translation</h2><br>
	<p class="translation">Offa ruled the Angles, Alewih the Danes:</p>
</html>