<html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>mid</td>
      <td>Froncum</td>
      <td>ic</td>
      <td>wæs</td>
      <td>ond</td>
      <td>mid</td>
      <td>Frysum</td>
      <td>ond</td>
      <td>mid</td>
      <td>Frumtingum.</td>
    </tr>
    <tr class="lemma-row">
      <td>mid</td>
      <td>Froncan</td>
      <td>ic</td>
      <td>wesan</td>
      <td>ond</td>
      <td>mid</td>
      <td>Frēsan</td>
      <td>ond</td>
      <td>mid</td>
      <td>Frumtingas</td>
    </tr>
    <tr class="pos-row">
      <td>prep</td>
      <td>ipn</td>
      <td>pn</td>
      <td>psv</td>
      <td>conj</td>
      <td>prep</td>
      <td>dpn</td>
      <td>conj</td>
      <td>prep</td>
      <td>dpn</td>
    </tr>
    <tr class="gloss-row">
      <td>with</td>
      <td>the Franks</td>
      <td>I</td>
      <td>was</td>
      <td>and</td>
      <td>with</td>
      <td>the Frisians</td>
      <td>and</td>
      <td>with</td>
      <td>the Framtings</td>
    </tr>
  </tbody>
</table>
  </body>
</html>
