<html>
<head>
	<meta charset="UTF-8">
	<title>Line 32</title>
	<link rel="stylesheet" href="../linebyline.css">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
<button class="button" onclick="document.location='https://lorehord.com/'">Home</button><br>
<main>
	<h1>Widsið</h1>
<h2>Line 32</h2>
<table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>Sceafthere</td>
      <td>Ymbrum,</td>
      <td>Sceafa</td>
      <td>Longbeardum,</td>
    </tr>
    <tr class="lemma-row">
      <td>Sceafthere</td>
      <td>Yumbran</td>
      <td>Sceafa</td>
      <td>Longbeardan</td>
    </tr>
    <tr class="pos-row">
      <td>nsn</td>
      <td>dpn</td>
      <td>nsn</td>
      <td>dpn</td>
    </tr>
    <tr class="gloss-row">
      <td>Sceafthere</td>
      <td>the Ymbran</td>
      <td>Sheaf</td>
      <td>the Langobards</td>
    </tr>
  </tbody>
</table>
	<div class="button-container">
		<a href="https://lorehord.com/views/line/line-31.html">Previous</a><a href="https://lorehord.com/views/line/line-33.html">Next</a>
	</div>
	<h2 class="translation">Translation</h2><br>
	<p class="translation">Sceafthere the Ymbran, Sheaf the Langobards,</p>
	</main>
	</body>
	</html>