<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <title>Widsið Line 58</title>
    <link rel="stylesheet" href="../static/styles.css">
    
<link rel="stylesheet" href="../../static/linebyline.css">

</head>
<body>
    <header class="header">
        <div class="site-title">Widsið</div>
        <nav class="nav-container">
          <ul class="nav-menu">
            <li class="nav-item"><a href="/index.html" class="nav-link">Home</a></li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link">Widsið  ▾</a>
              <div class="dropdown-content">
                <a href="/views/alignment1.html">Parallel Version</a>
                <a href="/views/line/line-1.html">Line by Line view</a>
                <a href="/views/glossary.html">Glossary</a>
                <a href="/views/named_entities.html">Named Entities</a>
                <a href="/views/llm_glossary.html">LLM Glossary</a>
                <a href="/views/beowulf_alignment.html">Beowulf Example</a>
                <a href="/views/riddle1/line-1.html">Riddle One line view</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link">Thesis  ▾</a>
              <div class="dropdown-content">
                <a href="/views/thesis.html">Thesis Paper</a>
                <a href="/views/furtherreading.html">Further Reading</a>
              </div>
            </li>
            <li class="nav-item"><a href="/views/acknowledgements.html" class="nav-link">Acknowledgements</a></li>
          </ul>
        </nav>
      </header>
  <div class="content-wrapper">
    
<link rel="stylesheet" href="../../static/linebyline.css">
</head>
	<h1>Widsið</h1>
<h2>Line 58</h2>
<table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>mid</td>
      <td>Sweom</td>
      <td>ond</td>
      <td>mid</td>
      <td>Geatum</td>
      <td>ond</td>
      <td>mid</td>
      <td>Suþ-denum.</td>
    </tr>
    <tr class="lemma-row">
      <td>mid</td>
      <td>Sweon</td>
      <td>ond</td>
      <td>mid</td>
      <td>Gēatas</td>
      <td>ond</td>
      <td>mid</td>
      <td>Suþ-dene</td>
    </tr>
    <tr class="pos-row">
      <td>prep</td>
      <td>dpn</td>
      <td>conj</td>
      <td>prep</td>
      <td>dpn</td>
      <td>conj</td>
      <td>prep</td>
      <td>dpn</td>
    </tr>
    <tr class="gloss-row">
      <td>with</td>
      <td>Swedes</td>
      <td>and</td>
      <td>with</td>
      <td>the Geats</td>
      <td>and</td>
      <td>with</td>
      <td>the south-Danes</td>
    </tr>
  </tbody>
</table>
	<div class="button-container">
		<a href="https://lorehord.com/views/line/line-57.html">Previous</a>
		<a href="https://lorehord.com/views/line/line-59.html">Next</a>
	</div>
	<h2 class="translation">Translation</h2><br>
	<p class="translation">with the Swedes and with the Geats and with the South-Danes.</p>

	<div class='namedentities' style='text-align: justify;'>
		<h2 class='translation'>Named Entities</h2>
	<ul>
		<li><span class="named-entity">Gēatas</span>: The Geats are common knowledge</li>
	</ul>	<ul>
		<li><span class="named-entity">Suþ-dene</span>: This simply means the South-Danes. In Beowulf, there are North-, East-. West-, and South-Danes, but the Widsith poet only distinguishes the South-Danes (Malone 136, 201).</li>
	</ul>
	</div>
</table>

  </div>
  </body>
</html>