<html>
<head>
	<meta charset="UTF-8">
	<title>Glossary</title>
	<link rel="stylesheet" href="../glossstyles.css">
</head>
<body>
<button class="button" onclick="document.location='https://lorehord.com/'">Home</button><br><h1>Line 30</h1><html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>Wald</td>
      <td>Woingum,</td>
      <td>Wod</td>
      <td>Þyringum,</td>
    </tr>
    <tr class="lemma-row">
      <td>Wald</td>
      <td>Woingas</td>
      <td>Wod</td>
      <td>Þyringas</td>
    </tr>
    <tr class="pos-row">
      <td>nsn</td>
      <td>dpn</td>
      <td>nsn</td>
      <td>dpn</td>
    </tr>
    <tr class="gloss-row">
      <td>Wald</td>
      <td>the Woings</td>
      <td>Wod</td>
      <td>the Thuringians</td>
    </tr>
  </tbody>
</table>
  </body>
</html>
<button class="button" onclick="document.location='https://lorehord.com/views/line/line-31.html'">Next</button><button class="button" onclick="document.location='https://lorehord.com/views/line/line-29.html'">Previous</button><br>