<html>
<head>
	<meta charset="UTF-8">
	<title>Glossary</title>
	<link rel="stylesheet" href="../glossstyles.css">
</head>
<body>
<button class="button" onclick="document.location='https://lorehord.com/'">Home</button><br><h1>Line 36</h1><html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>se</td>
      <td>wæs</td>
      <td>þāra</td>
      <td>manna</td>
      <td>mōdgast</td>
      <td>ealra,</td>
    </tr>
    <tr class="lemma-row">
      <td>se</td>
      <td>wesan</td>
      <td>sē</td>
      <td>monn</td>
      <td>mōdig</td>
      <td>eal</td>
    </tr>
    <tr class="pos-row">
      <td>dem.pn</td>
      <td>psv</td>
      <td>gpn</td>
      <td>gpn</td>
      <td>adj</td>
      <td>adj</td>
    </tr>
    <tr class="gloss-row">
      <td>that</td>
      <td>was</td>
      <td>those</td>
      <td>men</td>
      <td>noblest</td>
      <td>of all</td>
    </tr>
  </tbody>
</table>
  </body>
</html>
<button class="prevbutton" onclick="document.location='https://lorehord.com/views/line/line-35.html'">Previous</button><br><button class="nextbutton" onclick="document.location='https://lorehord.com/views/line/line-37.html'">Next</button>