<html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>þeodric</td>
      <td>weold</td>
      <td>Froncum,</td>
      <td>Þyle</td>
      <td>Rondingum,</td>
    </tr>
    <tr class="lemma-row">
      <td>þeodric</td>
      <td>wealdan</td>
      <td>Froncan</td>
      <td>Þyle</td>
      <td>Rondingas</td>
    </tr>
    <tr class="pos-row">
      <td>nsn</td>
      <td>psv</td>
      <td>dpn</td>
      <td>nsn</td>
      <td>dpn</td>
    </tr>
    <tr class="gloss-row">
      <td>Theodric</td>
      <td>ruled</td>
      <td>the Franks</td>
      <td>Thyle</td>
      <td>The Rondings</td>
    </tr>
  </tbody>
</table>
  </body>
</html>
