<html>
<head>
	<meta charset="UTF-8">
	<title>Glossary</title>
	<link rel="stylesheet" href="../glossstyles.css">
</head>
<body>
<button class="button" onclick="document.location='https://lorehord.com/'">Home</button><br><h1>Line 115</h1><html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>Seccan</td>
      <td>sōhte</td>
      <td>ic</td>
      <td>ond</td>
      <td>Beccan,</td>
      <td>Seafolan</td>
      <td>ond</td>
      <td>þeodric,</td>
    </tr>
    <tr class="lemma-row">
      <td>Secca</td>
      <td>sēcan</td>
      <td>ic</td>
      <td>ond</td>
      <td>Becca</td>
      <td>Seafola</td>
      <td>ond</td>
      <td>þeodric</td>
    </tr>
    <tr class="pos-row">
      <td>asn</td>
      <td>pret.sv</td>
      <td>pn</td>
      <td>conj</td>
      <td>asn</td>
      <td>asn</td>
      <td>conj</td>
      <td>asn</td>
    </tr>
    <tr class="gloss-row">
      <td>Secca</td>
      <td>sought</td>
      <td>I</td>
      <td>and</td>
      <td>Becca</td>
      <td>Seafola</td>
      <td>and</td>
      <td>Theodric</td>
    </tr>
  </tbody>
</table>
  </body>
</html>
<button class="prevbutton" onclick="document.location='https://lorehord.com/views/line/line-114.html'">Previous</button><br><button class="nextbutton" onclick="document.location='https://lorehord.com/views/line/line-116.html'">Next</button>