<html>
<head>
	<meta charset="UTF-8">
	<title>Glossary</title>
	<link rel="stylesheet" href="../glossstyles.css">
</head>
<body>
<button class="button" onclick="document.location='https://lorehord.com/'">Home</button><br><h1>Line 90</h1><html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>se</td>
      <td>me</td>
      <td>bēag</td>
      <td>forgeaf</td>
      <td>burgwarena</td>
      <td>fruma,</td>
    </tr>
    <tr class="lemma-row">
      <td>se</td>
      <td>me</td>
      <td>bēag</td>
      <td>forgiefan</td>
      <td>burgwaran</td>
      <td>fruma</td>
    </tr>
    <tr class="pos-row">
      <td>dem.pn</td>
      <td>dsppn</td>
      <td>asn</td>
      <td>pret.sv</td>
      <td>gpn</td>
      <td>n</td>
    </tr>
    <tr class="gloss-row">
      <td>that</td>
      <td>me</td>
      <td>treasure</td>
      <td>gave</td>
      <td>townspeople</td>
      <td>first among</td>
    </tr>
  </tbody>
</table>
  </body>
</html>
<button class="prevbutton" onclick="document.location='https://lorehord.com/views/line/line-89.html'">Previous</button><br><button class="nextbutton" onclick="document.location='https://lorehord.com/views/line/line-91.html'">Next</button>