<html>
<head>
	<meta charset="UTF-8">
	<title>Line 30</title>
	<link rel="stylesheet" href="../linebyline.css">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
<button class="button" onclick="document.location='https://lorehord.com/'">Home</button><br>
<main>
	<h1>Widsið</h1>
<h2>Line 30</h2>
<table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>Wald</td>
      <td>Woingum,</td>
      <td>Wod</td>
      <td>Þyringum,</td>
    </tr>
    <tr class="lemma-row">
      <td>Wald</td>
      <td>Woingas</td>
      <td>Wod</td>
      <td>Þyringas</td>
    </tr>
    <tr class="pos-row">
      <td>nsn</td>
      <td>dpn</td>
      <td>nsn</td>
      <td>dpn</td>
    </tr>
    <tr class="gloss-row">
      <td>Wald</td>
      <td>the Woings</td>
      <td>Wod</td>
      <td>the Thuringians</td>
    </tr>
  </tbody>
</table>
	<div class="button-container">
		<a href="https://lorehord.com/views/line/line-29.html">Previous</a><a href="https://lorehord.com/views/line/line-31.html">Next</a>
	</div>
	<h2 class="translation">Translation</h2><br>
	<p class="translation">Wald the Woings, Wod the Thuringians,</p>

	<h2 class='translation'>Named Entities</h2>
	<p class="translation">Wald: King of the Woings, otherwise unknown</p>
	<p class="translation">Woingas: A tribe otherwise unknown</p>
	<p class="translation">Wod: King of the Þyringas, otherwise unknown</p>
	<p class="translation">Þyringas: Either the Thoringi of Gregory of Tours or the Tungri (Thuringians) of inland Germany. It is not impossible that these are actually the same tribe. (Malone 206)</p>
	</main>
	</body>
	</html>