<html>
<head>
	<meta charset="UTF-8">
	<title>Line 37</title>
	<link rel="stylesheet" href="../linebyline.css">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
<button class="button" onclick="document.location='https://lorehord.com/'">Home</button><br>
<main>
	<h1>Widsið</h1>
<h2>Line 37</h2>
<table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>nō</td>
      <td>hwæþre</td>
      <td>hē</td>
      <td>ofer</td>
      <td>Offan</td>
      <td>eorlscype</td>
      <td>fremede,</td>
    </tr>
    <tr class="lemma-row">
      <td>nō</td>
      <td>hwæþre</td>
      <td>hē</td>
      <td>ofer</td>
      <td>Offa</td>
      <td>eorlscipe</td>
      <td>fremman</td>
    </tr>
    <tr class="pos-row">
      <td>adv</td>
      <td>adv</td>
      <td>nsppn</td>
      <td>prep</td>
      <td>dsn</td>
      <td>asn</td>
      <td>pret.sv</td>
    </tr>
    <tr class="gloss-row">
      <td>not at all</td>
      <td>however</td>
      <td>he</td>
      <td>more than</td>
      <td>Offa</td>
      <td>manliness</td>
      <td>achieve</td>
    </tr>
  </tbody>
</table>
	<div class="button-container">
		<a href="https://lorehord.com/views/line/line-36.html">Previous</a><a href="https://lorehord.com/views/line/line-38.html">Next</a>
	</div>
	<h2 class="translation">Translation</h2><br>
	<p class="translation">however he did not achieve more valorous deeds than Offa,</p>

	<h2 class='translation'>Named Entities</h2>
	<p class="translation">Offa: A king of Ongel (or Angel). https://en.wikipedia.org/wiki/Offa_of_Angel</p>
	</main>
	</body>
	</html>