<html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>Sæferð</td>
      <td>Sycgum,</td>
      <td>Sweom</td>
      <td>Ongendþeow,</td>
    </tr>
    <tr class="lemma-row">
      <td>Sæferð</td>
      <td>Sycgan</td>
      <td>Sweon</td>
      <td>nsn</td>
    </tr>
    <tr class="pos-row">
      <td>nsn</td>
      <td>dpn</td>
      <td>dpn</td>
      <td>Ongendþeow</td>
    </tr>
    <tr class="gloss-row">
      <td>Sæferð</td>
      <td>Sycgan</td>
      <td>Swedes</td>
      <td>Ongenþeow</td>
    </tr>
  </tbody>
</table>
  </body>
</html>
