<html>
<head>
	<meta charset="UTF-8">
	<title>Line 87</title>
	<link rel="stylesheet" href="../glossstyles.css">
</head>
<body>
<button class="button" onclick="document.location='https://lorehord.com/'">Home</button><br><h1>Line 87</h1><html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>ond</td>
      <td>mid</td>
      <td>Eolum</td>
      <td>ond</td>
      <td>mid</td>
      <td>Istum</td>
      <td>ond</td>
      <td>Idumingum.</td>
    </tr>
    <tr class="lemma-row">
      <td>ond</td>
      <td>mid</td>
      <td>Ilwan</td>
      <td>ond</td>
      <td>mid</td>
      <td>Iste</td>
      <td>ond</td>
      <td>Idumingas</td>
    </tr>
    <tr class="pos-row">
      <td>conj</td>
      <td>prep</td>
      <td>dpn</td>
      <td>conj</td>
      <td>prep</td>
      <td>dpn</td>
      <td>conj</td>
      <td>dpn</td>
    </tr>
    <tr class="gloss-row">
      <td>and</td>
      <td>with</td>
      <td>the Ilwan</td>
      <td>and</td>
      <td>with</td>
      <td>the Austrogoths</td>
      <td>and</td>
      <td>Idumings</td>
    </tr>
  </tbody>
</table>
  </body>
</html>
<button class="prevbutton" onclick="document.location='https://lorehord.com/views/line/line-86.html'">Previous</button><button class="nextbutton" onclick="document.location='https://lorehord.com/views/line/line-88.html'">Next</button>