<html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>ond</td>
      <td>þā</td>
      <td>wloncan</td>
      <td>gedryht</td>
      <td>Wiþmyrginga.</td>
    </tr>
    <tr class="lemma-row">
      <td>ond</td>
      <td>sē</td>
      <td>wlonc</td>
      <td>gedryht</td>
      <td>Wiþmyrgingas</td>
    </tr>
    <tr class="pos-row">
      <td>conj</td>
      <td>asn</td>
      <td>adj</td>
      <td>asn</td>
      <td>gpn</td>
    </tr>
    <tr class="gloss-row">
      <td>and</td>
      <td>the</td>
      <td>proud</td>
      <td>company</td>
      <td>the Wiþmyrgings</td>
    </tr>
  </tbody>
</table>
  </body>
</html>
