<html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>þāra</td>
      <td>þe</td>
      <td>ic</td>
      <td>ofer</td>
      <td>foldan</td>
      <td>gefrægen</td>
      <td>hæbbe.</td>
    </tr>
    <tr class="lemma-row">
      <td>sē</td>
      <td>þe</td>
      <td>ic</td>
      <td>ofer</td>
      <td>folde</td>
      <td>gefricgan</td>
      <td>habban</td>
    </tr>
    <tr class="pos-row">
      <td>gpn</td>
      <td>in</td>
      <td>pn</td>
      <td>prep</td>
      <td>asn</td>
      <td>ppn</td>
      <td>psv</td>
    </tr>
    <tr class="gloss-row">
      <td>that</td>
      <td>who</td>
      <td>I</td>
      <td>over</td>
      <td>the earth</td>
      <td>learned (by asking)</td>
      <td>have</td>
    </tr>
  </tbody>
</table>
  </body>
</html>
