<html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>Offa</td>
      <td>weold</td>
      <td>Ongle,</td>
      <td>Alewih</td>
      <td>Denum;</td>
    </tr>
    <tr class="lemma-row">
      <td>Offa</td>
      <td>wealdan</td>
      <td>Ongel</td>
      <td>Alewih</td>
      <td>Dene</td>
    </tr>
    <tr class="pos-row">
      <td>nsn</td>
      <td>psv</td>
      <td>dpn</td>
      <td>nsn</td>
      <td>dpn</td>
    </tr>
    <tr class="gloss-row">
      <td>Offa</td>
      <td>ruled</td>
      <td>the Angles</td>
      <td>Alewih</td>
      <td>the Danes</td>
    </tr>
  </tbody>
</table>
  </body>
</html>
