<html>
<head>
	<meta charset="UTF-8">
	<title>Line 106</title>
	<link rel="stylesheet" href="../glossstyles.css">
</head>
<body>
<button class="button" onclick="document.location='https://lorehord.com/'">Home</button><br><h1>Line 106</h1><html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>þonne</td>
      <td>monige</td>
      <td>men,</td>
      <td>mōdum</td>
      <td>wlonce,</td>
    </tr>
    <tr class="lemma-row">
      <td>þonne</td>
      <td>monig</td>
      <td>monn</td>
      <td>mōd</td>
      <td>wlonc</td>
    </tr>
    <tr class="pos-row">
      <td>adv</td>
      <td>adj</td>
      <td>npn</td>
      <td>ipn</td>
      <td>adj</td>
    </tr>
    <tr class="gloss-row">
      <td>then</td>
      <td>many</td>
      <td>men</td>
      <td>spirits</td>
      <td>proud</td>
    </tr>
  </tbody>
</table>
  </body>
</html>
<button class="prevbutton" onclick="document.location='https://lorehord.com/views/line/line-105.html'">Previous</button><button class="nextbutton" onclick="document.location='https://lorehord.com/views/line/line-107.html'">Next</button>