<html>
<head>
	<meta charset="UTF-8">
	<title>Line 97</title>
	<link rel="stylesheet" href="../glossstyles.css">
</head>
<body>
<button class="button" onclick="document.location='https://lorehord.com/'">Home</button><br><h1>Line 97</h1><html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>ond</td>
      <td>me</td>
      <td>þā</td>
      <td>Ealhhild</td>
      <td>ōþerne</td>
      <td>forgeaf</td>
    </tr>
    <tr class="lemma-row">
      <td>ond</td>
      <td>me</td>
      <td>þā</td>
      <td>Ealhhild</td>
      <td>ōþer</td>
      <td>forgiefan</td>
    </tr>
    <tr class="pos-row">
      <td>conj</td>
      <td>dsppn</td>
      <td>adv</td>
      <td>nsn</td>
      <td>num</td>
      <td>pret.sv</td>
    </tr>
    <tr class="gloss-row">
      <td>and</td>
      <td>me</td>
      <td>then</td>
      <td>Ealhhild</td>
      <td>second</td>
      <td>gave</td>
    </tr>
  </tbody>
</table>
  </body>
</html>
<button class="prevbutton" onclick="document.location='https://lorehord.com/views/line/line-96.html'">Previous</button><button class="nextbutton" onclick="document.location='https://lorehord.com/views/line/line-98.html'">Next</button>