<html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>a</td>
      <td>þæt</td>
      <td>wæs</td>
      <td>innweorud</td>
      <td>Earmanrīces.</td>
    </tr>
    <tr class="lemma-row">
      <td>NaN</td>
      <td>sē</td>
      <td>wesan</td>
      <td>innweorud</td>
      <td>Eormanrīc</td>
    </tr>
    <tr class="pos-row">
      <td>NaN</td>
      <td>nsn</td>
      <td>psv</td>
      <td>n</td>
      <td>dsn</td>
    </tr>
    <tr class="gloss-row">
      <td>NaN</td>
      <td>that</td>
      <td>were</td>
      <td>native peoples</td>
      <td>Ermanric</td>
    </tr>
  </tbody>
</table>
  </body>
</html>
