<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <title>Widsið Line 116</title>
    <link rel="stylesheet" href="../static/styles.css">
    
<link rel="stylesheet" href="../../static/linebyline.css">

</head>
<body>
    <header class="header">
        <div class="site-title">Widsið</div>
        <nav class="nav-container">
          <ul class="nav-menu">
            <li class="nav-item"><a href="/index.html" class="nav-link">Home</a></li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link">Widsið  ▾</a>
              <div class="dropdown-content">
                <a href="/views/alignment1.html">Parallel Version</a>
                <a href="/views/line/line-1.html">Line by Line view</a>
                <a href="/views/glossary.html">Glossary</a>
                <a href="/views/named_entities.html">Named Entities</a>
                <a href="/views/llm_glossary.html">LLM Glossary</a>
                <a href="/views/beowulf_alignment.html">Beowulf Example</a>
                <a href="/views/riddle1/line-1.html">Riddle One line view</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link">Thesis  ▾</a>
              <div class="dropdown-content">
                <a href="/views/thesis.html">Thesis Paper</a>
                <a href="/views/furtherreading.html">Further Reading</a>
              </div>
            </li>
            <li class="nav-item"><a href="/views/acknowledgements.html" class="nav-link">Acknowledgements</a></li>
          </ul>
        </nav>
      </header>
  <div class="content-wrapper">
    
<link rel="stylesheet" href="../../static/linebyline.css">
</head>
	<h1>Widsið</h1>
<h2>Line 116</h2>
<table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>Heaþoric</td>
      <td>ond</td>
      <td>Sifecan,</td>
      <td>Hlīþe</td>
      <td>ond</td>
      <td>Incgenþeow.</td>
    </tr>
    <tr class="lemma-row">
      <td>Heaþoric</td>
      <td>ond</td>
      <td>Sifeca</td>
      <td>Hlīþe</td>
      <td>ond</td>
      <td>Incgenþeow</td>
    </tr>
    <tr class="pos-row">
      <td>asn</td>
      <td>conj</td>
      <td>asn</td>
      <td>asn</td>
      <td>conj</td>
      <td>asn</td>
    </tr>
    <tr class="gloss-row">
      <td>Heathoric</td>
      <td>and</td>
      <td>Sifeca</td>
      <td>Lotherus</td>
      <td>and</td>
      <td>Incgenþeow</td>
    </tr>
  </tbody>
</table>
	<div class="button-container">
		<a href="https://lorehord.com/views/line/line-115.html">Previous</a>
		<a href="https://lorehord.com/views/line/line-117.html">Next</a>
	</div>
	<h2 class="translation">Translation</h2><br>
	<p class="translation">Heathoric and Sifecta, Lotherus and Incgentheow.</p>

	<div class='namedentities' style='text-align: justify;'>
		<h2 class='translation'>Named Entities</h2>
	<ul>
		<li><span class="named-entity">Heaþoric</span>: Malone  states that this is the Heiðrekr of the <i>Harvararsaga</i>, and while the phonology does not precisely align, the three remaining names in this line are all from <i>Hervararsaga</i>. He also draws a connection between this Heaþoric and the Hæðcyn of <i>Beowulf</i>.</li>
	</ul>	<ul>
		<li><span class="named-entity">Sifeca</span>: An evil counselor of unknown origin but with lots of speculation (Malone 199).</li>
	</ul>	<ul>
		<li><span class="named-entity">Hlīþe</span>: Hlǫðr of the Hervararsaga, Lotherus of Saxo Grammaticus, a mythical Gothic or Geatish king, though in the past he was identified with King Leth of the Langobards (Grienberger 1922, 377)</li>
	</ul>	<ul>
		<li><span class="named-entity">Incgenþeow</span>: Angantyr of the Hervararsaga and the historical King Ongenþeow of Sweden, who appears in Beowulf.</li>
	</ul>
	</div>
</table>

  </div>
  </body>
</html>