<html>
<head>
	<meta charset="UTF-8">
	<title>Line 63</title>
	<link rel="stylesheet" href="../linebyline.css">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@200;400;700&display=swap" rel="stylesheet">
</head>
<body>
<button class="button" onclick="document.location='https://lorehord.com/'">Home</button><br><h1>Line 63</h1><html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>mid</td>
      <td>Hronum</td>
      <td>ic</td>
      <td>wæs</td>
      <td>ond</td>
      <td>mid</td>
      <td>Deanum</td>
      <td>ond</td>
      <td>mid</td>
      <td>Heaþoreamum.</td>
    </tr>
    <tr class="lemma-row">
      <td>mid</td>
      <td>Hronan</td>
      <td>ic</td>
      <td>wesan</td>
      <td>ond</td>
      <td>mid</td>
      <td>Dēan</td>
      <td>ond</td>
      <td>mid</td>
      <td>Heaþoreamas</td>
    </tr>
    <tr class="pos-row">
      <td>prep</td>
      <td>dpn</td>
      <td>pn</td>
      <td>psv</td>
      <td>conj</td>
      <td>prep</td>
      <td>dpn</td>
      <td>conj</td>
      <td>prep</td>
      <td>dpn</td>
    </tr>
    <tr class="gloss-row">
      <td>with</td>
      <td>Hronan</td>
      <td>I</td>
      <td>was</td>
      <td>and</td>
      <td>with</td>
      <td>Deans</td>
      <td>and</td>
      <td>with</td>
      <td>HeaÞoramas</td>
    </tr>
  </tbody>
</table>
  </body>
</html>

	<div class="button-container">
		<button class="prevbutton" onclick="document.location='https://lorehord.com/views/line/line-62.html'">Previous</button><button class="nextbutton" onclick="document.location='https://lorehord.com/views/line/line-64.html'">Next</button>
	</div>