<html>
<head>
	<meta charset="UTF-8">
	<title>Glossary</title>
	<link rel="stylesheet" href="../glossstyles.css">
</head>
<body>
<button class="button" onclick="document.location='https://lorehord.com/'">Home</button><br><h1>Line 29</h1><html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>Hnæf</td>
      <td>Hocingum,</td>
      <td>Helm</td>
      <td>Wulfingum,</td>
    </tr>
    <tr class="lemma-row">
      <td>Hnæf</td>
      <td>Hocingas</td>
      <td>Helm</td>
      <td>Wulfingas</td>
    </tr>
    <tr class="pos-row">
      <td>nsn</td>
      <td>dpn</td>
      <td>nsn</td>
      <td>dpn</td>
    </tr>
    <tr class="gloss-row">
      <td>Hnæf</td>
      <td>the Hocings</td>
      <td>Helm</td>
      <td>the Wulfings</td>
    </tr>
  </tbody>
</table>
  </body>
</html>
<button class="button" onclick="document.location='https://lorehord.com/views/line/line-30.html'">Next</button><button class="button" onclick="document.location='https://lorehord.com/views/line/line-28.html'">Previous</button><br>