<html>
<head>
	<meta charset="UTF-8">
	<title>Line 129</title>
	<link rel="stylesheet" href="../linebyline.css">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
<button class="button" onclick="document.location='https://lorehord.com/'">Home</button><br>
<main>
	<h1>Widsið</h1>
<h2>Line 129</h2>
<table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>wræccan</td>
      <td>þǣr</td>
      <td>weold</td>
      <td>wundnan</td>
      <td>golde</td>
    </tr>
    <tr class="lemma-row">
      <td>wræcca</td>
      <td>þǣr</td>
      <td>wealdan</td>
      <td>windan</td>
      <td>gold</td>
    </tr>
    <tr class="pos-row">
      <td>npn</td>
      <td>adv</td>
      <td>ppv</td>
      <td>past participle v</td>
      <td>isn</td>
    </tr>
    <tr class="gloss-row">
      <td>wanderers</td>
      <td>there</td>
      <td>ruled</td>
      <td>wound</td>
      <td>gold</td>
    </tr>
  </tbody>
</table>
	<div class="button-container">
		<a href="https://lorehord.com/views/line/line-128.html">Previous</a><a href="https://lorehord.com/views/line/line-130.html">Next</a>
	</div>
	<h2 class="translation">Translation</h2><br>
	<p class="translation">Wanderers there ruled with wound gold</p>
	</main>
	</body>
	</html>