<html>
<head>
	<meta charset="UTF-8">
	<title>Line 21</title>
	<link rel="stylesheet" href="../linebyline.css">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@200;400;700&display=swap" rel="stylesheet">
</head>
<body>
<button class="button" onclick="document.location='https://lorehord.com/'">Home</button><br>
<h1>Widsið</h1>
<h2>Line 21</h2>
<html><body><table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>Hagena</td>
      <td>Holmrygum</td>
      <td>ond</td>
      <td>Heoden</td>
      <td>Glommum.</td>
    </tr>
    <tr class="lemma-row">
      <td>Hagena</td>
      <td>Holmrygas</td>
      <td>ond</td>
      <td>Heoden</td>
      <td>Glomman</td>
    </tr>
    <tr class="pos-row">
      <td>nsn</td>
      <td>dpn</td>
      <td>conj</td>
      <td>nsn</td>
      <td>dpn</td>
    </tr>
    <tr class="gloss-row">
      <td>Hagen</td>
      <td>the Rugians</td>
      <td>and</td>
      <td>Heoden</td>
      <td>the Glomman</td>
    </tr>
  </tbody>
</table></body></html>
	<div class="button-container">
		<a href="https://lorehord.com/views/line/line-20.html">Previous</a><a href="https://lorehord.com/views/line/line-22.html">Next</a>
	</div>
	< class="translation">Translation</h2><br>
	<p class="translation">Hagena the Rugians, and Heoden the Glomman.</p>
</html>