<html>
<head>
	<meta charset="UTF-8">
	<title>Line 121</title>
	<link rel="stylesheet" href="../linebyline.css">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
<button class="button" onclick="document.location='https://lorehord.com/'">Home</button><br>
<main>
	<h1>Widsið</h1>
<h2>Line 121</h2>
<table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>ymb</td>
      <td>Wistlawudu</td>
      <td>wergan</td>
      <td>sceoldon</td>
    </tr>
    <tr class="lemma-row">
      <td>ymb</td>
      <td>Wistlawudu</td>
      <td>wergan</td>
      <td>sculan</td>
    </tr>
    <tr class="pos-row">
      <td>prep</td>
      <td>gpn</td>
      <td>v</td>
      <td>pret.pv</td>
    </tr>
    <tr class="gloss-row">
      <td>about</td>
      <td>The Wistle wood</td>
      <td>defend</td>
      <td>shall</td>
    </tr>
  </tbody>
</table>
	<div class="button-container">
		<a href="https://lorehord.com/views/line/line-120.html">Previous</a><a href="https://lorehord.com/views/line/line-122.html">Next</a>
	</div>
	<h2 class="translation">Translation</h2><br>
	<p class="translation">around the Wistle wood must defend</p>

	<h2 class='translation'>Named Entities</h2>
	<ul>
		<li><span class="named-entity">Wistlawudu</span>: The forest of the Vistula goths. <a href='https://en.wikipedia.org/wiki/Vistula'>Wikipedia</a></li>
	</ul>
	</main>
	</body>
	</html>