<html>
<head>
	<meta charset="UTF-8">
	<title>Glossary</title>
	<link rel="stylesheet" href="../glossstyles.css">
</head>
<body>
<button class="button" onclick="document.location='https://lorehord.com/'">Home</button><br><h1>Line 83</h1><html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>mid</td>
      <td>Ebreum</td>
      <td>ond</td>
      <td>mid</td>
      <td>Indeum</td>
      <td>ond</td>
      <td>mid</td>
      <td>Egyptum.</td>
    </tr>
    <tr class="lemma-row">
      <td>mid</td>
      <td>Ebreas</td>
      <td>ond</td>
      <td>mid</td>
      <td>Indeas</td>
      <td>ond</td>
      <td>mid</td>
      <td>Egypte</td>
    </tr>
    <tr class="pos-row">
      <td>prep</td>
      <td>dpn</td>
      <td>conj</td>
      <td>prep</td>
      <td>dpn</td>
      <td>conj</td>
      <td>prep</td>
      <td>dpn</td>
    </tr>
    <tr class="gloss-row">
      <td>with</td>
      <td>the Hebrews</td>
      <td>and</td>
      <td>with</td>
      <td>THe Hindus</td>
      <td>and</td>
      <td>with</td>
      <td>the Egyptians</td>
    </tr>
  </tbody>
</table>
  </body>
</html>
<button class="button" onclick="document.location='https://lorehord.com/views/line/line-84.html'">Next</button><button class="button" onclick="document.location='https://lorehord.com/views/line/line-82.html'">Previous</button><br>