<html>
<head>
	<meta charset="UTF-8">
	<title>Line 94</title>
	<link rel="stylesheet" href="../linebyline.css">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
<button class="button" onclick="document.location='https://lorehord.com/'">Home</button><br>
<main>
	<h1>Widsið</h1>
<h2>Line 94</h2>
<table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>mīnum</td>
      <td>hlēodryhtne,</td>
      <td>þā</td>
      <td>ic</td>
      <td>to</td>
      <td>ham</td>
      <td>bicwom,</td>
    </tr>
    <tr class="lemma-row">
      <td>mīn</td>
      <td>hlēodryhten</td>
      <td>þā</td>
      <td>ic</td>
      <td>to</td>
      <td>ham</td>
      <td>bicuman</td>
    </tr>
    <tr class="pos-row">
      <td>adj</td>
      <td>dsn</td>
      <td>conj</td>
      <td>pn</td>
      <td>prep</td>
      <td>asn</td>
      <td>pret.sv</td>
    </tr>
    <tr class="gloss-row">
      <td>my</td>
      <td>lord protector</td>
      <td>when</td>
      <td>I</td>
      <td>to</td>
      <td>home</td>
      <td>came</td>
    </tr>
  </tbody>
</table>
	<div class="button-container">
		<a href="https://lorehord.com/views/line/line-93.html">Previous</a><a href="https://lorehord.com/views/line/line-95.html">Next</a>
	</div>
	<h2 class="translation">Translation</h2><br>
	<p class="translation">my lord protector, when I came home,</p>
	</main>

	<h2 class='translation'>Named Entities</h2>

	</body>
	</html>