<html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>þone</td>
      <td>ic</td>
      <td>Eadgilse</td>
      <td>on</td>
      <td>ǣht</td>
      <td>sealde,</td>
    </tr>
    <tr class="lemma-row">
      <td>sē</td>
      <td>ic</td>
      <td>Eadgils</td>
      <td>on</td>
      <td>ǣht</td>
      <td>syllan</td>
    </tr>
    <tr class="pos-row">
      <td>aspn</td>
      <td>pn</td>
      <td>dsn</td>
      <td>prep</td>
      <td>asn</td>
      <td>pret.sv</td>
    </tr>
    <tr class="gloss-row">
      <td>that</td>
      <td>I</td>
      <td>Eadgils</td>
      <td>in</td>
      <td>possession</td>
      <td>gave</td>
    </tr>
  </tbody>
</table>
  </body>
</html>
