<html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>eorl</td>
      <td>æfter</td>
      <td>oþrum</td>
      <td>eðle</td>
      <td>rædan,</td>
    </tr>
    <tr class="lemma-row">
      <td>eorl</td>
      <td>æfter</td>
      <td>oþer</td>
      <td>eþel</td>
      <td>rædan</td>
    </tr>
    <tr class="pos-row">
      <td>gpn</td>
      <td>prep</td>
      <td>dpn</td>
      <td>dsn</td>
      <td>v</td>
    </tr>
    <tr class="gloss-row">
      <td>leader</td>
      <td>after</td>
      <td>others</td>
      <td>homeland</td>
      <td>govern</td>
    </tr>
  </tbody>
</table>
  </body>
</html>
