<html>
<head>
	<meta charset="UTF-8">
	<title>Line 54</title>
	<link rel="stylesheet" href="../glossstyles.css">
</head>
<body>
<button class="button" onclick="document.location='https://lorehord.com/'">Home</button><br><h1>Line 54</h1><html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>Forþon</td>
      <td>ic</td>
      <td>mæg</td>
      <td>singan</td>
      <td>ond</td>
      <td>secgan</td>
      <td>spell,</td>
    </tr>
    <tr class="lemma-row">
      <td>forþon</td>
      <td>ic</td>
      <td>magan</td>
      <td>singan</td>
      <td>ond</td>
      <td>secgan</td>
      <td>spell</td>
    </tr>
    <tr class="pos-row">
      <td>conj</td>
      <td>pn</td>
      <td>psv</td>
      <td>v</td>
      <td>conj</td>
      <td>v</td>
      <td>asn</td>
    </tr>
    <tr class="gloss-row">
      <td>therefore</td>
      <td>I</td>
      <td>will</td>
      <td>sing</td>
      <td>and</td>
      <td>speak</td>
      <td>tale</td>
    </tr>
  </tbody>
</table>
  </body>
</html>
<button class="prevbutton" onclick="document.location='https://lorehord.com/views/line/line-53.html'">Previous</button><button class="nextbutton" onclick="document.location='https://lorehord.com/views/line/line-55.html'">Next</button>