<html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>mid</td>
      <td>Creacum</td>
      <td>ic</td>
      <td>wæs</td>
      <td>ond</td>
      <td>mid</td>
      <td>Finnum</td>
      <td>ond</td>
      <td>mid</td>
      <td>Casere,</td>
    </tr>
    <tr class="lemma-row">
      <td>mid</td>
      <td>Creacas</td>
      <td>ic</td>
      <td>wesan</td>
      <td>ond</td>
      <td>mid</td>
      <td>Finnas</td>
      <td>ond</td>
      <td>mid</td>
      <td>Casere</td>
    </tr>
    <tr class="pos-row">
      <td>prep</td>
      <td>ipn</td>
      <td>pn</td>
      <td>psv</td>
      <td>conj</td>
      <td>prep</td>
      <td>ipn</td>
      <td>conj</td>
      <td>prep</td>
      <td>dsn</td>
    </tr>
    <tr class="gloss-row">
      <td>with</td>
      <td>the Greeks</td>
      <td>I</td>
      <td>was</td>
      <td>and</td>
      <td>with</td>
      <td>the Finns</td>
      <td>and</td>
      <td>with</td>
      <td>Caesar</td>
    </tr>
  </tbody>
</table>
  </body>
</html>
