<html>
<head>
	<meta charset="UTF-8">
	<title>Glossary</title>
	<link rel="stylesheet" href="../glossstyles.css">
</head>
<body>
<button class="button" onclick="document.location='https://lorehord.com/'">Home</button><br><h1>Line 114</h1><html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>frōdne</td>
      <td>ond</td>
      <td>gōdne</td>
      <td>fæder</td>
      <td>Unwenes.</td>
    </tr>
    <tr class="lemma-row">
      <td>frōd</td>
      <td>ond</td>
      <td>gōd</td>
      <td>fæder</td>
      <td>Unwen</td>
    </tr>
    <tr class="pos-row">
      <td>adj</td>
      <td>conj</td>
      <td>adj</td>
      <td>asn</td>
      <td>gsm</td>
    </tr>
    <tr class="gloss-row">
      <td>wise</td>
      <td>and</td>
      <td>good</td>
      <td>father</td>
      <td>of Unwen</td>
    </tr>
  </tbody>
</table>
  </body>
</html>
<button class="button" onclick="document.location='https://lorehord.com/views/line/line-115.html'">Next</button><button class="button" onclick="document.location='https://lorehord.com/views/line/line-113.html'">Previous</button><br>