<html>
<head>
	<meta charset="UTF-8">
	<title>Line 115</title>
	<link rel="stylesheet" href="../linebyline.css">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
<button class="button" onclick="document.location='https://lorehord.com/'">Home</button><br>
<main>
	<h1>Widsið</h1>
<h2>Line 115</h2>
<table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>Seccan</td>
      <td>sōhte</td>
      <td>ic</td>
      <td>ond</td>
      <td>Beccan,</td>
      <td>Seafolan</td>
      <td>ond</td>
      <td>þeodric,</td>
    </tr>
    <tr class="lemma-row">
      <td>Secca</td>
      <td>sēcan</td>
      <td>ic</td>
      <td>ond</td>
      <td>Becca</td>
      <td>Seafola</td>
      <td>ond</td>
      <td>þeodric</td>
    </tr>
    <tr class="pos-row">
      <td>asn</td>
      <td>pret.sv</td>
      <td>pn</td>
      <td>conj</td>
      <td>asn</td>
      <td>asn</td>
      <td>conj</td>
      <td>asn</td>
    </tr>
    <tr class="gloss-row">
      <td>Secca</td>
      <td>sought</td>
      <td>I</td>
      <td>and</td>
      <td>Becca</td>
      <td>Seafola</td>
      <td>and</td>
      <td>Theodric</td>
    </tr>
  </tbody>
</table>
	<div class="button-container">
		<a href="https://lorehord.com/views/line/line-114.html">Previous</a><a href="https://lorehord.com/views/line/line-116.html">Next</a>
	</div>
	<h2 class="translation">Translation</h2><br>
	<p class="translation">Secca I sought and Becca, Seafola and Theodric</p>
	</main>
	</body>
	</html>