<html>
<head>
	<meta charset="UTF-8">
	<title>Line 45</title>
	<link rel="stylesheet" href="../linebyline.css">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@200;400;700&display=swap" rel="stylesheet">
</head>
<body>
<button class="button" onclick="document.location='https://lorehord.com/'">Home</button><br><h1>Line 45</h1><html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>Hroþwulf</td>
      <td>ond</td>
      <td>Hroðgar</td>
      <td>heoldon</td>
      <td>lengest</td>
    </tr>
    <tr class="lemma-row">
      <td>Hroþwulf</td>
      <td>ond</td>
      <td>Hroðgar</td>
      <td>healdan</td>
      <td>lengest</td>
    </tr>
    <tr class="pos-row">
      <td>nsn</td>
      <td>conj</td>
      <td>nsn</td>
      <td>pret.pv</td>
      <td>adv</td>
    </tr>
    <tr class="gloss-row">
      <td>Hroþwulf</td>
      <td>and</td>
      <td>Hroðgar</td>
      <td>held</td>
      <td>longest</td>
    </tr>
  </tbody>
</table>
  </body>
</html>

	<div class="button-container">
		<button class="prevbutton" onclick="document.location='https://lorehord.com/views/line/line-44.html'">Previous</button><button class="nextbutton" onclick="document.location='https://lorehord.com/views/line/line-46.html'">Next</button>
	</div>