<html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>þonne</td>
      <td>ic</td>
      <td>be</td>
      <td>songe</td>
      <td>secgan</td>
      <td>sceolde</td>
    </tr>
    <tr class="lemma-row">
      <td>þonne</td>
      <td>ic</td>
      <td>bī</td>
      <td>song</td>
      <td>secgan</td>
      <td>sculan</td>
    </tr>
    <tr class="pos-row">
      <td>conj</td>
      <td>pn</td>
      <td>prep</td>
      <td>dsn</td>
      <td>v</td>
      <td>pret.sv</td>
    </tr>
    <tr class="gloss-row">
      <td>when</td>
      <td>I</td>
      <td>with</td>
      <td>song</td>
      <td>say</td>
      <td>would</td>
    </tr>
  </tbody>
</table>
  </body>
</html>
