<html>
<head>
	<meta charset="UTF-8">
	<title>Glossary</title>
	<link rel="stylesheet" href="../glossstyles.css">
</head>
<body>
<button class="button" onclick="document.location='https://lorehord.com/'">Home</button><br><h1>Line 85</h1><html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>ond</td>
      <td>Mofdingum</td>
      <td>ond</td>
      <td>Ongendmyrgingum</td>
    </tr>
    <tr class="lemma-row">
      <td>ond</td>
      <td>Mofdingas</td>
      <td>ond</td>
      <td>Ongendmyrgingas</td>
    </tr>
    <tr class="pos-row">
      <td>conj</td>
      <td>dpn</td>
      <td>conj</td>
      <td>dpn</td>
    </tr>
    <tr class="gloss-row">
      <td>and</td>
      <td>Mofdings</td>
      <td>and</td>
      <td>the Ongendmyrgings</td>
    </tr>
  </tbody>
</table>
  </body>
</html>
<button class="prevbutton" onclick="document.location='https://lorehord.com/views/line/line-84.html'">Previous</button><br><button class="nextbutton" onclick="document.location='https://lorehord.com/views/line/line-86.html'">Next</button>