<html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>Hroþwulf</td>
      <td>ond</td>
      <td>Hroðgar</td>
      <td>heoldon</td>
      <td>lengest</td>
    </tr>
    <tr class="lemma-row">
      <td>Hroþwulf</td>
      <td>ond</td>
      <td>Hroðgar</td>
      <td>healdan</td>
      <td>lengest</td>
    </tr>
    <tr class="pos-row">
      <td>nsn</td>
      <td>conj</td>
      <td>nsn</td>
      <td>pret.pv</td>
      <td>adv</td>
    </tr>
    <tr class="gloss-row">
      <td>Hroþwulf</td>
      <td>and</td>
      <td>Hroðgar</td>
      <td>held</td>
      <td>longest</td>
    </tr>
  </tbody>
</table>
  </body>
</html>
