<html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>Ætla</td>
      <td>weold</td>
      <td>Hunum,</td>
      <td>Eormanric</td>
      <td>Gotum,</td>
    </tr>
    <tr class="lemma-row">
      <td>Ætla</td>
      <td>wealdan</td>
      <td>Hunas</td>
      <td>Eormanrīc</td>
      <td>Gotan</td>
    </tr>
    <tr class="pos-row">
      <td>apn</td>
      <td>psv</td>
      <td>ipn</td>
      <td>nsn</td>
      <td>ipn</td>
    </tr>
    <tr class="gloss-row">
      <td>Atilla</td>
      <td>ruled</td>
      <td>the Huns</td>
      <td>Ermanric</td>
      <td>the Goths</td>
    </tr>
  </tbody>
</table>
  </body>
</html>
