<html>
<head>
	<meta charset="UTF-8">
	<title>Glossary</title>
	<link rel="stylesheet" href="../glossstyles.css">
</head>
<body>
<button class="button" onclick="document.location='https://lorehord.com/'">Home</button><br><h1>Line 116</h1><html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>Heaþoric</td>
      <td>ond</td>
      <td>Sifecan,</td>
      <td>Hlīþe</td>
      <td>ond</td>
      <td>Incgenþeow.</td>
    </tr>
    <tr class="lemma-row">
      <td>Heaþoric</td>
      <td>ond</td>
      <td>Sifeca</td>
      <td>Hlīþe</td>
      <td>ond</td>
      <td>Incgenþeow</td>
    </tr>
    <tr class="pos-row">
      <td>asn</td>
      <td>conj</td>
      <td>asn</td>
      <td>asn</td>
      <td>conj</td>
      <td>asn</td>
    </tr>
    <tr class="gloss-row">
      <td>Heathoric</td>
      <td>and</td>
      <td>Sifeca</td>
      <td>Lotherus</td>
      <td>and</td>
      <td>Incgenþeow</td>
    </tr>
  </tbody>
</table>
  </body>
</html>
<button class="button" onclick="document.location='https://lorehord.com/views/line/line-117.html'">Next</button><button class="button" onclick="document.location='https://lorehord.com/views/line/line-115.html'">Previous</button><br>