<html>
<head>
	<meta charset="UTF-8">
	<title>Line 31</title>
	<link rel="stylesheet" href="../glossstyles.css">
</head>
<body>
<button class="button" onclick="document.location='https://lorehord.com/'">Home</button><br><h1>Line 31</h1><html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>Sæferð</td>
      <td>Sycgum,</td>
      <td>Sweom</td>
      <td>Ongendþeow,</td>
    </tr>
    <tr class="lemma-row">
      <td>Sæferð</td>
      <td>Sycgan</td>
      <td>Sweon</td>
      <td>nsn</td>
    </tr>
    <tr class="pos-row">
      <td>nsn</td>
      <td>dpn</td>
      <td>dpn</td>
      <td>Ongendþeow</td>
    </tr>
    <tr class="gloss-row">
      <td>Sæferð</td>
      <td>Sycgan</td>
      <td>Swedes</td>
      <td>Ongenþeow</td>
    </tr>
  </tbody>
</table>
  </body>
</html>
<button class="prevbutton" onclick="document.location='https://lorehord.com/views/line/line-30.html'">Previous</button><button class="nextbutton" onclick="document.location='https://lorehord.com/views/line/line-32.html'">Next</button>