<html>
<head>
	<meta charset="UTF-8">
	<title>Glossary</title>
	<link rel="stylesheet" href="../glossstyles.css">
</head>
<body>
<button class="button" onclick="document.location='https://lorehord.com/'">Home</button><br><h1>Line 67</h1><html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>songes</td>
      <td>to</td>
      <td>lēane.</td>
      <td>Næs</td>
      <td>þǣt</td>
      <td>sǣne</td>
      <td>cyning!</td>
    </tr>
    <tr class="lemma-row">
      <td>song</td>
      <td>to</td>
      <td>lēan</td>
      <td>wesan</td>
      <td>þǣt</td>
      <td>sǣne</td>
      <td>cyning</td>
    </tr>
    <tr class="pos-row">
      <td>gsn</td>
      <td>prep</td>
      <td>dsn</td>
      <td>psv</td>
      <td>nsn</td>
      <td>adj</td>
      <td>nsn</td>
    </tr>
    <tr class="gloss-row">
      <td>song</td>
      <td>to</td>
      <td>reward</td>
      <td>was not</td>
      <td>that</td>
      <td>stingy</td>
      <td>king</td>
    </tr>
  </tbody>
</table>
  </body>
</html>
<button class="button" onclick="document.location='https://lorehord.com/views/line/line-68.html'">Next</button><button class="button" onclick="document.location='https://lorehord.com/views/line/line-66.html'">Previous</button><br>