<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Widsið Line 25</title>
    <link rel="stylesheet" href="../static/styles.css">
    
<link rel="stylesheet" href="../../static/linebyline.css">

</head>
<body>
    <header class="header">
        <div class="site-title">Widsið</div>
        <nav class="nav-container">
          <ul class="nav-menu">
            <li class="nav-item"><a href="/index.html" class="nav-link">Home</a></li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link">Widsið  ▾</a>
              <div class="dropdown-content">
                <a href="/views/alignment1.html">Parallel Version</a>
                <a href="/views/line/line-1.html">Line by Line view</a>
                <a href="/views/glossary.html">Glossary</a>
                <a href="/views/named_entities.html">Named Entities</a>
                <a href="/views/llm_glossary.html">LLM Glossary</a>
                <a href="/views/beowulf_alignment.html">Beowulf Example</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link">Thesis  ▾</a>
              <div class="dropdown-content">
                <a href="/views/thesis.html">Thesis Paper</a>
                <a href="/views/furtherreading.html">Further Reading</a>
              </div>
            </li>
            <li class="nav-item"><a href="/views/acknowledgments.html" class="nav-link">Acknowledgments</a></li>
          </ul>
        </nav>
      </header>
  <div class="content-wrapper">
    
<link rel="stylesheet" href="../../static/linebyline.css">
</head>
	<h1>Widsið</h1>
<h2>Line 25</h2>
<table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>Breoca</td>
      <td>Brondingum,</td>
      <td>Billing</td>
      <td>Wernum.</td>
    </tr>
    <tr class="lemma-row">
      <td>Breoca</td>
      <td>Brondingas</td>
      <td>Billing</td>
      <td>Wern</td>
    </tr>
    <tr class="pos-row">
      <td>nsn</td>
      <td>dpn</td>
      <td>nsn</td>
      <td>dpn</td>
    </tr>
    <tr class="gloss-row">
      <td>Breoca</td>
      <td>Brondings</td>
      <td>Billing</td>
      <td>the Werns</td>
    </tr>
  </tbody>
</table>
	<div class="button-container">
		<a href="https://lorehord.com/views/line/line-24.html">Previous</a>
		<a href="https://lorehord.com/views/line/line-26.html">Next</a>
	</div>
	<h2 class="translation">Translation</h2><br>
	<p class="translation">Breoca the Brondings, Billing the Werns.</p>

	<div class='namedentities' style='text-align: justify;'>
		<h2 class='translation'>Named Entities</h2>
	<ul>
		<li><span class="named-entity">Breoca</span>: The Breca of <i>Beowulf</i> fame, the great swimmer, though his name likely refers to being a great breaker of rings or breaker of shield walls. (Malone 133)</li>
	</ul>	<ul>
		<li><span class="named-entity">Brondingas</span>: an unknown tribe, though Malone has some great speculation here (133-134)</li>
	</ul>	<ul>
		<li><span class="named-entity">Billing</span>: Malone (132-133) According to Chambers and Redin the name is derived from a kind of sword called a <i>bill</i></li>
	</ul>	<ul>
		<li><span class="named-entity">Wern</span>: The Varini of Tacitus and the Varni of Procopius and perhaps the Varinnae of Pliny (Malone 207). Procopius placed then east of the Rhine, Tacitus seems to put them in Jutland. <a href='https://en.wikipedia.org/wiki/Warini>Wikipedia</a></li>
	</ul>
	</div>
</table>

  </div>
  </body>
</html>