<html>
<head>
	<meta charset="UTF-8">
	<title>Line 134</title>
	<link rel="stylesheet" href="../linebyline.css">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@200;400;700&display=swap" rel="stylesheet">
</head>
<body>
<button class="button" onclick="document.location='https://lorehord.com/'">Home</button><br>
<h1>Widsið</h1>
<h2>Line 134</h2>
<html><body><table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>to</td>
      <td>gehealdenne,</td>
      <td>þenden</td>
      <td>hē</td>
      <td>hēr</td>
      <td>leofað.</td>
    </tr>
    <tr class="lemma-row">
      <td>to</td>
      <td>gehealdan</td>
      <td>þenden</td>
      <td>hē</td>
      <td>hēr</td>
      <td>lifgan</td>
    </tr>
    <tr class="pos-row">
      <td>prep</td>
      <td>gerund</td>
      <td>conj</td>
      <td>nsppn</td>
      <td>nsn</td>
      <td>psv</td>
    </tr>
    <tr class="gloss-row">
      <td>to</td>
      <td>holding</td>
      <td>while</td>
      <td>he</td>
      <td>here</td>
      <td>lives</td>
    </tr>
  </tbody>
</table></body></html>
	<div class="button-container">
		<a href="https://lorehord.com/views/line/line-133.html">Previous</a><a href="https://lorehord.com/views/line/line-135.html">Next</a>
	</div>
	<h2>Translation</h2><br>
	<p class="translation">for holding while he lives here."</p>
</html>