<html>
<head>
	<meta charset="UTF-8">
	<title>Glossary</title>
	<link rel="stylesheet" href="../glossstyles.css">
</head>
<body>
<button class="button" onclick="document.location='https://lorehord.com/'">Home</button><br><h1>Line 101</h1><html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>hwær</td>
      <td>ic</td>
      <td>under</td>
      <td>swegle</td>
      <td>sēlast</td>
      <td>wisse</td>
    </tr>
    <tr class="lemma-row">
      <td>hwær</td>
      <td>ic</td>
      <td>under</td>
      <td>swegl</td>
      <td>sēl</td>
      <td>witan</td>
    </tr>
    <tr class="pos-row">
      <td>adv</td>
      <td>pn</td>
      <td>prep</td>
      <td>dsn</td>
      <td>adj</td>
      <td>pret.sv</td>
    </tr>
    <tr class="gloss-row">
      <td>where</td>
      <td>I</td>
      <td>under</td>
      <td>sky</td>
      <td>best</td>
      <td>knew</td>
    </tr>
  </tbody>
</table>
  </body>
</html>
<button class="button" onclick="document.location='https://lorehord.com/views/line/line-102.html'">Next</button><button class="button" onclick="document.location='https://lorehord.com/views/line/line-100.html'">Previous</button><br>