<html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>ond</td>
      <td>ic</td>
      <td>wæs</td>
      <td>mid</td>
      <td>Eormanrīce</td>
      <td>ealle</td>
      <td>þrāge,</td>
    </tr>
    <tr class="lemma-row">
      <td>ond</td>
      <td>ic</td>
      <td>wesan</td>
      <td>mid</td>
      <td>Eormanrīc</td>
      <td>eal</td>
      <td>þrāg</td>
    </tr>
    <tr class="pos-row">
      <td>conj</td>
      <td>pn</td>
      <td>psv</td>
      <td>prep</td>
      <td>dsn</td>
      <td>asn</td>
      <td>asn</td>
    </tr>
    <tr class="gloss-row">
      <td>and</td>
      <td>I</td>
      <td>was</td>
      <td>with</td>
      <td>Ermanric</td>
      <td>all</td>
      <td>time</td>
    </tr>
  </tbody>
</table>
  </body>
</html>
