<html>
<head>
	<meta charset="UTF-8">
	<title>Line 132</title>
	<link rel="stylesheet" href="../linebyline.css">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@200;400;700&display=swap" rel="stylesheet">
</head>
<body>
<button class="button" onclick="document.location='https://lorehord.com/'">Home</button><br><h1>Line 132</h1><html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>þæt</td>
      <td>sē</td>
      <td>biþ</td>
      <td>lēofast</td>
      <td>londbūendum</td>
    </tr>
    <tr class="lemma-row">
      <td>þæt</td>
      <td>sē</td>
      <td>bēon</td>
      <td>lēof</td>
      <td>londbūend</td>
    </tr>
    <tr class="pos-row">
      <td>conj</td>
      <td>dem.pn</td>
      <td>pres.v</td>
      <td>adv</td>
      <td>dpn</td>
    </tr>
    <tr class="gloss-row">
      <td>that</td>
      <td>that</td>
      <td>be</td>
      <td>dearest</td>
      <td>subjects</td>
    </tr>
  </tbody>
</table>
  </body>
</html>

	<div class="button-container">
		<button class="prevbutton" onclick="document.location='https://lorehord.com/views/line/line-131.html'">Previous</button><button class="nextbutton" onclick="document.location='https://lorehord.com/views/line/line-133.html'">Next</button>
	</div>