<html>
<head>
	<meta charset="UTF-8">
	<title>Line 92</title>
	<link rel="stylesheet" href="../linebyline.css">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@200;400;700&display=swap" rel="stylesheet">
</head>
<body>
<button class="button" onclick="document.location='https://lorehord.com/'">Home</button><br><h1>Line 92</h1><html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>gescyred</td>
      <td>sceatta</td>
      <td>scillingrīme;</td>
    </tr>
    <tr class="lemma-row">
      <td>gescyrian</td>
      <td>sceatt</td>
      <td>scillingrīm</td>
    </tr>
    <tr class="pos-row">
      <td>ppv</td>
      <td>gpn</td>
      <td>dsn</td>
    </tr>
    <tr class="gloss-row">
      <td>reckoned</td>
      <td>denarii</td>
      <td>shilling count</td>
    </tr>
  </tbody>
</table>
  </body>
</html>

	<div class="button-container">
		<button class="prevbutton" onclick="document.location='https://lorehord.com/views/line/line-91.html'">Previous</button><button class="nextbutton" onclick="document.location='https://lorehord.com/views/line/line-93.html'">Next</button>
	</div>