<html>
<head>
	<meta charset="UTF-8">
	<title>Line 15</title>
	<link rel="stylesheet" href="../linebyline.css">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
<button class="button" onclick="document.location='https://lorehord.com/'">Home</button><br>
<main>
	<h1>Widsið</h1>
<h2>Line 15</h2>
<table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>ond</td>
      <td>Alexandreas</td>
      <td>ealra</td>
      <td>ricost</td>
    </tr>
    <tr class="lemma-row">
      <td>ond</td>
      <td>Alexandreas</td>
      <td>eal</td>
      <td>rice</td>
    </tr>
    <tr class="pos-row">
      <td>conj</td>
      <td>nsn</td>
      <td>adj</td>
      <td>adj</td>
    </tr>
    <tr class="gloss-row">
      <td>and</td>
      <td>Alexander</td>
      <td>all</td>
      <td>powerful</td>
    </tr>
  </tbody>
</table>
	<div class="button-container">
		<a href="https://lorehord.com/views/line/line-14.html">Previous</a><a href="https://lorehord.com/views/line/line-16.html">Next</a>
	</div>
	<h2 class="translation">Translation</h2><br>
	<p class="translation">and Alexander (the Great) most powerful</p>

	<h2 class='translation'>Named Entities</h2>
	<ul>
		<li><span class="named-entity">Alexandreas</span>: proper name, Alexander the great: https://en.wikipedia.org/wiki/Alexander_the_Great</li>
	</ul>
	</main>
	</body>
	</html>