<html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>eastan</td>
      <td>of</td>
      <td>Ongle,</td>
      <td>Eormanrīces,</td>
    </tr>
    <tr class="lemma-row">
      <td>eastan</td>
      <td>of</td>
      <td>Ongel</td>
      <td>Eormanrīc</td>
    </tr>
    <tr class="pos-row">
      <td>adv</td>
      <td>prep</td>
      <td>dpn</td>
      <td>gsn</td>
    </tr>
    <tr class="gloss-row">
      <td>east</td>
      <td>from</td>
      <td>the Angles land</td>
      <td>Ermanric</td>
    </tr>
  </tbody>
</table>
  </body>
</html>
