<html>
<head>
	<meta charset="UTF-8">
	<title>Line 48</title>
	<link rel="stylesheet" href="../linebyline.css">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
<button class="button" onclick="document.location='https://lorehord.com/'">Home</button><br>
<main>
	<h1>Widsið</h1>
<h2>Line 48</h2>
<table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>ond</td>
      <td>Ingeldes</td>
      <td>ord</td>
      <td>forbīgdan,</td>
    </tr>
    <tr class="lemma-row">
      <td>ond</td>
      <td>Ingeld</td>
      <td>ord</td>
      <td>forbīgan</td>
    </tr>
    <tr class="pos-row">
      <td>conj</td>
      <td>gsn</td>
      <td>asn</td>
      <td>pret.pv</td>
    </tr>
    <tr class="gloss-row">
      <td>and</td>
      <td>Ingeld</td>
      <td>vanguard</td>
      <td>humbled</td>
    </tr>
  </tbody>
</table>
	<div class="button-container">
		<a href="https://lorehord.com/views/line/line-47.html">Previous</a><a href="https://lorehord.com/views/line/line-49.html">Next</a>
	</div>
	<h2 class="translation">Translation</h2><br>
	<p class="translation">and humbled Ingeld's vanguard,</p>
	</main>
	</body>
	</html>