<html>
<head>
	<meta charset="UTF-8">
	<title>Line 23</title>
	<link rel="stylesheet" href="../glossstyles.css">
</head>
<body>
<button class="button" onclick="document.location='https://lorehord.com/'">Home</button><br><h1>Line 23</h1><html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>Meaca</td>
      <td>Myrgingum,</td>
      <td>Mearchealf</td>
      <td>Hundingum.</td>
    </tr>
    <tr class="lemma-row">
      <td>Meaca</td>
      <td>Myrgingas</td>
      <td>Mearchealf</td>
      <td>Hundingas</td>
    </tr>
    <tr class="pos-row">
      <td>nsn</td>
      <td>dpn</td>
      <td>nsn</td>
      <td>dpn</td>
    </tr>
    <tr class="gloss-row">
      <td>Meaca</td>
      <td>the Myrgings</td>
      <td>Mearchealf</td>
      <td>the Hundings</td>
    </tr>
  </tbody>
</table>
  </body>
</html>
<button class="prevbutton" onclick="document.location='https://lorehord.com/views/line/line-22.html'">Previous</button><button class="nextbutton" onclick="document.location='https://lorehord.com/views/line/line-24.html'">Next</button>