<html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>fælre</td>
      <td>freoþuwebban,</td>
      <td>forman</td>
      <td>sīþe</td>
    </tr>
    <tr class="lemma-row">
      <td>fæle</td>
      <td>freoþuwebbe</td>
      <td>forma</td>
      <td>sīþ</td>
    </tr>
    <tr class="pos-row">
      <td>adj</td>
      <td>dsn</td>
      <td>adj</td>
      <td>isn</td>
    </tr>
    <tr class="gloss-row">
      <td>gracious</td>
      <td>peace-weaver</td>
      <td>first/foremost</td>
      <td>going/journey</td>
    </tr>
  </tbody>
</table>
  </body>
</html>
