<html>
<head>
	<meta charset="UTF-8">
	<title>Line 72</title>
	<link rel="stylesheet" href="../linebyline.css">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@200;400;700&display=swap" rel="stylesheet">
</head>
<body>
<button class="button" onclick="document.location='https://lorehord.com/'">Home</button><br><h1>Line 72</h1><html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>lēohteste</td>
      <td>hond</td>
      <td>lofes</td>
      <td>to</td>
      <td>wyrcenne,</td>
    </tr>
    <tr class="lemma-row">
      <td>lēoht</td>
      <td>hond</td>
      <td>lof</td>
      <td>to</td>
      <td>wyrcan</td>
    </tr>
    <tr class="pos-row">
      <td>adj</td>
      <td>asn</td>
      <td>gsn</td>
      <td>prep</td>
      <td>dsn</td>
    </tr>
    <tr class="gloss-row">
      <td>lightest</td>
      <td>hand</td>
      <td>praise</td>
      <td>to</td>
      <td>earning</td>
    </tr>
  </tbody>
</table>
  </body>
</html>

	<div class="button-container">
		<button class="prevbutton" onclick="document.location='https://lorehord.com/views/line/line-71.html'">Previous</button><button class="nextbutton" onclick="document.location='https://lorehord.com/views/line/line-73.html'">Next</button>
	</div>