<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Widsið Line 115</title>
    <link rel="stylesheet" href="../static/styles.css">
    
<link rel="stylesheet" href="../../static/linebyline.css">

</head>
<body>
    <header class="header">
        <div class="site-title">Widsið</div>
        <nav class="nav-container">
          <ul class="nav-menu">
            <li class="nav-item"><a href="/index.html" class="nav-link">Home</a></li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link">Widsið  ▾</a>
              <div class="dropdown-content">
                <a href="/views/alignment1.html">Parallel Version</a>
                <a href="/views/line/line-1.html">Line by Line view</a>
                <a href="/views/glossary.html">Glossary</a>
                <a href="/views/named_entities.html">Named Entities</a>
                <a href="/views/llm_glossary.html">LLM Glossary</a>
                <a href="/views/beowulf_alignment.html">Beowulf Example</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link">Thesis  ▾</a>
              <div class="dropdown-content">
                <a href="/views/thesis.html">Thesis Paper</a>
                <a href="/views/furtherreading.html">Further Reading</a>
              </div>
            </li>
            <li class="nav-item"><a href="/views/contact.html" class="nav-link">Contact</a></li>
          </ul>
        </nav>
      </header>
  <div class="content-wrapper">
    
<link rel="stylesheet" href="../../static/linebyline.css">
</head>
	<h1>Widsið</h1>
<h2>Line 115</h2>
<table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>Seccan</td>
      <td>sōhte</td>
      <td>ic</td>
      <td>ond</td>
      <td>Beccan,</td>
      <td>Seafolan</td>
      <td>ond</td>
      <td>þeodric,</td>
    </tr>
    <tr class="lemma-row">
      <td>Secca</td>
      <td>sēcan</td>
      <td>ic</td>
      <td>ond</td>
      <td>Becca</td>
      <td>Seafola</td>
      <td>ond</td>
      <td>þeodric</td>
    </tr>
    <tr class="pos-row">
      <td>asn</td>
      <td>pret.sv</td>
      <td>pn</td>
      <td>conj</td>
      <td>asn</td>
      <td>asn</td>
      <td>conj</td>
      <td>asn</td>
    </tr>
    <tr class="gloss-row">
      <td>Secca</td>
      <td>sought</td>
      <td>I</td>
      <td>and</td>
      <td>Becca</td>
      <td>Seafola</td>
      <td>and</td>
      <td>Theodric</td>
    </tr>
  </tbody>
</table>
	<div class="button-container">
		<a href="https://lorehord.com/views/line/line-114.html">Previous</a>
		<a href="https://lorehord.com/views/line/line-116.html">Next</a>
	</div>
	<h2 class="translation">Translation</h2><br>
	<p class="translation">Secca I sought and Becca, Seafola and Theodric</p>

	<div class='namedentities' style='text-align: justify;'>
		<h2 class='translation'>Named Entities</h2>
	<ul>
		<li><span class="named-entity">Secca</span>: The young Sigiwald of history, kinsmen of the Frankish Þeodric. His story is found in Gregory of Tours' <i>Historia Fancorum iii</i> (Malone 196).</li>
	</ul>	<ul>
		<li><span class="named-entity">Becca</span>: Berchtung of the Wolfdietrich story, occaisionally also indentified with the evil Bikki but this Becca is clearly in the wrong company to be associated wtih that story</li>
	</ul>	<ul>
		<li><span class="named-entity">Seafola</span>: A legendary traitorous retainer from the Wolfdietrich tale, according to Malone 194-195. Chambers instead has this as Sabene of Rabene in the Dietrich von Berne story (see Gillespie 28).</li>
	</ul>	<ul>
		<li><span class="named-entity">þeodric</span>: This Theodric is not the same as the one above according to Chambers (See Malone 204). Chambers associates this Theodric as Dietrich von Bern, which would make Seafola above Sabene von Rabene. Malone considers this impossible based on Jiriczek's paper (1920 in <i>Englische Studien</i>) in which Seafola is identified as the Wolfdietrich villain.</li>
	</ul>
	</div>
</table>

  </div>
  </body>
</html>