<html>
<head>
	<meta charset="UTF-8">
	<title>Glossary</title>
	<link rel="stylesheet" href="../glossstyles.css">
</head>
<body>
<button class="button" onclick="document.location='https://lorehord.com/'">Home</button><br><h1>Line 139</h1><html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>gydda</td>
      <td>glēawne,</td>
      <td>geofum</td>
      <td>unhnēawne,</td>
    </tr>
    <tr class="lemma-row">
      <td>gydd</td>
      <td>glēaw</td>
      <td>giefu</td>
      <td>unhnēaw</td>
    </tr>
    <tr class="pos-row">
      <td>gpn</td>
      <td>adj</td>
      <td>ipn</td>
      <td>adj</td>
    </tr>
    <tr class="gloss-row">
      <td>poem</td>
      <td>appreciative</td>
      <td>gifts</td>
      <td>generous</td>
    </tr>
  </tbody>
</table>
  </body>
</html>
<button class="prevbutton" onclick="document.location='https://lorehord.com/views/line/line-138.html'">Previous</button><br><button class="nextbutton" onclick="document.location='https://lorehord.com/views/line/line-140.html'">Next</button>