<html>
<head>
	<meta charset="UTF-8">
	<title>Line 22</title>
	<link rel="stylesheet" href="../linebyline.css">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@200;400;700&display=swap" rel="stylesheet">
</head>
<body>
<button class="button" onclick="document.location='https://lorehord.com/'">Home</button><br><h1>Line 22</h1><html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>Witta</td>
      <td>weold</td>
      <td>Swæfum,</td>
      <td>Wada</td>
      <td>Hælsingum,</td>
    </tr>
    <tr class="lemma-row">
      <td>Witta</td>
      <td>wealdan</td>
      <td>Swæfe</td>
      <td>Wada</td>
      <td>Hælsingas</td>
    </tr>
    <tr class="pos-row">
      <td>nsn</td>
      <td>psv</td>
      <td>dpn</td>
      <td>nsn</td>
      <td>ipn</td>
    </tr>
    <tr class="gloss-row">
      <td>Witta</td>
      <td>ruled</td>
      <td>Swæfe</td>
      <td>Wada</td>
      <td>Hælsings</td>
    </tr>
  </tbody>
</table>
  </body>
</html>

	<div class="button-container">
		<button class="prevbutton" onclick="document.location='https://lorehord.com/views/line/line-21.html'">Previous</button><button class="nextbutton" onclick="document.location='https://lorehord.com/views/line/line-23.html'">Next</button>
	</div>