<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Widsið Line 142</title>
    <link rel="stylesheet" href="../static/styles.css">
    
<link rel="stylesheet" href="../../static/linebyline.css">

</head>
<body>
    <header class="header">
        <div class="site-title">Widsið</div>
        <nav class="nav-container">
          <ul class="nav-menu">
            <li class="nav-item"><a href="/index.html" class="nav-link">Home</a></li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link">Widsið  ▾</a>
              <div class="dropdown-content">
                <a href="/views/alignment1.html">Parallel Version</a>
                <a href="/views/line/line-1.html">Line by Line view</a>
                <a href="/views/glossary.html">Glossary</a>
                <a href="/views/named_entities.html">Named Entities</a>
                <a href="/views/llm_glossary.html">LLM Glossary</a>
                <a href="/views/beowulf_alignment.html">Beowulf Example</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link">Thesis  ▾</a>
              <div class="dropdown-content">
                <a href="/views/thesis.html">Thesis Paper</a>
                <a href="/views/furtherreading.html">Further Reading</a>
              </div>
            </li>
            <li class="nav-item"><a href="/views/contact.html" class="nav-link">Contact</a></li>
          </ul>
        </nav>
      </header>
  <div class="content-wrapper">
    
<link rel="stylesheet" href="../../static/linebyline.css">
</head>
	<h1>Widsið</h1>
<h2>Line 142</h2>
<table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>lēoht</td>
      <td>ond</td>
      <td>līf</td>
      <td>somod;</td>
      <td>lof</td>
      <td>se</td>
      <td>gewyrceð,</td>
    </tr>
    <tr class="lemma-row">
      <td>lēoht</td>
      <td>ond</td>
      <td>līf</td>
      <td>somod</td>
      <td>lof</td>
      <td>se</td>
      <td>gewyrcan</td>
    </tr>
    <tr class="pos-row">
      <td>nsn</td>
      <td>conj</td>
      <td>nsn</td>
      <td>adv</td>
      <td>asn</td>
      <td>dem.pn</td>
      <td>v</td>
    </tr>
    <tr class="gloss-row">
      <td>light</td>
      <td>and</td>
      <td>life</td>
      <td>together</td>
      <td>praise</td>
      <td>that</td>
      <td>works</td>
    </tr>
  </tbody>
</table>
	<div class="button-container">
		<a href="https://lorehord.com/views/line/line-141.html">Previous</a>
		<a href="https://lorehord.com/views/line/line-143.html">Next</a>
	</div>
	<h2 class="translation">Translation</h2><br>
	<p class="translation">light and life together. He who works for praise </p>

	<div class='namedentities' style='text-align: justify;'>
		<h2 class='translation'>Named Entities</h2>

	</div>
</table>

  </div>
  </body>
</html>