<html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>giellende</td>
      <td>gar</td>
      <td>on</td>
      <td>grome</td>
      <td>þēode;</td>
    </tr>
    <tr class="lemma-row">
      <td>giellan</td>
      <td>gar</td>
      <td>on</td>
      <td>grom</td>
      <td>þēod</td>
    </tr>
    <tr class="pos-row">
      <td>verb</td>
      <td>n</td>
      <td>prep</td>
      <td>adj</td>
      <td>asn</td>
    </tr>
    <tr class="gloss-row">
      <td>yelling</td>
      <td>spear</td>
      <td>in</td>
      <td>hostile</td>
      <td>band</td>
    </tr>
  </tbody>
</table>
  </body>
</html>
