<html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>Forþon</td>
      <td>ic</td>
      <td>mæg</td>
      <td>singan</td>
      <td>ond</td>
      <td>secgan</td>
      <td>spell,</td>
    </tr>
    <tr class="lemma-row">
      <td>forþon</td>
      <td>ic</td>
      <td>magan</td>
      <td>singan</td>
      <td>ond</td>
      <td>secgan</td>
      <td>spell</td>
    </tr>
    <tr class="pos-row">
      <td>conj</td>
      <td>pn</td>
      <td>psv</td>
      <td>v</td>
      <td>conj</td>
      <td>v</td>
      <td>asn</td>
    </tr>
    <tr class="gloss-row">
      <td>therefore</td>
      <td>I</td>
      <td>will</td>
      <td>sing</td>
      <td>and</td>
      <td>speak</td>
      <td>tale</td>
    </tr>
  </tbody>
</table>
  </body>
</html>
