<html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>Hringweald</td>
      <td>wæs</td>
      <td>hāten</td>
      <td>Herefarena</td>
      <td>cyning.</td>
    </tr>
    <tr class="lemma-row">
      <td>Hringwald</td>
      <td>wesan</td>
      <td>hāten</td>
      <td>Herefaran</td>
      <td>cyning</td>
    </tr>
    <tr class="pos-row">
      <td>nsn</td>
      <td>psv</td>
      <td>ppv</td>
      <td>gpn</td>
      <td>gsn</td>
    </tr>
    <tr class="gloss-row">
      <td>Hringwald</td>
      <td>was</td>
      <td>called</td>
      <td>of the Herefarens</td>
      <td>king</td>
    </tr>
  </tbody>
</table>
  </body>
</html>
