<html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>þearfe</td>
      <td>secgað,</td>
      <td>þoncword</td>
      <td>sprecaþ,</td>
    </tr>
    <tr class="lemma-row">
      <td>þearf</td>
      <td>secgan</td>
      <td>þoncword</td>
      <td>sprecan</td>
    </tr>
    <tr class="pos-row">
      <td>asn</td>
      <td>pres.pv</td>
      <td>apn</td>
      <td>pres.pv</td>
    </tr>
    <tr class="gloss-row">
      <td>need</td>
      <td>says</td>
      <td>thank-words</td>
      <td>speaking</td>
    </tr>
  </tbody>
</table>
  </body>
</html>
