<html>
<head>
	<meta charset="UTF-8">
	<title>Line 6</title>
	<link rel="stylesheet" href="../linebyline.css">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@200;400;700&display=swap" rel="stylesheet">
</head>
<body>
<button class="button" onclick="document.location='https://lorehord.com/'">Home</button><br><h1>Widsið</h1><h2>Line 6</h2><html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>fælre</td>
      <td>freoþuwebban,</td>
      <td>forman</td>
      <td>sīþe</td>
    </tr>
    <tr class="lemma-row">
      <td>fæle</td>
      <td>freoþuwebbe</td>
      <td>forma</td>
      <td>sīþ</td>
    </tr>
    <tr class="pos-row">
      <td>adj</td>
      <td>dsn</td>
      <td>adj</td>
      <td>isn</td>
    </tr>
    <tr class="gloss-row">
      <td>gracious</td>
      <td>peace-weaver</td>
      <td>first/foremost</td>
      <td>going/journey</td>
    </tr>
  </tbody>
</table>
  </body>
</html>

	<div class="button-container">
		<a href="https://lorehord.com/views/line/line-5.html">Previous</a><a href="https://lorehord.com/views/line/line-7.html">Next</buttaon>
	</div>