<html>
<head>
	<meta charset="UTF-8">
	<title>Glossary</title>
	<link rel="stylesheet" href="../glossstyles.css">
</head>
<body>
<button class="button" onclick="document.location='https://lorehord.com/'">Home</button><br><h1>Line 73</h1><html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>heortan</td>
      <td>unhnēaweste</td>
      <td>hringa</td>
      <td>gedāles,</td>
    </tr>
    <tr class="lemma-row">
      <td>heorte</td>
      <td>unhnēaw</td>
      <td>hring</td>
      <td>gedāl</td>
    </tr>
    <tr class="pos-row">
      <td>asn</td>
      <td>adj</td>
      <td>gpn</td>
      <td>gsn</td>
    </tr>
    <tr class="gloss-row">
      <td>heart</td>
      <td>generous</td>
      <td>rings</td>
      <td>distributed</td>
    </tr>
  </tbody>
</table>
  </body>
</html>
<button class="prevbutton" onclick="document.location='https://lorehord.com/views/line/line-72.html'">Previous</button><br><button class="nextbutton" onclick="document.location='https://lorehord.com/views/line/line-74.html'">Next</button>