<html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>ne</td>
      <td>wæran</td>
      <td>þæt</td>
      <td>gesīþa</td>
      <td>þa</td>
      <td>sǣmestan,</td>
    </tr>
    <tr class="lemma-row">
      <td>ne</td>
      <td>wesan</td>
      <td>sē</td>
      <td>gesīþ</td>
      <td>sē</td>
      <td>sǣmest</td>
    </tr>
    <tr class="pos-row">
      <td>negative</td>
      <td>ppv</td>
      <td>aspn</td>
      <td>gpn</td>
      <td>npart</td>
      <td>adj</td>
    </tr>
    <tr class="gloss-row">
      <td>not</td>
      <td>were</td>
      <td>that</td>
      <td>comrades in arms</td>
      <td>the</td>
      <td>worst</td>
    </tr>
  </tbody>
</table>
  </body>
</html>
