<html>
<head>
	<meta charset="UTF-8">
	<title>Line 123</title>
	<link rel="stylesheet" href="../linebyline.css">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@200;400;700&display=swap" rel="stylesheet">
</head>
<body>
<button class="button" onclick="document.location='https://lorehord.com/'">Home</button><br><h1>Widsið</h1><h2>Line 123</h2><html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>Rædhere</td>
      <td>sōhte</td>
      <td>ic</td>
      <td>ond</td>
      <td>Rondhere,</td>
      <td>Rumstan</td>
      <td>ond</td>
      <td>Gislhere,</td>
    </tr>
    <tr class="lemma-row">
      <td>Rædhere</td>
      <td>sēcan</td>
      <td>ic</td>
      <td>ond</td>
      <td>Rondhere</td>
      <td>Rumstan</td>
      <td>ond</td>
      <td>Gislhere</td>
    </tr>
    <tr class="pos-row">
      <td>asn</td>
      <td>pret.sv</td>
      <td>pn</td>
      <td>conj</td>
      <td>asn</td>
      <td>asn</td>
      <td>conj</td>
      <td>asn</td>
    </tr>
    <tr class="gloss-row">
      <td>Rædhere</td>
      <td>sought</td>
      <td>I</td>
      <td>and</td>
      <td>Rondhere</td>
      <td>Rumstan</td>
      <td>and</td>
      <td>Gislaharius</td>
    </tr>
  </tbody>
</table>
  </body>
</html>

	<div class="button-container">
		<a href="https://lorehord.com/views/line/line-122.html">Previous</a><a href="https://lorehord.com/views/line/line-124.html">Next</buttaon>
	</div>