<html>
<head>
	<meta charset="UTF-8">
	<title>Line 84</title>
	<link rel="stylesheet" href="../linebyline.css">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
<button class="button" onclick="document.location='https://lorehord.com/'">Home</button><br>
<main>
	<h1>Widsið</h1>
<h2>Line 84</h2>
<table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>mid</td>
      <td>Moidum</td>
      <td>ic</td>
      <td>wæs</td>
      <td>ond</td>
      <td>mid</td>
      <td>Persum</td>
      <td>ond</td>
      <td>mid</td>
      <td>Myrgingum,</td>
    </tr>
    <tr class="lemma-row">
      <td>mid</td>
      <td>Moide</td>
      <td>ic</td>
      <td>wesan</td>
      <td>ond</td>
      <td>mid</td>
      <td>Perse</td>
      <td>ond</td>
      <td>mid</td>
      <td>Myrgingas</td>
    </tr>
    <tr class="pos-row">
      <td>prep</td>
      <td>dpn</td>
      <td>pn</td>
      <td>psv</td>
      <td>conj</td>
      <td>prep</td>
      <td>dpn</td>
      <td>conj</td>
      <td>prep</td>
      <td>dpn</td>
    </tr>
    <tr class="gloss-row">
      <td>with</td>
      <td>the Moids</td>
      <td>I</td>
      <td>was</td>
      <td>and</td>
      <td>with</td>
      <td>the Perse</td>
      <td>and</td>
      <td>with</td>
      <td>the Myrgings</td>
    </tr>
  </tbody>
</table>
	<div class="button-container">
		<a href="https://lorehord.com/views/line/line-83.html">Previous</a><a href="https://lorehord.com/views/line/line-85.html">Next</a>
	</div>
	<h2 class="translation">Translation</h2><br>
	<p class="translation">WIth the Moids I was and with the Perse, and with the Myrgings</p>

	<h2 class='translation'>Named Entities</h2>
	<p class="translation">Moide: Malone 183: Moide are the inhabitates of Møn (tgn 7003643, http://vocab.getty.edu/page/tgn/7003574) in the Danish archipelago, and a well known harbor and battle-site. Earlier editors associated the Moide with the Medes but this spelling would be a one-off then, as the Medes are usuall spelled Meðas or Mœðe.</p>
	<p class="translation">Perse: because of the exotic peoples listed in the previous sentence, these often get translated to the Medes and the Persians; however, Malone points out that in this couplet, they are actually paired with Scandinavian and Germanic tribes within the sentence. Because of this, the identity of the Perse is unknown.</p>
	</main>
	</body>
	</html>