<html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>ealdne</td>
      <td>ēþelstōl</td>
      <td>Ætlan</td>
      <td>lēodum.</td>
    </tr>
    <tr class="lemma-row">
      <td>eal</td>
      <td>ēþelstōl</td>
      <td>Ætla</td>
      <td>lēod</td>
    </tr>
    <tr class="pos-row">
      <td>adj</td>
      <td>asn</td>
      <td>gsn</td>
      <td>dpn</td>
    </tr>
    <tr class="gloss-row">
      <td>old</td>
      <td>ancestral land</td>
      <td>Atilla's</td>
      <td>people</td>
    </tr>
  </tbody>
</table>
  </body>
</html>
