<html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>Engle</td>
      <td>ond</td>
      <td>Swæfe,</td>
      <td>swā</td>
      <td>hit</td>
      <td>Offa</td>
      <td>geslog</td>
    </tr>
    <tr class="lemma-row">
      <td>Ongel</td>
      <td>ond</td>
      <td>Swæfe</td>
      <td>swā</td>
      <td>hē</td>
      <td>Offa</td>
      <td>geslean</td>
    </tr>
    <tr class="pos-row">
      <td>asn</td>
      <td>conj</td>
      <td>asn</td>
      <td>conj</td>
      <td>asn</td>
      <td>asn</td>
      <td>psv</td>
    </tr>
    <tr class="gloss-row">
      <td>the Angles</td>
      <td>and</td>
      <td>the Suebi</td>
      <td>as</td>
      <td>he</td>
      <td>Offa</td>
      <td>won</td>
    </tr>
  </tbody>
</table>
  </body>
</html>
