<html>
<head>
	<meta charset="UTF-8">
	<title>Line 130</title>
	<link rel="stylesheet" href="../linebyline.css">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@200;400;700&display=swap" rel="stylesheet">
</head>
<body>
<button class="button" onclick="document.location='https://lorehord.com/'">Home</button><br><h1>Widsið</h1><h2>Line 130</h2><html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>werum</td>
      <td>ond</td>
      <td>wīfum,</td>
      <td>Wudga</td>
      <td>ond</td>
      <td>Hama.</td>
    </tr>
    <tr class="lemma-row">
      <td>wer</td>
      <td>ond</td>
      <td>wīf</td>
      <td>Wudga</td>
      <td>ond</td>
      <td>Hama</td>
    </tr>
    <tr class="pos-row">
      <td>ipn</td>
      <td>conj</td>
      <td>ipn</td>
      <td>nsn</td>
      <td>conj</td>
      <td>nsn</td>
    </tr>
    <tr class="gloss-row">
      <td>men</td>
      <td>and</td>
      <td>women</td>
      <td>Wudga</td>
      <td>and</td>
      <td>Hama</td>
    </tr>
  </tbody>
</table>
  </body>
</html>

	<div class="button-container">
		<a href="https://lorehord.com/views/line/line-129.html">Previous</a><a href="https://lorehord.com/views/line/line-131.html">Next</buttaon>
	</div>