<html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>Breoca</td>
      <td>Brondingum,</td>
      <td>Billing</td>
      <td>Wernum.</td>
    </tr>
    <tr class="lemma-row">
      <td>Breoca</td>
      <td>Brondingas</td>
      <td>Billing</td>
      <td>Wern</td>
    </tr>
    <tr class="pos-row">
      <td>nsn</td>
      <td>dpn</td>
      <td>nsn</td>
      <td>dpn</td>
    </tr>
    <tr class="gloss-row">
      <td>Breoca</td>
      <td>Brondings</td>
      <td>Billing</td>
      <td>the Werns</td>
    </tr>
  </tbody>
</table>
  </body>
</html>
