<html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>cnihtwesende,</td>
      <td>cynerica</td>
      <td>mǣst.</td>
    </tr>
    <tr class="lemma-row">
      <td>cnihtwesende</td>
      <td>cynerice</td>
      <td>mǣst</td>
    </tr>
    <tr class="pos-row">
      <td>pp</td>
      <td>gpn</td>
      <td>adj</td>
    </tr>
    <tr class="gloss-row">
      <td>being a youth</td>
      <td>king-realm</td>
      <td>greatest</td>
    </tr>
  </tbody>
</table>
  </body>
</html>
