<html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>merce</td>
      <td>gemǣrde</td>
      <td>wið</td>
      <td>Myrgingum</td>
    </tr>
    <tr class="lemma-row">
      <td>merc</td>
      <td>gemǣran</td>
      <td>wið</td>
      <td>Myrgingas</td>
    </tr>
    <tr class="pos-row">
      <td>asn</td>
      <td>pret.sv</td>
      <td>prep</td>
      <td>dpn</td>
    </tr>
    <tr class="gloss-row">
      <td>boundary</td>
      <td>defined</td>
      <td>against</td>
      <td>the Myrgings</td>
    </tr>
  </tbody>
</table>
  </body>
</html>
