<html>
<head>
	<meta charset="UTF-8">
	<title>Glossary</title>
	<link rel="stylesheet" href="../glossstyles.css">
</head>
<body>
<button class="button" onclick="document.location='https://lorehord.com/'">Home</button><br><h1>Line 25</h1><html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>Breoca</td>
      <td>Brondingum,</td>
      <td>Billing</td>
      <td>Wernum.</td>
    </tr>
    <tr class="lemma-row">
      <td>Breoca</td>
      <td>Brondingas</td>
      <td>Billing</td>
      <td>Wern</td>
    </tr>
    <tr class="pos-row">
      <td>nsn</td>
      <td>dpn</td>
      <td>nsn</td>
      <td>dpn</td>
    </tr>
    <tr class="gloss-row">
      <td>Breoca</td>
      <td>Brondings</td>
      <td>Billing</td>
      <td>the Werns</td>
    </tr>
  </tbody>
</table>
  </body>
</html>
<button class="prevbutton" onclick="document.location='https://lorehord.com/views/line/line-24.html'">Previous</button><br><button class="nextbutton" onclick="document.location='https://lorehord.com/views/line/line-26.html'">Next</button>