<html>
<head>
	<meta charset="UTF-8">
	<title>Glossary</title>
	<link rel="stylesheet" href="../glossstyles.css">
</head>
<body>
<button class="button" onclick="document.location='https://lorehord.com/'">Home</button><br><h1>Line 140</h1><html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>se</td>
      <td>þe</td>
      <td>fore</td>
      <td>duguþe</td>
      <td>wile</td>
      <td>dōm</td>
      <td>ārǣran,</td>
    </tr>
    <tr class="lemma-row">
      <td>se</td>
      <td>þe</td>
      <td>fore</td>
      <td>duguþ</td>
      <td>willan</td>
      <td>dōm</td>
      <td>ārǣran</td>
    </tr>
    <tr class="pos-row">
      <td>dem.pn</td>
      <td>in</td>
      <td>prep</td>
      <td>dsn</td>
      <td>pres.sv</td>
      <td>asn</td>
      <td>v</td>
    </tr>
    <tr class="gloss-row">
      <td>that</td>
      <td>who</td>
      <td>before</td>
      <td>royal military men</td>
      <td>will</td>
      <td>reputation</td>
      <td>to heighten</td>
    </tr>
  </tbody>
</table>
  </body>
</html>
<button class="prevbutton" onclick="document.location='https://lorehord.com/views/line/line-139.html'">Previous</button><br><button class="nextbutton" onclick="document.location='https://lorehord.com/views/line/line-141.html'">Next</button>