<html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>wordum</td>
      <td>sprēcan,</td>
      <td>þa</td>
      <td>þe</td>
      <td>wēl</td>
      <td>cuþan,</td>
    </tr>
    <tr class="lemma-row">
      <td>word</td>
      <td>sprecan</td>
      <td>sē</td>
      <td>þe</td>
      <td>wēl</td>
      <td>cunnan</td>
    </tr>
    <tr class="pos-row">
      <td>ipn</td>
      <td>pret.sv</td>
      <td>nppn</td>
      <td>in</td>
      <td>adv</td>
      <td>pret.pv</td>
    </tr>
    <tr class="gloss-row">
      <td>words</td>
      <td>spoke</td>
      <td>they</td>
      <td>who</td>
      <td>well</td>
      <td>knew</td>
    </tr>
  </tbody>
</table>
  </body>
</html>
