<html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>ond</td>
      <td>Ingeldes</td>
      <td>ord</td>
      <td>forbīgdan,</td>
    </tr>
    <tr class="lemma-row">
      <td>ond</td>
      <td>Ingeld</td>
      <td>ord</td>
      <td>forbīgan</td>
    </tr>
    <tr class="pos-row">
      <td>conj</td>
      <td>gsn</td>
      <td>asn</td>
      <td>pret.pv</td>
    </tr>
    <tr class="gloss-row">
      <td>and</td>
      <td>Ingeld</td>
      <td>vanguard</td>
      <td>humbled</td>
    </tr>
  </tbody>
</table>
  </body>
</html>
