<html>
<head>
	<meta charset="UTF-8">
	<title>Line 40</title>
	<link rel="stylesheet" href="../linebyline.css">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@200;400;700&display=swap" rel="stylesheet">
</head>
<body>
<button class="button" onclick="document.location='https://lorehord.com/'">Home</button><br>
<h1>Widsið</h1>
<h2>Line 40</h2>
<html><body><table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>Nænig</td>
      <td>efeneald</td>
      <td>him</td>
      <td>eorlscipe</td>
      <td>māran</td>
    </tr>
    <tr class="lemma-row">
      <td>nænig</td>
      <td>efeneald</td>
      <td>hē</td>
      <td>eorlscipe</td>
      <td>māra</td>
    </tr>
    <tr class="pos-row">
      <td>pn</td>
      <td>adj</td>
      <td>gsn</td>
      <td>nsn</td>
      <td>adj</td>
    </tr>
    <tr class="gloss-row">
      <td>Not any</td>
      <td>contemporaries</td>
      <td>of him</td>
      <td>manliness</td>
      <td>more</td>
    </tr>
  </tbody>
</table></body></html>
	<div class="button-container">
		<a href="https://lorehord.com/views/line/line-39.html">Previous</a><a href="https://lorehord.com/views/line/line-41.html">Next</a>
	</div>
	<h2>Translation</h2><br>
	<p class="translation">Not any of his contemporaries were greater in valorous deeds</p>
</html>