<html>
<head>
	<meta charset="UTF-8">
	<title>Line 48</title>
	<link rel="stylesheet" href="../linebyline.css">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@200;400;700&display=swap" rel="stylesheet">
</head>
<body>
<button class="button" onclick="document.location='https://lorehord.com/'">Home</button><br><h1>Line 48</h1><html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>ond</td>
      <td>Ingeldes</td>
      <td>ord</td>
      <td>forbīgdan,</td>
    </tr>
    <tr class="lemma-row">
      <td>ond</td>
      <td>Ingeld</td>
      <td>ord</td>
      <td>forbīgan</td>
    </tr>
    <tr class="pos-row">
      <td>conj</td>
      <td>gsn</td>
      <td>asn</td>
      <td>pret.pv</td>
    </tr>
    <tr class="gloss-row">
      <td>and</td>
      <td>Ingeld</td>
      <td>vanguard</td>
      <td>humbled</td>
    </tr>
  </tbody>
</table>
  </body>
</html>

	<div class="button-container">
		<button class="prevbutton" onclick="document.location='https://lorehord.com/views/line/line-47.html'">Previous</button><button class="nextbutton" onclick="document.location='https://lorehord.com/views/line/line-49.html'">Next</button>
	</div>