<html>
<head>
	<meta charset="UTF-8">
	<title>Line 4</title>
	<link rel="stylesheet" href="../linebyline.css">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
<button class="button" onclick="document.location='https://lorehord.com/'">Home</button><br>
<main>
	<h1>Widsið</h1>
<h2>Line 4</h2>
<table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>mynelīcne</td>
      <td>māþþum.</td>
      <td>Him</td>
      <td>from</td>
      <td>Myrgingum</td>
    </tr>
    <tr class="lemma-row">
      <td>mynelīc</td>
      <td>māþþum</td>
      <td>hē</td>
      <td>from</td>
      <td>Myrgingas</td>
    </tr>
    <tr class="pos-row">
      <td>adj</td>
      <td>asn</td>
      <td>asn</td>
      <td>prep</td>
      <td>dpn</td>
    </tr>
    <tr class="gloss-row">
      <td>handsome</td>
      <td>treasure/gift</td>
      <td>him</td>
      <td>from</td>
      <td>the Myrgings</td>
    </tr>
  </tbody>
</table>
	<div class="button-container">
		<a href="https://lorehord.com/views/line/line-3.html">Previous</a><a href="https://lorehord.com/views/line/line-5.html">Next</a>
	</div>
	<h2 class="translation">Translation</h2><br>
	<p class="translation">handsome gifts. Noble sons born to him</p>
	</main>
	</body>
	</html>