<html>
<head>
	<meta charset="UTF-8">
	<title>Line 17</title>
	<link rel="stylesheet" href="../linebyline.css">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@200;400;700&display=swap" rel="stylesheet">
</head>
<body>
<button class="button" onclick="document.location='https://lorehord.com/'">Home</button><br><h1>Line 17</h1><html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>þāra</td>
      <td>þe</td>
      <td>ic</td>
      <td>ofer</td>
      <td>foldan</td>
      <td>gefrægen</td>
      <td>hæbbe.</td>
    </tr>
    <tr class="lemma-row">
      <td>sē</td>
      <td>þe</td>
      <td>ic</td>
      <td>ofer</td>
      <td>folde</td>
      <td>gefricgan</td>
      <td>habban</td>
    </tr>
    <tr class="pos-row">
      <td>gpn</td>
      <td>in</td>
      <td>pn</td>
      <td>prep</td>
      <td>asn</td>
      <td>ppn</td>
      <td>psv</td>
    </tr>
    <tr class="gloss-row">
      <td>that</td>
      <td>who</td>
      <td>I</td>
      <td>over</td>
      <td>the earth</td>
      <td>learned (by asking)</td>
      <td>have</td>
    </tr>
  </tbody>
</table>
  </body>
</html>

	<div class="button-container">
		<button class="prevbutton" onclick="document.location='https://lorehord.com/views/line/line-16.html'">Previous</button><button class="nextbutton" onclick="document.location='https://lorehord.com/views/line/line-18.html'">Next</button>
	</div>