<html>
<head>
	<meta charset="UTF-8">
	<title>Line 33</title>
	<link rel="stylesheet" href="../linebyline.css">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@200;400;700&display=swap" rel="stylesheet">
</head>
<body>
<button class="button" onclick="document.location='https://lorehord.com/'">Home</button><br>
<h1>Widsið</h1>
<h2>Line 33</h2>
<html><body><table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>Hun</td>
      <td>Hætwerum</td>
      <td>ond</td>
      <td>Holen</td>
      <td>Wrosnum.</td>
    </tr>
    <tr class="lemma-row">
      <td>Hun</td>
      <td>Hætwere</td>
      <td>ond</td>
      <td>Holen</td>
      <td>Wrosnan</td>
    </tr>
    <tr class="pos-row">
      <td>nsn</td>
      <td>dpn</td>
      <td>conj</td>
      <td>nsn</td>
      <td>dpn</td>
    </tr>
    <tr class="gloss-row">
      <td>Hunn</td>
      <td>the Hætwere</td>
      <td>and</td>
      <td>Holen</td>
      <td>Wrosnan</td>
    </tr>
  </tbody>
</table></body></html>
	<div class="button-container">
		<a href="https://lorehord.com/views/line/line-32.html">Previous</a><a href="https://lorehord.com/views/line/line-34.html">Next</a>
	</div>
	<h2>Translation</h2><br>
	<p class="translation">Hunn the Haetwere, and Holen the Wrosnan.</p>
</html>