<html>
<head>
	<meta charset="UTF-8">
	<title>Line 52</title>
	<link rel="stylesheet" href="../glossstyles.css">
</head>
<body>
<button class="button" onclick="document.location='https://lorehord.com/'">Home</button><br><h1>Line 52</h1><html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>þǣr</td>
      <td>ic</td>
      <td>cunnade</td>
      <td>cnōsle</td>
      <td>bidǣled,</td>
    </tr>
    <tr class="lemma-row">
      <td>þǣr</td>
      <td>ic</td>
      <td>cunnian</td>
      <td>cnōsl</td>
      <td>bidǣlan</td>
    </tr>
    <tr class="pos-row">
      <td>adv</td>
      <td>pn</td>
      <td>pret.psv</td>
      <td>dsn</td>
      <td>ppv</td>
    </tr>
    <tr class="gloss-row">
      <td>there</td>
      <td>I</td>
      <td>experience</td>
      <td>kindred</td>
      <td>deprived of</td>
    </tr>
  </tbody>
</table>
  </body>
</html>
<button class="prevbutton" onclick="document.location='https://lorehord.com/views/line/line-51.html'">Previous</button><button class="nextbutton" onclick="document.location='https://lorehord.com/views/line/line-53.html'">Next</button>