<html>
<head>
	<meta charset="UTF-8">
	<title>Line 117</title>
	<link rel="stylesheet" href="../linebyline.css">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@200;400;700&display=swap" rel="stylesheet">
</head>
<body>
<button class="button" onclick="document.location='https://lorehord.com/'">Home</button><br>
<main>
	<h1>Widsið</h1>
<h2>Line 117</h2>
<table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>Eadwine</td>
      <td>sōhte</td>
      <td>ic</td>
      <td>ond</td>
      <td>Elsan,</td>
      <td>Ægelmund</td>
      <td>ond</td>
      <td>Hungar,</td>
    </tr>
    <tr class="lemma-row">
      <td>Eadwine</td>
      <td>sēcan</td>
      <td>ic</td>
      <td>ond</td>
      <td>Elsa</td>
      <td>Ægelmund</td>
      <td>ond</td>
      <td>Hungar</td>
    </tr>
    <tr class="pos-row">
      <td>asn</td>
      <td>pret.sv</td>
      <td>pn</td>
      <td>conj</td>
      <td>asn</td>
      <td>asn</td>
      <td>conj</td>
      <td>asn</td>
    </tr>
    <tr class="gloss-row">
      <td>Edwin</td>
      <td>sought</td>
      <td>I</td>
      <td>and</td>
      <td>Elsa</td>
      <td>Agelmund</td>
      <td>and</td>
      <td>Hungar</td>
    </tr>
  </tbody>
</table>
	<div class="button-container">
		<a href="https://lorehord.com/views/line/line-116.html">Previous</a><a href="https://lorehord.com/views/line/line-118.html">Next</a>
	</div>
	<h2 class="translation">Translation</h2><br>
	<p class="translation">Edwin I sought and Elsa, Agelmund and Hungar,</p>
	</main>
	</body>
	</html>