<html>
<head>
	<meta charset="UTF-8">
	<title>Line 119</title>
	<link rel="stylesheet" href="../linebyline.css">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@200;400;700&display=swap" rel="stylesheet">
</head>
<body>
<button class="button" onclick="document.location='https://lorehord.com/'">Home</button><br><h1>Line 119</h1><html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>Wulfhere</td>
      <td>sōhte</td>
      <td>ic</td>
      <td>ond</td>
      <td>Wyrmhere;</td>
      <td>ful</td>
      <td>oft</td>
      <td>þǣr</td>
      <td>wig</td>
      <td>ne</td>
      <td>ālæg,</td>
    </tr>
    <tr class="lemma-row">
      <td>Wulfhere</td>
      <td>sēcan</td>
      <td>ic</td>
      <td>ond</td>
      <td>Wyrmhere</td>
      <td>ful</td>
      <td>oft</td>
      <td>þǣr</td>
      <td>wig</td>
      <td>ne</td>
      <td>ālicgan</td>
    </tr>
    <tr class="pos-row">
      <td>asn</td>
      <td>pret.sv</td>
      <td>pn</td>
      <td>conj</td>
      <td>asn</td>
      <td>adv</td>
      <td>adv</td>
      <td>adv</td>
      <td>nsn</td>
      <td>negative</td>
      <td>pret.sv</td>
    </tr>
    <tr class="gloss-row">
      <td>Wulfhere</td>
      <td>sought</td>
      <td>I</td>
      <td>and</td>
      <td>Wyrmhere</td>
      <td>very</td>
      <td>often</td>
      <td>there</td>
      <td>warfare</td>
      <td>not</td>
      <td>rest</td>
    </tr>
  </tbody>
</table>
  </body>
</html>

	<div class="button-container">
		<button class="prevbutton" onclick="document.location='https://lorehord.com/views/line/line-118.html'">Previous</button><button class="nextbutton" onclick="document.location='https://lorehord.com/views/line/line-120.html'">Next</button>
	</div>