<html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>on</td>
      <td>þām</td>
      <td>siex</td>
      <td>hund</td>
      <td>wæs</td>
      <td>smǣtes</td>
      <td>goldes,</td>
    </tr>
    <tr class="lemma-row">
      <td>on</td>
      <td>sē</td>
      <td>siex</td>
      <td>hund</td>
      <td>wesan</td>
      <td>smǣte</td>
      <td>gold</td>
    </tr>
    <tr class="pos-row">
      <td>prep</td>
      <td>dspn</td>
      <td>num</td>
      <td>num</td>
      <td>psv</td>
      <td>adj</td>
      <td>gsn</td>
    </tr>
    <tr class="gloss-row">
      <td>in</td>
      <td>that</td>
      <td>six</td>
      <td>hundred</td>
      <td>was</td>
      <td>refined</td>
      <td>gold</td>
    </tr>
  </tbody>
</table>
  </body>
</html>
