<html>
<head>
	<meta charset="UTF-8">
	<title>Line 100</title>
	<link rel="stylesheet" href="../linebyline.css">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@200;400;700&display=swap" rel="stylesheet">
</head>
<body>
<button class="button" onclick="document.location='https://lorehord.com/'">Home</button><br>
<h1>Widsið</h1>
<h2>Line 100</h2>
<html><body><table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>þonne</td>
      <td>ic</td>
      <td>be</td>
      <td>songe</td>
      <td>secgan</td>
      <td>sceolde</td>
    </tr>
    <tr class="lemma-row">
      <td>þonne</td>
      <td>ic</td>
      <td>bī</td>
      <td>song</td>
      <td>secgan</td>
      <td>sculan</td>
    </tr>
    <tr class="pos-row">
      <td>conj</td>
      <td>pn</td>
      <td>prep</td>
      <td>dsn</td>
      <td>v</td>
      <td>pret.sv</td>
    </tr>
    <tr class="gloss-row">
      <td>when</td>
      <td>I</td>
      <td>with</td>
      <td>song</td>
      <td>say</td>
      <td>would</td>
    </tr>
  </tbody>
</table></body></html>
	<div class="button-container">
		<a href="https://lorehord.com/views/line/line-99.html">Previous</a><a href="https://lorehord.com/views/line/line-101.html">Next</a>
	</div>
	< class="translation">Translation</h2><br>
	<p class="translation">when I in song must say</p>
</html>