<html>
<head>
	<meta charset="UTF-8">
	<title>Glossary</title>
	<link rel="stylesheet" href="../glossstyles.css">
</head>
<body>
<button class="button" onclick="document.location='https://lorehord.com/'">Home</button><br><h1>Line 125</h1><html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>ne</td>
      <td>wæran</td>
      <td>þæt</td>
      <td>gesīþa</td>
      <td>þa</td>
      <td>sǣmestan,</td>
    </tr>
    <tr class="lemma-row">
      <td>ne</td>
      <td>wesan</td>
      <td>sē</td>
      <td>gesīþ</td>
      <td>sē</td>
      <td>sǣmest</td>
    </tr>
    <tr class="pos-row">
      <td>negative</td>
      <td>ppv</td>
      <td>aspn</td>
      <td>gpn</td>
      <td>npart</td>
      <td>adj</td>
    </tr>
    <tr class="gloss-row">
      <td>not</td>
      <td>were</td>
      <td>that</td>
      <td>comrades in arms</td>
      <td>the</td>
      <td>worst</td>
    </tr>
  </tbody>
</table>
  </body>
</html>
<button class="button" onclick="document.location='https://lorehord.com/views/line/line-126.html'">Next</button><button class="button" onclick="document.location='https://lorehord.com/views/line/line-124.html'">Previous</button><br>