<html>
<head>
	<meta charset="UTF-8">
	<title>Glossary</title>
	<link rel="stylesheet" href="../glossstyles.css">
</head>
<body>
<button class="button" onclick="document.location='https://lorehord.com/'">Home</button><br><h1>Line 41</h1><html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>on</td>
      <td>ōrette.</td>
      <td>Āne</td>
      <td>sweorde</td>
    </tr>
    <tr class="lemma-row">
      <td>on</td>
      <td>ōrettan</td>
      <td>āne</td>
      <td>sweord</td>
    </tr>
    <tr class="pos-row">
      <td>prep</td>
      <td>pret.sv</td>
      <td>isn</td>
      <td>isn</td>
    </tr>
    <tr class="gloss-row">
      <td>in</td>
      <td>fighting</td>
      <td>one</td>
      <td>sword</td>
    </tr>
  </tbody>
</table>
  </body>
</html>
<button class="prevbutton" onclick="document.location='https://lorehord.com/views/line/line-40.html'">Previous</button><br><button class="nextbutton" onclick="document.location='https://lorehord.com/views/line/line-42.html'">Next</button>