<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Widsið Line 124</title>
    <link rel="stylesheet" href="../static/styles.css">
    
<link rel="stylesheet" href="../../static/linebyline.css">

</head>
<body>
    <header class="header">
        <div class="site-title">Widsið</div>
        <nav class="nav-container">
          <ul class="nav-menu">
            <li class="nav-item"><a href="/index.html" class="nav-link">Home</a></li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link">Widsið  ▾</a>
              <div class="dropdown-content">
                <a href="/views/alignment1.html">Parallel Version</a>
                <a href="/views/line/line-1.html">Line by Line view</a>
                <a href="/views/glossary.html">Glossary</a>
                <a href="/views/named_entities.html">Named Entities</a>
                <a href="/views/llm_glossary.html">LLM Glossary</a>
                <a href="/views/beowulf_alignment.html">Beowulf Example</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link">Thesis  ▾</a>
              <div class="dropdown-content">
                <a href="/views/thesis.html">Thesis Paper</a>
                <a href="/views/furtherreading.html">Further Reading</a>
              </div>
            </li>
            <li class="nav-item"><a href="/views/contact.html" class="nav-link">Contact</a></li>
          </ul>
        </nav>
      </header>
  <div class="content-wrapper">
    
<link rel="stylesheet" href="../../static/linebyline.css">
</head>
	<h1>Widsið</h1>
<h2>Line 124</h2>
<table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>Wiþergield</td>
      <td>ond</td>
      <td>Freoþeric,</td>
      <td>Wudgan</td>
      <td>ond</td>
      <td>Haman;</td>
    </tr>
    <tr class="lemma-row">
      <td>Wiþergield</td>
      <td>ond</td>
      <td>Freoþerīc</td>
      <td>Wudga</td>
      <td>ond</td>
      <td>Hama</td>
    </tr>
    <tr class="pos-row">
      <td>asn</td>
      <td>conj</td>
      <td>asn</td>
      <td>asn</td>
      <td>conj</td>
      <td>asn</td>
    </tr>
    <tr class="gloss-row">
      <td>Wiþergield</td>
      <td>and</td>
      <td>Freoþeric</td>
      <td>Wudga</td>
      <td>and</td>
      <td>Hama</td>
    </tr>
  </tbody>
</table>
	<div class="button-container">
		<a href="https://lorehord.com/views/line/line-123.html">Previous</a>
		<a href="https://lorehord.com/views/line/line-125.html">Next</a>
	</div>
	<h2 class="translation">Translation</h2><br>
	<p class="translation">Withergield and Freotheric, Wudga and Hama</p>

	<div class='namedentities' style='text-align: justify;'>
		<h2 class='translation'>Named Entities</h2>
	<ul>
		<li><span class="named-entity">Wiþergield</span>: The Wiðergyld of Beowulf 2051, a Heathobeard.</li>
	</ul>	<ul>
		<li><span class="named-entity">Freoþerīc</span>: unidentified king or hero, sometimes conneced with the Heathobards and other times with Rederic, King of the Rugians, but Malone mentions there is no evidence for this (150).</li>
	</ul>	<ul>
		<li><span class="named-entity">Wudga</span>: THe hero Widia from <i>Waldere</i> and the Viðga of <i>Þiðrrikssaga</i></li>
	</ul>
	</div>
</table>

  </div>
  </body>
</html>