<html>
<head>
	<meta charset="UTF-8">
	<title>Line 34</title>
	<link rel="stylesheet" href="../linebyline.css">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@200;400;700&display=swap" rel="stylesheet">
</head>
<body>
<button class="button" onclick="document.location='https://lorehord.com/'">Home</button><br><h1>Widsið</h1><h2>Line 34</h2><html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>Hringweald</td>
      <td>wæs</td>
      <td>hāten</td>
      <td>Herefarena</td>
      <td>cyning.</td>
    </tr>
    <tr class="lemma-row">
      <td>Hringwald</td>
      <td>wesan</td>
      <td>hāten</td>
      <td>Herefaran</td>
      <td>cyning</td>
    </tr>
    <tr class="pos-row">
      <td>nsn</td>
      <td>psv</td>
      <td>ppv</td>
      <td>gpn</td>
      <td>gsn</td>
    </tr>
    <tr class="gloss-row">
      <td>Hringwald</td>
      <td>was</td>
      <td>called</td>
      <td>of the Herefarens</td>
      <td>king</td>
    </tr>
  </tbody>
</table>
  </body>
</html>

	<div class="button-container">
		<a href="https://lorehord.com/views/line/line-33.html">Previous</a><a href="https://lorehord.com/views/line/line-35.html">Next</buttaon>
	</div>