<html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>se</td>
      <td>þe</td>
      <td>wīnburga</td>
      <td>geweald</td>
      <td>āhte,</td>
    </tr>
    <tr class="lemma-row">
      <td>se</td>
      <td>þe</td>
      <td>wīnburg</td>
      <td>geweald</td>
      <td>āgan</td>
    </tr>
    <tr class="pos-row">
      <td>dem.pn</td>
      <td>in</td>
      <td>gpn</td>
      <td>asn</td>
      <td>pret.sv</td>
    </tr>
    <tr class="gloss-row">
      <td>that</td>
      <td>who</td>
      <td>wine-borough</td>
      <td>authority</td>
      <td>possesed</td>
    </tr>
  </tbody>
</table>
  </body>
</html>
