<html>
<head>
	<meta charset="UTF-8">
	<title>Glossary</title>
	<link rel="stylesheet" href="../glossstyles.css">
</head>
<body>
<button class="button" onclick="document.location='https://lorehord.com/'">Home</button><br><h1>Line 86</h1><html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>ond</td>
      <td>mid</td>
      <td>Amoþingum.</td>
      <td>mid</td>
      <td>Eastþyringum</td>
      <td>ic</td>
      <td>wæs</td>
    </tr>
    <tr class="lemma-row">
      <td>ond</td>
      <td>mid</td>
      <td>Amoþingas</td>
      <td>mid</td>
      <td>Eastþyringas</td>
      <td>ic</td>
      <td>wesan</td>
    </tr>
    <tr class="pos-row">
      <td>conj</td>
      <td>prep</td>
      <td>dpn</td>
      <td>prep</td>
      <td>dpn</td>
      <td>pn</td>
      <td>psv</td>
    </tr>
    <tr class="gloss-row">
      <td>and</td>
      <td>with</td>
      <td>the Amothings</td>
      <td>with</td>
      <td>Thuringians</td>
      <td>I</td>
      <td>was</td>
    </tr>
  </tbody>
</table>
  </body>
</html>
<button class="button" onclick="document.location='https://lorehord.com/views/line/line-87.html'">Next</button><button class="button" onclick="document.location='https://lorehord.com/views/line/line-85.html'">Previous</button><br>