<html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>ond</td>
      <td>mid</td>
      <td>Amoþingum.</td>
      <td>mid</td>
      <td>Eastþyringum</td>
      <td>ic</td>
      <td>wæs</td>
    </tr>
    <tr class="lemma-row">
      <td>ond</td>
      <td>mid</td>
      <td>Amoþingas</td>
      <td>mid</td>
      <td>Eastþyringas</td>
      <td>ic</td>
      <td>wesan</td>
    </tr>
    <tr class="pos-row">
      <td>conj</td>
      <td>prep</td>
      <td>dpn</td>
      <td>prep</td>
      <td>dpn</td>
      <td>pn</td>
      <td>psv</td>
    </tr>
    <tr class="gloss-row">
      <td>and</td>
      <td>with</td>
      <td>the Amothings</td>
      <td>with</td>
      <td>Thuringians</td>
      <td>I</td>
      <td>was</td>
    </tr>
  </tbody>
</table>
  </body>
</html>
