<html>
<head>
	<meta charset="UTF-8">
	<title>Line 41</title>
	<link rel="stylesheet" href="../linebyline.css">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
<button class="button" onclick="document.location='https://lorehord.com/'">Home</button><br>
<main>
	<h1>Widsið</h1>
<h2>Line 41</h2>
<table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>on</td>
      <td>ōrette.</td>
      <td>Āne</td>
      <td>sweorde</td>
    </tr>
    <tr class="lemma-row">
      <td>on</td>
      <td>ōrettan</td>
      <td>āne</td>
      <td>sweord</td>
    </tr>
    <tr class="pos-row">
      <td>prep</td>
      <td>pret.sv</td>
      <td>isn</td>
      <td>isn</td>
    </tr>
    <tr class="gloss-row">
      <td>in</td>
      <td>fighting</td>
      <td>one</td>
      <td>sword</td>
    </tr>
  </tbody>
</table>
	<div class="button-container">
		<a href="https://lorehord.com/views/line/line-40.html">Previous</a><a href="https://lorehord.com/views/line/line-42.html">Next</a>
	</div>
	<h2 class="translation">Translation</h2><br>
	<p class="translation">at fighting. With his one sword </p>

	<h2 class='translation'>Named Entities</h2>
	</main>
	</body>
	</html>