<html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>mīnum</td>
      <td>hlēodryhtne,</td>
      <td>þā</td>
      <td>ic</td>
      <td>to</td>
      <td>ham</td>
      <td>bicwom,</td>
    </tr>
    <tr class="lemma-row">
      <td>mīn</td>
      <td>hlēodryhten</td>
      <td>þā</td>
      <td>ic</td>
      <td>to</td>
      <td>ham</td>
      <td>bicuman</td>
    </tr>
    <tr class="pos-row">
      <td>adj</td>
      <td>dsn</td>
      <td>conj</td>
      <td>pn</td>
      <td>prep</td>
      <td>asn</td>
      <td>pret.sv</td>
    </tr>
    <tr class="gloss-row">
      <td>my</td>
      <td>lord protector</td>
      <td>when</td>
      <td>I</td>
      <td>to</td>
      <td>home</td>
      <td>came</td>
    </tr>
  </tbody>
</table>
  </body>
</html>
