<html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>Emercan</td>
      <td>sōhte</td>
      <td>ic</td>
      <td>ond</td>
      <td>Fridlan</td>
      <td>ond</td>
      <td>Eastgotan,</td>
    </tr>
    <tr class="lemma-row">
      <td>Emerca</td>
      <td>sēcan</td>
      <td>ic</td>
      <td>ond</td>
      <td>Fridla</td>
      <td>ond</td>
      <td>Eastgota</td>
    </tr>
    <tr class="pos-row">
      <td>asn</td>
      <td>pret.sv</td>
      <td>pn</td>
      <td>conj</td>
      <td>asn</td>
      <td>conj</td>
      <td>asn</td>
    </tr>
    <tr class="gloss-row">
      <td>Emerca</td>
      <td>sought</td>
      <td>I</td>
      <td>and</td>
      <td>Fridla</td>
      <td>and</td>
      <td>Ostrogotha</td>
    </tr>
  </tbody>
</table>
  </body>
</html>
