<html>
<head>
	<meta charset="UTF-8">
	<title>Glossary</title>
	<link rel="stylesheet" href="../glossstyles.css">
</head>
<body>
<button class="button" onclick="document.location='https://lorehord.com/'">Home</button><br><h1>Line 95</h1><html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>lēofum</td>
      <td>to</td>
      <td>lēane,</td>
      <td>þæs</td>
      <td>þe</td>
      <td>hē</td>
      <td>me</td>
      <td>lond</td>
      <td>forgeaf</td>
    </tr>
    <tr class="lemma-row">
      <td>lēof</td>
      <td>to</td>
      <td>lēan</td>
      <td>þæs</td>
      <td>þe</td>
      <td>hē</td>
      <td>me</td>
      <td>longd</td>
      <td>forgiefan</td>
    </tr>
    <tr class="pos-row">
      <td>adj</td>
      <td>prep</td>
      <td>dsn</td>
      <td>conj</td>
      <td>in</td>
      <td>nsppn</td>
      <td>dsppn</td>
      <td>asn</td>
      <td>pret.sv</td>
    </tr>
    <tr class="gloss-row">
      <td>dear</td>
      <td>to</td>
      <td>reward</td>
      <td>because</td>
      <td>who</td>
      <td>he</td>
      <td>me</td>
      <td>land</td>
      <td>gave up</td>
    </tr>
  </tbody>
</table>
  </body>
</html>
<button class="button" onclick="document.location='https://lorehord.com/views/line/line-96.html'">Next</button><button class="button" onclick="document.location='https://lorehord.com/views/line/line-94.html'">Previous</button><br>