<html>
<head>
	<meta charset="UTF-8">
	<title>Glossary</title>
	<link rel="stylesheet" href="../glossstyles.css">
</head>
<body>
<button class="button" onclick="document.location='https://lorehord.com/'">Home</button><br><h1>Line 104</h1><html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>for</td>
      <td>uncrum</td>
      <td>sigedryhtne</td>
      <td>song</td>
      <td>āhofan,</td>
    </tr>
    <tr class="lemma-row">
      <td>for</td>
      <td>uncer</td>
      <td>sigedryhten</td>
      <td>song</td>
      <td>āhebban</td>
    </tr>
    <tr class="pos-row">
      <td>prep</td>
      <td>adj</td>
      <td>dsn</td>
      <td>asn</td>
      <td>pret.pv</td>
    </tr>
    <tr class="gloss-row">
      <td>before</td>
      <td>our two</td>
      <td>victory-lord</td>
      <td>song</td>
      <td>raised</td>
    </tr>
  </tbody>
</table>
  </body>
</html>
<button class="button" onclick="document.location='https://lorehord.com/views/line/line-105.html'">Next</button><button class="button" onclick="document.location='https://lorehord.com/views/line/line-103.html'">Previous</button><br>