<html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>Hreðcyninges</td>
      <td>ham</td>
      <td>gesohte</td>
    </tr>
    <tr class="lemma-row">
      <td>Hreðcyning</td>
      <td>ham</td>
      <td>gesecan</td>
    </tr>
    <tr class="pos-row">
      <td>gsn</td>
      <td>asn</td>
      <td>pret.sv</td>
    </tr>
    <tr class="gloss-row">
      <td>King of the Goths</td>
      <td>home</td>
      <td>sought</td>
    </tr>
  </tbody>
</table>
  </body>
</html>
