<html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>Casere</td>
      <td>weold</td>
      <td>Creacum</td>
      <td>ond</td>
      <td>Cælic</td>
      <td>Finnum,</td>
    </tr>
    <tr class="lemma-row">
      <td>Casere</td>
      <td>wealdan</td>
      <td>Creacas</td>
      <td>ond</td>
      <td>Cælic</td>
      <td>Finnas</td>
    </tr>
    <tr class="pos-row">
      <td>nsn</td>
      <td>psv</td>
      <td>dpn</td>
      <td>conj</td>
      <td>nsn</td>
      <td>dpn</td>
    </tr>
    <tr class="gloss-row">
      <td>Caesar</td>
      <td>ruled</td>
      <td>the Greeks</td>
      <td>and</td>
      <td>Caelic</td>
      <td>the Finns</td>
    </tr>
  </tbody>
</table>
  </body>
</html>
