<html>
<head>
	<meta charset="UTF-8">
	<title>Line 47</title>
	<link rel="stylesheet" href="../glossstyles.css">
</head>
<body>
<button class="button" onclick="document.location='https://lorehord.com/'">Home</button><br><h1>Line 47</h1><html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>siþþan</td>
      <td>hȳ</td>
      <td>forwrǣcon</td>
      <td>wicinga</td>
      <td>cynn</td>
    </tr>
    <tr class="lemma-row">
      <td>siþþan</td>
      <td>hē</td>
      <td>forwrecan</td>
      <td>wicingas</td>
      <td>cynn</td>
    </tr>
    <tr class="pos-row">
      <td>conj</td>
      <td>ppn</td>
      <td>pret.pv</td>
      <td>gpn</td>
      <td>asn</td>
    </tr>
    <tr class="gloss-row">
      <td>after he</td>
      <td>he</td>
      <td>drove off</td>
      <td>the Wicing</td>
      <td>tribe</td>
    </tr>
  </tbody>
</table>
  </body>
</html>
<button class="prevbutton" onclick="document.location='https://lorehord.com/views/line/line-46.html'">Previous</button><button class="nextbutton" onclick="document.location='https://lorehord.com/views/line/line-48.html'">Next</button>