<html>
<head>
	<meta charset="UTF-8">
	<title>Glossary</title>
	<link rel="stylesheet" href="../glossstyles.css">
</head>
<body>
<button class="button" onclick="document.location='https://lorehord.com/'">Home</button><br><h1>Line 13</h1><html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>se</td>
      <td>þe</td>
      <td>his</td>
      <td>þeodenstol</td>
      <td>geþeon</td>
      <td>wile.</td>
    </tr>
    <tr class="lemma-row">
      <td>se</td>
      <td>þe</td>
      <td>hē</td>
      <td>þeodenstol</td>
      <td>geþeon</td>
      <td>willan</td>
    </tr>
    <tr class="pos-row">
      <td>dem.pn</td>
      <td>in</td>
      <td>gspn</td>
      <td>n</td>
      <td>v</td>
      <td>pret.sv</td>
    </tr>
    <tr class="gloss-row">
      <td>that</td>
      <td>who</td>
      <td>his</td>
      <td>king-stool</td>
      <td>prosper</td>
      <td>will</td>
    </tr>
  </tbody>
</table>
  </body>
</html>
<button class="button" onclick="document.location='https://lorehord.com/views/line/line-14.html'">Next</button><button class="button" onclick="document.location='https://lorehord.com/views/line/line-12.html'">Previous</button><br>