<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Widsið Line 10</title>
    <link rel="stylesheet" href="../static/styles.css">
    
<link rel="stylesheet" href="../../static/linebyline.css">

</head>
<body>
    <header class="header">
        <div class="site-title">Widsið</div>
        <nav class="nav-container">
          <ul class="nav-menu">
            <li class="nav-item"><a href="/index.html" class="nav-link">Home</a></li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link">Widsið  ▾</a>
              <div class="dropdown-content">
                <a href="/views/alignment1.html">Parallel Version</a>
                <a href="/views/line/line-1.html">Line by Line view</a>
                <a href="/views/glossary.html">Glossary</a>
                <a href="/views/named_entities.html">Named Entities</a>
                <a href="/views/llm_glossary.html">LLM Glossary</a>
                <a href="/views/beowulf_alignment.html">Beowulf Example</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link">Thesis  ▾</a>
              <div class="dropdown-content">
                <a href="/views/thesis.html">Thesis Paper</a>
                <a href="/views/furtherreading.html">Further Reading</a>
              </div>
            </li>
            <li class="nav-item"><a href="/views/acknowledgements.html" class="nav-link">Acknowledgements</a></li>
          </ul>
        </nav>
      </header>
  <div class="content-wrapper">
    
<link rel="stylesheet" href="../../static/linebyline.css">
</head>
	<h1>Widsið</h1>
<h2>Line 10</h2>
<table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>Fela</td>
      <td>ic</td>
      <td>monna</td>
      <td>gefrægn</td>
      <td>mǣgþum</td>
      <td>wealdan!</td>
    </tr>
    <tr class="lemma-row">
      <td>fela</td>
      <td>ic</td>
      <td>monn</td>
      <td>gefrignan</td>
      <td>mǣgþ</td>
      <td>wealdan</td>
    </tr>
    <tr class="pos-row">
      <td>adj</td>
      <td>pn</td>
      <td>gpn</td>
      <td>pret.sv</td>
      <td>ipn</td>
      <td>pret.sv</td>
    </tr>
    <tr class="gloss-row">
      <td>many</td>
      <td>I</td>
      <td>men</td>
      <td>learned (by asking)</td>
      <td>tribe</td>
      <td>ruled</td>
    </tr>
  </tbody>
</table>
	<div class="button-container">
		<a href="https://lorehord.com/views/line/line-9.html">Previous</a>
		<a href="https://lorehord.com/views/line/line-11.html">Next</a>
	</div>
	<h2 class="translation">Translation</h2><br>
	<p class="translation">"I have learned by asking about many men who rule tribes!</p>

	<div class='namedentities' style='text-align: justify;'>
		<h2 class='translation'>Named Entities</h2>

	</div>
</table>

  </div>
  </body>
</html>