<html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>hafað</td>
      <td>under</td>
      <td>heofonum</td>
      <td>hēahfæstne</td>
      <td>dōm.</td>
    </tr>
    <tr class="lemma-row">
      <td>habban</td>
      <td>under</td>
      <td>heofon</td>
      <td>hēahfæst</td>
      <td>dōm</td>
    </tr>
    <tr class="pos-row">
      <td>psv</td>
      <td>prep</td>
      <td>dpn</td>
      <td>adj</td>
      <td>asn</td>
    </tr>
    <tr class="gloss-row">
      <td>has</td>
      <td>under</td>
      <td>the heavens</td>
      <td>lasting</td>
      <td>glory</td>
    </tr>
  </tbody>
</table>
  </body>
</html>
