<html>
<head>
	<meta charset="UTF-8">
	<title>Line 15</title>
	<link rel="stylesheet" href="../linebyline.css">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@200;400;700&display=swap" rel="stylesheet">
</head>
<body>
<button class="button" onclick="document.location='https://lorehord.com/'">Home</button><br><h1>Line 15</h1><html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>ond</td>
      <td>Alexandreas</td>
      <td>ealra</td>
      <td>ricost</td>
    </tr>
    <tr class="lemma-row">
      <td>ond</td>
      <td>Alexandreas</td>
      <td>eal</td>
      <td>rice</td>
    </tr>
    <tr class="pos-row">
      <td>conj</td>
      <td>nsn</td>
      <td>adj</td>
      <td>adj</td>
    </tr>
    <tr class="gloss-row">
      <td>and</td>
      <td>Alexander</td>
      <td>all</td>
      <td>powerful</td>
    </tr>
  </tbody>
</table>
  </body>
</html>

	<div class="button-container">
		<button class="prevbutton" onclick="document.location='https://lorehord.com/views/line/line-14.html'">Previous</button><button class="nextbutton" onclick="document.location='https://lorehord.com/views/line/line-16.html'">Next</button>
	</div>