<html>
<head>
	<meta charset="UTF-8">
	<title>Glossary</title>
	<link rel="stylesheet" href="../glossstyles.css">
</head>
<body>
<button class="button" onclick="document.location='https://lorehord.com/'">Home</button><br><h1>Line 37</h1><html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>nō</td>
      <td>hwæþre</td>
      <td>hē</td>
      <td>ofer</td>
      <td>Offan</td>
      <td>eorlscype</td>
      <td>fremede,</td>
    </tr>
    <tr class="lemma-row">
      <td>nō</td>
      <td>hwæþre</td>
      <td>hē</td>
      <td>ofer</td>
      <td>Offa</td>
      <td>eorlscipe</td>
      <td>fremman</td>
    </tr>
    <tr class="pos-row">
      <td>adv</td>
      <td>adv</td>
      <td>nsppn</td>
      <td>prep</td>
      <td>dsn</td>
      <td>asn</td>
      <td>pret.sv</td>
    </tr>
    <tr class="gloss-row">
      <td>not at all</td>
      <td>however</td>
      <td>he</td>
      <td>more than</td>
      <td>Offa</td>
      <td>manliness</td>
      <td>achieve</td>
    </tr>
  </tbody>
</table>
  </body>
</html>
<button class="prevbutton" onclick="document.location='https://lorehord.com/views/line/line-36.html'">Previous</button><br><button class="nextbutton" onclick="document.location='https://lorehord.com/views/line/line-38.html'">Next</button>