<html>
<head>
	<meta charset="UTF-8">
	<title>Line 24</title>
	<link rel="stylesheet" href="../linebyline.css">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
<button class="button" onclick="document.location='https://lorehord.com/'">Home</button><br>
<main>
	<h1>Widsið</h1>
<h2>Line 24</h2>
<table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>þeodric</td>
      <td>weold</td>
      <td>Froncum,</td>
      <td>Þyle</td>
      <td>Rondingum,</td>
    </tr>
    <tr class="lemma-row">
      <td>þeodric</td>
      <td>wealdan</td>
      <td>Froncan</td>
      <td>Þyle</td>
      <td>Rondingas</td>
    </tr>
    <tr class="pos-row">
      <td>nsn</td>
      <td>psv</td>
      <td>dpn</td>
      <td>nsn</td>
      <td>dpn</td>
    </tr>
    <tr class="gloss-row">
      <td>Theodric</td>
      <td>ruled</td>
      <td>the Franks</td>
      <td>Thyle</td>
      <td>The Rondings</td>
    </tr>
  </tbody>
</table>
	<div class="button-container">
		<a href="https://lorehord.com/views/line/line-23.html">Previous</a><a href="https://lorehord.com/views/line/line-25.html">Next</a>
	</div>
	<h2 class="translation">Translation</h2><br>
	<p class="translation">Theodric ruled the Franks, Thyle the Rondings,</p>
	</main>

	<h2 class='translation'>Named Entities</h2>
	<p class="translation">Þeodric: Malone has him as the oldest son of Clovis and king of the Franks, and says that this Theodric is the same Theodric as in l. 115. Chambers and other dispute this. This Theodric is, indeed, Hugdietrich, king of the Franks (as stated in the poem), but l.115 would then be Dietrich of Bern.</p>
	<p class="translation">Froncan: These are the Franks of history, though an earlier name for the tribe seems to have been Hugas, a name that survived in poetry and also as the name 'Hugh'.</p>
	<p class="translation">Þyle: King of the Rondings. Malone explains the name as the eponym of the Þilir, a tribe in the Telemark, giving identification to the Rondings below.</p>
	<p class="translation">Rondingas: The men of Telemark (tgn, 7003654, http://vocab.getty.edu/page/tgn/7003654), famously weird skiers with whom no self-respecting Alpine skier would associate. The name means 'borderers' and seems to be a poetic appelation based on their region being called a <i>mark</i> or borderland. (Malone 191-192)</p>

	</body>
	</html>