<html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>ond</td>
      <td>mid</td>
      <td>Eolum</td>
      <td>ond</td>
      <td>mid</td>
      <td>Istum</td>
      <td>ond</td>
      <td>Idumingum.</td>
    </tr>
    <tr class="lemma-row">
      <td>ond</td>
      <td>mid</td>
      <td>Ilwan</td>
      <td>ond</td>
      <td>mid</td>
      <td>Iste</td>
      <td>ond</td>
      <td>Idumingas</td>
    </tr>
    <tr class="pos-row">
      <td>conj</td>
      <td>prep</td>
      <td>dpn</td>
      <td>conj</td>
      <td>prep</td>
      <td>dpn</td>
      <td>conj</td>
      <td>dpn</td>
    </tr>
    <tr class="gloss-row">
      <td>and</td>
      <td>with</td>
      <td>the Ilwan</td>
      <td>and</td>
      <td>with</td>
      <td>the Austrogoths</td>
      <td>and</td>
      <td>Idumings</td>
    </tr>
  </tbody>
</table>
  </body>
</html>
