<html>
<head>
	<meta charset="UTF-8">
	<title>Line 107</title>
	<link rel="stylesheet" href="../linebyline.css">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@200;400;700&display=swap" rel="stylesheet">
</head>
<body>
<button class="button" onclick="document.location='https://lorehord.com/'">Home</button><br><h1>Line 107</h1><html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>wordum</td>
      <td>sprēcan,</td>
      <td>þa</td>
      <td>þe</td>
      <td>wēl</td>
      <td>cuþan,</td>
    </tr>
    <tr class="lemma-row">
      <td>word</td>
      <td>sprecan</td>
      <td>sē</td>
      <td>þe</td>
      <td>wēl</td>
      <td>cunnan</td>
    </tr>
    <tr class="pos-row">
      <td>ipn</td>
      <td>pret.sv</td>
      <td>nppn</td>
      <td>in</td>
      <td>adv</td>
      <td>pret.pv</td>
    </tr>
    <tr class="gloss-row">
      <td>words</td>
      <td>spoke</td>
      <td>they</td>
      <td>who</td>
      <td>well</td>
      <td>knew</td>
    </tr>
  </tbody>
</table>
  </body>
</html>

	<div class="button-container">
		<button class="prevbutton" onclick="document.location='https://lorehord.com/views/line/line-106.html'">Previous</button><button class="nextbutton" onclick="document.location='https://lorehord.com/views/line/line-108.html'">Next</button>
	</div>