<html>
<head>
	<meta charset="UTF-8">
	<title>Line 108</title>
	<link rel="stylesheet" href="../linebyline.css">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
<button class="button" onclick="document.location='https://lorehord.com/'">Home</button><br>
<main>
	<h1>Widsið</h1>
<h2>Line 108</h2>
<table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>þæt</td>
      <td>hī</td>
      <td>nǣfre</td>
      <td>song</td>
      <td>sēllan</td>
      <td>ne</td>
      <td>hȳrdon.</td>
    </tr>
    <tr class="lemma-row">
      <td>þæt</td>
      <td>hē</td>
      <td>nǣfre</td>
      <td>song</td>
      <td>sēl</td>
      <td>ne</td>
      <td>hȳran</td>
    </tr>
    <tr class="pos-row">
      <td>conj</td>
      <td>npn</td>
      <td>adv</td>
      <td>asn</td>
      <td>adj</td>
      <td>negative</td>
      <td>pret.pv</td>
    </tr>
    <tr class="gloss-row">
      <td>that</td>
      <td>he</td>
      <td>never</td>
      <td>a song</td>
      <td>good</td>
      <td>not</td>
      <td>heard</td>
    </tr>
  </tbody>
</table>
	<div class="button-container">
		<a href="https://lorehord.com/views/line/line-107.html">Previous</a><a href="https://lorehord.com/views/line/line-109.html">Next</a>
	</div>
	<h2 class="translation">Translation</h2><br>
	<p class="translation">that they had never heard a better song.</p>
	</main>

	<h2 class='translation'>Named Entities</h2>

	</body>
	</html>