<html>
<head>
	<meta charset="UTF-8">
	<title>Line 21</title>
	<link rel="stylesheet" href="../linebyline.css">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
<button class="button" onclick="document.location='https://lorehord.com/'">Home</button><br>
<main>
	<h1>Widsið</h1>
<h2>Line 21</h2>
<table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>Hagena</td>
      <td>Holmrygum</td>
      <td>ond</td>
      <td>Heoden</td>
      <td>Glommum.</td>
    </tr>
    <tr class="lemma-row">
      <td>Hagena</td>
      <td>Holmrygas</td>
      <td>ond</td>
      <td>Heoden</td>
      <td>Glomman</td>
    </tr>
    <tr class="pos-row">
      <td>nsn</td>
      <td>dpn</td>
      <td>conj</td>
      <td>nsn</td>
      <td>dpn</td>
    </tr>
    <tr class="gloss-row">
      <td>Hagen</td>
      <td>the Rugians</td>
      <td>and</td>
      <td>Heoden</td>
      <td>the Glomman</td>
    </tr>
  </tbody>
</table>
	<div class="button-container">
		<a href="https://lorehord.com/views/line/line-20.html">Previous</a><a href="https://lorehord.com/views/line/line-22.html">Next</a>
	</div>
	<h2 class="translation">Translation</h2><br>
	<p class="translation">Hagena the Rugians, and Heoden the Glomman.</p>

	<h2 class='translation'>Named Entities</h2>
	<ul>
		<li><span class="named-entity">Hagena</span>: a king of the Rugians, famous from the Hild Saga, also the foe of Heoden below</li>
	</ul>

	<h2 class='translation'>Named Entities</h2>
	<ul>
		<li><span class="named-entity">Holmrygas</span>: All editions note that the 'g' is missing from the manuscript and they add it back in. Malone, in his glossary, makes the additional correction of a 'c', rendering this <i>holmrycgas</i>, <i>holmrycgum</i>. Malone identifies the Rugians as the Hulmerugi of Jordanes, in the islands of the estuary of the Vistula. (174)</li>
	</ul>

	<h2 class='translation'>Named Entities</h2>
	<ul>
		<li><span class="named-entity">Heoden</span>: The ASPR XML has this word tagged as 'unclear' and it truly is. The OEPIF project shows it as very unclear as well. Malone reads it as Henden but says it is the character Heoden of the Hild saga (pg 168). Chambers and ASPR both record it as 'Heoden', so that is what I'm going to stick with for now.</li>
	</ul>
	</main>
	</body>
	</html>