<html>
<head>
	<meta charset="UTF-8">
	<title>Line 111</title>
	<link rel="stylesheet" href="../linebyline.css">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@200;400;700&display=swap" rel="stylesheet">
</head>
<body>
<button class="button" onclick="document.location='https://lorehord.com/'">Home</button><br>
<h1>Widsið</h1>
<h2>Line 111</h2>
<html><body><table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>a</td>
      <td>þæt</td>
      <td>wæs</td>
      <td>innweorud</td>
      <td>Earmanrīces.</td>
    </tr>
    <tr class="lemma-row">
      <td>NaN</td>
      <td>sē</td>
      <td>wesan</td>
      <td>innweorud</td>
      <td>Eormanrīc</td>
    </tr>
    <tr class="pos-row">
      <td>NaN</td>
      <td>nsn</td>
      <td>psv</td>
      <td>n</td>
      <td>dsn</td>
    </tr>
    <tr class="gloss-row">
      <td>NaN</td>
      <td>that</td>
      <td>were</td>
      <td>native peoples</td>
      <td>Ermanric</td>
    </tr>
  </tbody>
</table></body></html>
	<div class="button-container">
		<a href="https://lorehord.com/views/line/line-110.html">Previous</a><a href="https://lorehord.com/views/line/line-112.html">Next</a>
	</div>
	< class="translation">Translation</h2><br>
	<p class="translation">that was ever the household of Ermanric.</p>
</html>