<html>
<head>
	<meta charset="UTF-8">
	<title>Line 66</title>
	<link rel="stylesheet" href="../linebyline.css">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@200;400;700&display=swap" rel="stylesheet">
</head>
<body>
<button class="button" onclick="document.location='https://lorehord.com/'">Home</button><br>
<h1>Widsið</h1>
<h2>Line 66</h2>
<html><body><table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>me</td>
      <td>þǣr</td>
      <td>Guðhere</td>
      <td>forgeaf</td>
      <td>glædlicne</td>
      <td>māþþum</td>
    </tr>
    <tr class="lemma-row">
      <td>me</td>
      <td>þǣr</td>
      <td>Guðhere</td>
      <td>forgiefan</td>
      <td>glædlic</td>
      <td>māþþum</td>
    </tr>
    <tr class="pos-row">
      <td>dsppn</td>
      <td>adv</td>
      <td>nsn</td>
      <td>pret.sv</td>
      <td>adj</td>
      <td>asn</td>
    </tr>
    <tr class="gloss-row">
      <td>me</td>
      <td>there</td>
      <td>Guðhere</td>
      <td>gave</td>
      <td>goodly</td>
      <td>treasure</td>
    </tr>
  </tbody>
</table></body></html>
	<div class="button-container">
		<a href="https://lorehord.com/views/line/line-65.html">Previous</a><a href="https://lorehord.com/views/line/line-67.html">Next</a>
	</div>
	< class="translation">Translation</h2><br>
	<p class="translation">there Guthhere gave a goodly treasure </p>
</html>