<html>
<head>
	<meta charset="UTF-8">
	<title>Line 5</title>
	<link rel="stylesheet" href="../linebyline.css">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@200;400;700&display=swap" rel="stylesheet">
</head>
<body>
<button class="button" onclick="document.location='https://lorehord.com/'">Home</button><br>
<h1>Widsið</h1>
<h2>Line 5</h2>
<html><body><table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>æþele</td>
      <td>onwocon.</td>
      <td>Hē</td>
      <td>mid</td>
      <td>Ealhhilde,</td>
    </tr>
    <tr class="lemma-row">
      <td>æþelo</td>
      <td>wæcnan</td>
      <td>hē</td>
      <td>mid</td>
      <td>Ealhhilde</td>
    </tr>
    <tr class="pos-row">
      <td>npn</td>
      <td>pret.pv</td>
      <td>nsppn</td>
      <td>prep</td>
      <td>dsn</td>
    </tr>
    <tr class="gloss-row">
      <td>noble</td>
      <td>awoke</td>
      <td>he</td>
      <td>with</td>
      <td>Ealhhilde</td>
    </tr>
  </tbody>
</table></body></html>
	<div class="button-container">
		<a href="https://lorehord.com/views/line/line-4.html">Previous</a><a href="https://lorehord.com/views/line/line-6.html">Next</a>
	</div>
	<h2 class="translation">Translation</h2><br>
	<p class="translation">of the Myrgings. He with Ealhhilde, </p>
</html>