<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Widsið Line 126</title>
    <link rel="stylesheet" href="../static/styles.css">
    
<link rel="stylesheet" href="../../static/linebyline.css">

</head>
<body>
    <header class="header">
        <div class="site-title">Widsið</div>
        <nav class="nav-container">
          <ul class="nav-menu">
            <li class="nav-item"><a href="/index.html" class="nav-link">Home</a></li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link">Widsið  ▾</a>
              <div class="dropdown-content">
                <a href="/views/alignment1.html">Parallel Version</a>
                <a href="/views/line/line-1.html">Line by Line view</a>
                <a href="/views/glossary.html">Glossary</a>
                <a href="/views/named_entities.html">Named Entities</a>
                <a href="/views/llm_glossary.html">LLM Glossary</a>
                <a href="/views/beowulf_alignment.html">Beowulf Example</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link">Thesis  ▾</a>
              <div class="dropdown-content">
                <a href="/views/thesis.html">Thesis Paper</a>
                <a href="/views/furtherreading.html">Further Reading</a>
              </div>
            </li>
            <li class="nav-item"><a href="/views/acknowledgements.html" class="nav-link">Acknowledgements</a></li>
          </ul>
        </nav>
      </header>
  <div class="content-wrapper">
    
<link rel="stylesheet" href="../../static/linebyline.css">
</head>
	<h1>Widsið</h1>
<h2>Line 126</h2>
<table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>þēah</td>
      <td>þe</td>
      <td>ic</td>
      <td>hȳ</td>
      <td>anīhst</td>
      <td>nemnan</td>
      <td>sceolde.</td>
    </tr>
    <tr class="lemma-row">
      <td>þēah</td>
      <td>þe</td>
      <td>ic</td>
      <td>hē</td>
      <td>a-nīhst</td>
      <td>nemnan</td>
      <td>sculan</td>
    </tr>
    <tr class="pos-row">
      <td>conj</td>
      <td>in</td>
      <td>pn</td>
      <td>apn</td>
      <td>adv</td>
      <td>v</td>
      <td>pret.sv</td>
    </tr>
    <tr class="gloss-row">
      <td>although</td>
      <td>who</td>
      <td>I</td>
      <td>he</td>
      <td>at the last</td>
      <td>name</td>
      <td>should</td>
    </tr>
  </tbody>
</table>
	<div class="button-container">
		<a href="https://lorehord.com/views/line/line-125.html">Previous</a>
		<a href="https://lorehord.com/views/line/line-127.html">Next</a>
	</div>
	<h2 class="translation">Translation</h2><br>
	<p class="translation">Though I mention them at the last.</p>

	<div class='namedentities' style='text-align: justify;'>
		<h2 class='translation'>Named Entities</h2>

	</div>
</table>

  </div>
  </body>
</html>