<html>
<head>
	<meta charset="UTF-8">
	<title>Glossary</title>
	<link rel="stylesheet" href="../glossstyles.css">
</head>
<body>
<button class="button" onclick="document.location='https://lorehord.com/'">Home</button><br><h1>Line 118</h1><html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>ond</td>
      <td>þā</td>
      <td>wloncan</td>
      <td>gedryht</td>
      <td>Wiþmyrginga.</td>
    </tr>
    <tr class="lemma-row">
      <td>ond</td>
      <td>sē</td>
      <td>wlonc</td>
      <td>gedryht</td>
      <td>Wiþmyrgingas</td>
    </tr>
    <tr class="pos-row">
      <td>conj</td>
      <td>asn</td>
      <td>adj</td>
      <td>asn</td>
      <td>gpn</td>
    </tr>
    <tr class="gloss-row">
      <td>and</td>
      <td>the</td>
      <td>proud</td>
      <td>company</td>
      <td>the Wiþmyrgings</td>
    </tr>
  </tbody>
</table>
  </body>
</html>
<button class="button" onclick="document.location='https://lorehord.com/views/line/line-119.html'">Next</button><button class="button" onclick="document.location='https://lorehord.com/views/line/line-117.html'">Previous</button><br>