<html>
<head>
	<meta charset="UTF-8">
	<title>Line 19</title>
	<link rel="stylesheet" href="../linebyline.css">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
<button class="button" onclick="document.location='https://lorehord.com/'">Home</button><br>
<main>
	<h1>Widsið</h1>
<h2>Line 19</h2>
<table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>Becca</td>
      <td>Baningum,</td>
      <td>Burgendum</td>
      <td>Gifica.</td>
    </tr>
    <tr class="lemma-row">
      <td>Becca</td>
      <td>Baningas</td>
      <td>Burgendan</td>
      <td>Gifica</td>
    </tr>
    <tr class="pos-row">
      <td>nsn</td>
      <td>dpn</td>
      <td>dpn</td>
      <td>nsn</td>
    </tr>
    <tr class="gloss-row">
      <td>Becca</td>
      <td>the Baningas</td>
      <td>the Burgundians</td>
      <td>Gifica</td>
    </tr>
  </tbody>
</table>
	<div class="button-container">
		<a href="https://lorehord.com/views/line/line-18.html">Previous</a><a href="https://lorehord.com/views/line/line-20.html">Next</a>
	</div>
	<h2 class="translation">Translation</h2><br>
	<p class="translation">Becca the Banings, Gifica the Burgundians.</p>

	<h2 class='translation'>Named Entities</h2>
	<ul>
		<li><span class="named-entity">Becca</span>: from OE Beocca, possibly identified with Bikki from <i>Snorra Edda<i> and <i>Völsungasaga</i>, Ermanric's treacherous retainer, and Bicco in Saxo's <i>Gesta Danorum</i> but Malone dismisses this as linguistically improbable (pg 131).</li>
	</ul>

	<h2 class='translation'>Named Entities</h2>
	<ul>
		<li><span class="named-entity">Baningas</span>: Malone has a long note here connecting Baningum with Bainaib (Cuntz 1923) and Ptolemy's Βαινοχαιμαι, whom he argues are separate from the Bohemians (Boihœmum, Marquart)</li>
	</ul>

	<h2 class='translation'>Named Entities</h2>
	<ul>
		<li><span class="named-entity">Burgendan</span>: a Germanic tribe dwelling in the Rhine region and later the Rhone.</li>
	</ul>

	<h2 class='translation'>Named Entities</h2>
	<ul>
		<li><span class="named-entity">Gifica</span>: Also the Gibica mentioned in King Gundobad's <i>Leges Burgudionum</i> (see Malone 154), believed by F. Bluhme to be the father of Gundomar, Gislahari (Gislhere, line 123) and Gundahari(Guðhere, line 66). Malone speculates that these may represent each a generation.</li>
	</ul>
	</main>
	</body>
	</html>