<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Widsið Line 69</title>
    <link rel="stylesheet" href="../static/styles.css">
    
<link rel="stylesheet" href="../../static/linebyline.css">

</head>
<body>
    <header class="header">
        <div class="site-title">Widsið</div>
        <nav class="nav-container">
          <ul class="nav-menu">
            <li class="nav-item"><a href="/index.html" class="nav-link">Home</a></li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link">Widsið  ▾</a>
              <div class="dropdown-content">
                <a href="/views/alignment1.html">Parallel Version</a>
                <a href="/views/linebyline/line-1.html">Line by Line view</a>
                <a href="/views/glossary.html">Glossary</a>
                <a href="/views/named-entities-gloss.html">Named Entities</a>
                <a href="/views/beowulf-alignment.html">Beowulf Example</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link">Thesis  ▾</a>
              <div class="dropdown-content">
                <a href="/views/thesis.html">Thesis Paper</a>
                <a href="/views/furtherreading.html">Further Reading</a>
              </div>
            </li>
            <li class="nav-item"><a href="/views/contact.html" class="nav-link">Contact</a></li>
          </ul>
        </nav>
      </header>
  <div class="content-wrapper">
    
<link rel="stylesheet" href="../../static/linebyline.css">
</head>
	<h1>Widsið</h1>
<h2>Line 69</h2>
<table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>mid</td>
      <td>Rugum</td>
      <td>ic</td>
      <td>wæs</td>
      <td>ond</td>
      <td>mid</td>
      <td>Glommum</td>
      <td>ond</td>
      <td>mid</td>
      <td>Rumwalum.</td>
    </tr>
    <tr class="lemma-row">
      <td>mid</td>
      <td>Rugas</td>
      <td>ic</td>
      <td>wesan</td>
      <td>ond</td>
      <td>mid</td>
      <td>Glomman</td>
      <td>ond</td>
      <td>mid</td>
      <td>Rumwalas</td>
    </tr>
    <tr class="pos-row">
      <td>prep</td>
      <td>dpn</td>
      <td>pn</td>
      <td>psv</td>
      <td>conj</td>
      <td>prep</td>
      <td>dpn</td>
      <td>conj</td>
      <td>prep</td>
      <td>dpn</td>
    </tr>
    <tr class="gloss-row">
      <td>with</td>
      <td>the Rugi</td>
      <td>I</td>
      <td>was</td>
      <td>and</td>
      <td>with</td>
      <td>the Glomman</td>
      <td>and</td>
      <td>with</td>
      <td>Rome-foreigners</td>
    </tr>
  </tbody>
</table>
	<div class="button-container">
		<a href="https://lorehord.com/views/line/line-68.html">Previous</a>
		<a href="https://lorehord.com/views/line/line-70.html">Next</a>
	</div>
	<h2 class="translation">Translation</h2><br>
	<p class="translation">With the Rugians I was and with the Glomman and with the Romans.</p>

	<div class='namedentities' style='text-align: justify;'>
		<h2 class='translation'>Named Entities</h2>
	<ul>
		<li><span class="named-entity">Rugas</span>: These are the same people as the Holmrycgas of line 21, known to history as the Rugii or the Rugians. <a href='https://en.wikipedia.org/wiki/Rugii'>Wikipedia</a></li>
	</ul>	<ul>
		<li><span class="named-entity">Glomman</span>: A tribe perhaps the same as Tacitus's Lemovii on the Oder estuary (tgn 1228010, http://vocab.getty.edu/page/tgn/1128010).</li>
	</ul>	<ul>
		<li><span class="named-entity">Rumwalas</span>: Malone (193) identifies the Rumwalas as the eastern Roman empire, which is heavily disputed by other authors @@@ Check Weiskott</li>
	</ul>
	</div>
</table>

  </div>
  </body>
</html>