<html>
<head>
	<meta charset="UTF-8">
	<title>Line 65</title>
	<link rel="stylesheet" href="../linebyline.css">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@200;400;700&display=swap" rel="stylesheet">
</head>
<body>
<button class="button" onclick="document.location='https://lorehord.com/'">Home</button><br>
<h1>Widsið</h1>
<h2>Line 65</h2>
<html><body><table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>ond</td>
      <td>mid</td>
      <td>Burgendum,</td>
      <td>þǣr</td>
      <td>ic</td>
      <td>bēag</td>
      <td>geþah;</td>
    </tr>
    <tr class="lemma-row">
      <td>ond</td>
      <td>mid</td>
      <td>Burgendan</td>
      <td>þǣr</td>
      <td>ic</td>
      <td>bēag</td>
      <td>geþicgan</td>
    </tr>
    <tr class="pos-row">
      <td>conj</td>
      <td>prep</td>
      <td>ipn</td>
      <td>adv</td>
      <td>pn</td>
      <td>asn</td>
      <td>pret.sv</td>
    </tr>
    <tr class="gloss-row">
      <td>and</td>
      <td>with</td>
      <td>the Burgundians</td>
      <td>there</td>
      <td>I</td>
      <td>necklace</td>
      <td>receive</td>
    </tr>
  </tbody>
</table></body></html>
	<div class="button-container">
		<a href="https://lorehord.com/views/line/line-64.html">Previous</a><a href="https://lorehord.com/views/line/line-66.html">Next</a>
	</div>
	<h2 class="translation">Translation</h2><br>
	<p class="translation">and with the Burgundians; there I received a ring;</p>
</html>