<html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>folca</td>
      <td>geondferde;</td>
      <td>oft</td>
      <td>hē</td>
      <td>on</td>
      <td>flette</td>
      <td>geþah</td>
    </tr>
    <tr class="lemma-row">
      <td>folc</td>
      <td>geondferan</td>
      <td>oft</td>
      <td>hē</td>
      <td>on</td>
      <td>flett</td>
      <td>geþicgan</td>
    </tr>
    <tr class="pos-row">
      <td>gpn</td>
      <td>pret.sv</td>
      <td>adv</td>
      <td>nsppn</td>
      <td>prep</td>
      <td>dsn</td>
      <td>pret.sv</td>
    </tr>
    <tr class="gloss-row">
      <td>tribe</td>
      <td>travel over</td>
      <td>often</td>
      <td>he</td>
      <td>in</td>
      <td>great hall</td>
      <td>received</td>
    </tr>
  </tbody>
</table>
  </body>
</html>
