<html>
<head>
	<meta charset="UTF-8">
	<title>Glossary</title>
	<link rel="stylesheet" href="../glossstyles.css">
</head>
<body>
<button class="button" onclick="document.location='https://lorehord.com/'">Home</button><br><h1>Line 26</h1><html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>Oswine</td>
      <td>weold</td>
      <td>Eowum</td>
      <td>ond</td>
      <td>Ytum</td>
      <td>Gefwulf,</td>
    </tr>
    <tr class="lemma-row">
      <td>Oswine</td>
      <td>wealdan</td>
      <td>Eowan</td>
      <td>ond</td>
      <td>Yte</td>
      <td>Gefwulf</td>
    </tr>
    <tr class="pos-row">
      <td>nsn</td>
      <td>psv</td>
      <td>dpn</td>
      <td>conj</td>
      <td>dpn</td>
      <td>nsn</td>
    </tr>
    <tr class="gloss-row">
      <td>Oswin</td>
      <td>ruled</td>
      <td>the Eows</td>
      <td>and</td>
      <td>the Jutes</td>
      <td>Gefwulf</td>
    </tr>
  </tbody>
</table>
  </body>
</html>
<button class="button" onclick="document.location='https://lorehord.com/views/line/line-27.html'">Next</button><button class="button" onclick="document.location='https://lorehord.com/views/line/line-25.html'">Previous</button><br>