<html>
<head>
	<meta charset="UTF-8">
	<title>Line 45</title>
	<link rel="stylesheet" href="../linebyline.css">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
<button class="button" onclick="document.location='https://lorehord.com/'">Home</button><br>
<main>
	<h1>Widsið</h1>
<h2>Line 45</h2>
<table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>Hroþwulf</td>
      <td>ond</td>
      <td>Hroðgar</td>
      <td>heoldon</td>
      <td>lengest</td>
    </tr>
    <tr class="lemma-row">
      <td>Hroþwulf</td>
      <td>ond</td>
      <td>Hroðgar</td>
      <td>healdan</td>
      <td>lengest</td>
    </tr>
    <tr class="pos-row">
      <td>nsn</td>
      <td>conj</td>
      <td>nsn</td>
      <td>pret.pv</td>
      <td>adv</td>
    </tr>
    <tr class="gloss-row">
      <td>Hroþwulf</td>
      <td>and</td>
      <td>Hroðgar</td>
      <td>held</td>
      <td>longest</td>
    </tr>
  </tbody>
</table>
	<div class="button-container">
		<a href="https://lorehord.com/views/line/line-44.html">Previous</a><a href="https://lorehord.com/views/line/line-46.html">Next</a>
	</div>
	<h2 class="translation">Translation</h2><br>
	<p class="translation">Hrothwulf and Hrothgar held longest </p>

	<h2 class='translation'>Named Entities</h2>
	<ul>
		<li><span class="named-entity">Hroþwulf</span>: Hroþgar's nephew, and the famous Hrólfr Kraki of his own saga. https://en.wikipedia.org/wiki/Hr%C3%B3lfr_Kraki</li>
	</ul>
	<ul>
		<li><span class="named-entity">Hroðgar</span>: The renowned king of Beowulf fame. https://en.wikipedia.org/wiki/Hrothgar</li>
	</ul>
	</main>
	</body>
	</html>