<html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>se</td>
      <td>me</td>
      <td>bēag</td>
      <td>forgeaf</td>
      <td>burgwarena</td>
      <td>fruma,</td>
    </tr>
    <tr class="lemma-row">
      <td>se</td>
      <td>me</td>
      <td>bēag</td>
      <td>forgiefan</td>
      <td>burgwaran</td>
      <td>fruma</td>
    </tr>
    <tr class="pos-row">
      <td>dem.pn</td>
      <td>dsppn</td>
      <td>asn</td>
      <td>pret.sv</td>
      <td>gpn</td>
      <td>n</td>
    </tr>
    <tr class="gloss-row">
      <td>that</td>
      <td>me</td>
      <td>treasure</td>
      <td>gave</td>
      <td>townspeople</td>
      <td>first among</td>
    </tr>
  </tbody>
</table>
  </body>
</html>
