<html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>Hagena</td>
      <td>Holmrygum</td>
      <td>ond</td>
      <td>Heoden</td>
      <td>Glommum.</td>
    </tr>
    <tr class="lemma-row">
      <td>Hagena</td>
      <td>Holmrygas</td>
      <td>ond</td>
      <td>Heoden</td>
      <td>Glomman</td>
    </tr>
    <tr class="pos-row">
      <td>nsn</td>
      <td>dpn</td>
      <td>conj</td>
      <td>nsn</td>
      <td>dpn</td>
    </tr>
    <tr class="gloss-row">
      <td>Hagen</td>
      <td>the Rugians</td>
      <td>and</td>
      <td>Heoden</td>
      <td>the Glomman</td>
    </tr>
  </tbody>
</table>
  </body>
</html>
