<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Widsið Line 94</title>
    <link rel="stylesheet" href="../static/styles.css">
    
<link rel="stylesheet" href="../../static/linebyline.css">

</head>
<body>
    <header class="header">
        <div class="site-title">Widsið</div>
        <nav class="nav-container">
          <ul class="nav-menu">
            <li class="nav-item"><a href="/index.html" class="nav-link">Home</a></li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link">Widsið  ▾</a>
              <div class="dropdown-content">
                <a href="/views/alignment1.html">Parallel Version</a>
                <a href="/views/line/line-1.html">Line by Line view</a>
                <a href="/views/glossary.html">Glossary</a>
                <a href="/views/named_entities.html">Named Entities</a>
                <a href="/views/llm_glossary.html">LLM Glossary</a>
                <a href="/views/beowulf_alignment.html">Beowulf Example</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link">Thesis  ▾</a>
              <div class="dropdown-content">
                <a href="/views/thesis.html">Thesis Paper</a>
                <a href="/views/furtherreading.html">Further Reading</a>
              </div>
            </li>
            <li class="nav-item"><a href="/views/acknowledgments.html" class="nav-link">Acknowledgments</a></li>
          </ul>
        </nav>
      </header>
  <div class="content-wrapper">
    
<link rel="stylesheet" href="../../static/linebyline.css">
</head>
	<h1>Widsið</h1>
<h2>Line 94</h2>
<table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>mīnum</td>
      <td>hlēodryhtne,</td>
      <td>þā</td>
      <td>ic</td>
      <td>to</td>
      <td>ham</td>
      <td>bicwom,</td>
    </tr>
    <tr class="lemma-row">
      <td>mīn</td>
      <td>hlēodryhten</td>
      <td>þā</td>
      <td>ic</td>
      <td>to</td>
      <td>ham</td>
      <td>bicuman</td>
    </tr>
    <tr class="pos-row">
      <td>adj</td>
      <td>dsn</td>
      <td>conj</td>
      <td>pn</td>
      <td>prep</td>
      <td>asn</td>
      <td>pret.sv</td>
    </tr>
    <tr class="gloss-row">
      <td>my</td>
      <td>lord protector</td>
      <td>when</td>
      <td>I</td>
      <td>to</td>
      <td>home</td>
      <td>came</td>
    </tr>
  </tbody>
</table>
	<div class="button-container">
		<a href="https://lorehord.com/views/line/line-93.html">Previous</a>
		<a href="https://lorehord.com/views/line/line-95.html">Next</a>
	</div>
	<h2 class="translation">Translation</h2><br>
	<p class="translation">my lord protector, when I came home,</p>

	<div class='namedentities' style='text-align: justify;'>
		<h2 class='translation'>Named Entities</h2>

	</div>
</table>

  </div>
  </body>
</html>