<html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>þæt</td>
      <td>sē</td>
      <td>biþ</td>
      <td>lēofast</td>
      <td>londbūendum</td>
    </tr>
    <tr class="lemma-row">
      <td>þæt</td>
      <td>sē</td>
      <td>bēon</td>
      <td>lēof</td>
      <td>londbūend</td>
    </tr>
    <tr class="pos-row">
      <td>conj</td>
      <td>dem.pn</td>
      <td>pres.v</td>
      <td>adv</td>
      <td>dpn</td>
    </tr>
    <tr class="gloss-row">
      <td>that</td>
      <td>that</td>
      <td>be</td>
      <td>dearest</td>
      <td>subjects</td>
    </tr>
  </tbody>
</table>
  </body>
</html>
