<html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>þæt</td>
      <td>hī</td>
      <td>nǣfre</td>
      <td>song</td>
      <td>sēllan</td>
      <td>ne</td>
      <td>hȳrdon.</td>
    </tr>
    <tr class="lemma-row">
      <td>þæt</td>
      <td>hē</td>
      <td>nǣfre</td>
      <td>song</td>
      <td>sēl</td>
      <td>ne</td>
      <td>hȳran</td>
    </tr>
    <tr class="pos-row">
      <td>conj</td>
      <td>npn</td>
      <td>adv</td>
      <td>asn</td>
      <td>adj</td>
      <td>negative</td>
      <td>pret.pv</td>
    </tr>
    <tr class="gloss-row">
      <td>that</td>
      <td>he</td>
      <td>never</td>
      <td>a song</td>
      <td>good</td>
      <td>not</td>
      <td>heard</td>
    </tr>
  </tbody>
</table>
  </body>
</html>
