<html>
<head>
	<meta charset="UTF-8">
	<title>Line 26</title>
	<link rel="stylesheet" href="../linebyline.css">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@200;400;700&display=swap" rel="stylesheet">
</head>
<body>
<button class="button" onclick="document.location='https://lorehord.com/'">Home</button><br>
<h1>Widsið</h1>
<h2>Line 26</h2>
<html><body><table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>Oswine</td>
      <td>weold</td>
      <td>Eowum</td>
      <td>ond</td>
      <td>Ytum</td>
      <td>Gefwulf,</td>
    </tr>
    <tr class="lemma-row">
      <td>Oswine</td>
      <td>wealdan</td>
      <td>Eowan</td>
      <td>ond</td>
      <td>Yte</td>
      <td>Gefwulf</td>
    </tr>
    <tr class="pos-row">
      <td>nsn</td>
      <td>psv</td>
      <td>dpn</td>
      <td>conj</td>
      <td>dpn</td>
      <td>nsn</td>
    </tr>
    <tr class="gloss-row">
      <td>Oswin</td>
      <td>ruled</td>
      <td>the Eows</td>
      <td>and</td>
      <td>the Jutes</td>
      <td>Gefwulf</td>
    </tr>
  </tbody>
</table></body></html>
	<div class="button-container">
		<a href="https://lorehord.com/views/line/line-25.html">Previous</a><a href="https://lorehord.com/views/line/line-27.html">Next</a>
	</div>
	< class="translation">Translation</h2><br>
	<p class="translation">Oswin ruled the Eows and Gefwulf the Jutes,</p>
</html>