<html>
<head>
	<meta charset="UTF-8">
	<title>Glossary</title>
	<link rel="stylesheet" href="../glossstyles.css">
</head>
<body>
<button class="button" onclick="document.location='https://lorehord.com/'">Home</button><br><h1>Line 46</h1><html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>sibbe</td>
      <td>ætsomne</td>
      <td>suhtorfædran,</td>
    </tr>
    <tr class="lemma-row">
      <td>sibb</td>
      <td>ætsomne</td>
      <td>suhtorfædran</td>
    </tr>
    <tr class="pos-row">
      <td>gsn</td>
      <td>adv</td>
      <td>npn</td>
    </tr>
    <tr class="gloss-row">
      <td>kinship</td>
      <td>together</td>
      <td>nephew and uncle</td>
    </tr>
  </tbody>
</table>
  </body>
</html>
<button class="button" onclick="document.location='https://lorehord.com/views/line/line-47.html'">Next</button><button class="button" onclick="document.location='https://lorehord.com/views/line/line-45.html'">Previous</button><br>