<html>
<head>
	<meta charset="UTF-8">
	<title>Glossary</title>
	<link rel="stylesheet" href="../glossstyles.css">
</head>
<body>
<button class="button" onclick="document.location='https://lorehord.com/'">Home</button><br><h1>Line 64</h1><html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>mid</td>
      <td>Þyringum</td>
      <td>ic</td>
      <td>wæs</td>
      <td>ond</td>
      <td>mid</td>
      <td>Þrowendum,</td>
    </tr>
    <tr class="lemma-row">
      <td>mid</td>
      <td>Þyringas</td>
      <td>ic</td>
      <td>wesan</td>
      <td>ond</td>
      <td>mid</td>
      <td>Þrowend</td>
    </tr>
    <tr class="pos-row">
      <td>prep</td>
      <td>dpn</td>
      <td>pn</td>
      <td>psv</td>
      <td>conj</td>
      <td>prep</td>
      <td>dpn</td>
    </tr>
    <tr class="gloss-row">
      <td>with</td>
      <td>the Thuringians</td>
      <td>I</td>
      <td>was</td>
      <td>and</td>
      <td>with</td>
      <td>Þrowend</td>
    </tr>
  </tbody>
</table>
  </body>
</html>
<button class="prevbutton" onclick="document.location='https://lorehord.com/views/line/line-63.html'">Previous</button><br><button class="nextbutton" onclick="document.location='https://lorehord.com/views/line/line-65.html'">Next</button>