<html>
<head>
	<meta charset="UTF-8">
	<title>Line 87</title>
	<link rel="stylesheet" href="../linebyline.css">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@200;400;700&display=swap" rel="stylesheet">
</head>
<body>
<button class="button" onclick="document.location='https://lorehord.com/'">Home</button><br>
<h1>Widsið</h1>
<h2>Line 87</h2>
<html><body><table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>ond</td>
      <td>mid</td>
      <td>Eolum</td>
      <td>ond</td>
      <td>mid</td>
      <td>Istum</td>
      <td>ond</td>
      <td>Idumingum.</td>
    </tr>
    <tr class="lemma-row">
      <td>ond</td>
      <td>mid</td>
      <td>Ilwan</td>
      <td>ond</td>
      <td>mid</td>
      <td>Iste</td>
      <td>ond</td>
      <td>Idumingas</td>
    </tr>
    <tr class="pos-row">
      <td>conj</td>
      <td>prep</td>
      <td>dpn</td>
      <td>conj</td>
      <td>prep</td>
      <td>dpn</td>
      <td>conj</td>
      <td>dpn</td>
    </tr>
    <tr class="gloss-row">
      <td>and</td>
      <td>with</td>
      <td>the Ilwan</td>
      <td>and</td>
      <td>with</td>
      <td>the Austrogoths</td>
      <td>and</td>
      <td>Idumings</td>
    </tr>
  </tbody>
</table></body></html>
	<div class="button-container">
		<a href="https://lorehord.com/views/line/line-86.html">Previous</a><a href="https://lorehord.com/views/line/line-88.html">Next</a>
	</div>
	<h2 class="translation">Translation</h2><br>
	<p class="translation">and with the Ilwan and with the Istas and Idumings. </p>
</html>