<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Widsið Line 24</title>
    <link rel="stylesheet" href="../static/styles.css">
    
<link rel="stylesheet" href="../../static/linebyline.css">

</head>
<body>
    <header class="header">
        <div class="site-title">Widsið</div>
        <nav class="nav-container">
          <ul class="nav-menu">
            <li class="nav-item"><a href="/index.html" class="nav-link">Home</a></li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link">Widsið  ▾</a>
              <div class="dropdown-content">
                <a href="/views/alignment1.html">Parallel Version</a>
                <a href="/views/line/line-1.html">Line by Line view</a>
                <a href="/views/glossary.html">Glossary</a>
                <a href="/views/named_entities.html">Named Entities</a>
                <a href="/views/beowulf-alignment.html">Beowulf Example</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link">Thesis  ▾</a>
              <div class="dropdown-content">
                <a href="/views/thesis.html">Thesis Paper</a>
                <a href="/views/furtherreading.html">Further Reading</a>
              </div>
            </li>
            <li class="nav-item"><a href="/views/contact.html" class="nav-link">Contact</a></li>
          </ul>
        </nav>
      </header>
  <div class="content-wrapper">
    
<link rel="stylesheet" href="../../static/linebyline.css">
</head>
	<h1>Widsið</h1>
<h2>Line 24</h2>
<table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>þeodric</td>
      <td>weold</td>
      <td>Froncum,</td>
      <td>Þyle</td>
      <td>Rondingum,</td>
    </tr>
    <tr class="lemma-row">
      <td>þeodric</td>
      <td>wealdan</td>
      <td>Froncan</td>
      <td>Þyle</td>
      <td>Rondingas</td>
    </tr>
    <tr class="pos-row">
      <td>nsn</td>
      <td>psv</td>
      <td>dpn</td>
      <td>nsn</td>
      <td>dpn</td>
    </tr>
    <tr class="gloss-row">
      <td>Theodric</td>
      <td>ruled</td>
      <td>the Franks</td>
      <td>Thyle</td>
      <td>The Rondings</td>
    </tr>
  </tbody>
</table>
	<div class="button-container">
		<a href="https://lorehord.com/views/line/line-23.html">Previous</a>
		<a href="https://lorehord.com/views/line/line-25.html">Next</a>
	</div>
	<h2 class="translation">Translation</h2><br>
	<p class="translation">Theodric ruled the Franks, Thyle the Rondings,</p>

	<div class='namedentities' style='text-align: justify;'>
		<h2 class='translation'>Named Entities</h2>
	<ul>
		<li><span class="named-entity">Þeodric</span>: Malone has him as the oldest son of Clovis and king of the Franks, and says that this Theodric is the same Theodric as in l. 115. Chambers and other dispute this. This Theodric is, indeed, Hugdietrich, king of the Franks (as stated in the poem), but l.115 would then be Dietrich of Bern.</li>
	</ul>	<ul>
		<li><span class="named-entity">Froncan</span>: These are the Franks of history, though an earlier name for the tribe seems to have been Hugas, a name that survived in poetry and also as the name 'Hugh'.</li>
	</ul>	<ul>
		<li><span class="named-entity">Þyle</span>: King of the Rondings. Malone explains the name as the eponym of the Þilir, a tribe in the Telemark, giving identification to the Rondings below.</li>
	</ul>	<ul>
		<li><span class="named-entity">Rondingas</span>: The men of Telemark (tgn, 7003654, http://vocab.getty.edu/page/tgn/7003654), famously weird skiers with whom no self-respecting Alpine skier would associate. The name means 'borderers' and seems to be a poetic appelation based on their region being called a <i>mark</i> or borderland. (Malone 191-192)</li>
	</ul>
	</div>
</table>

  </div>
  </body>
</html>