<html>
<head>
	<meta charset="UTF-8">
	<title>Line 19</title>
	<link rel="stylesheet" href="../glossstyles.css">
</head>
<body>
<button class="button" onclick="document.location='https://lorehord.com/'">Home</button><br><h1>Line 19</h1><html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>Becca</td>
      <td>Baningum,</td>
      <td>Burgendum</td>
      <td>Gifica.</td>
    </tr>
    <tr class="lemma-row">
      <td>Becca</td>
      <td>Baningas</td>
      <td>Burgendan</td>
      <td>Gifica</td>
    </tr>
    <tr class="pos-row">
      <td>nsn</td>
      <td>dpn</td>
      <td>dpn</td>
      <td>nsn</td>
    </tr>
    <tr class="gloss-row">
      <td>Becca</td>
      <td>the Baningas</td>
      <td>the Burgundians</td>
      <td>Gifica</td>
    </tr>
  </tbody>
</table>
  </body>
</html>
<button class="prevbutton" onclick="document.location='https://lorehord.com/views/line/line-18.html'">Previous</button><button class="nextbutton" onclick="document.location='https://lorehord.com/views/line/line-20.html'">Next</button>