<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <title>Widsið Line 43</title>
    <link rel="stylesheet" href="../static/styles.css">
    
<link rel="stylesheet" href="../../static/linebyline.css">

</head>
<body>
    <header class="header">
        <div class="site-title">Widsið</div>
        <nav class="nav-container">
          <ul class="nav-menu">
            <li class="nav-item"><a href="/index.html" class="nav-link">Home</a></li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link">Widsið  ▾</a>
              <div class="dropdown-content">
                <a href="/views/alignment1.html">Parallel Version</a>
                <a href="/views/line/line-1.html">Line by Line view</a>
                <a href="/views/glossary.html">Glossary</a>
                <a href="/views/named_entities.html">Named Entities</a>
                <a href="/views/llm_glossary.html">LLM Glossary</a>
                <a href="/views/beowulf_alignment.html">Beowulf Example</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link">Thesis  ▾</a>
              <div class="dropdown-content">
                <a href="/views/thesis.html">Thesis Paper</a>
                <a href="/views/furtherreading.html">Further Reading</a>
              </div>
            </li>
            <li class="nav-item"><a href="/views/acknowledgements.html" class="nav-link">Acknowledgements</a></li>
          </ul>
        </nav>
      </header>
  <div class="content-wrapper">
    
<link rel="stylesheet" href="../../static/linebyline.css">
</head>
	<h1>Widsið</h1>
<h2>Line 43</h2>
<table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>bī</td>
      <td>Fifeldore;</td>
      <td>heoldon</td>
      <td>forð</td>
      <td>sīþþan</td>
    </tr>
    <tr class="lemma-row">
      <td>bī</td>
      <td>Fīfeldore</td>
      <td>healdan</td>
      <td>forð</td>
      <td>sīþþan</td>
    </tr>
    <tr class="pos-row">
      <td>prep</td>
      <td>dsn</td>
      <td>pret.pv</td>
      <td>adv</td>
      <td>adv</td>
    </tr>
    <tr class="gloss-row">
      <td>by</td>
      <td>the Eider estuary</td>
      <td>held</td>
      <td>thenceforth</td>
      <td>afterwards</td>
    </tr>
  </tbody>
</table>
	<div class="button-container">
		<a href="https://lorehord.com/views/line/line-42.html">Previous</a>
		<a href="https://lorehord.com/views/line/line-44.html">Next</a>
	</div>
	<h2 class="translation">Translation</h2><br>
	<p class="translation">by Fifeldore (the Eider estuary), held afterwards</p>

	<div class='namedentities' style='text-align: justify;'>
		<h2 class='translation'>Named Entities</h2>
	<ul>
		<li><span class="named-entity">Fīfeldore</span>: the Eider estuary, (tgn, 7074620) http://vocab.getty.edu/page/tgn/7074620</li>
	</ul>
	</div>
</table>

  </div>
  </body>
</html>