<html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>Mid</td>
      <td>Sercingum</td>
      <td>ic</td>
      <td>wæs</td>
      <td>ond</td>
      <td>mid</td>
      <td>Seringum;</td>
    </tr>
    <tr class="lemma-row">
      <td>mid</td>
      <td>Sercingas</td>
      <td>ic</td>
      <td>wesan</td>
      <td>ond</td>
      <td>mid</td>
      <td>Seringas</td>
    </tr>
    <tr class="pos-row">
      <td>prep</td>
      <td>dpn</td>
      <td>pn</td>
      <td>psv</td>
      <td>conj</td>
      <td>prep</td>
      <td>dpn</td>
    </tr>
    <tr class="gloss-row">
      <td>with</td>
      <td>the Sercings</td>
      <td>I</td>
      <td>was</td>
      <td>and</td>
      <td>with</td>
      <td>the Serae</td>
    </tr>
  </tbody>
</table>
  </body>
</html>
