<html>
<head>
	<meta charset="UTF-8">
	<title>Line 102</title>
	<link rel="stylesheet" href="../linebyline.css">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@200;400;700&display=swap" rel="stylesheet">
</head>
<body>
<button class="button" onclick="document.location='https://lorehord.com/'">Home</button><br><h1>Line 102</h1><html>
  <body>
    <table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>goldhrodene</td>
      <td>cwēn</td>
      <td>giefe</td>
      <td>bryttian.</td>
    </tr>
    <tr class="lemma-row">
      <td>goldhroden</td>
      <td>cwēn</td>
      <td>giefu</td>
      <td>bryttian</td>
    </tr>
    <tr class="pos-row">
      <td>adj</td>
      <td>asn</td>
      <td>apn</td>
      <td>v</td>
    </tr>
    <tr class="gloss-row">
      <td>gold-adorned</td>
      <td>queen</td>
      <td>gifts</td>
      <td>distribute</td>
    </tr>
  </tbody>
</table>
  </body>
</html>

	<div class="button-container">
		<button class="prevbutton" onclick="document.location='https://lorehord.com/views/line/line-101.html'">Previous</button><button class="nextbutton" onclick="document.location='https://lorehord.com/views/line/line-103.html'">Next</button>
	</div>