<html>
<head>
	<meta charset="UTF-8">
	<title>Line 60</title>
	<link rel="stylesheet" href="../linebyline.css">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
<button class="button" onclick="document.location='https://lorehord.com/'">Home</button><br>
<main>
	<h1>Widsið</h1>
<h2>Line 60</h2>
<table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>mid</td>
      <td>Gefþum</td>
      <td>ic</td>
      <td>wæs</td>
      <td>ond</td>
      <td>mid</td>
      <td>Winedum</td>
      <td>ond</td>
      <td>mid</td>
      <td>Gefflegum.</td>
    </tr>
    <tr class="lemma-row">
      <td>mid</td>
      <td>Gefþan</td>
      <td>ic</td>
      <td>wesan</td>
      <td>ond</td>
      <td>mid</td>
      <td>Winedas</td>
      <td>ond</td>
      <td>mid</td>
      <td>Gefflēgan</td>
    </tr>
    <tr class="pos-row">
      <td>prep</td>
      <td>dpn</td>
      <td>pn</td>
      <td>psv</td>
      <td>conj</td>
      <td>prep</td>
      <td>dpn</td>
      <td>conj</td>
      <td>prep</td>
      <td>dsn</td>
    </tr>
    <tr class="gloss-row">
      <td>with</td>
      <td>The Gibids</td>
      <td>I</td>
      <td>was</td>
      <td>and</td>
      <td>with</td>
      <td>Winedas</td>
      <td>and</td>
      <td>with</td>
      <td>The Gefflegans</td>
    </tr>
  </tbody>
</table>
	<div class="button-container">
		<a href="https://lorehord.com/views/line/line-59.html">Previous</a><a href="https://lorehord.com/views/line/line-61.html">Next</a>
	</div>
	<h2 class="translation">Translation</h2><br>
	<p class="translation">With the Gibids I was and with the Winedas and with the Gefflegans.</p>

	<h2 class='translation'>Named Entities</h2>
	<ul>
		<li><span class="named-entity">Gefþan</span>: A tribe of the Gothic family mentioned in Beowulf and the Gepids of history. <a href='https://en.wikipedia.org/wiki/Gepids'>Wikipedia</a></li>
	</ul>
	<ul>
		<li><span class="named-entity">Winedas</span>: The Wends, a generic German name for the Slavs.</li>
	</ul>
	<ul>
		<li><span class="named-entity">Gefflēgan</span>: The Aviones of Tacitus but location unknown</li>
	</ul>
	</main>
	</body>
	</html>