{% extends "base.html" %}
{% block title %}{{ page_title }}{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="../../static/linebyline.css">
{% endblock %}
{% block content %}
<link rel="stylesheet" href="../../static/linebyline.css">
</head>
	<h1>Riddle One</h1>
<h2>Line 5</h2>
<table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>fere</td>
      <td>geond</td>
      <td>foldan,</td>
      <td>folcsalo</td>
      <td>bærne,</td>
    </tr>
    <tr class="lemma-row">
      <td>faran</td>
      <td>geond</td>
      <td>folde</td>
      <td>folcsalo</td>
      <td>byrnan</td>
    </tr>
    <tr class="pos-row">
      <td>pres.1sg</td>
      <td>prep</td>
      <td>as</td>
      <td>ap</td>
      <td>pres.1sg</td>
    </tr>
    <tr class="gloss-row">
      <td>travel</td>
      <td>throughout</td>
      <td>earth</td>
      <td>halls</td>
      <td>burn</td>
    </tr>
  </tbody>
</table>
	<div class="button-container">
		<a href="https://lorehord.com/views/riddle1/line-4.html">Previous</a>
		<a href="https://lorehord.com/views/riddle1/line-6.html">Next</a>
	</div>
	<h2 class="translation">Translation</h2><br>
	<p class="translation">Travel throughout the earth, I burn halls,</p>

	</div>
</table>
{% endblock %}