{% extends "base.html" %}
{% block title %}{{ page_title }}{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="/../linebyline.css?{{ HASHES['/../linebyline.css'] }}">
{% endblock %}
{% block content %}
<link rel="stylesheet" href="/../linebyline.css?{{ HASHES['/../linebyline.css'] }}">
</head>
	<h1>Riddle One</h1>
<h2>Line 4</h2>
<table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>þrymful</td>
      <td>þunie,</td>
      <td>þragum</td>
      <td>wræce</td>
    </tr>
    <tr class="lemma-row">
      <td>þrymful</td>
      <td>þunian</td>
      <td>þrāg</td>
      <td>wrecan</td>
    </tr>
    <tr class="pos-row">
      <td>nsm</td>
      <td>pres.1sg</td>
      <td>dp</td>
      <td>pres.1sg</td>
    </tr>
    <tr class="gloss-row">
      <td>mighty</td>
      <td>thunder</td>
      <td>at times</td>
      <td>wreak</td>
    </tr>
  </tbody>
</table>
	<div class="button-container">
		<a href="https://lorehord.com/views/riddle1/line-3.html">Previous</a>
		<a href="https://lorehord.com/views/riddle1/line-5.html">Next</a>
	</div>
	<h2 class="translation">Translation</h2><br>
	<p class="translation">mighty thunder, at times wreaking,</p>

	</div>
</table>
{% endblock %}