{% extends "base.html" %}
{% block title %}{{ page_title }}{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="../linebyline.css?{{ HASHES['../linebyline.css'] }}">
{% endblock %}
{% block content %}
<link rel="stylesheet" href="../linebyline.css?{{ HASHES['../linebyline.css'] }}">
</head>
	<h1>Riddle One</h1>
<h2>Line 10</h2>
<table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>holme</td>
      <td>gehrefed,</td>
      <td>heahum</td>
      <td>meahtum</td>
    </tr>
    <tr class="lemma-row">
      <td>holm</td>
      <td>gehrefan</td>
      <td>hēah</td>
      <td>meaht</td>
    </tr>
    <tr class="pos-row">
      <td>ds</td>
      <td>pp</td>
      <td>dp</td>
      <td>dp</td>
    </tr>
    <tr class="gloss-row">
      <td>sea</td>
      <td>stirred</td>
      <td>high</td>
      <td>powers</td>
    </tr>
  </tbody>
</table>
	<div class="button-container">
		<a href="https://lorehord.com/views/riddle1/line-9.html">Previous</a>
		<a href="https://lorehord.com/views/riddle1/line-11.html">Next</a>
	</div>
	<h2 class="translation">Translation</h2><br>
	<p class="translation">stir the seas, high powers</p>

	</div>
</table>
{% endblock %}