{% extends "base.html" %}
{% block title %}{{ page_title }}{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="../../static/linebyline.css">
{% endblock %}
{% block content %}
<link rel="stylesheet" href="../../static/linebyline.css">
</head>
	<h1>Riddle One</h1>
<h2>Line 3</h2>
<table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>þonne</td>
      <td>ic</td>
      <td>astige</td>
      <td>strong,</td>
      <td>stundum</td>
      <td>reþe,</td>
    </tr>
    <tr class="lemma-row">
      <td>þonne</td>
      <td>ic</td>
      <td>āstīgan</td>
      <td>strang</td>
      <td>stund</td>
      <td>hrēoh</td>
    </tr>
    <tr class="pos-row">
      <td>adv</td>
      <td>ns.pers</td>
      <td>pres.1sg</td>
      <td>nsm</td>
      <td>dp</td>
      <td>nsm</td>
    </tr>
    <tr class="gloss-row">
      <td>when</td>
      <td>I</td>
      <td>rise up</td>
      <td>strong</td>
      <td>at times</td>
      <td>fierce</td>
    </tr>
  </tbody>
</table>
	<div class="button-container">
		<a href="https://lorehord.com/views/line/line-2.html">Previous</a>
		<a href="https://lorehord.com/views/line/line-4.html">Next</a>
	</div>
	<h2 class="translation">Translation</h2><br>
	<p class="translation">When I arise strong, and fierce at times,</p>

	</div>
</table>
{% endblock %}