{% extends "base.html" %}
{% block title %}{{ page_title }}{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="../../static/linebyline.css">
{% endblock %}
{% block content %}
<link rel="stylesheet" href="../../static/linebyline.css">
</head>
	<h1>Riddle One</h1>
<h2>Line 15</h2>
<table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>oþþe</td>
      <td>hu</td>
      <td>ic</td>
      <td>hatte,</td>
      <td>þe</td>
      <td>þa</td>
      <td>hlæst</td>
      <td>bere.</td>
    </tr>
    <tr class="lemma-row">
      <td>oþþe</td>
      <td>hū</td>
      <td>ic</td>
      <td>hātan</td>
      <td>þū</td>
      <td>sē</td>
      <td>hlæst</td>
      <td>beran</td>
    </tr>
    <tr class="pos-row">
      <td>conj</td>
      <td>adv.interr</td>
      <td>ns.pers</td>
      <td>pres.1sg.pass</td>
      <td>ns.rel</td>
      <td>ap.dem</td>
      <td>ap</td>
      <td>pres.1sg</td>
    </tr>
    <tr class="gloss-row">
      <td>or</td>
      <td>how</td>
      <td>I</td>
      <td>am called</td>
      <td>who</td>
      <td>the</td>
      <td>burdens</td>
      <td>bear</td>
    </tr>
  </tbody>
</table>
	<div class="button-container">
		<a href="https://lorehord.com/views/riddle1/line-14.html">Previous</a>
		<a href="https://lorehord.com/views/riddle1/line-15.html">Next</a>
	</div>
	<h2 class="translation">Translation</h2><br>
	<p class="translation">or what I am called, who these burdens bears.</p>

	</div>
</table>
{% endblock %}