{% extends "base.html" %}
{% block title %}{{ page_title }}{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="../../static/linebyline.css">
{% endblock %}
{% block content %}
<link rel="stylesheet" href="../../static/linebyline.css">
</head>
	<h1>Riddle One</h1>
<h2>Line 14</h2>
<table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>somod</td>
      <td>on</td>
      <td>sunde.</td>
      <td>Saga</td>
      <td>hwa</td>
      <td>mec</td>
      <td>þecce,</td>
    </tr>
    <tr class="lemma-row">
      <td>somod</td>
      <td>on</td>
      <td>sund</td>
      <td>secgan</td>
      <td>hwā</td>
      <td>ic</td>
      <td>þeccan</td>
    </tr>
    <tr class="pos-row">
      <td>adv</td>
      <td>prep</td>
      <td>ds</td>
      <td>imp.2sg</td>
      <td>pron.interr</td>
      <td>as.pers</td>
      <td>pres.subj.3sg</td>
    </tr>
    <tr class="gloss-row">
      <td>together</td>
      <td>on</td>
      <td>sea</td>
      <td>say</td>
      <td>who</td>
      <td>me</td>
      <td>covers</td>
    </tr>
  </tbody>
</table>
	<div class="button-container">
		<a href="https://lorehord.com/views/line/line-13.html">Previous</a>
		<a href="https://lorehord.com/views/line/line-15.html">Next</a>
	</div>
	<h2 class="translation">Translation</h2><br>
	<p class="translation">together on the sea. Say who covers me,</p>

	</div>
</table>
{% endblock %}