{% extends "base.html" %}
{% block title %}{{ page_title }}{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="../../static/linebyline.css">
{% endblock %}
{% block content %}
<link rel="stylesheet" href="../../static/linebyline.css">
</head>
	<h1>Riddle One</h1>
<h2>Line 8</h2>
<table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>wælcwealm</td>
      <td>wera,</td>
      <td>þonne</td>
      <td>ic</td>
      <td>wudu</td>
      <td>hrere,</td>
    </tr>
    <tr class="lemma-row">
      <td>wælcwealm</td>
      <td>wer</td>
      <td>þonne</td>
      <td>ic</td>
      <td>wudu</td>
      <td>hrēran</td>
    </tr>
    <tr class="pos-row">
      <td>ns</td>
      <td>gp</td>
      <td>adv</td>
      <td>ns.pers</td>
      <td>as</td>
      <td>pres.1sg</td>
    </tr>
    <tr class="gloss-row">
      <td>slaughter</td>
      <td>of men</td>
      <td>when</td>
      <td>I</td>
      <td>wood</td>
      <td>stir</td>
    </tr>
  </tbody>
</table>
	<div class="button-container">
		<a href="https://lorehord.com/views/riddle1/line-7.html">Previous</a>
		<a href="https://lorehord.com/views/riddle1/line-9.html">Next</a>
	</div>
	<h2 class="translation">Translation</h2><br>
	<p class="translation">the slaughter of men, when I stir the woods,</p>

	</div>
</table>
{% endblock %}