{% extends "base.html" %}
{% block title %}{{ page_title }}{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="../../static/linebyline.css">
{% endblock %}
{% block content %}
<link rel="stylesheet" href="../../static/linebyline.css">
</head>
	<h1>Riddle One</h1>
<h2>Line 1</h2>
<table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>Hwylc</td>
      <td>is</td>
      <td>hæleþa</td>
      <td>þæs</td>
      <td>horsc</td>
      <td>ond</td>
      <td>þæs</td>
      <td>hygecræftig</td>
    </tr>
    <tr class="lemma-row">
      <td>hwylc</td>
      <td>bēon</td>
      <td>hæleþ</td>
      <td>sē</td>
      <td>horsc</td>
      <td>ond</td>
      <td>sē</td>
      <td>hygecræftig</td>
    </tr>
    <tr class="pos-row">
      <td>pron.interr</td>
      <td>pres.3sg</td>
      <td>gp</td>
      <td>dp.dem</td>
      <td>nsm</td>
      <td>conj</td>
      <td>dp.dem</td>
      <td>nsm</td>
    </tr>
    <tr class="gloss-row">
      <td>which</td>
      <td>is</td>
      <td>of men</td>
      <td>so</td>
      <td>wise</td>
      <td>and</td>
      <td>so</td>
      <td>clever-minded</td>
    </tr>
  </tbody>
</table>
	<div class="button-container">
		<a></a>		<a href="https://lorehord.com/views/riddle1/line-2.html">Next</a>
	</div>
	<h2 class="translation">Translation</h2><br>
	<p class="translation">Whoever of men is so wise and so clever,</p>

	</div>
</table>
{% endblock %}