<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <title>Riddle One Line 7</title>
    <link rel="stylesheet" href="styles.css?d4ab68d98162fe9524c9152f4dc45dc7">
    
<link rel="stylesheet" href="../linebyline.css?">

</head>
<body>
    <header class="header">
        <div class="site-title">Widsið</div>
        <nav class="nav-container">
          <ul class="nav-menu">
            <li class="nav-item"><a href="/index.html" class="nav-link">Home</a></li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link">Widsið  ▾</a>
              <div class="dropdown-content">
                <a href="/views/alignment1.html">Parallel Version</a>
                <a href="/views/line/line-1.html">Line by Line view</a>
                <a href="/views/glossary.html">Glossary</a>
                <a href="/views/named_entities.html">Named Entities</a>
                <a href="/views/llm_glossary.html">LLM Glossary</a>
                <a href="/views/beowulf_alignment.html">Beowulf Example</a>
                <a href="/views/riddle1/line-1.html">Riddle One line view</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link">Thesis  ▾</a>
              <div class="dropdown-content">
                <a href="/views/thesis.html">Thesis Paper</a>
                <a href="/views/furtherreading.html">Further Reading</a>
              </div>
            </li>
            <li class="nav-item"><a href="/views/acknowledgements.html" class="nav-link">Acknowledgements</a></li>
          </ul>
        </nav>
      </header>
  <div class="content-wrapper">
    
<link rel="stylesheet" href="../linebyline.css?">
</head>
	<h1>Riddle One</h1>
<h2>Line 7</h2>
<table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>haswe</td>
      <td>ofer</td>
      <td>hrofum.</td>
      <td>Hlin</td>
      <td>bið</td>
      <td>on</td>
      <td>eorþan,</td>
    </tr>
    <tr class="lemma-row">
      <td>hasu</td>
      <td>ofer</td>
      <td>hrōf</td>
      <td>hlīn</td>
      <td>bēon</td>
      <td>on</td>
      <td>eorþe</td>
    </tr>
    <tr class="pos-row">
      <td>npm</td>
      <td>prep</td>
      <td>dp</td>
      <td>ns</td>
      <td>pres.3sg</td>
      <td>prep</td>
      <td>ds</td>
    </tr>
    <tr class="gloss-row">
      <td>grey</td>
      <td>over</td>
      <td>roofs</td>
      <td>noise</td>
      <td>is</td>
      <td>on</td>
      <td>earth</td>
    </tr>
  </tbody>
</table>
	<div class="button-container">
		<a href="https://lorehord.com/views/riddle1/line-6.html">Previous</a>
		<a href="https://lorehord.com/views/riddle1/line-8.html">Next</a>
	</div>
	<h2 class="translation">Translation</h2><br>
	<p class="translation">grey over roofs. Din is over the eart,</p>

	</div>
</table>

  </div>
  </body>
</html>