<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <title>Riddle One Line 11</title>
    <link rel="stylesheet" href="../static/styles.css">
    
<link rel="stylesheet" href="../../static/linebyline.css">

</head>
<body>
    <header class="header">
        <div class="site-title">Widsið</div>
        <nav class="nav-container">
          <ul class="nav-menu">
            <li class="nav-item"><a href="/index.html" class="nav-link">Home</a></li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link">Widsið  ▾</a>
              <div class="dropdown-content">
                <a href="/views/alignment1.html">Parallel Version</a>
                <a href="/views/line/line-1.html">Line by Line view</a>
                <a href="/views/glossary.html">Glossary</a>
                <a href="/views/named_entities.html">Named Entities</a>
                <a href="/views/llm_glossary.html">LLM Glossary</a>
                <a href="/views/beowulf_alignment.html">Beowulf Example</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link">Thesis  ▾</a>
              <div class="dropdown-content">
                <a href="/views/thesis.html">Thesis Paper</a>
                <a href="/views/furtherreading.html">Further Reading</a>
              </div>
            </li>
            <li class="nav-item"><a href="/views/acknowledgements.html" class="nav-link">Acknowledgements</a></li>
          </ul>
        </nav>
      </header>
  <div class="content-wrapper">
    
<link rel="stylesheet" href="../../static/linebyline.css">
</head>
	<h1>Riddle One</h1>
<h2>Line 11</h2>
<table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>wrecen</td>
      <td>on</td>
      <td>waþe,</td>
      <td>wide</td>
      <td>sended;</td>
    </tr>
    <tr class="lemma-row">
      <td>wrecan</td>
      <td>on</td>
      <td>wāþ</td>
      <td>wīde</td>
      <td>sendan</td>
    </tr>
    <tr class="pos-row">
      <td>pp</td>
      <td>prep</td>
      <td>as</td>
      <td>adv</td>
      <td>pp</td>
    </tr>
    <tr class="gloss-row">
      <td>driven</td>
      <td>on</td>
      <td>journey</td>
      <td>widely</td>
      <td>sent</td>
    </tr>
  </tbody>
</table>
	<div class="button-container">
		<a href="https://lorehord.com/views/line/line-10.html">Previous</a>
		<a href="https://lorehord.com/views/line/line-12.html">Next</a>
	</div>
	<h2 class="translation">Translation</h2><br>
	<p class="translation"> driven on my way, wide sent;</p>

	</div>
</table>

  </div>
  </body>
</html>