<html>
  <head>
    <meta charset="UTF-8">
    <title>{{lineno}}</title>
    <link rel="stylesheet" href="../../views/linebyline.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
  </head>
  <body>
    <button class="button" onclick="document.location='https://lorehord.com/'">Home</button><br>
    <main>
      <h1>Widsið</h1>
      {% block content %}
        {% include "lines.html" %}
        {% include "translation.html" %}
        {% include "named-entities.html" %}
      {% endblock %}
  </main>
  </body>
</html>