<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="../static/styles.css">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <header class="header">
        <div class="site-title">Widsið</div>
        <nav class="nav-container">
          <ul class="nav-menu">
            <li class="nav-item"><a href="index.html" class="nav-link">Home</a></li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link">Widsið  ▾</a>
              <div class="dropdown-content">
                <a href="views/alignment1.html">Parallel Version</a>
                <a href="views/line/line-1">Line by Line view</a>
                <a href="views/glossary.html">Glossary</a>
                <a href="views/named-entities-gloss.html">Named Entities</a>
                <a href="views/beowulf-alignment.html">Beowulf Example</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link">Thesis  ▾</a>
              <div class="dropdown-content">
                <a href="views/thesis.html">Thesis Paper</a>
                <a href="views/furtherreading.html">Further Reading</a>
              </div>
            </li>
            <li class="nav-item"><a href="views/contact.html" class="nav-link">Contact</a></li>
          </ul>
        </nav>
      </header>
      {% block content %}
      {% endblock %}
  </main>
  </body>
</html>