{% extends "base.html" %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}
<div class="content-wrapper">
        <h1>Widsið</h1>
        <h2>Line {{ lineno }}</h2>
        <table class="dataframe">
          <tbody>
            <tr class="form_row">
                {% for form in form_row %}
              <td>{{ form }}</td>
                {% endfor %}
            </tr>
            <tr class="lemma_row">
            {% for lemma in lemma_row %}
              <td>{{ lemma }}</td>
            {% endfor %}
            </tr>
            <tr class="pos-row">
            {% for pos in pos_row %}
              <td>{{ pos }}</td>
            {% endfor %}
            </tr>
            <tr class="gloss-row">
            {% for gloss in gloss_row %}
              <td>{{ gloss }}</td>
            {% endfor %}
            </tr>
          </tbody>
        </table>
        <div class="button-container">
            {% if lineno|int > 1 %}
            <a href="line-{{ (lineno|int) - 1 }}.html">Previous</a>
            {% endif %}
            <a href="line-{{ (lineno|int) + 1 }}.html">Next</a>
        </div>
        <h2 class="translation">Translation</h2><br>
        <p class="translation">{{ translation }}</p>

        {% if named_entities %}
        <h2 class='translation'>Named Entities</h2>
        <ul>
            {% for entity in named_entities %}
            <li><span class="named-entity">{{ entity.name }}</span>: {{ entity.info }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
{% endblock %}