<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Widsið Line 59</title>
    <link rel="stylesheet" href="../static/styles.css">
    
<link rel="stylesheet" href="../../static/linebyline.css">

</head>
<body>
    <header class="header">
        <div class="site-title">Widsið</div>
        <nav class="nav-container">
          <ul class="nav-menu">
            <li class="nav-item"><a href="lorehord.com" class="nav-link">Home</a></li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link">Widsið  ▾</a>
              <div class="dropdown-content">
                <a href="lorehord.com/views/alignment1.html">Parallel Version</a>
                <a href="lorehord.com/views/linebyline/line-1">Line by Line view</a>
                <a href="lorehord.com/views/glossary.html">Glossary</a>
                <a href="lorehord.com/views/named-entities-gloss.html">Named Entities</a>
                <a href="lorehord.com/views/beowulf-alignment.html">Beowulf Example</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link">Thesis  ▾</a>
              <div class="dropdown-content">
                <a href="lorehord.com/views/thesis.html">Thesis Paper</a>
                <a href="lorehord.com/views/furtherreading.html">Further Reading</a>
              </div>
            </li>
            <li class="nav-item"><a href="lorehord.com/views/contact.html" class="nav-link">Contact</a></li>
          </ul>
        </nav>
      </header>
  <div class="content-wrapper">
    
<link rel="stylesheet" href="../../static/linebyline.css">
</head>
	<h1>Widsið</h1>
<h2>Line 59</h2>
<table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>mid</td>
      <td>Wenlum</td>
      <td>ic</td>
      <td>wæs</td>
      <td>ond</td>
      <td>mid</td>
      <td>Wærnum</td>
      <td>ond</td>
      <td>mid</td>
      <td>wicingum.</td>
    </tr>
    <tr class="lemma-row">
      <td>mid</td>
      <td>Wenlas</td>
      <td>ic</td>
      <td>wesan</td>
      <td>ond</td>
      <td>mid</td>
      <td>Wærne</td>
      <td>ond</td>
      <td>mid</td>
      <td>Wicingas</td>
    </tr>
    <tr class="pos-row">
      <td>prep</td>
      <td>dpn</td>
      <td>pn</td>
      <td>psv</td>
      <td>conj</td>
      <td>prep</td>
      <td>dpn</td>
      <td>conj</td>
      <td>prep</td>
      <td>dpn</td>
    </tr>
    <tr class="gloss-row">
      <td>with</td>
      <td>Wenlas</td>
      <td>I</td>
      <td>was</td>
      <td>and</td>
      <td>with</td>
      <td>the Varni</td>
      <td>and</td>
      <td>with</td>
      <td>the Wicings</td>
    </tr>
  </tbody>
</table>
	<div class="button-container">
		<a href="https://lorehord.com/views/line/line-58.html">Previous</a>
		<a href="https://lorehord.com/views/line/line-60.html">Next</a>
	</div>
	<h2 class="translation">Translation</h2><br>
	<p class="translation">With the Wenlas I was, and with the Varn, and with the Vikings.</p>

	<div class='namedentities' style='text-align: justify;'>
		<h2 class='translation'>Named Entities</h2>
	<ul>
		<li><span class="named-entity">Wenlas</span>: The Wendlas of Beowulf 348, though whether he was Wendlas of the Vandili of Pliny, or of the Winnili (the Langobards), or still further a dweller of the Vendel of northern Jutland (tgn, 7004795, http://vocab.getty.edu/page/tgn/7004195) (called the Wandali by Saxo Grammaticus), is unknown for certain. (Malone 209)</li>
	</ul>	<ul>
		<li><span class="named-entity">Wærne</span>: The Varni of Procopius and the Varini of Tacitus, and perhaps the Varinnae of Pliny. Procopius puts this tribe east of the Rhine, in the region controlled by the Saxons. Tacitus puts them in Jutland (tgn, 7004795, http://vocab.getty.edu/page/tgn/7004195).</li>
	</ul>	<ul>
		<li><span class="named-entity">Wicingas</span>: This is a reference to the Heaðobeards, according to Malone, but often translated as Vikings.</li>
	</ul>
	</div>
</table>

  </div>
  </body>
</html>