<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Widsið Line 37</title>
    <link rel="stylesheet" href="../static/styles.css">
    
<link rel="stylesheet" href="../../static/linebyline.css">

</head>
<body>
    <header class="header">
        <div class="site-title">Widsið</div>
        <nav class="nav-container">
          <ul class="nav-menu">
            <li class="nav-item"><a href="index.html" class="nav-link">Home</a></li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link">Widsið  ▾</a>
              <div class="dropdown-content">
                <a href="views/alignment1.html">Parallel Version</a>
                <a href="views/linebyline/line-1">Line by Line view</a>
                <a href="views/glossary.html">Glossary</a>
                <a href="views/named-entities-gloss.html">Named Entities</a>
                <a href="views/beowulf-alignment.html">Beowulf Example</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link">Thesis  ▾</a>
              <div class="dropdown-content">
                <a href="views/thesis.html">Thesis Paper</a>
                <a href="views/furtherreading.html">Further Reading</a>
              </div>
            </li>
            <li class="nav-item"><a href="views/contact.html" class="nav-link">Contact</a></li>
          </ul>
        </nav>
      </header>
      <div class="content-wrapper">
      
<link rel="stylesheet" href="../../static/linebyline.css">
</head>
<body>
<main>
	<h1>Widsið</h1>
<h2>Line 37</h2>
<table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>nō</td>
      <td>hwæþre</td>
      <td>hē</td>
      <td>ofer</td>
      <td>Offan</td>
      <td>eorlscype</td>
      <td>fremede,</td>
    </tr>
    <tr class="lemma-row">
      <td>nō</td>
      <td>hwæþre</td>
      <td>hē</td>
      <td>ofer</td>
      <td>Offa</td>
      <td>eorlscipe</td>
      <td>fremman</td>
    </tr>
    <tr class="pos-row">
      <td>adv</td>
      <td>adv</td>
      <td>nsppn</td>
      <td>prep</td>
      <td>dsn</td>
      <td>asn</td>
      <td>pret.sv</td>
    </tr>
    <tr class="gloss-row">
      <td>not at all</td>
      <td>however</td>
      <td>he</td>
      <td>more than</td>
      <td>Offa</td>
      <td>manliness</td>
      <td>achieve</td>
    </tr>
  </tbody>
</table><a href="https://lorehord.com/views/line/line-36.html">Previous</a><a href="https://lorehord.com/views/line/line-38.html">Next</a>
	</div>
	<h2 class="translation">Translation</h2><br>
	<p class="translation">however he did not achieve more valorous deeds than Offa,</p>

	<h2 class='translation'>Named Entities</h2>
	<ul>
		<li><span class="named-entity">Offa</span>: A king of Ongel (or Angel). <a href='https://en.wikipedia.org/wiki/Offa_of_Angel'>Wikipedia</a></li>
	</ul>
</table>

    </div>
  </main>
  </body>
</html>