<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Widsið Line 118</title>
    <link rel="stylesheet" href="../static/styles.css">
    
<link rel="stylesheet" href="../../static/linebyline.css">

</head>
<body>
    <header class="header">
        <div class="site-title">Widsið</div>
        <nav class="nav-container">
          <ul class="nav-menu">
            <li class="nav-item"><a href="index.html" class="nav-link">Home</a></li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link">Widsið  ▾</a>
              <div class="dropdown-content">
                <a href="views/alignment1.html">Parallel Version</a>
                <a href="views/linebyline/line-1">Line by Line view</a>
                <a href="views/glossary.html">Glossary</a>
                <a href="views/named-entities-gloss.html">Named Entities</a>
                <a href="views/beowulf-alignment.html">Beowulf Example</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link">Thesis  ▾</a>
              <div class="dropdown-content">
                <a href="views/thesis.html">Thesis Paper</a>
                <a href="views/furtherreading.html">Further Reading</a>
              </div>
            </li>
            <li class="nav-item"><a href="views/contact.html" class="nav-link">Contact</a></li>
          </ul>
        </nav>
      </header>
      <div class="content-wrapper">
      
<link rel="stylesheet" href="../../static/linebyline.css">
</head>
<body>
<main>
	<h1>Widsið</h1>
<h2>Line 118</h2>
<table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>ond</td>
      <td>þā</td>
      <td>wloncan</td>
      <td>gedryht</td>
      <td>Wiþmyrginga.</td>
    </tr>
    <tr class="lemma-row">
      <td>ond</td>
      <td>sē</td>
      <td>wlonc</td>
      <td>gedryht</td>
      <td>Wiþmyrgingas</td>
    </tr>
    <tr class="pos-row">
      <td>conj</td>
      <td>asn</td>
      <td>adj</td>
      <td>asn</td>
      <td>gpn</td>
    </tr>
    <tr class="gloss-row">
      <td>and</td>
      <td>the</td>
      <td>proud</td>
      <td>company</td>
      <td>the Wiþmyrgings</td>
    </tr>
  </tbody>
</table><a href="https://lorehord.com/views/line/line-117.html">Previous</a><a href="https://lorehord.com/views/line/line-119.html">Next</a>
	</div>
	<h2 class="translation">Translation</h2><br>
	<p class="translation">and the proud company of the Withmyrgings.</p>

	<h2 class='translation'>Named Entities</h2>
	<ul>
		<li><span class="named-entity">Wiþmyrgingas</span>: @@@ need to check Chambers 123, 215, 221, but Malone (211) has these as the Myrgings who dwell in the valley of the With (Vid) river, and perhaps identical to the Ongendmyrgings.</li>
	</ul>
</table>

    </div>
  </main>
  </body>
</html>