<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Widsið Line 123</title>
    <link rel="stylesheet" href="../static/styles.css">
    
<link rel="stylesheet" href="../../static/linebyline.css">

</head>
<body>
    <header class="header">
        <div class="site-title">Widsið</div>
        <nav class="nav-container">
          <ul class="nav-menu">
            <li class="nav-item"><a href="/index.html" class="nav-link">Home</a></li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link">Widsið  ▾</a>
              <div class="dropdown-content">
                <a href="/views/alignment1.html">Parallel Version</a>
                <a href="/views/linebyline/line-1.html">Line by Line view</a>
                <a href="/views/glossary.html">Glossary</a>
                <a href="/views/named-entities-gloss.html">Named Entities</a>
                <a href="/views/beowulf-alignment.html">Beowulf Example</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link">Thesis  ▾</a>
              <div class="dropdown-content">
                <a href="/views/thesis.html">Thesis Paper</a>
                <a href="/views/furtherreading.html">Further Reading</a>
              </div>
            </li>
            <li class="nav-item"><a href="/views/contact.html" class="nav-link">Contact</a></li>
          </ul>
        </nav>
      </header>
  <div class="content-wrapper">
    
<link rel="stylesheet" href="../../static/linebyline.css">
</head>
	<h1>Widsið</h1>
<h2>Line 123</h2>
<table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>Rædhere</td>
      <td>sōhte</td>
      <td>ic</td>
      <td>ond</td>
      <td>Rondhere,</td>
      <td>Rumstan</td>
      <td>ond</td>
      <td>Gislhere,</td>
    </tr>
    <tr class="lemma-row">
      <td>Rædhere</td>
      <td>sēcan</td>
      <td>ic</td>
      <td>ond</td>
      <td>Rondhere</td>
      <td>Rumstan</td>
      <td>ond</td>
      <td>Gislhere</td>
    </tr>
    <tr class="pos-row">
      <td>asn</td>
      <td>pret.sv</td>
      <td>pn</td>
      <td>conj</td>
      <td>asn</td>
      <td>asn</td>
      <td>conj</td>
      <td>asn</td>
    </tr>
    <tr class="gloss-row">
      <td>Rædhere</td>
      <td>sought</td>
      <td>I</td>
      <td>and</td>
      <td>Rondhere</td>
      <td>Rumstan</td>
      <td>and</td>
      <td>Gislaharius</td>
    </tr>
  </tbody>
</table>
	<div class="button-container">
		<a href="https://lorehord.com/views/line/line-122.html">Previous</a>
		<a href="https://lorehord.com/views/line/line-124.html">Next</a>
	</div>
	<h2 class="translation">Translation</h2><br>
	<p class="translation">Raedhere I sought and Rondhere, Rumstan and Gislaharius,</p>

	<div class='namedentities' style='text-align: justify;'>
		<h2 class='translation'>Named Entities</h2>
	<ul>
		<li><span class="named-entity">Rædhere</span>: an unknown king or hero, whose name means 'command (or counsel) the army'.</li>
	</ul>	<ul>
		<li><span class="named-entity">Rondhere</span>: unknown hero whose name means shield-army, or less literally, 'protector'.</li>
	</ul>	<ul>
		<li><span class="named-entity">Rumstan</span>:  often connected with the Germanic hero Rimstien, but Widsith seems to associate him with Gislhere of the Burgundians and the German hero is a Goth. Malone (192) supposes the hero was forgotten and then his name reborrowed as the Gothic legend cycle grew.</li>
	</ul>	<ul>
		<li><span class="named-entity">Gislhere</span>: King of the Burgundians, who Malone speculates would have been an ancestor of the more famous Guðhere</li>
	</ul>
	</div>
</table>

  </div>
  </body>
</html>