<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Widsið Line 81</title>
    <link rel="stylesheet" href="../static/styles.css">
    
<link rel="stylesheet" href="../../static/linebyline.css">

</head>
<body>
    <header class="header">
        <div class="site-title">Widsið</div>
        <nav class="nav-container">
          <ul class="nav-menu">
            <li class="nav-item"><a href="/index.html" class="nav-link">Home</a></li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link">Widsið  ▾</a>
              <div class="dropdown-content">
                <a href="/views/alignment1.html">Parallel Version</a>
                <a href="/views/linebyline/line-1.html">Line by Line view</a>
                <a href="/views/glossary.html">Glossary</a>
                <a href="/views/named-entities-gloss.html">Named Entities</a>
                <a href="/views/beowulf-alignment.html">Beowulf Example</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link">Thesis  ▾</a>
              <div class="dropdown-content">
                <a href="/views/thesis.html">Thesis Paper</a>
                <a href="/views/furtherreading.html">Further Reading</a>
              </div>
            </li>
            <li class="nav-item"><a href="/views/contact.html" class="nav-link">Contact</a></li>
          </ul>
        </nav>
      </header>
  <div class="content-wrapper">
    
<link rel="stylesheet" href="../../static/linebyline.css">
</head>
	<h1>Widsið</h1>
<h2>Line 81</h2>
<table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>mid</td>
      <td>hæðnum</td>
      <td>ond</td>
      <td>mid</td>
      <td>hæleþum</td>
      <td>ond</td>
      <td>mid</td>
      <td>Hundingum.</td>
    </tr>
    <tr class="lemma-row">
      <td>mid</td>
      <td>hæþen</td>
      <td>ond</td>
      <td>mid</td>
      <td>hæleþ</td>
      <td>ond</td>
      <td>mid</td>
      <td>Hundingas</td>
    </tr>
    <tr class="pos-row">
      <td>prep</td>
      <td>dpn</td>
      <td>conj</td>
      <td>prep</td>
      <td>dpn</td>
      <td>conj</td>
      <td>prep</td>
      <td>dpn</td>
    </tr>
    <tr class="gloss-row">
      <td>with</td>
      <td>heathens</td>
      <td>and</td>
      <td>with</td>
      <td>heroes</td>
      <td>and</td>
      <td>with</td>
      <td>the Hundings</td>
    </tr>
  </tbody>
</table>
	<div class="button-container">
		<a href="https://lorehord.com/views/line/line-80.html">Previous</a>
		<a href="https://lorehord.com/views/line/line-82.html">Next</a>
	</div>
	<h2 class="translation">Translation</h2><br>
	<p class="translation">With heathens and with heroes and with the Hundings.</p>

	<div class='namedentities' style='text-align: justify;'>
		<h2 class='translation'>Named Entities</h2>
	<ul>
		<li><span class="named-entity">hæþen</span>: Various editors believe this to be the word 'heathen' as below is the word 'hero', but Malone argues in the spirit of Lappenberg 1838, that these are the inhabitants of the Norwegian region called Hedemark (tgn 7003643, http://vocab.getty.edu/page/tgn/7003643) (Malone 159). I am currently adopting the 'heathens and heroes' reading but am open to changing my mind.</li>
	</ul>	<ul>
		<li><span class="named-entity">hæleþ</span>: I had interpreted this on my read-through as 'heroes' but Malone and some other writers identify this with the inhabitants of the <i>Halla heret</i> in <i>Jordebog</i> of King Valdemar II of Denmark. Lappenberg 1838 and Grein read it as <i>Hæreþum</i>, identifying the tribe with the Charudes of classical antiquity (all in Malone 157). Mackie and Dobbie keep the MS reading and take it as the dpn 'hæleþ' or hero, which I am adopting for the time being. I will copy this note into my log.</li>
	</ul>
	</div>
</table>

  </div>
  </body>
</html>