<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Widsið Line 36</title>
    <link rel="stylesheet" href="../static/styles.css">
    
<link rel="stylesheet" href="../../static/linebyline.css">

</head>
<body>
    <header class="header">
        <div class="site-title">Widsið</div>
        <nav class="nav-container">
          <ul class="nav-menu">
            <li class="nav-item"><a href="lorehord.com" class="nav-link">Home</a></li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link">Widsið  ▾</a>
              <div class="dropdown-content">
                <a href="lorehord.com/views/alignment1.html">Parallel Version</a>
                <a href="lorehord.com/views/linebyline/line-1">Line by Line view</a>
                <a href="lorehord.com/views/glossary.html">Glossary</a>
                <a href="lorehord.com/views/named-entities-gloss.html">Named Entities</a>
                <a href="lorehord.com/views/beowulf-alignment.html">Beowulf Example</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link">Thesis  ▾</a>
              <div class="dropdown-content">
                <a href="lorehord.com/views/thesis.html">Thesis Paper</a>
                <a href="lorehord.com/views/furtherreading.html">Further Reading</a>
              </div>
            </li>
            <li class="nav-item"><a href="lorehord.com/views/contact.html" class="nav-link">Contact</a></li>
          </ul>
        </nav>
      </header>
  <div class="content-wrapper">
    
<link rel="stylesheet" href="../../static/linebyline.css">
</head>
	<h1>Widsið</h1>
<h2>Line 36</h2>
<table class="dataframe">
  <tbody>
    <tr class="form-row">
      <td>se</td>
      <td>wæs</td>
      <td>þāra</td>
      <td>manna</td>
      <td>mōdgast</td>
      <td>ealra,</td>
    </tr>
    <tr class="lemma-row">
      <td>se</td>
      <td>wesan</td>
      <td>sē</td>
      <td>monn</td>
      <td>mōdig</td>
      <td>eal</td>
    </tr>
    <tr class="pos-row">
      <td>dem.pn</td>
      <td>psv</td>
      <td>gpn</td>
      <td>gpn</td>
      <td>adj</td>
      <td>adj</td>
    </tr>
    <tr class="gloss-row">
      <td>that</td>
      <td>was</td>
      <td>those</td>
      <td>men</td>
      <td>noblest</td>
      <td>of all</td>
    </tr>
  </tbody>
</table>
	<div class="button-container">
		<a href="https://lorehord.com/views/line/line-35.html">Previous</a>
		<a href="https://lorehord.com/views/line/line-37.html">Next</a>
	</div>
	<h2 class="translation">Translation</h2><br>
	<p class="translation">He was of those men the bravest,</p>

	<div class='namedentities' style='text-align: justify;'>
		<h2 class='translation'>Named Entities</h2>

	</div>
</table>

  </div>
  </body>
</html>